  <section class="edit-user" id="edit-user">
    <h3 id="modalTitle">Edit User</h3>
    <p><a href="#edit-user" class="section-link">Edit User</a> | <a href="#edit-promos" class="section-link">Edit Promos</a></p>
    <form class="ajax-form" method="POST" action="{{ url('/users/update') }}">
      <br><br>
      <input type="hidden" name="_token" value="{{ csrf_token() }}">
      <input type="hidden" name="id" value="{{ item.id }}" id="editUserId">
      <label>Employee's Name:<input type="text" name="name" value="{{ item.name }}"></label>
      <label>Email:<input type="text" name="email" value="{{ item.email }}"></label>

      <fieldset class="error-container">
        <legend>Roles</legend>
        <label class="small-4 columns"><input type="checkbox" name="admin" {% if item.hasRole('admin') %} checked="yes" {% endif %} value="1" >Admin</label>
      </fieldset>

      <button class="right small">Submit</button>
      </form>
      <form class="ajax-form" method="POST" action="{{ url('/users/delete') }}">
      <input type="hidden" name="_token" value="{{ csrf_token() }}">
      <input type="hidden" name="id" value="{{ item.id }}">
      <button class="left warning small">Delete</button>
      </form>
    </section>

    <section class="user-promos" id="edit-promos" style="display: none">
      <h3 id="modalTitle">Edit User Promos</h3>
      <p><a href="#edit-user" class="section-link">Edit User</a> | <a href="#edit-promos" class="section-link">Edit Promos</a></p>
      <br>
      <p style="font-size: 0.9em"><em>Deselect promos you do not wish your dealer to use.</em></p>
      <fieldset class="error-container">
        <legend>Promos</legend>

        {% for promo in promos %}
          <label class="small-8 columns"><input type="checkbox" name="promos" value="{{ promo.id }}" {% if promo.id in userPromos %}checked="checked"{% endif %}> {{ promo.name }}</label><br>
        {% endfor %}
      </fieldset>
    </section>

  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
