{% extends '_dealer-layout' %}

{% block main %}
<div id="background-decor"></div>
<div class="sticky">
<nav class="top-bar" data-topbar="" role="navigation">
	<ul class="title-area changed">
		<li class="name">
			<h4>{{ user.company.company_name }} </h4>
		</li>
		<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		<li><a class="menu-button" href="/">Exit</a></li>
	</ul>


<section class="top-bar-section">
		<!-- Right Nav Section -->
		<ul class="left">
		</ul>
	</section>
</nav>
</div>

	<div class="show-for-xlarge-up" id="applicationQuit"><a href="/">Exit</a></div>
	<div class="container no-sidebar focus">
		<div class="row">
			<div class="small-12 large-12 columns wrapper">
					{% block pagetitle %}

					{% endblock %}
				<div class="content full medium-10 medium-offset-1 large-8 large-offset-2">
					{% block content %}
					
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block pagescripts %}
{% endblock %}