{# modal for creating a new user #}
<div id="newDealerModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    {% if user.hasRole('admin') %}<h2 id="modalTitle">New Dealer</h2>{% else %}<h2 id="modalTitle">New Sub User</h2>{% endif %}
    <form class="ajax-form" method="POST" action="{{ url('/users/store') }}">
      {% if user.hasRole('admin') %}
        <em class="small-font">Create a new dealer account. If you don't provide a password, an email will be sent to the email address provided giving instructions how to activate the account.</em>
        {% else %}
          <em class="small-font">Create a new sub-dealer account underneath your account. An email address wil be sent to the user's email to allow them to set up their account.</em>
      {% endif %}
      <br><br>
      <input type="hidden" name="_token" value="{{ csrf_token() }}">
      <label>Employee's Name:<input type="text" name="name" value="{{ input.old('company_name') }}"></label>
      <label>Email:<input type="text" name="email" value="{{ input.old('email') }}"></label>
      {% if user.hasRole('admin') %}
      <fieldset>
        <legend>Password (Optional)</legend>
        <label>Password<input type="password" name="password"></label>
        <label>Password<input type="password" name="password_confirmation"></label>
      </fieldset>
      {% endif %}
      {% if user.hasRole('admin') %}
      <fieldset class="error-container">
				<label class="small-12 medium-6 columns"><input type="checkbox" name="admin" value="1">Make dealer an admin</label>
        {% if user.company.getSetting('allowDts') %}<label class="small-12 medium-6 columns"><input type="checkbox" name="subuser" value="1">Set as sub-dealer of your account</label>{% endif %}
        {% if user.company.getSetting('allowDts') %}<em class="small-font">If you'd like to assign the new dealer as a sub-dealer of a different user's account, have the other user create the new user</em>{% endif %}
			</fieldset>
      {% endif %}
      <div class="row"><button class="right">Create</button></div>
    </form>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
