{% extends '_empty-layout' %}

{% block main %}
{% if user is defined and user.company is defined %}
<nav class="top-bar" data-topbar="" role="navigation">
	<ul class="title-area">
		<li class="name">
			<h4>{{ user.company.company_name }}</h4>
		</li>
		<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	</ul>


<section class="top-bar-section">
		<!-- Right Nav Section -->
		<ul class="left">

			<form class="row collapse" action="/contracts/search" id="search" method="post">
			<div class="large-10 small-10 columns">
				<input name="_token" value="dspCVIf1jvFHUcmrBjkiLslT1J0f1DT14BW9iVcB" type="hidden">
				<input name="search" placeholder="Search Contracts" type="text">
			</div>
			<div class="large-2 small-2 columns">
				<button href="#" class="button expand tiny"><i class="fi-magnifying-glass"></i></button>
			</div>
		</form>
		</ul>

		<!-- Left Nav Section -->
		<ul class="right">
      <li class="active"></li>
      <li class="has-dropdown">
        <a href="#">Menu</a>
        <ul class="dropdown">
			<li><a href="/dashboard">Dashboard</a></li>
			{% if user.hasRole('admin') %}<li><a href="/settings">Settings</a></li>{% endif %}
			<li><a href="/contracts">Contracts</a></li>
			<li><a href="/users">Users</a></li>
			<li><a href="/contracts/unassigned-contracts">Unassigned Contracts</a></li>
			<li><a href="/logout">Log Out</a></li>
        </ul>
      </li>
    </ul>
	</section></nav>
{% endif %}


	<div class="container no-sidebar">
		<div class="row">
			<div class="small-12 large-12 columns wrapper">
					{% block pagetitle %}

					{% endblock %}
				<div class="content full">
					{% block content %}
					
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block pagescripts %}
{% endblock %}