{% extends '_dealer-layout' %}

{% block main %}
{% if user|length %}
	<nav class="top-bar" data-topbar="" role="navigation">
	<ul class="title-area">
		<li class="name">
			<h4><img src="/images/white-logo.png" class="mini-logo">{{ user.company.company_name }}</h4>
		</li>
		<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	</ul>


	<section class="top-bar-section">
		<!-- Left Nav Section -->
	<ul class="right">
        <li><a href="/apps" class="outline tiny button"><i class="fi-plus circle"></i>New Application</a></li>
        <li><a href="/">Dashboard</a></li>
      	<li><a href="/contracts">Contracts</a></li>
      	<li><a href="/request-paperwork">Request Paperwork</a></li>
		{% if user.company.getSetting('allowDts') or user.hasRole('admin') %}<li><a href="/users">Dealers</a></li>{% endif %}
		{% if user.hasRole('admin') %}<li><a href="/support">Support</a></li>{% endif %}
		{% if user.hasRole('admin') %}<li><a href="/support/news">News</a></li>{% endif %}
		<li><a href="/logout">Log Out</a></li>
		{% if user.hasRole('admin') %}
        <li class="has-dropdown">
	        <a href="#">Admin</a>
	        <ul class="dropdown">
				<li><a href="/settings">Settings</a></li>
				<li><a href="/contracts/unassigned-contracts">Unassigned Contracts</a></li>
	        </ul>
        </li>
        {% endif %}
    </ul>
	</section>
	</nav>
{% endif %}


	<aside id="leftnav">
	<div class="upper">
		<img src="/images/logo-belmont-finance.png" alt="belmont finance logo" class="logo">
		<h4 class="company">{{ user.company.company_name }}</h4>
		<em>Welcome <span id="username">{{ user.name }}</span></em>
			<!-- <form class="row collapse" action="/contracts/search" id="search" method="post">
				<div class="large-10 small-10 columns">
					<input type="hidden" name="_token" value="{{ csrf_token() }}">
					<input type="text" name="search" placeholder="Search Contracts">
				</div>
				<div class="large-2 small-2 columns">
					<button href="#" class="button expand tiny"><i class="fi-magnifying-glass"></i></button>
				</div>
			</form> -->
		</div>
	</div>
	<ul class="side-nav">
		<li><a href="/">Dashboard</a></li>
		<li><a href="/contracts">Contracts</a></li>
		<li><a href="/request-paperwork">Request Paperwork<span class="badge">NEW</span></a></li>
		{% if user.company.getSetting('allowDts') or user.hasRole('admin') %}<li><a href="/users">Dealers</a></li>{% endif %}
		{% if user.hasRole('admin') %}<li><a href="/contracts/unassigned-contracts">Unassigned Contracts</a></li>{% endif %}
		{% if user.hasRole('admin') %}<li><a href="/settings">Settings</a></li>{% endif %}
		{% if user.hasRole('admin') %}<li><a href="/support/news">News/ Announcements</a></li>{% endif %}
		<li><a href="/logout">Log Out</a></li>
	</ul>

	<a href="/apps" class="outline small button"><i class="fi-plus circle"></i> New Application</a><br>
	{% if user.hasRole('admin') %}<a href="/support"><span class="small">Help &amp; Support</span></a><br>{% endif %}
	<a href="/settings/account"><span class="small">My Account</span><br></a>
	{% if user.companies().count() > 1 %}
		{% for company in user.companies %}
			{% if company.id != user.company.id %}
				<br><a href="/choose-distributor/{{ company.id }}"><span class="small">Switch to {{ company.company_name }}</span></a>
			{% endif %}
		{% endfor %}
	{% endif %}


	</aside>
	<div class="container sidebar-layout">
		<div class="content full">
			<div class="title row">

					<div class="left">
					{% block pagetitle %}

					{% endblock %}
					</div>
					<hr>

					{# {% if user.hasRole('admin') %}<h4 class="right reserve">Reserve:&nbsp;${{ user.company.getReserveTotal()|number_format(2,'.',',') }}</h4>{% endif %} #}
			</div>
			{% block content %}
			{% endblock %}
		</div>
	</div>

		<div id="loading" class="loader" style="display: none">
			<div class="cs-loader">
			  <div class="cs-loader-inner">
			  	<!-- <h3 class="cs-loader-title">Please Wait</h3> -->
			    <label>	●</label>
			    <label>	●</label>
			    <label>	●</label>
			    <label>	●</label>
			    <label>	●</label>
			    <label>	●</label>
			  </div>
			</div>
		</div>
{% endblock %}
