{% extends 'dealer/_sidebar' %}

{% block pagetitle %}
	<h2>Account Settings</h2>
{% endblock %}

{% block content %}
	<h4>Change Password:</h4>
	<div class="row">
	<div class="small-12 medium-6 columns">
		<form class="clearfix ajax-form" method="post" action="/settings/update-password">
		<input type="hidden" value="{{ csrf_token() }}" name="_token">
			<hr>
			<label>Old Password:
				<input name="old_password" type="password">
			</label>
			<label>New Password:
				<input type="password" name="password">
			</label>
			<label>Repeat New Password:
				<input type="password" name="password_confirmation">
			</label>
			<button class="small right">UPDATE</button>
		</form>
	</div>
	</div>


{% endblock %}

{% block pagescripts %}
{% endblock %}