{% extends 'dealer._no-sidebar' %}

{% block pagetitle %}
	<div class="row space">
		<div class="small-12 columns text-center">
			<h2>Select Distributor</h2>
			<em>You have multiple companies available under your account. Choose one to continue.</em>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="row">
		{% for company in user.companies %}
			<a href="/choose-distributor/{{ company.id }}">
				<div class="small-12 medium-6 columns" style="padding: 1em;">
					<div style="border: 1px solid gray; padding: 1em;" class=" company-select">
						<h4>{{ company.company_name }}</h4>
						<p>#{{ company.account_number }}</p>
					</div>
				</div>
			</a>
		{% endfor %}
	</div>
	<style>
		.company-select:hover{
			background-color: #eee;
		}
	</style>
{% endblock %}