{% extends 'dealer/_sidebar' %}

{% block pagetitle %}
	<h2 class="left">Contracts</h2>
	<div class="skeleton-form">
		<form class="row collapse" action="/contracts/search" id="search" method="post">
			<div class="large-10 small-10 columns">
				<input name="_token" value="{{ csrf_token() }}" type="hidden">
				<input name="search" placeholder="Search Contracts" type="text">
			</div>
			<div class="large-2 small-2 columns">
				<button href="#" class="button expand tiny"><i class="fi-magnifying-glass"></i></button>
			</div>
		</form>
	</div>
{% endblock %}


{% block content %}
	<div class="row">
	<div class="small-12 columns">
		<dl class="sub-nav left">
			<dd {% if filter == "all" %}class="active"{% endif %}><a href="/contracts/all">All</a></dd>
			<dd {% if filter == "approved" %}class="active"{% endif %}><a href="/contracts/all/approved">Approved</a></dd>
			<dd {% if filter == "pending" %}class="active"{% endif %}><a href="/contracts/all/pending">Pending</a></dd>
			<dd {% if filter == "cancelled" %}class="active"{% endif %}><a href="/contracts/all/cancelled">Cancelled</a></dd>
			{% for filter in otherFilters|keys %}
			<dd class="active secondary"><a href="/contracts/clear-filter/{{ filter }}">{{ filter|url_decode }} &nbsp;<i class="fi-x"></i></a></dd>
			{% endfor %}
		</dl>

		{% set companyTags = user.company.getTags %}
		{% if companyTags|length %}
		<button href="#" data-dropdown="tag-filters" aria-controls="tag-filters" aria-expanded="false" class="right tiny button secondary dropdown">{{ tags|length }}<span class="show-for-medium-up">Filters </span></button><br>
		<ul id="tag-filters" data-dropdown-content class="f-dropdown" aria-hidden="true">
			{% for tag in companyTags %}
				<li><a href="#" data-id="{{ tag.id }}" {% if tag.id in tags %}class="selected"{% endif %} >{{ tag.name }}</a></li>
  			{% endfor %}
		</ul>
		{% endif %}
	</div>
	</div>

	{% if contracts|length %}
	<div class="ajax-update" id="contracts_outer">
		<div>
		<div class="row">{{ paginate.input(contracts) }}</div>

		<table id="contracts_table">
			<tr class="table-header"><td>Contract</td><td>Date</td><td>Amount</td>{% if user.hasRole('admin') %}<td>Assigned Dealer</td><td>Buy Rate</td>{% endif %}<td>Funding Status</td>{% if user.hasRole('admin') %}<td>Due Dealer</td>{% endif %}</tr>
			{% for contract in contracts %}

			{% if contract.statusId == 1 %}
				{% set status = "APPROVED" %}
			{% elseif contract.statusId == 2 %}
				{% set status = "CANCELLED" %}
			{% elseif contract.statusId == 0 %}
				{% set status = "PENDING" %}
			{% endif %}
			{% set comment = contract.mostRecentComment %}
				<tr>
					<td class="acctNum {{ status }}">
						{% if user.hasRole('admin') %}
							<a class="view-link" href="/contracts/edit-contract/{{ contract.id }}" data-animation-speed="50" data-reveal-id="viewDealerContractModal" data-reveal-ajax="true">
								{% if contract.app.is_online and (contract.app.funding_status == 1 or contract.app.funding_status == 2) %}
									<span class="files-badge"></span>
								{% endif %}
								{% if contract.app.is_online %}
									<span class="online-badge"></span>
								{% endif %}
							<i class="circle fi-info"></i></a>
						{% endif %}
					{% if contract.accountNumber %}{{ contract.accountNumber }}{% else %}<span title="No account number has been assigned - showing the application number instead."><em>~{{ contract.applicationId }}</em></span>{% endif %} {{ contract.customerName }} &nbsp;
					{% if comment %}<span data-tooltip aria-haspopup="true" class="has-tip contract-comment" title="{{ contract.mostRecentComment.text }} - {{ contract.mostRecentComment.created_at|date('m/d/Y') }}"><i class="fi-comment"></i></span>{% endif %}
					<span class="small">{{ status }}{% if contract.app.dealer_req_by %} (Req. by {{ contract.app.dealer_req_by }}){% endif %}</span>

					</td>
					<td class="show-small">{{ contract.applicationDate|date('m/d/Y') }}</td>
					<td class="show-small">${{ contract.amountFinanced|number_format(2,'.',',') }}</td>
					{% if user.hasRole('admin') %}<td>{{ contract.distributorUser.name }}</td>
					<td>
					{% spaceless %}
						{% if contract.buy_rate %}
							<span class="">{{ contract.buy_rate }}%</span>
						{% endif %}

					{% endspaceless %}
					</td>
					{% endif %}
					<td class="show-small">{{ contract.disposition_status ?: 'N/A' }}</td>
					{% if user.hasRole('admin') %}<td>{{ contract.distributorPayable|number_format(2,'.',',') }}</td>{% endif %}
				</tr>
			{% endfor %}
		</table>
		<div class="row">{{ paginate.input(contracts) }}</div>
		{% else %}
			<em>No contracts found</em>
		{% endif %}
		</div>
	</div>

	{# modal for viewing contract details #}
	<div id="viewDealerContractModal" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" role="dialog">
	</div>

{% endblock %}

{% block pagescripts %}
	<script>
        window.onAjaxComplete = 'successContract';


		$(function(){
			$('#viewDealerContractModal').on('change', 'input.tag', function(){
				$.ajax({
					type: 'post',
					url: '/contracts/tag-contract/' + $(this).data('contract'),
					data: {
						'tag': $(this).data('tag')
					}
				})
			});

            $('#contracts_table').on('click', '.installment', function(e){
                e.preventDefault();
                $('#appidform').val($(this).data('id'));
                $('#installmentContractModal').foundation('reveal', 'open');
            })

			$('#tag-filters').on('click', 'a', function(e){
				e.preventDefault();
				e.stopPropagation();
				_this = $(this);
				$.ajax({
					type: 'post',
					url: '/contracts/tag-filter/' + $(this).data('id'),
					success: function(){
						updatePageAjax();
						_this.toggleClass('selected');
					}
				});
			});

		});
        var successContract = function(){
            console.log($('#installmentContractModal').data('contract'));
            window.location.href = '/contracts/view-agreement/' + $('#appidform').val();
        }

	</script>
{% endblock %}
