{% extends 'dealer/_sidebar' %}

{% block pagetitle %}
{% endblock %}

{% block content %}

	{# set some variables to show dates when contract will expire #}
	{% if user.company.product_id == 28 %} {# HI #}
		{% set expireAge = 90 %}
	{% elseif user.company.product_id == 26 %} {# water #}
		{% set expireAge = 45 %}
	{% else %}
		{% set expireAge = 30 %}
	{% endif %}

	<div class="small-12 medium-6 medium-offset-3" class="text-center">
		<p><em style="font-size: 0.8em">Update 8/7/2018. Some online paperwork options will be down for upgrades and rollouts. You may still continue to submit online applications</em></p>
	</div>
	<hr>


	<div class="row">
		<div class="small-12 medium-6 columns">
			<section class="segment" id="outstanding">
				<div id="outstanding_inner_ajax">
					<h4 class="segment__title">Pending</h4>
					{% if waiting | length %}
						{% for app in waiting %}
							<div class="row outstanding">
								<div class="small-12 columns">
									<div class="segment__item {{ loop.last ? "last" : "" }}">{{ app.fca_id ? '#'~app.fca_id : '*'~app.id }} - {{ app.firstName }} {{ app.lastName }} </div>
								</div>
							</div>
						{% endfor %}

						<div class="row">{{ paginate.input(waiting, 'outstanding_inner_ajax') }}</div>

					{% else %}
						<p><em>No pending applications</em></p>
					{% endif %}
					<div class="text-center"><em class="small">Showing applications for the last 30 days. View all <a href="/contracts">here</a></em></div>	
				</div>
			</section>
		</div>

		<div class="small-12 medium-6 columns">
			<section class="segment" id="approved">
				<div id="approved_inner_ajax">
					<h4 class="segment__title">Approved</h4>
					{% if approved | length %}
					{% for app in approved %}
						<div class="row outstanding">
							<div class="small-12 columns">
								<div class="segment__item {{ loop.last ? "last" : "" }}">{{ app.fca_id ? '#'~app.fca_id : '*'~app.id }} - {{ app.firstName }} {{ app.lastName }}
									

									{% if user.company.enable_new_online %}
										{% if app.getAgeDays() > (expireAge - 8) and not app.funding_status %}<span data-tooltip aria-haspopup="true" class="has-tip" title="This application will automatically cancel in {{ expireAge - app.getAgeDays() }} days. Finish any paperwork outstanding to continue with this application."><i class="fi-alert"></i> </span>{% endif %}

									{% set remainingPaperwork = app.remainingPaperwork() %}
									{{ dump(remainingPaperwork) }}
										{% if remainingPaperwork.basic %}
											<a href="/apps/paperwork/{{ app.id }}" class="right sign-link"><i class="fi-page-edit"></i> Paperwork</a></li>
										{% elseif remainingPaperwork.funding %}
											{% if '9' in remainingPaperwork.other and app.credit_type == 'Revolving' %}
												<a href="/apps/request-completion/{{ app.id }}" class="right sign-link"><i class="fi-page-edit"></i> LCC</a>
											{% else %}
												<a href="/apps/request-funding/{{ app.id }}" class="right sign-link"><i class="fi-dollar"></i> Funding</a>
											{% endif %}
										{% endif %}
									{% endif %}
								</div>
							</div>
						</div>
					{% endfor %}

					<div class="row">{{ paginate.input(approved, 'approved_inner_ajax') }}</div>

					{% else %}
						<p><em>No approved applications</em></p>
					{% endif %}
					<div class="text-center"><em class="small">Showing applications for the last 30 days. View all <a href="/contracts">here</a></em></div>	
				</div>
			</section>
		</div>
	</div>
	<div class="row">
	<div class="small-12 medium-6 columns">
			<section class="segment" id="denied">
				<div id="denied_inner_ajax">
					<h4 class="segment__title">Denied / Cancelled</h4>
					{% if denied | length %}
					{% for app in denied %}
						<div class="row outstanding">
							<div class="small-12 columns">
								<div class="segment__item {{ loop.last ? "last" : "" }}">
									{{ app.fca_id ? '#'~app.fca_id : '*'~app.id }} - {{ app.firstName }} {{ app.lastName }} <span style="font-size: 0.8em; font-style: italic">{{ app.status == '2' ? 'Cancelled' : 'Denied' }}</span>
								</div>
							</div>
						</div>
					{% endfor %}

					<div class="row">{{ paginate.input(denied, 'denied_inner_ajax') }}</div>

					{% else %}
						<p><em>No denied or cancelled applications</em></p>
					{% endif %}
					<div class="text-center"><em class="small">Showing applications for the last 30 days. View all <a href="/contracts">here</a></em></div>	
				</div>
			</section>
		</div>
	</div>


	<hr>

{# modal for resetting a current inactive distributor #}
	<div id="updateDistrib" class="reveal-modal small" data-options="close_on_background_click:false" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	  <h2 id="modalTitle">Update Your Profile</h2>
			<form class="ajax-form" method="POST" action="/users/update-account">
				<em class="small-font">Just need a quick update to your account.</em>
				<br><br>
				<label>Your Full Name:<input type="text" name="name" value="{{ input.old('name') }}"></label>
				<div class="row"><button class="right">Update</button></div>
			</form>
	</div>

{% endblock %}

{% block pagescripts %}
<script>
	$(function(){

		// modal to update name
		if($('#username').text() == ""){
			$('#updateDistrib').foundation('reveal', 'open');
		}
	});
</script>
{% endblock %}