{% if item %}
	{% if item.statusId == 1 %}
			{% set status = "APPROVED" %}
		{% elseif item.statusId == 2 %}
			{% set status = "CANCELLED" %}
		{% elseif item.statusId == 0 %}
			{% set status = "PENDING" %}
	{% endif %}

  {% set app = item.app %}

  <h3 id="modalTitle"><span class="acctNum {{ status }}">{% if item.accountNumber %}ACCT #{{ item.accountNumber }}{% else %}APP #{{ item.applicationId }}{% endif %} {{ status }}</h3>
  	<div class="row view-contract">
  		<div class="small-12 columns">
  			<div class="row">
          <div class="small-12 medium-6 columns">
            <p><strong>Name: </strong> {{ item.customerName }}<br>
            <strong>App Date: </strong> {{ item.applicationDate|date('m/d/Y') }}<br>
            <strong>Amount: </strong> ${{ item.amountFinanced|number_format(2,'.',',') }}</p>
  				</div>
  				<div class="small-12 medium-6 columns">
            {% if item.buy_rate %}
              <h5><strong>Buy Rate: </strong>{{ item.buy_rate|number_format(2) }}%</h5>
            {% else %}
              <h5><strong>Legacy Grade: </strong>
              {% set firstWord = item.rating.name|split(' ')[0] %}
              {% if firstWord|length < 3 and firstWord|length %}
                <span class=" large">
                  <span class="letter">{{ firstWord }}</span>
                  <span class="sub">{{ item.rating.name|split(' ')[1:]|join(' ') }}</span>
                </span>
              {% elseif "full"|upper in item.rating.name|upper %}
                <span class=" large">
                  <span>FULL APPROVAL</span>
                  {% if "coupon" in item.rating.name %}<span class="sub">W/ COUPON BOOK</span>{% endif %}
                </span>
              {% else %}
                {{ item.rating.name }}
              {% endif %}
              </h5>
            {% endif %}
          </div>
  			</div>
  		</div>
    </div>

     <div class="row">
     <div class="small-12 medium-6 columns">
     <table>
      <tr>
        <td><strong>Buy Rate Discount:</strong></td><td>${{ item.discount|number_format(2,'.',',') }}</td>
      </tr>
      <tr>
        <td><strong>Promo Discount:</strong> <td>${{ item.discount_promo|number_format(2,'.',',') }}</td>
      </td>
      <tr>
        <td><strong>Promo Rate:</strong></td><td>{% if item.promo_rate %} {{ item.promo_rate }}%{% else %}N/A{% endif %}</td>
      </tr>
      <tr>
        <td><strong>Acq Fee:</strong></td><td>{% if item.acquisitionFee %}${{ item.acquisitionFee|number_format(2,'.',',') }}{% else %}N/A{% endif %}</td>
      </tr>
      <tr>
        <td><strong>Fl Doc Fee:</strong></td><td>{% if item.fl_doc_fee %}${{ item.fl_doc_fee|number_format(2,'.',',') }}{% else %}N/A{% endif %}</td>
      </tr>
      <tr>
        <td><strong>Reserve:</strong></td><td>{% if item.reserveFee %}${{ item.reserveFee|number_format(2,'.',',') }}{% else %}N/A{% endif %}</td>
      </tr>
    </table>
    </div>
    <div class="small-12 medium-6 columns">
      <table>
        <tr>
          <td><strong>Wire Charge:</strong></td><td>${{ item.wire_charge|number_format(2,'.',',') }}</td>
        </tr>
        <tr>
          <td><strong>Payment Book:</strong></td><td>${{ item.loan_charge|number_format(2,'.',',') }}</td>
        </tr>
        <tr>
          <td><strong>Transfer:</strong></td><td>${{ item.transfer_amount|number_format(2,'.',',') }}</td>
        </tr>
        <tr>
          <td><strong>Due Dealer:</strong></td><td>${{ item.distributorPayable|number_format(2,'.',',') }}</td>
        </tr>
        <tr>
          <td>&nbsp;</td><td>&nbsp;</td>
        </tr>
      </table>
    </div>
  </div>
   <div class="row">  


    {% if user.company.enable_new_online and item.statusId == 1 %}


      {% if app.funding_status not in [1, 2] %}
        <button href="#" data-options="align:left" data-dropdown="drop-{{ app.id }}" aria-controls="drop1" aria-expanded="false" class="button dropdown right sign-link">Actions</button><br>
        <ul id="drop-{{ app.id }}" data-dropdown-content class="f-dropdown" aria-hidden="true">

                {# actions to request funding, cancel, or reset #}
                {% set remainingPaperwork = app.remainingPaperwork() %}
                  {% if remainingPaperwork.basic %}
                      <li><a href="/apps/paperwork/{{ app.id }}" class="sign-link"><i class="fi-page-edit"></i> Paperwork</a></li>
                    {% if '13' in app.remainingPaperwork().other %}
                      <li><a href="/apps/paperwork/{{ app.id }}"><i class="fi-page-edit"></i> ACH</a></li>
                    {% endif %}
                  {% elseif remainingPaperwork.funding %}
                    {% if '9' in remainingPaperwork.other %}
                      <li><a href="/apps/request-completion/{{ app.id }}" class="sign-link"><i class="fi-page-edit"></i> LCC</a></li>
                    {% else %}
                      <li><a href="/apps/request-funding/{{ app.id }}" class="sign-link"><i class="fi-dollar"></i> Funding</a></li>
                    {% endif %}
                  {% endif %}
            

            <li><a href="/apps/cancel/{{ app.id }}"><i class="fi-prohibited"></i> Cancel</a></li>

        </ul>
      {% endif %}

   
   {% endif %}

      {% if user.company.enable_new_online and item.statusId == 1 and app.completelySignedFiles | length %}
        <h4>Files</h4>
        {% if item.app.funding_status == 1 or item.app.funding_status == 2 %}
          {% for file in app.completelySignedFiles %}
            <a class="file-link" href="/apps/files/{{ app.id }}/{{ file.id }}" target="_blank">
              <i class="fi-paperclip small"></i> {{ file.name }}
            </a>
          {% endfor %}
        {% else %}
          <em>You will have access to files once you have requested funding for this account</em>

        {% endif %}
      {% endif %}
    </div>

  {% set comments = item.getDistributorComments %}
  {% if comments|length %}
    <div id="showComments">
      <div class="small-12 columns">
        <h3>Comments</h3>
        {% for comment in comments %}
        <p class="small-font"><em>{{ comment.created_at|date("m/d/Y g:ia") }}</em> - '{{ comment.text }}'</p>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {# <div class="small-12 columns">
      <p><strong>Reserve Credit: </strong> ${{ item.reserveFee|number_format(2,'.',',') }}</p>
      <p><strong>Current Reserve: </strong> ${{ item.current_reserve_amount|number_format(2,'.',',') }}</p> #}
    </div>
  </div>

    <div class="row">

    {% set tags = user.company.getTags(item.id) %}
    {% if tags|length %}
  		<div class="small-12 columns">
  			<h4>Tag this contract:</h4>
  			<form>
  				<ul class="inline-list">
		  			{% for tag in tags %}
		  			<li><label>{{ tag.name }} &nbsp;<input class="tag" type="checkbox" data-contract="{{ item.id }}" data-tag="{{ tag.id }}" {% if tag.tag_id == tag.id %}checked{% endif %}></label></li>
		  			{% endfor %}
		  		</ul>
	  		</form>
  		</div>
      {% endif %}
  	</div>

{% else %}
	<em>No contract found</em>
{% endif %}

{% if item.app and user.company.id == 469 %}<a href="/upload-file/{{ item.app.id }}" class="right">Upload Files</a>{% endif %}

<a class="close-reveal-modal" aria-label="Close">&#215;</a>

