{% extends 'dealer/_sidebar' %}

{% block pagetitle %}
	<h2 class="small-text-center">Choose an action...</h2>
{% endblock %}

{% block content %}
	<br>
	<div class="row">
		<div class="small-12 medium-8 medium-offset-2">
			<p class="text-center"><em>Choose between an application filled out right here, an application emailed to a consumer, or upload a file</em></p>
			<a href="/apps" class="button expand">Application Here</a>
			<a href="/email-app" class="button expand">Email an Application</a>
			<a class="button expand" disabled="disabled">Upload File (Coming soon)</a>
		</div>
	</div>
{% endblock %}

{% block pagescripts %}
<script>
	$(function(){

		// modal to update name
		if($('#username').text() == ""){
			$('#updateDistrib').foundation('reveal', 'open');
		}

	});
</script>
{% endblock %}