{% extends 'dealer/_sidebar' %}

{% block pagetitle %}
	<h2>Company Settings</h2>
{% endblock %}

{% block content %}
	<h4>User Settings</h4>
	<hr>
	<div class="medium-6"><em>This allows your users to created nested users underneath them. Warning, if you disable DTs and have nested subusers, users will not retain their structure</em></div>
	<br>
	{% if not user.company.getSetting('allowDTs') %}<a class="small button" href="/" id="dts" data-enable="true">Enable Nested Users</a>{% else %}<a class="small button warning" href="/" id="dts">Disable Nested Users</a>{% endif %}

	<br><br>
	<h4>Tags</h4>
	<hr>
	<div class="row">
		<div class="small-12 columns">
			<em>You can create custom tags to filter your contracts</em>
		</div>
	</div>
	<div class="row space ajax-update" id="taglisting">
		<div class="small-12 columns">
		{% for tag in user.company.getTags %}
			<a class="button round tiny" data-id="{{ tag.id }}" href="#" data-href="/settings/tag">{{ tag.name }}</a>
		{% endfor %}
		</div>
	</div>
	<div class="row space">
		<div class="small-12 columns">
			<h4>Create a new tag</h4>
			<form class="ajax-form row collapse" method="post" action="/settings/create-tag">
				<div class="small-12 medium-4 columns">
					<label>
						<input type="text" name="name" required placeholder="Tag Name">
					</label>
				</div>
				<div class="small-12 medium-4 columns left">
					<button class="tiny">Create</button>
				</div>
			</form>
		</div>
	</div>


{% endblock %}

{% block pagescripts %}
<script>
	$(function(){
		$('#taglisting').on('click', 'a', function(e){
			e.preventDefault();
			$(this).confirm('Do you want to delete this tag? Any tagged contracts will be untagged', 'deleteTag', this);
		});

		$('#dts').on('click', function(e){
			e.preventDefault();
			if($(this).data('enable'))
			{
				$(this).confirm('Confirm enabling DTs?', 'dts', this);
			}
			else{
				$(this).confirm('Confirm disabling DTs?', 'dts', this);
			}
		})
	});

	function dts(){
		$.ajax({
			url: '/settings/toggle-setting/allowDts'
		})
	}

	function deleteTag(){
		deleteItem(window.confirmModal._this);
	}
</script>
{% endblock %}