{# this template just shares simple login form so we can pull it in via iframe #}
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="https://belmontfinancellc.com/assets/stylesheets/app.css">
	<style>
		label{
			color: white !important;
		}
		button{
			margin-bottom: 0px !important;
		}
	</style>
</head>
<body style="background: transparent;">
<form method="post" action="https://dealer.belmontfinancellc.com/login" target="_parent">
	<input type="hidden" name="_token" value="{{ csrf_token() }}">
	<input name="email" placeholder="Email" type="text"/>
	<input name="password" placeholder="Password" type="password"/>
	<button class="button right tiny">Login</button>
</form>
</body>
</html>