{% extends 'dealer/_sidebar' %}

{% block pagetitle %}
	<h1>Help &amp; Support</h2>
{% endblock %}

{% block content %}
	<iframe src="{{ url }}" width="100%" style='border: 0' id="contentiframe" scrolling="no"></iframe>
{% endblock %}

{% block pagescripts %}
	<script src="/js/iframeResizer.min.js"></script>
	<script>
		$(function(){
			var isOldIE = (navigator.userAgent.indexOf("MSIE") !== -1); // Detect IE10 and below
			$('#contentiframe').iFrameResize({
				log:true,
				heightCalculationMethod: isOldIE ? 'max' : 'lowestElement',
				checkOrigin: false,
				sizeWidth: false,
				inPageLinks: true,
			});
		});
	</script>
{% endblock %}