{% extends 'dealer/_sidebar' %}

{% block pagetitle %}
	<h2>Suspended</h2>
{% endblock %}

{% block content %}
  <h3>Your account has either not been activated by Belmont or has been suspended. Please contact Belmont for more information</h3>
{% endblock %}
