{% extends 'dealer/_sidebar' %}

{% block pagetitle %}
	<h2>Unassigned Contracts</h2>
{% endblock %}


{% block content %}

	<dl class="sub-nav">
		<dd {% if filter == "all" %}class="active"{% endif %}><a href="{{ routePath }}">All</a></dd>
		<dd {% if filter == "approved" %}class="active"{% endif %}><a href="{{ routePath }}/approved">Approved</a></dd>
		<dd {% if filter == "pending" %}class="active"{% endif %}><a href="{{ routePath }}/pending">Pending</a></dd>
		<dd {% if filter == "cancelled" %}class="active"{% endif %}><a href="{{ routePath }}/cancelled">Cancelled</a></dd>
		{% for filter in otherFilters|keys %}
		<dd class="active secondary"><a href="/contracts/clear-filter/{{ filter }}">{{ filter|url_decode }} &nbsp;<i class="fi-x"></i></a></dd>
		{% endfor %}
	</dl>


	{% if contracts|length %}	
	<div class="row">{{ paginate.input(contracts) }}</div>
	<table class="ajax-update" id="contracts_table">
		<tr><td>Contract</td><td>Date</td><td>Name</td><td>Assigned Dealer</td><td>Rating</td><td>Amount</td></tr>
		{% for contract in contracts %}

		{% if contract.statusId == 1 %}
			{% set status = "APPROVED" %}
		{% elseif contract.statusId == 2 %}
			{% set status = "CANCELLED" %}
		{% elseif contract.statusId == 0 %}
			{% set status = "PENDING" %}
		{% endif %}

		{% set companyUsers = user.company.users %}


		{% macro userDropdown(userId, users, contractId) %}
		<select id="changeUser" data-contract="{{ contractId }}">
			<option>--Select User--</option>
		{% for user in users %}
		<option value="{{ user.id }}" {% if userId == user.id %}selected{% endif %}>{{ user.name }}</option>
		{% endfor %}
		</select>
		{% endmacro %}

		{% import _self as selfMacros %}



			<tr>
				<td class="acctNum {{ status }}">{% if user.hasRole('admin') %}<a href="/contracts/edit-contract/{{ contract.id }}" data-animation-speed="50" data-reveal-id="viewDealerContractModal" data-reveal-ajax="true"><i class="circle fi-pencil"></i></a>{% endif %} {{ contract.accountNumber }}<span class="small">{{ status }}</span></td>
				<td>{{ contract.applicationDate|date('m/d/Y') }}</td>
				<td>{{ contract.customerName }}</td>
				<td>
					{{ selfMacros.userDropdown(contract.dist_user_id,companyUsers,contract.id) }}
      	</td>
				<td>
				{% spaceless %}

					{% set firstWord = contract.rating.name|split(' ')[0] %}
						{% if firstWord|length < 3 and firstWord|length %}
							<span class="rating-circle small">
								<span class="letter">{{ firstWord }}</span>
								{% if "coupon" in contract.rating.name %}<span class="sub">COUPON</span>{% endif %}
							</span>
						{% elseif "full"|upper in contract.rating.name|upper %}
							<span class="rating-circle small">
								<span class="letter">FA</span>
								{% if "coupon" in contract.rating.name %}<span class="sub">COUPON</span>{% endif %}
							</span>
						{% else %}
							{{ contract.rating.name }}
						{% endif %}

				{% endspaceless %}
				</td>
				<td>${{ contract.amountFinanced|number_format(2,'.',',') }}</td>
			</tr>
		{% endfor %}
	</table>
	<div class="row">{{ paginate.input(contracts) }}</div>
	{% else %}
		<em>No contracts found</em>
	{% endif %}

	{# modal for editing promotional #}
	<div id="viewDealerContractModal" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	</div>
{% endblock %}

{% block pagescripts %}

<script>
$('.content').on('change', 'select', function(){
		select =	$(this);
		var value = select.find(':selected').val();
		var contractId = select.data('contract');
		$.ajax({
			url: "",
			type: "post",
			data:  {
							'contractId': select.data('contract'),
							'dist_user_id': select.val(),
						},
			success: function(){
				select.closest('tr').fadeOut( "slow", function(){
					complete: $(this).remove();
				});
			}
		});
	});
</script>
{% endblock %}
