{% extends 'dealer/_sidebar' %}

{% import "includes/macros/subusers" as sub_macros %}

{% block pagetitle %}
	<h2>Dealers</h2>
{% endblock %}

{% block content %}
	{% if user.hasRole('admin') %}
		<em>Showing all users for the company</em>
	{% else %}
		<em>Showing only users registered under you</em>
	{% endif %}
	<div class="wrapper" id="target-users">
	<div class="ajax-update" id="dealer-users">
		<ul class="primary-users" id="primary">
		{% for user in dealers %}
			{{ sub_macros.sub_users(user) }}
		{% endfor %}
		</ul>
	</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<a href="#" data-reveal-id="newDealerModal" class="right button tiny">Add Dealer</a>
		</div>
	</div>

	<div id="editUserModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	</div>

	{% include "/dealer/_new-dealer-modal" %}

{% endblock %}

{% block pagescripts %}
	<script>
		$('#target-users').on('click', '.expand-click', function(e){
			if( !$(e.target).is('a,i') && !$(e.target).hasClass('.sub') ){
				$(this).closest('.subs').toggleClass('open').find(' > .sub').toggle();
			}
		});

		$('#editUserModal').on('click', '.section-link', function(e){
			e.preventDefault();
			$(this).closest('section').hide();
			console.log('#' + $(this).attr('href'));
			$($(this).attr('href')).show();
		});

		$('#editUserModal').on('change', 'input[name="promos"]', function(){
			$.ajax({
				data: {
					'promo': $(this).val(),
					'id': $('#editUserId').val()
					},
				type: 'post',
				url: '/users/update'
			});
		});
	</script>
{% endblock %}