<div class="row text-center">
    <i class="fi-check" id="successCloud"></i>
</div>
<div class="small-12 medium-8 medium-offset-2 text-center">
    <h3>Completed!</h3>
    <h3>Just one document left to sign.</h3>
    <div class="text-center">
        <br>
        <a href="/apps/sign-cancellation/{{ app.id }}" class="button small">Continue</a>
    </div>
</div>