<div class="row text-center">
    <i class="fi-check" id="successCloud"></i>
</div>
<div class="small-12 medium-8 medium-offset-2 text-center">
    <h3>Completed!</h3>
    <h3>All we need now is your signatures on the {% if session_get('sales-slip-data.ach_account_number') %}ACH agreement and {% endif %}Notice of Cancellation</h3>
    <div class="text-center">
        <br>
        {% if session_get('sales-slip-data.ach_account_number') %}
        	<a href="/apps/sign-ach/{{ app.id }}" class="button small">Continue</a>
        {% else %}
        	<a href="/apps/sign-cancellation/{{ app.id }}" class="button small">Continue</a>
        {% endif %}
    </div>
</div>