<div class="row text-center">
    <i class="fi-check" id="successCloud"></i>
</div>
<div class="small-12 medium-8 medium-offset-2 text-center">
    <h3>That's it for now</h3>
    <p>{{ app.firstName }}{{ app.coFirstName ? ' and ' ~ app.coFirstName : '' }}, you will receive an email with access to your copies of the documents you signed.<p>
   	<p>Congratulations on your purchase!</p>
    <div class="text-center">
        <br><br>
        <a href="/" class="button small">Return to Dashboard</a>
    </div>
</div>