<div class="row text-center">
    <i class="fi-check" id="successCloud"></i>
</div>
<div class="small-12 medium-8 medium-offset-2 text-center">
    <h3>Completed. Thank you for signing.</h3>
    <br><br>
    <p>You may now exit this window</p>
</div>