<div id="completed">
	<div class="row text-center">
	    <i class="fi-check" id="successCloud" style="color: green;"></i>
	</div>
	<div class="small-12 medium-8 medium-offset-2 text-center">
	    <h3>You've completed your part of the application!</h3>
	    The document will now be sent back to the primary applicant to be completed.
	    <br><br>
	    <p><em>You may now exit this window.</em></p>
	</div>
</div>