<div id="completed" style="display: none">
	<div class="row text-center">
	    <i class="fi-check" id="successCloud" style="color: green;"></i>
	</div>
	<div class="small-12 medium-8 medium-offset-2 text-center">
	    <h3>Your credit application has been submitted and our team is processing it!</h3>
	    Please have your representative contact Belmont Finance's Loan Department at 877-547-2926 ext 4 for the fastest results on your decision.</p>
	    <br><br>
	    <p><em>You may now exit this window.</em></p>
	</div>
</div>

<div id="checking">
	<div class="row text-center">
	    <i class="fi-cloud" style="font-size: 6em"></i>
	</div>
	<div class="small-12 medium-8 medium-offset-2 text-center">
	    <h2>Verifying a couple of things...</h2>
	    <p>Please wait, we're checking that the application has been submitted, this should only take a few seconds.</p>
	</div>
</div>

<div id="failure" style="display: none">
	<div class="row text-center">
	    <i class="fi-alert" style="font-size: 4em"></i>
	</div>
	<div class="small-12 medium-8 medium-offset-2 text-center">
	    <h2>Error submitting application</h2>
	    <p>There was an error submitting your application. Please have your representative contact Belmont Finance's Loan Department at 877-547-2926 ext 4</p>
	</div>
</div>