<div class="row text-center">
    <i class="fi-check" id="successCloud"></i>
</div>
<div class="small-12 medium-8 medium-offset-2 text-center">
	{% if '11' in app.remainingPaperwork().funding %}
	<h3>Continue to sign the {{ app.credit_type == 'Revolving' ? 'Sales Slip' : 'Contract' }}</h3>
	<br><br>
	<a class="button small" href="/apps/sign-request-funding/{{ app.id }}">Sign</a>

	{% else %}
    <h3>Request for funding submitted</h3>
    <br><br>
    <a class="button small" href="/">Dashboard</a>
    {% endif %}
</div>

