<div class="row text-center">
    <i class="fi-check" id="successCloud"></i>
</div>
<div class="small-12 medium-8 medium-offset-2 text-center">
    <h3>Document Signed.</h3>
    <br>
    <div id="continueSigning" style="display: none">
	    <p>There is at least one more document for you to sign.</p>
	    <br><br>
	    <div id="continueSign">
	        <a href="/sign/go" class="button" id="continueSignLink">Continue Signing</a>
	    </div>
	</div>

	<div id="doneSigning" style="display: none">
		<p>We're all done with the requested documents!</p>
		<br><br>
		<p>You may now exit this window.</p>
	</div>
</div>
<script>
	// define method for sign view
	function signSuccess(){
		$.ajax({
			url: '/apps/paperwork/is-completed?token={{ sessionKey }}',
			type: 'POST',
			data: {
				'id': '{{ app.id }}',
				'_token': '{{ csrf_token() }}'
			},
			success: function(data){
				if(data == 'complete') {
					$('#doneSigning').show();
				} else {
					$('#continueSignLink').attr('href', $('#continueSignLink').attr('href') + '?token=' + data);
					$('#continueSigning').show();
				}
			}
		})
	}
</script>