<div class="row text-center">
    <i class="fi-check" id="successCloud"></i>
</div>
<div class="small-12 medium-8 medium-offset-2 text-center">
    <h3>Application Signed.</h3>
    <p>Consumer, you will receive an email with your copy of this agreement.<br>
    You just have 1 more document to sign and you will be finished.</p><br>
    <div id="loadSalesSlipLink">
        <a href="/apps/sign-step-two" class="button">Sign Final Document</a>
    </div>
    <br><br>
</div>