{% extends 'dealer/_focus' %}

{% block content %}
<div id="completed">
	<div class="row text-center">
	    <i class="fi-check" id="successCloud" style="color: green;"></i>
	</div>
	<div class="small-12 medium-8 medium-offset-2 text-center">
	    <h3>Your credit application has been submitted and our team is processing it!</h3>
	    Please have your representative contact Belmont Finance's Loan Department at 877-547-2926 ext 4 for the fastest results on your decision.</p>
	    <br><br>
	</div>

	{% if session_get('dealer.externalStore') %}
	    <script>
	        window.redirUrl = '{{ session_get('dealer.externalStore')|raw }}';
	    </script>
	    <p>Please wait and you will be redirected back to the store...</p>
	{% else %}
	    <div class="text-center"><a class="button small" href="/">Dashboard</a></div>
	{% endif %}
</div>
{% endblock %}