{% extends "_layout-new" %}

{% block content %}
<div class="separator">
    <div class="row space">
        <div class="small-12 columns">
        </div>
    </div>
</div>

<div class="content l-space row marker marker--center" style="margin-bottom: -6em;">
    <div class="small-12 columns">
        <h2>{{ entry.subtitle ?: entry.title }}</h2>

        <div class="row space">
            <div class="small-12 columns">
            {% include 'includes/modules/tabs' with { 'tabs' : entry.tabs } %}
            </div>
        </div>
    </div>
</div>

	{# <div class="row space">
		<aside class="medium-4 small-12 medium-offset-4 columns text-center panel">	
			<h3>Interested in this position?</h3><br>
			<a href="#applynow" class="button primary small">Apply Now!</a>
		</aside>
	</div> #}
	
	<div class="row space">
		<article class="small-12 large-8 large-offset-2 columns">
			{{ entry.standardContent }}			
		</article>
	</div>

	<div class="row">
		<div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns ">
			<div class="panel" id="applynow">
				{% if craft.request.getQuery('cf') == "" %}
				<h4 class="text-center">Apply Now To Work at Belmont Finance</h4>
				<br>
				<form method="post" accept-charset="UTF-8" enctype="multipart/form-data">
					{{ getCsrfInput() }}
					<input type="hidden" name="action" value="contactForm/sendMessage">
					<input type="hidden" name="redirect" value="{{ entry.getUrl() }}?cf=true#applynow">
                    <input type="hidden" name="message[reason]" value="Job Application Submittal">
                    <input type="hidden" name="toEmail" value="{{ 'hr@belmontfinancellc.com'|hash }}">
					<div class="row">
						<label class="small-12 columns">
							<input required type="text" name="fromName" placeholder="Full Name" required>
						</label>
					</div>
					<div class="row">
						<label class="small-12 columns">
							<input type="text" name="message[Address]" placeholder="Address" required>
						</label>
					</div>
					<div class="row">
						<label class="small-9 columns">
							<input type="text" name="message[City]" placeholder="City" required>
						</label>
						<label class="small-3 columns">
							<input type="text" name="message[State]" placeholder="State" required>
						</label>
					</div>
					<div class="row">
						<div class="small-12 columns">
							<label>
								<input type="email" name="fromEmail" required placeholder="Email">
							</label>
						</div>
					</div>
					<div class="row">
						<div class="small-12 columns">
							<em>I'd like to apply for the position of:</em>
							<select name="message[Position]">
								{% for pos in craft.entries.section('careers').find() %}
									<option {% if entry.id == pos.id %}selected="selected"{% endif %} value="{{ pos.title }}">{{ pos.title }}</option>
								{% endfor %}
							</select>

							
						</div>
					</div>
					<div class="row">
						<div class="small-12 columns">
							<em>Any additional information</em>
							<textarea rows="2" placeholder="Write a short, custom message here" name="message[Message]"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="small-12 columns">
							<em>Upload your resume</em>
							<input type="file" id="input" name="attachment">
						</div>
					</div>
					<div class="row">
						<div class="small-12 columns">
							<button class="button tiny right">Submit</button>
						</div>
					</div>
				</form>
			{% else %}
    				<div class="row m-space">
                        <div class="small-12 columns">
        				<h3>Thank you for applying at Belmont Finance, LLC</h3>
        				<p>If we are interested in talking to you about a possible position here at Belmont Finance, we will contact you through the information you just provided.</p>
                    </div>
                    </div>
			{% endif %}
        </div>
		</div>
	</div>
{% endblock %}
