{% extends "staff/_no-sidebar" %}

{% block title %}
	ACH Payment
{% endblock %}

{% block pageheader %}

{% endblock %}


{% block content %}
<div class="medium-6 columns medium-offset-3 small-12">
	<div class="panel clearfix row" id="allfields">
		<h4>ACH PAYMENT FOR {{ payment.belmont_account_number }}</h4>
		<div class="small-12 columns">
			<div class="row">
				<div class="small-6 columns">
					<label>Amount
						<input type="text" readonly value="{{ payment.amount|number_format(2, '.', '') }}">
					</label>
				</div>
				<div class="small-6 columns">
					<label>Withdrawal Day
						<input type="text" readonly value="{{ payment.withdrawal_day }}">
					</label>
				</div>
			</div>

			<label>Bank Name
				<input type="text" readonly value="{{ payment.bank_name }}">
			</label>

			<label>Bank Address
				<input type="text" readonly value="{{ payment.bank_address }}">
			</label>

			<label>Bank Routing Number
				<input type="text" readonly value="{{ payment.routing_number }}">
			</label>

			<label>Customer Account Number
				<input type="text" readonly value="{{ account }}">
			</label>

			<p>Electronically signed by {{ payment.electronic_signature }} on {{ payment.signature_date }}</p>

			{% if payment.processed %}
				{% if payment.requested_removal %}
					
					<form class="ajax-form" method="post" action="/payments/remove/{{ payment.id }}">
						Customer asked for removal. <button class="tiny warning">Remove</button>
					</form>
				{% endif %}
			{% else %}
				<form class="ajax-form" method="post" action="/payments/mark-recurring/{{ payment.id }}">
					<button class="tiny">Mark Complete</button>
				</form>
			{% endif %}

		</div>
	</div>
</div>
{% endblock %}


{% block pagescripts %}
	<script>
		$(function(){
			$('#allfields').on('focus', 'input', function(){
				$(this).select();
			});
		});
	</script>
{% endblock %}
