{% extends "staff/_no-sidebar" %}

{% block title %}
	ACH Payment
{% endblock %}

{% block pageheader %}

{% endblock %}


{% block content %}
<div class="medium-6 columns medium-offset-3 small-12">
	<div class="panel clearfix row" id="allfields">
		<h4>RECURRING CARD PAYMENT FOR {% if not payment.contract_id %}~{{ payment.application.fca_id }}{% else %}#{{ payment.contract.accountNumber }}{% endif %}</h4>
		<div class="small-12 columns">
			<div class="row">
				<div class="small-6 columns">
					<label class="small">Amount
						<input type="text" readonly value="{{ payment.amount }}">
					</label>
				</div>
				<div class="small-6 columns">
					<label class="small">+ 3% =
						<input type="text" readonly value="{{ payment.final_amount }}">
					</label>
				</div>
			</div>
			<div class="row">
				<div class="small-6 columns">
					<label>Withdrawal Day
						<input type="text" readonly value="{{ payment.withdrawal_day }}">
					</label>
				</div>
				<div class="small-6 columns">
					<label>Start Date
						<input type="text" readonly value="{{ payment.start_date|date('m/d/Y') }}">
					</label>
				</div>
			</div>

			<div class="row">
				<div class="small-6 columns">
					<label>Payment Frequency <span class="small"></span>
						<input type="text" readonly value="{{ payment.frequency }}">
					</label>
				</div>
				<div class="small-6 columns">
					<label>Exp Date <span class="small"></span>
						<input type="text" readonly value="{{ payment.exp_month }}-{{ payment.exp_year }}">
					</label>
				</div>
			</div>

			<label>Card Number
				<input type="text" readonly value="{{ cc }}">
			</label>

			<label>Card Type
				<input type="text" readonly value="{{ payment.card_type }}">
			</label>

			<label>Name on Card
				<input type="text" readonly value="{{ payment.card_name }}">
			</label>

			<div class="row">
				<div class="small-12 columns">
					
				</div>
			</div>

			<p><em>By submitting this payment, you authorize this transaction from Belmont Finance LLC for the amount requested.</em></p>

			<p>Electronically signed on {{ payment.signature_date }}</p>

			{% if payment.processed %}
				{% if payment.requested_removal %}

					<div class="right">
                        <form class="ajax-form" method="post" class="right" action="/payments/remove-card/{{ payment.id }}">
                          <em>Customer asked for removal.</em> <button class="tiny warning">Remove</button>
    					</form>
                    </div>
				{% endif %}
			{% else %}
				<form class="ajax-form" method="post" action="/payments/mark-recurring-card/{{ payment.id }}">
					<button class="tiny left">Mark Complete</button>
				</form>
				<form class="ajax-form" method="post" action="/payments/remove-card/{{ payment.id }}">
					<button class="tiny right warning">Remove</button>
				</form>
			{% endif %}

		</div>
	</div>
</div>
{% endblock %}


{% block pagescripts %}
	<script>

		window.onAjaxComplete = 'success';

		function success() {
			window.location = '/settings/recurring-card';
		}

		$(function(){
			$('#allfields').on('focus', 'input', function(){
				$(this).select();
			});
		});
	</script>
{% endblock %}
