{% extends "staff/_no-sidebar" %}

{% block title %}
	ACH Payment
{% endblock %}

{% block pageheader %}

{% endblock %}


{% block content %}
<div class="medium-6 columns medium-offset-3 small-12">
	<div class="panel clearfix row" id="allfields">
		<h4>RECURRING ACH PAYMENT FOR {% if not payment.contract_id %}~{{ payment.application.fca_id }}{% else %}#{{ payment.contract.accountNumber }}{% endif %}</h4>
		<div class="small-12 columns">
			<div class="row">
				<div class="small-4 columns">
					<label>Amount (per period)
						<input type="text" readonly value="{{ payment.amount|number_format(2, '.', '') }}">
					</label>
				</div>
				<div class="small-4 columns">
					<label>Withdrawal Day
						<input type="text" readonly value="{{ payment.withdrawal_day }}">
					</label>
				</div>
				<div class="small-4 columns">
					<label>Start Date
						<input type="text" readonly value="{{ payment.start_date|date('m/d/Y') }}">
					</label>
				</div>
			</div>

			<div class="row">
				<div class="small-12 columns">
					<label>Payment Frequency <span class="small"></span>
						<input type="text" readonly value="{{ payment.frequency }}">
					</label>
				</div>
			</div>

			<label>Bank Name
				<input type="text" readonly value="{{ payment.bank_name }}">
			</label>

			<label>Bank Address
				<input type="text" readonly value="{{ payment.bank_address }}">
			</label>

			<label>Bank Routing Number
				<input type="text" readonly value="{{ payment.routing_number }}">
			</label>

			<label>Account Type
				<input type="text" readonly value="{{ payment.is_savings_account ? 'SAVINGS' : 'CHECKING' }}">
			</label>

			<label>Customer Account Number
				<input type="text" readonly value="{{ account }}">
			</label>

			<p><em>By submitting this payment, you authorize this transaction from Belmont Finance LLC for the amount requested.</em></p>

			<p>Electronically signed by {{ payment.electronic_signature }} on {{ payment.signature_date }}</p>

			{% if payment.processed %}
				{% if payment.requested_removal %}

					<form class="ajax-form" method="post" action="/payments/remove/{{ payment.id }}">
						Customer asked for removal. <button class="tiny warning">Remove</button>
					</form>
				{% endif %}
			{% else %}
				<form class="ajax-form" method="post" action="/payments/mark-recurring/{{ payment.id }}">
					<button class="tiny left">Mark Complete</button>
				</form>
				<form class="ajax-form" method="post" action="/payments/remove/{{ payment.id }}">
					<button class="tiny right warning">Remove</button>
				</form>
			{% endif %}

		</div>
	</div>
</div>
{% endblock %}


{% block pagescripts %}
	<script>
	
		window.onAjaxComplete = 'success';

		function success() {
			window.location = '/settings/recurring-payments';
		}

		$(function(){
			$('#allfields').on('focus', 'input', function(){
				$(this).select();
			});
		});
	</script>
{% endblock %}
