{% extends "staff/_standard" %}

{% block options %}
	{# <button href="#" data-dropdown="options" data-options="align:left" aria-controls="drop1" aria-expanded="false" class="button tiny secondary dropdown right options-button"><i class="fi-wrench"></i></button>
	<ul id="options" data-dropdown-content class="f-dropdown" aria-hidden="true">
	  <li><a href="#" data-reveal-id="newDistribModal"><i class="fi-plus circle"></i>Add Distributor</a></li>
	</ul> #}
{% endblock %}


{% block pageheader %}
	<h2><a href="/contracts/" class="back-arrow"><i class="circle fi-arrow-left"></i> </a> View Application Data</h2>
{% endblock %}



{% block content %}
	<div class="row">
		<button class="button small secondary right" id="print"><i class="circle fi-print"></i>Print</button>
	</div>
	<div class="row">
		<div class="small-12 medium-6 columns">
			<h4>Basic Applicant Information</h4>
			{{ app.firstName }} {{ initial ? initial ~ ' '}}{{ app.lastName }}<br>
			{{ app.address }}<br>
			{% if app.addressTwo %}{{ app.addressTwo }}<br>{% endif %}
			{{ app.city }}, {{ app.state }} {{ app.zip }}<br><br>
			Home Phone: {{ app.homePhone }}<br>
			Cell Phone: {{ app.cellPhone }}<br>

			{% if app.mailing_address %}
				<h4>Mailing Address</h4>
				{{ app.mailing_address }}<br>
				{% if app.mailing_address_two %}{{ app.mailing_address_two }}<br>{% endif %}
				{{ app.mailing_city }}, {{ app.mailing_state }} {{ app.mailing_zip }}<br><br>
			{% endif %}
		</div>
		<div class="small-12 medium-6 columns">
			<h4>Basic CoApplicant Information</h4>
			{% if app.coFirstName %}

				{{ app.coFirstName }} {{ coInitial ? coInitial ~ ' '}}{{ app.coLastName }}<br>
				{{ app.coAddress }}<br>
				{% if app.coAddressTwo %}{{ app.coAddressTwo }}<br>{% endif %}
				{{ app.coCity }}, {{ app.coState }} {{ app.coZip }}<br><br>
				Home Phone: {{ app.coHomePhone }}<br>
				Cell Phone: {{ app.coCellPhone }}<br>

				{% if app.co_mailing_address %}
					<h4>Coapplicnat Mailing Address</h4>
					{{ app.co_mailing_address }}<br>
					{% if app.co_mailing_address_two %}{{ app.co_mailing_address_two }}<br>{% endif %}
					{{ app.co_mailing_city }}, {{ app.co_mailing_state }} {{ app.co_mailing_zip }}<br><br>
				{% endif %}
			{% else %}
				<em>No coapplicant</em>
			{% endif %}
		</div>
	</div>

	<div class="row">
		<div class="small-12 medium-6 columns">
			<h4>Identification</h4>
			Type: {{ app.identification_type }}<br>
			State: {{ app.identification_state }}<br>
			Expiration Date: {{ app.licExpDate }}<br>
			Id Number: {{ app.driversOrId }}<br><br>
			Birthdate: {{ app.birthdate }}<br>
			SSN: {{ app.ssn }}

		</div>
		<div class="small-12 medium-6 columns">
			<h4>Coapplicant Identification</h4>
			Type: {{ app.co_identification_type }}<br>
			State: {{ app.co_identification_state }}<br>
			Expiration Date: {{ app.coLicExpDate }}<br>
			Id Number: {{ app.coDriversOrId }}<br><br>
			Birthdate: {{ app.coBirthdate }}<br>
			SSN: {{ app.co_ssn }}
		</div>
	</div>

		<div class="css-columns-3" id="printApp">

	{% if app|length %}
		{% for key, value in app %}
			{% if key not in ['Ssn', 'Co Ssn', 'Updated At'] %}
				<p><strong>{{ key }}:</strong> {{ value }}</p>
			{% endif %}
		{% endfor %}
	{% else %}
		<em>Application not Found</em>
	{% endif %}
		</div>

	{% if user.hasRole('admin') %}
	<h2>Logs (Last 30 Days)</h2>
		{% for log in logs %}
		<a href="/contracts/app-log/{{ log }}" target="_blank">{{ log }}</a>&nbsp;&nbsp; 
		{% endfor %}
	{% endif %}
{% endblock %}


{% block pagescripts %}
	<script>
		$(function(){
			$('#print').on('click', function(e){
				e.preventDefault();
				w=window.open();
				w.document.write($('#printApp').html());
				w.document.close();
				w.focus();
				w.print();
				w.close();
			});
		});
	</script>
{% endblock %}
