{% extends "staff/_standard" %}


{% block pageheader %}
	<h2>All Files for #{{ app.fca_id }} {{ app.firstName }} {{ app.lastName }}</h2>
{% endblock %}



{% block content %}
	
	<div class="row">
		<div class="small-12 columns">
			<h3>Files</h3>
			{% for file in app.files %}
				{% if file.file_type == '50' %}
				<a class="file-link" href="/files/{{ file.id }}/review" target="_blank">
					<i class="fi-upload small"></i> {{ file.name }}
				</a>
				{% else %}
				<a class="file-link" href="/apps/file/{{ file.id }}" target="_blank">
					<i class="fi-paperclip small"></i> {{ file.name }}
					{% if file.signedSignatures | length %}
						{% for sig in file.signedSignatures %}
							<br><span class="small">{{ sig.signee }} {{ sig.ip_address }} @ {{ sig.signed_at | date('m/d/Y h:i') }}</span>
						{% endfor %}
				{% elseif file.file_type == 1 %}
						{% if app.ip_address %}
							<br><span class="small">{{ app.ip_address }}</span>
						{% endif %}
					{% elseif file.file_type == 2 or file.file_type == 7 %}
						{% if app.salesSlip.ip_address %}
							<br><span class="small">{{ app.salesSlip.ip_address }}</span>
						{% endif %}
					{% endif %}
				{% endif %}
				</a>
				
			{% endfor %}
		</div>

		<div class="small-12 columns">
			<h3>Archived Files</h3>
			<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5">
				{% for file in archived %}
				<li>
					<a href="/apps/file/{{ file.id }}" target="_blank">
						<i class="fi-paperclip small"></i> {{ file.name }}</a><br>
						<span style="font-size: 0.75em">Archived {{ file.archived_at }}<br>
						Created {{ file.created_at }}<br>
					</span>
					</li>
				{% endfor %}
			</ul>
		
		</div>
	</div>

{% endblock %}


{% block pagescripts %}
	<script>
		$(function(){
			$('#print').on('click', function(e){
				e.preventDefault();
				w=window.open();
				w.document.write($('#printApp').html());
				w.document.close();
				w.focus();
				w.print();
				w.close();
			});
		});
	</script>
{% endblock %}
