{% extends 'dealer/_sidebar' %}

{% block pagetitle %}
	<h1>News / Announcements</h2>
{% endblock %}

{% block content %}
<ul>
	{% for item in news %}
	<li><a href="/support/news/{{ item.slug }}"><h4>{{ item.date.date|date('M j, Y') }} - {{ item.title }}</h4></a></li>
	{% endfor %}
	</ul>
{% endblock %}

{% block pagescripts %}
{% endblock %}