{% extends '_layout' %}

{% block main %}
	{% include 'includes/_topbar' %}
	<div class="container">
		<div class="row">
			<div class="small-12 medium-12 columns">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}