{% extends '_layout' %}

{% block main %}
	{% include 'includes/_topbar' %}
	<div class="container">
		<div class="row">
			<nav class="tabs small-12 medium-12 columns">
				{% if user.hasRole('admin') %}<a href="/users/" {% if tab == "staff" %}class="current"{% endif %}><i class="fi-unlock"></i> Staff</a>{% endif %}
				<a href="/distributors/" {% if tab == "distributors" %}class="current"{% endif %}>Distributors</a>
				<a href="/contracts/" {% if tab == "contracts" %}class="current"{% endif %}>Contracts</a>
			</nav>
		</div>
		<div class="row holder">
				<div class="small-12 medium-12 columns">
					<div class="row">
						<aside class="small-12 columns medium-2 depad darken-2 sidebar">
							{% block sidebar %}

							{% endblock %}
						</aside>
						<div class="small-12 columns medium-10">
							{% block options %}
							{% endblock %}
							
							{% block pageheader %}
								Page Title
							{% endblock %}
							<hr>
							<div class="primary small-12 medium-12 columns" id="content">
								{% block content %}
								{% endblock %}
							</div>
						</div>
					</div>

				</div>
		</div>
	</div>
{% endblock %}