{% extends '_layout' %}

{% block main %}
	{% include 'includes/_topbar' %}
	<div class="container" id="main-ajax">
		<div class="row">
			<nav class="tabs small-12 medium-12 columns" style="display: inline">
				{% if user.hasRole('admin') %}<a href="/users" class="ajax-link {% if tab == "staff" %}current{% endif %}"><i class="fi-unlock"></i> Staff</a>{% endif %}
				<a href="/apps" class="{% if tab == "apps" %}current{% endif %}">Online&nbsp;Apps</a>
				<a href="/distributors/list" class="ajax-link {% if tab == "distributors" %}current{% endif %}">Distributors</a>
				<a href="/contracts/all" class="ajax-link {% if tab == "contracts" %}current{% endif %}">Contracts</a>
			</nav>
		</div>
		<div class="row holder">
				<div class="small-12 medium-12 columns">
					<div class="row">
						<div class="small-12 columns">
							{% block options %}
							{% endblock %}
							
							{% block pageheader %}
								Page Title
							{% endblock %}
						</div>
					</div>
					<hr>

				</div>	

				<div class="primary small-12 medium-12 columns" id="content">
					{% block content %}
					{% endblock %}
				</div>
		</div>
	</div>
{% endblock %}