{% extends 'staff/_standard' %}

{% block title %}Dashboard{% endblock %}

{% block pageheader %}
	<h2>Dashboard</h2>
{% endblock %}

{% block content %}
	<h4>This Week:</h4>
	<div class="row">
		<div class="small-12 columns">
			<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
				<li>
					<div class="panel small-text-center">
						<h5>Approved</h5>
						<h2 class="small-text-center">${{ thisWeek.approved|number_format }}</h2>
					</div>
				</li>
				<li>
					<div class="panel small-text-center">
						<h5>Pending</h5>
						<h2 class="small-text-center">${{ thisWeek.pending|number_format }}</h2>
					</div>
				</li>
				<li>	
					<div class="panel small-text-center">
						<h5>Cancelled</h5>
						<h2 class="small-text-center">${{ thisWeek.cancelled|number_format }}</h2>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<h4>Denials this Week:</h4>
	<div class="row">
		<div class="small-12 columns">
			<table>
				<tr>
					<th>Date</th><th>Name</th><th>Distributor</th>
				</tr>
				{% for app in thisWeek.denied %}
					<tr>
						<td>{{ app.created_at|date('n/j/y') }}</td><td>{{ app.firstName }} {{ app.lastName }}</td><td>{{ app.dealer.company_name }}
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	<h5>New contracts: <a href="/contracts/review">{{ review }}</a></h5>
	
{% endblock %}