{% extends "staff/_standard" %}

{% block pageheader %}
	<h1>Edit Your Profile</h1>
{% endblock %}


{% block content %}
	<div class="small-12 medium-6 panel">
	<form class="clearfix">
		<h4>General Information</h4>
		<hr>
		<label>Name:
			<input name="name" type="text" value="{{ user.name }}">
		</label>
		<label>Email:
			<input type="email" disabled value="{{ user.email }}">
		</label>
		<button class="small right">UPDATE</button>
	</form>
	</div>
	<div class="small-12 medium-6 panel">
	<form class="clearfix ajax-form" method="post" action="/users/update-password">
		<h4>Change Password:</h4>
		<hr>
		<label>Old Password:
			<input name="old_password" type="password">
		</label>
		<label>New Password:
			<input type="password" name="password">
		</label>
		<label>Repeat New Password:
			<input type="password" name="password_confirmation">
		</label>
		<button class="small right">UPDATE</button>
	</form>
	</div>


	{# modal for creating a new distributor #}
	<div id="newDistribModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	  <h2 id="modalTitle">New Distributor</h2>
			<form class="ajax-form" method="POST" action="{{ url('/auth/register') }}">
				<em class="small-font">Upon submission, an email will be sent to the email address provided giving instructions to the user on how to finish creating their administrator account</em>
				<br><br>
				<input type="hidden" name="_token" value="{{ csrf_token() }}">
				<input type="hidden" name="_distrib" value="1">
				<label>Company Name:<input type="text" name="company_name" value="{{ input.old('company_name') }}"></label>
				<label>Administrator Email:<input type="text" name="email" value="{{ input.old('email') }}"></label>
				<div class="row"><button class="right">Create</button></div>
				
			</form>
	  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>

{% endblock %}