<footer>
    <div class="row">
      <div class="small-12 medium-8 medium-offset-2 columns small-text-center copyright">
        <p>{{ companyInfo.mainPhoneNumber }}<br>Belmont Finance LLC, PO Box 152,  Waupaca, WI 54981<br>Copyright &copy;{{ now|date('Y') }} Belmont Finance, LLC. All rights reserved.</p>
      </div>
    </div>
    <div class="row text-center">
        <img src="/assets/images/NITA-BBB.png" width="140px" height="auto">
    </div>
</footer>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script src="/assets/bower_components/foundation/js/foundation.min.js"></script>
<script src="/assets/bower_components/foundation/js/foundation/foundation.equalizer.js"></script>
<script src="/assets/js/floatlabels.min.js"></script>
<script src="/assets/scss/slick.min.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/assets/js/jquery.dropdown.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-74186804-1', 'auto');
  ga('send', 'pageview');



  $('body').on('click', '.dropdown-item', function(){
    if($(this).find('.dropdown-text').text() == 'Other (please specify)') {
      $('#industryOther').show().find('input').attr("required","required");
    } else {
      $('#industryOther').hide().find('input').removeAttr("required");
    }
  });

  $('#industrySelect').dropdown();

  // ensure industry is selected
  $('#requestInfoForm').on('submit', function(e){
    if(!$('#industrySelect').val()) {
      alert('Please select an industry from the choices');
      e.preventDefault();
    }
  });



</script>

{% block scripts %}
{% endblock %}
