<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% if title %}
		{{ title|raw }}
	{% else %}
		<title>{% if entry is defined and entry.metaTitle %}{{ entry.metaTitle }} - {% elseif entry is defined and entry.title  %}{{ entry.title }} - {% endif %}Belmont Finance, LLC</title>
		{% if entry is defined and entry.metaTitle %}<meta name="description" content="{{ entry.metaDescription }}">{% endif %}
	{% endif %}

	<link rel="home" href="{{ siteUrl }}"/>
  	<link rel="stylesheet" href="/assets/stylesheets/app.css">
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" rel="stylesheet">
	<script src="/assets/bower_components/modernizr/modernizr.js"></script>
	<script src="/assets/bower_components/fastclick/lib/fastclick.js"></script>
</head>
