<div class="row">
	<div class="small-12 medium-offset-2 medium-10 columns">

		{% if entry %}
			{% set children = craft.entries.section('news').relatedTo(entry).hideThisPage('0') %}
			{% if children|length %}
				<div>
					<h3>More About This</h3>
					<hr>
					<ul>
						{% for child in children %}
						<li>
							<a href="{{ child.getUrl() }}">{{ child }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		{% endif %}

		<div>
			<h3>News / Announcements</h3>
			<hr>
			<ul>
				{% for news in craft.entries.section('news').search('contextOptions:website').limit(5).find() %}
				<li><a href="{{ news.url }}"><i class="thumbtack"></i><span class="date">{{ news.postDate }}</span> {{ news }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>