{% import 'includes/macros/_toplink' as top %}
<header>
  <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1 class="top-bar-logo left"><a href="/"><img src="/assets/images/small-logo.png" alt="belmont finance llc logo"></a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
        <li class="show-for-medium-large-up social"><a href="https://www.facebook.com/belmontfinance/" target="_blank"><i class="icon-icon-facebook"></i></a></li>
        <li class="show-for-medium-large-up social"><a href="https://www.linkedin.com/company/belmont-finance-llc" target="_blank"><i class="icon-icon-linkedin"></i></a></li>
        <li class="show-for-medium-large-up social"><a href="https://twitter.com/belmont_finance" target="_blank"><img src="/assets/images/svg/twitter-logo.svg"></a></li>
        <li>
            <ul class="button-group show-for-medium-large-up" id="login-dropdowns">
              <li class="customer-button customer">
                <a class="customer" href="https://accounts.belmontfinancellc.com">Customer Login</a>
                <div class="login customer">
                  <iframe src="https://accounts.belmontfinancellc.com/shared-login" style="border: 0px" height="144" width="240" allowtransparency="true">
                  </iframe>
                </div>
              <li class="customer-button">
                <a class="last" href="https://dealer.belmontfinancellc.com">Dealer Login</a>
                 <div class="login">
                  <iframe src="https://dealer.belmontfinancellc.com/support/shared-login" style="border: 0px" height="144" width="240" allowtransparency="true">
                  </iframe>
                </div>
              </li>
            </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      {{ top.generateLink('about') }}
      {{ top.generateLink('distributors', 'Distributors') }}
      {{ top.generateLink('customers', 'Customers') }}
      {{ top.generateLink('careers', 'Careers') }}
      {{ top.generateLink('contact', 'Contact') }}
      <li class="mobile-logins clearfix">
          <a href="https://dealer.belmontfinancellc.com" class="button tiny">Dealer Login</a>
          <a href="https://accounts.belmontfinancellc.com" class="button tiny customer">Customer Login</a>
      </li>
    </ul>
  </section>
</nav>

</header>
