{% extends 'accounts._no-sidebar' %}

{% block title %}Create New Account{% endblock %}

{% block content %}

<div class="row space-extra text-center">
	<h1>
		Create your account &amp; access your files.
	</h1>
	<h4>First, we just need to make sure you're the right person.</h4>
	{% if attempts and attempts > 0 %}<h4 style="color: red">Your SSN did not match. For security, you will only get a couple more chances to enter the correct SSN.</h4>{% endif %}
</div>

<section class="full">
	<div class="row">
		<div class="small-12 medium-6 medium-offset-3 columns" id="register">
			{% if session_get('regerror') %}<p class="error">Error: {{ session_get('regerror') }}</p>{% endif %}
			<div class="panel clearfix gray">
				<div class="row">
					<div class="small-12 medium-6 medium-offset-3">
						<form method="post">
							<input type="hidden" value="{{ csrf_token() }}" name="_token">
							<label>Last 4 digits of your SSN:
								<input type="text" name="ssn">
							</label>
							<button class="tiny secondary">Go</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% if errors|length %}
	<div id="hidden-errors" style="display: none">
		{% set messages = errors.bags['default'].messages %}
		{% for label, value in messages %}
			<small class="error" data-name="{{ label }}">{{ value[0] }}</small>
		{% endfor %}
	</div>
{% endif %}

{% endblock %}


{% block pagescripts %}
	<script>
		$(function(){
			var errors = $('#hidden-errors').find('.error');
			errors.each(function(){
				var input = $('input[name="' + $(this).attr('data-name') + '"],select[name="' + $(this).attr('data-name') + '"]').first();
				$(this).appendTo(input.closest('label'));
				input.closest('.panel').show();
			});
		});
	</script>
{% endblock %}