{% extends 'accounts._no-sidebar' %}

{% block titlearea %}
	<h1 class="center">
		Registration Complete
	</h1>
	<div class="small-12 medium-8 medium-offset-2 text-center">
		<h3 class="center">You won't be able to access everything in your account until our paperwork has been completed, but you will be able to view the documents that you've signed.</h3>
		<p class="center">Use your email ({{ app.email }}) and password you just set to login at https://accounts.belmontfinancellc.com</p>
{% endblock %}


{% block content %}

<section class="full">
	<div class="row">
		<div class=" medium-offset-1 medium-10 small-12 columns">
			<div class="row space-extra">
				<div class="small-12 medium-8 columns medium-offset-2">
					<div class="panel clearfix">
						<a href="/login" class="button small">Go to Login</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% if errors|length %}
	<div id="hidden-errors" style="display: none">
		{% set messages = errors.bags['default'].messages %}
			{{ dump(messages) }}
		{% for label, value in messages %}
			<small class="error" data-name="{{ label }}">{{ value[0] }}</small>
		{% endfor %}
	</div>
{% endif %}

{% endblock %}


{% block pagescripts %}
	<script>
		$(function(){
			var errors = $('#hidden-errors').find('.error');
			errors.each(function(){
				$(this).appendTo($('input[name="' + $(this).attr('data-name') + '"]').closest('label'));
			});

		});
	</script>
{% endblock %}