{% extends "staff/_standard" %}

{% import "includes/macros/subuser-staff.twig" as sub_macros %}

{% block title %}
	New Application
{% endblock %}

{% block sidepanel %}
{% endblock %}


{% block pageheader %}
	<div class="small-12 small-text-center">
		<h2>New Application</h2>
	</div>
{% endblock %}


{% block content %}
	<div class="small-12 medium-6 columns medium-offset-3 small-text-center">
		<!-- <form method="post" action="">
		<div class="row collapse prefix-radius">
			<div class="small-3 columns">
	          	<span class="prefix">Search Dealer</span>
	        </div>
	        <div class="small-9 columns">
				<input type="text" id="company" data-minchars="1" data-autofirst="true" class="awesomplete" list="companies" value="{{ item.dealer.company_name }}" {{ adminControlled }}>
				<input type="hidden" value="{{ item.dealer.id }}" name="companyId" id="distributorId">
				<input type="hidden" name="_token" value="{{ csrf_token() }}">
				<datalist id="companies" name="distributorId">
					{% for company in companies %}
						<option value="{{ company.id }}">{{ company.company_name }} (#{{ company.account_number }})</option>
					{% endfor %}
				</datalist>
			</div>
		</div>
		<button class="small">Go</button>
		</form> -->
		<h3>Please log in as a dealer in order to run an application - this application form will need to be updated to match the new dealer application form</h3>
	</div>
{% endblock %}


{% block pagescripts %}
	<script src="/js/awesomplete.min.js"></script>
	<script>
		var $datalist = $('#companies').find('option');
		var hiddenCompany = $('#distributorId');

		$('#company').on('awesomplete-selectcomplete', function(event){
			var input_value = $(this).val();

			var selected_el = $datalist.filter(function(){
	            return $(this).text() == input_value;
	        });

	        var selected_val = selected_el.length ? selected_el.val() : false;
	        console.log(selected_val);

	        if(selected_val){
	        	$('#distributorId').val(selected_val);
	        }

		});
	</script>
{% endblock %}
