{% extends "staff/_standard" %}

{% import "includes/macros/subuser-staff.twig" as sub_macros %}

{% block title %}
	Application
{% endblock %}

{% block sidepanel %}
{% endblock %}


{% block pageheader %}
	<div class="small-12 small-text-center">
		<h2><a href="/distributors/application?reset=true" class="back-arrow"><i class="circle fi-arrow-left"></i></a> New Application: {{ dealer.company_name }}</h2>
	</div>
{% endblock %}


{% block content %}
	<form method="post" action="/api/submit-application?token={{token}}" class="ajax-form">
		{% include 'dealer/applications/application-fields.twig' %}
	</form>

	<div id="success" class="small-text-center" style="display: none;">
		<h2>Application Submitted.</h2><br>
		<a class="button small" href="/distributors/application?reset=true">New Application</a>
	</div>

	{% if errors|length %}
		<div id="hidden-errors" style="display: none">
			{% set messages = errors.bags['default'].messages %}
				{{ dump(messages) }}
			{% for label, value in messages %}
				<small class="error" data-name="{{ label }}">{{ value[0] }}</small>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}


{% block pagescripts %}
	<script src="/js/jquery.mask.min.js"></script>
	<script>

		window.onAjaxComplete = 'successApp';

		function successApp(){
			console.log('successful submit');
			$('.step').hide();
			$('#success').show();
		}

		$(function(){

			$('.step').hide();
			$('.step').first().show();

			$('#content').on('click', '.step .next', function(){
				var current = $(this).closest('.step');
				current.hide();
				var next = current.next();
				next.show();
			});

			$('.toggleCoapplicant').on('click', function(){
				console.log('hi');
				$('.toggleCoapplicant').removeClass('active');
				$(this).addClass('active');
				if( $(this).hasClass('yes') ){
					$('#coapplicant').slideDown();
				}
				if( $(this).hasClass('no') ){
					$('#coapplicant').slideUp();
				}
			});

			$('#copyaddress').on('click', function(e){
				e.preventDefault();
				$('#coAddress').val($('#address').val());
				$('#coCity').val($('#city').val());
				$('#coState').val($('#state').val());
				$('#coZip').val($('#zip').val());
			});

			$('#ssn').mask("000-00-0000");

			if(window.msieversion()){
				$('#date').mask("00/00/0000");
			}

			var errors = $('#hidden-errors').find('.error');
			errors.each(function(){
				$(this).appendTo($('input[name="' + $(this).attr('data-name') + '"]').closest('label'));
			});

		});
	</script>
{% endblock %}
