{% extends "staff/_standard" %}

{% block title %}
	Distributors
{% endblock %}

{% block options %}
	{% if user.hasRole('admin') %}
	<button href="#" data-dropdown="options" data-options="align: left" aria-controls="drop1" aria-expanded="false" class="button tiny secondary dropdown right options-button"><i class="fi-widget"></i></button>
	<ul id="options" data-dropdown-content class="f-dropdown" aria-hidden="true">
	  <li><a href="#" data-reveal-id="newDistribModal"><i class="fi-plus circle"></i>Add Distributor</a></li>
	</ul>
	{% endif %}
{% endblock %}


{% block pageheader %}
	<h1>{% if showBack %}<a href="{{ showBack }}" class="back-arrow"><i class="circle fi-arrow-left"></i> </a>{% endif %}Distributors</h1>
	<dl class="sub-nav">
	  <dd {% if filter == "all" %}class="active"{% endif %}><a href="/distributors/">All</a></dd>
	  <dd {% if filter == "active" %}class="active"{% endif %}><a href="/distributors/list/active">Active</a></dd>
	  <dd {% if filter == "inactive" %}class="active"{% endif %}><a href="/distributors/list/inactive">Inactive</a></dd>
	</dl>
{% endblock %}


{% block content %}
	<section class="ajax-update" id="dist_table_all">
		{% if distributors|length %}
		<table class="distrib_table">
			<tr><td><a href="filter?sortby=aaa">Distributors</a></td><td>Status</td><td><a href="filter?sortby=payable">Payable</a></td><td><a href="filter?sortby=recApproved">Rec. Approved</a></td><td><a href="filter?sortby=pending">Pending</a></td><td>Permission</td></tr>
			{% for distributor in distributors %}
				<tr class="{% if distributor.deleted_at %}deleted{% endif %}">
					<td class="acctNum"><a href="/distributors/profile/{{ distributor.id }}"><i class="fi-pencil circle"></i></a><div class="spanNum">{{ distributor.company_name }} {% if distributor.owner %}<span style="font-size: 0.8em">({{ distributor.owner }})</span>{% endif %}<span class="small">#{{ distributor.account_number }}</span></div></td>
					<td><em class="small-font">{% if distributor.isActive() %}Active{% else %}<a href="#" class="reset-distributor" data-name="{{ distributor.company_name }}" data-id="{{ distributor.id }}">Reset account</a>{% endif %}</em></td>
					<td>${{ distributor.getPayable()|number_format(2, '.', ',') }}</td>
					<td><a href="/contracts/filter?distributor={{ distributor.account_number }}">{{ distributor.recent_contracts_count }} (View)</a></td>
					<td>{{ distributor.getPending() }}</td>
					<td>{{ distributor.dealer_status }}</td>
				</tr>
			{% endfor %}
		</table>
		<div class="row">{{ paginate.input(distributors) }}</div>
		{% else %}
			<em>No distributors found</em>
		{% endif %}
	</section>

	{# modal for creating a new distributor #}
	<div id="newDistribModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	  <h2 id="modalTitle">New Distributor</h2>
			<form class="ajax-form" method="POST" action="{{ url('/distributors/store') }}">
				<em class="small-font">Upon submission, an email will be sent to the email address provided giving instructions to the user on how to finish creating their administrator account. Be sure to match up the account number with the same account number stored in FCA. If no email is provided, no user account will be set up.</em>
				<br><br>
				<input type="hidden" name="_token" value="{{ csrf_token() }}">
				<input type="hidden" name="_distrib" value="1">
				<label>Account Number:<input type="text" name="account_number" value="{{ input.old('account_num') }}"></label>
				<label>Company Name:<input type="text" name="company_name" value="{{ input.old('company_name') }}"></label>
				<label>Category:
					<select name="product_id">
						{% for product in products %}
							<option value="{{ product.id }}">
								{{ product.name }}
							</option>
						{% endfor %}
					</select>
				</label>
				<label>Owner Name:<input type="text" name="owner_name" value="{{ input.old('owner_name') }}"></label>
				<label>Administrator Email:<input type="text" name="email" value="{{ input.old('email') }}"></label>
				<div class="row"><button class="right">Create</button></div>
			</form>
	  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>


	{# modal for resetting a current inactive distributor #}
	<div id="resetDistribModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	  <h2 id="modalTitle">Reset Distributor Account</h2>
			<form class="ajax-form" method="POST" action="{{ url('distributors/store') }}">
				<em class="small-font">Register a new email admin account for this distributor. Upon submission, an email will be sent to the email address provided giving instructions to the user on how to finish creating their administrator account.</em>
				<br><br>
				<h4 class="distributor-name"></h4>
				<input type="hidden" name="_token" value="{{ csrf_token() }}">
				<input type="hidden" name="_distrib" value="1">
				<input type="hidden" name="_reset" value="1">
				<input type="hidden" name="_company_id" value="">
				<label>Administrator Email:<input type="text" name="email" value="{{ input.old('email') }}"></label>
				<div class="row"><button class="right">Create</button></div>
			</form>
	  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>

{% endblock %}

{% block pagescripts %}
<script class="ajax-script">
$(function(){
	var existModal = $('#resetDistribModal');
	$('#dist_table_all').on('click', '.reset-distributor', function(e){
		e.preventDefault();
		existModal.foundation('reveal', 'open');
		existModal.find('[name="_company_id"]').val($(this).data('id'));
	});
})
</script>
{% endblock %}
