{% extends "staff/_standard" %}

{% import "includes/macros/subuser-staff.twig" as sub_macros %}

{% block title %}
	{{ item.company_name }} Profile
{% endblock %}

{% block sidepanel %}
{% endblock %}


{% block pageheader %}
	{% if user.hasRole('admin') or user.hasRole('distributor') %}
		{% set accessControlled = "" %}
	{% else %}
		{% set accessControlled = "disabled" %}
	{% endif %}

	<h2>{% if showBack %}<a href="{{ showBack }}" class="back-arrow"><i class="circle fi-arrow-left"></i> </a>{% endif %} {{ item.company_name}}: Promos</h2>
	<hr>
	<p>Toggle promos by checking / unchecking. They will save automatically.<br>
	</p>
	<div class="small-12 columns" id="promos">
		<button class="button tiny" id="selectAll">Select All</button>
	<form class="ajax-form" method="POST" action="/distributors/update/{{item.id}}">
		<table>
			<tr><td></td><td>Name</td><td>Loan Type</td><td>Min Buy Rate</td><td>Min ACH Rate</td>
		{% for promo in promos %}
		<tr>
			<td><input type="checkbox" id="promo{{ promo.id }}" value="{{ promo.id }}"
				{% if promo.id in distributorPromos %}checked="checked"{% endif %}>
			</td>
			<td><label for="promo{{ promo.id }}">{{ promo.description }}</label></td>
			<td>{{ promo.loan_type }}</td>
			<td>{{ promo.min_buy_rate }}</td>
			<td>{{ promo.ach_buy_rate }}</td>
		</tr>
		{% endfor %}
		</table>
	</form>
	</div>

	<br>
	<h2>Custom Rate Factors</h2>
	<p><em>Default rate factors are set on a product level <a href="/settings/distributors">here</a> but can be overridden by adding rules below</em></p>

	<div class="small-12 columns">
		<div class="row">
			<div class="small-12 medium-6 medium-offset-3">
				{% if rateFactors %}
					{% for factor in rateFactors %}
					<p>Factor: {{ factor.pmt_factor }}% {% if factor.min_buy_rate %}({{ factor.min_buy_rate }}){% else %}(No minimum buy rate){% endif %}
					{% endfor %}
				{% else %}
				<p><em>No custom rate factors found - this dealer will default to the default rate set by their product.</em></p>
				{% endif %}
				<form class="ajax-form" method="post" action="/distributors/profile/pmt-factor">
					<br>
					<em>Add a new payment factor. Minimum buy rate is optional.</em>
					<div class="row">
						<input type="hidden" value="{{ item.id }}" name="dist_id">
						<div class="medium-4 columns">
							<label>Payment Factor<input type="text" name="payment_factor" placeholder="1.5"></label>
						</div>
						<div class="medium-4 columns left">
							<label>Min Buy Rate<input type="text" name="buy_rate" placeholder="80"></label>
						</div>
					</div>
					<div class="row">
						<div class="medium-12 columns">
							<button class="button tiny">Create</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}


{% block pagescripts %}
	<script>


		$(function(){
			$('#selectAll').on('click', function(){
				$('#promos').find('input[type="checkbox"]').each(function(){
					if( !$(this).is(':checked')) {
						$.ajax({
							url: '/distributors/profile/setPromos',
							type: 'POST',
							data: {
								'promo_id': $(this).val(),
								'dist_id': '{{ item.id }}'
							}
						});
						$(this).prop('checked', true);
					}
				});


			});

			$('#promos').on('change', 'input[type="checkbox"]', function(){
				$.ajax({
					url: '/distributors/profile/setPromos',
					type: 'POST',
					data: {
						'promo_id': $(this).val(),
						'dist_id': '{{ item.id }}'
					}
				});
			});
		});


	</script>
{% endblock %}
