{% extends "staff/_standard" %}

{% import "includes/macros/subuser-staff.twig" as sub_macros %}

{% block title %}
	{{ item.company_name }} Profile
{% endblock %}

{% block sidepanel %}
{% endblock %}


{% block pageheader %}
	{% set states = [
	    "AK","AL","AZ","AR","CA","CO","CT","DE","FL","GA","HI","ID","IL","IN","IA","KS","KY","LA","ME","MD","MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ","NM","NY","NC","ND","OH","OK","OR","PA","RI","SC","SD","TN","TX","UT","VT","VA","WA","WV","WI","WY"
	] %}


	{% if user.hasRole('admin') or user.hasRole('distributor') %}
		{% set accessControlled = "" %}
	{% else %}
		{% set accessControlled = "disabled" %}
	{% endif %}

	<h2>{{ item.company_name}}</h2>
	<div class="small-12 columns">
	<form class="ajax-form" method="POST" action="/distributors/update/{{item.id}}">
			
	<div class="row">
	    <div class="small-12 columns medium-4">
		    <div class="row collapse prefix-radius">
				<div class="small-3 columns">
						<span class="prefix">Dealer #</span>
						</div>
						<div class="small-9 columns">
					<input type="text" name="account_number" value="{{ item.account_number }}" {{ accessControlled }}>
				</div>
			</div>
			<label>Distributor Name
	        	<input name="name" type="text" value="{{ item.company_name}}" {{ accessControlled }}>
	      	</label>
	      <label>Distributor Approval
	        <select name="dealer_status" {{ accessControlled }}>
	          <option value="Approved" {% if item.dealer_status == "Approved" %}selected{% endif %}>Approved</option>
	          <option value="Denied" {% if item.dealer_status == "Denied" %}selected{% endif %}>Denied</option>
	          <option value="Pending" {% if item.dealer_status == "Pending" %}selected{% endif %}>Pending</option>
	          <option value="Closed" {% if item.dealer_status == "Closed" %}selected{% endif %}>Closed</option>
	          <option value="Hold" {% if item.dealer_status == "Hold" %}selected{% endif %}>Hold</option>
	        </select>
	      </label>
	      <label>Product / Service Category
			<select name="product_id" {{ accessControlled }}>
				<option value="">None</option>
				{% for product in products %}
				<option value="{{ product.id }}" {% if product.id == item.product.id %}selected{% endif %}>{{ product.name }}</option>
				{% endfor %}

			</select>
			</label>
			<label>Owner Name
			<input type="text" name="owner" value="{{ item.owner }}" {{ accessControlled }}>
			</label>

			<label>Address
			<input type="text" name="address" value="{{ item.address }}" {{ accessControlled }}>
			</label>

			<div class="row">
				<div class="small-12 medium-6 columns">
					<label>City
					<input type="text" name="city" value="{{ item.city }}" {{ accessControlled }}>
					</label>
				</div>
				<div class="small-12 medium-2 columns">
					<label>State
						<select name="state">
							{% for state in states %}
							<option value="{{ state }}" {% if state == item.state %}selected="selected"{% endif %}>{{ state }}</option>
							{% endfor %}
						</select>
					</label>
				</div>
				<div class="small-12 medium-4 columns">
					<label>Zip
					<input type="text" name="zip" value="{{ item.zip }}" {{ accessControlled }}>
					</label>
				</div>
			</div>

			<label>Phone
			<input type="text" name="phone" value="{{ item.phone }}" {{ accessControlled }}>
			</label>

			<label>License #
			<input type="text" name="license" value="{{ item.license }}" {{ accessControlled }}>
			</label>

			<label>
				Allow Renters
				<select name="app_allow_renters" {{ accessControlled }}>
					<option value="0">No</option>
					<option value="1" {% if item.app_allow_renters %}selected="selected"{% endif %}>Yes</option>
				</select>
			</label>

			<label>
				Credit Type
				<select name="credit_type" {{ accessControlled }}>
					<option value="0" {% if item.allow_revolving == 0 %}selected{% endif %}>Closed End Only</option>
					<option value="1" {% if item.allow_revolving == 1 %}selected{% endif %}>Revolving Only</option>
					<option value="2" {% if item.allow_revolving == 2 %}selected{% endif %}>Closed End &amp; Revolving</option>
				</select>
			</label>

			<label>
				Paperwork Options
				<select name="control_paperwork" {{ accessControlled }}>
					<option>None</option>
					<option value="Print" {% if item.control_paperwork == 'Print' %}selected{% endif %}>Print Only</option>
					<option value="Print,Remote" {% if item.control_paperwork == 'Print,Remote' %}selected{% endif %}>Print, Email</option>
					<option value="Print,Local" {% if item.control_paperwork == 'Print,Local' %}selected{% endif %}>Print, Sign Here</option>
					<option value="Remote,Local" {% if item.control_paperwork == 'Print,Local' %}selected{% endif %}>Email, Sign Here</option>
					<option value="Print,Local,Remote" {% if item.control_paperwork == 'Print,Local,Remote' %}selected{% endif %}>All Paperwork Options</option>
				</select>
			</label>
			
				<input id="enable_new_online" type="checkbox" name="enable_new_online" value="1" {% if item.enable_new_online %}checked="checked"{% endif %}>
			<label for="enable_new_online">Enable full online paperwork</label>
	    </div>


	    <div class="small-12 medium-4 columns left">
	    	<p class="small-font"><em>Note: This distributor ID must match exactly what is set up in FCA in order for the distributor to be able to submit applications.</em></p>

	    	<p class="small-font"><em>Approved - allows the company to access accounts and submit applications</em></p>
	    	<p class="small-font"><em>Pending - allows company to access information but no application submittals</em></p>
	    	<p class="small-font"><em>The rest allow no information access and no application submittals</em></p>
	    	<p class="small-font"><em>Owner name is used mainly for searching and display</em></p>
	    	<p class="small-font"><em>Imported:</em>
	    		{% if item.address %} <br>{{ item.address }} {{ item.address_two ? '(' ~ item.address_two ~ ')' }}
	    		<br>{{ item.city }}, {{ item.state }} {{ item.zip }}
	    		{% endif %}
	    		{% if item.program_id %}<br>Program: {{ item.program_id }}{% endif %}<br><br>
		    	</p>

	    		<label>States:</label>

	    		<select id="state-select">
					<option value="">Select states for this distributor</option>
					{% for state in states %}
						<option value="{{ state }}">{{ state }}</option>
					{% endfor %}
				</select>

	    </div>
    {% if not accessControlled %}
    <div class="row space">
    	<div class="small-12 columns">
			<button class="left small">Update</button>
		</div>
	</div>
	{% endif %}

	</form>
	</div>
{% endblock %}


{% block content %}
	<div class="small-12 columns">

		<div class="row space">
			<dl class="sub-nav">
				<dd><a href="/distributors/profile/{{ item.id }}/promos">Promos &amp; Rate Factor</a></dd>
			</dl>
		</div>
	</div>

<div class="small-6 medium-4 columns">
	<div class="panel">
		<h5>Payable:</h5>
		<h4>${{ item.getPayable()|number_format(2, '.', ',') }}</h4>
	</div>
</div>

<div class="small-6 medium-4 columns">
	<div class="panel">
		<h5>Pending Contracts: {{ item.getPending() }}</h5>
		<a href="/contracts/filter?distributor={{ item.account_number }}">View contracts</a>
	</div>
</div>

<!-- <div class="row space">
    {% if item.statesAvailable|length %}
        <div class="ajax-update small-12 columns" id="company-states">
            <h3>States for Online Applications</h3>
            <p class="small-font"><em>Toggle on / off by clicking. Gray means disabled. A company with no states enabled will not be able to access the applications.</em></p>
            {% for state in item.statesAvailable %}
                {% set stateInfo = states[state] %}
                <a class="dist-state tiny button {% if state not in item.states %}secondary{% endif %} round" href="#">{{ state }}
                    {% if stateInfo.aprs|length > 1 %}
                        <span class="label round {% if state in item.states %}secondary{% endif %}">{{ stateInfo.aprs|length - 1 }}</span>
                    {% endif %}
                    {#{% for apr in stateInfo.aprs %}
                        {{ apr.value }}
                    {% endfor %}#}
                </a>
            {% endfor %}
        </div>
    {% endif %}
</div> -->

<div class="row space">
		<div class="ajax-update small-12 columns" id="company-users">
		{% if item.users|length %}
			<h3>Company Dealer Accounts</h3>
            <p class="small-font"><em>Deny individual dealers access to the online applications by setting status to 'Hold'. '*' before the dealer name indicates admin.</em></p>
			<ul class="primary-users" id="primary">
			{% set staff = user %}
			{% for user in item.primaryUsers %}
				{{ sub_macros.sub_users(user, staff, item) }}
			{% endfor %}
			</ul>
		{% else %}
			<em class="center">No users created for this distributor</em>
			<p><button class="tiny" data-reveal-id="newAdminUserModal">Create Admin User</button></p>
		{% endif %}
		</div>
</div>

<div class="row space">
	<div class="small-12 columns">
		<h3>Pending / Failed Applications</h3>
		{% for app in apps %}
		<p>{{ app.created_at|date('d/m/Y') }} - {{ app.firstName }} {{ app.lastName }}
		{% if app.coFirstName %}&amp; {{ app.coFirstName }} {{ app.coLastName }}{% endif %}
		{% if app.lastStatus %}, {{ app.lastStatus }}{% endif %}
		<a href="/contracts/app-data/{{ app.id }}">View Data</a>
		</p>
		{% endfor %}
	</div>
</div>



	{% if user.hasRole('admin') %}
	<div class="row space">
		<div class="small-12 columns">
			<button id="delete" data-redirect="/distributors/" data-href="/distributors/company" data-id="{{ item.id}}" data-msg="Are you sure you want to delete this distributor? This will also remove all users" class="button small tiny alert">Delete Distributor</button>
		</div>
	</div>
	{% endif %}

{# modal for creating new admin user #}
<div id="newAdminUserModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">New Admin User</h2>
		<form class="ajax-form" method="POST" action="{{ url('/distributors/create-admin') }}">
			<em class="small-font">Create a new admin user account. An email will be sent to the email address provided giving instructions how to activate the account.</em>
			<br><br>
			<input type="hidden" name="_token" value="{{ csrf_token() }}">
			<label>Admin Name:<input type="text" name="name" value="{{ input.old('name') }}"></label>
			<label>Email:<input type="text" name="email" value="{{ input.old('email') }}"></label>
			<input type="hidden" name="distributor_id" value="{{ item.id }}">
			<div class="row"><button class="right small">Create</button></div>
		</form>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
{% endblock %}


{% block pagescripts %}

	<script src="/js/selectize.min.js"></script>
	<script>
		$('#primary').on('click', '.expand-click', function(e){
			console.log(e.target);
			if( !$(e.target).is('a,i,button') && !$(e.target).hasClass('.sub') ){
				$(this).parent('.subs').toggleClass('open').find(' > .sub').toggle();
			}
		});

		$('#company-users').on('click', '.delete', function(){
			$(this).confirm('Do you want to completely remove this distributor?', 'deleteItem', this);
		});

        // initialize state selector
        var initialStates = [
        	{% for state in item.dealerStates %}
        	'{{ state.state }}',
        	{% endfor %}
        ];

        $('#state-select').selectize({
        	items: initialStates,
        	maxItems: null,
        	onItemAdd: function(value){
        		$.ajax({
        			type: 'POST',
        			url: '/distributors/profile/{{ item.id }}/updateState',
        			data: {
        				'state': value
        			}
        		})
        	},
        	onItemRemove: function(value){
        		$.ajax({
        			type: 'POST',
        			url: '/distributors/profile/{{ item.id }}/updateState',
        			data: {
        				'state': value
        			}
        		})
        	}
        });
	</script>
{% endblock %}
