<!doctype html>
<html>
{% include 'includes/_customer-head' with {title: block('title')} %}
{% import 'includes/macros/paginate' as paginate %}
<body class="{{ context }}">

	{% block main %}
	{% endblock %}

	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/foundation/js/foundation.min.js"></script>
	<script src="/js/app.js"></script>
	{% if user %}
	<script>
	setInterval(function() {
	   $.ajax({
	        type: 'GET',
	        url: '/cs',
	        dataType: 'json',
	        cache: false,
	        success: function(result) {
	            if (!result.cid || result.cid == 0){
	             	window.location = "/expired";
	            }
	        }
	    });
	}, 10000);
	</script>
	{% endif %}
	{% block pagescripts %}
	{% endblock %}
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-74186804-2', 'auto');
	  ga('send', 'pageview');

	</script>
</body>
</html>
