<!doctype html>
<html>
{% include 'includes/_dealer-head' %}
{% import 'includes/macros/paginate' as paginate %}
<body class="{{ context }}">
	{% include 'includes/_gen-modals' %}
	{% block main %}
	{% endblock %}

	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/foundation/js/foundation.min.js"></script>
	<script src="/js/app.js"></script>
    <script src='/bower_components/fastclick/lib/fastclick.js'></script>
    <script>
    $(function() {
        FastClick.attach(document.body);
    });
    </script>
	{% block pagescripts %}
	{% endblock %}	
</body>
</html>
