<!doctype html>
<html>
{% include 'includes/_head' with {title: block('title')} %}

{% import 'includes/macros/paginate' as paginate %}
<body class="{{ context }}">
	{% block main %}
	{% endblock %}

	{% include 'includes/_gen-modals' %}
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/fastclick/lib/fastclick.js"></script>
	<script src="/bower_components/foundation/js/foundation.min.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/staff.js"></script>
	<script src="/js/genModal.js"></script>
	<script src="/js/tippy.js"></script>

	{% block pagescripts %}
	{% endblock %}
</body>
</html>