<!doctype html>
<html>
{% include 'includes/_sig-head' %}
{% import 'includes/macros/paginate' as paginate %}
<body class="{{ context }}">
	{% include 'includes/_gen-modals' %}
	{% block main %}
	{% endblock %}

	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/foundation/js/foundation.min.js"></script>
	<script src="/js/app.js"></script>
	{% block pagescripts %}
	{% endblock %}	
</body>
</html>
