<section class="step" id="eleven">
  <form action="{{ submitFormUrl }}" method="post" class="ajax-form space-saving">
    <input type="hidden" name="step" value="final">
    <input type="hidden" name="sessionKey" value="{{sessionKey}}">
<div class="row">
  <div class="small-10 small-offset-1 columns text-center">

    {# show a different statement for remote signers #}
    {% if remoteData.coEmail %}
      <h2 class="text-center" data-spanish="¡Su parte de la aplicación está completa!">Your part of the application is complete!</h2>
      <br><br>
      <p class="text-center" data-spanish="¡Genial, has terminado tus secciones de la aplicación!">Great, you've finished your sections of the application!</p>
      <br>
      <p class="text-center" data-spanish="Haga clic en el botón a continuación para enviar esto a su coapplicant para completar su información y comenzar a firmar el acuerdo para recuperar su crédito.">Click the button below to send this to your coapplicant to complete their information and start signing the agreement to run credit.</p>
      <br>
      <a class="button" href="/sign/complete?token={{ remoteApp }}" data-spanish="Guardar y enviar">Save &amp; Send</a>
    {% else %}
    <h2 class="text-center" data-spanish="Aplicación completa">Application Complete!</h2>
    <hr>
    <p class="text-center" data-spanish="Genial, ¡has terminado la aplicación! Luego, continúe con sus firmas. Por favor, lea todos los avisos cuidadosamente.">Great, you've finished the application! Next, continue on to your signatures. Please read all the notices carefully.</p>
    <br><br>
    <div class="text-center">
        {% if remoteApp %}
          <a class="button" id="signApplication" href="/sign/complete?token={{ remoteApp }}" data-spanish="Ver y firmar">View &amp; Sign</a>
        {% else %}
          <a class="button" id="signApplication" href="/apps/sign?ses={{ sessionKey }}" data-spanish="Ver y firmar">View &amp; Sign</a>
        {% endif %}
    </div>
    {% endif %}
  </div>

  <br>
</form>
</section>
