{% if not remoteData.coAppRemote %}
<section class="coapplicant-step" id="seven" style="display: none">
{% else %}
  <section class="step" id="seven">
{% endif %}
  <form action="{{ submitFormUrl }}" method="post" class="ajax-form space-saving">
   <div class="row">
      <div class="small-10 small-offset-1 columns">
        <h2 class="text-center" data-spanish="Información del Co-solicitante">Coapplicant Information</h2>
        <hr>

        <h4 class="text-center" data-spanish="Nombre y fecha de nacimiento">Name &amp; Birthdate</h4>
        <input type="hidden" name="step" value="seven">
        <input type="hidden" name="sessionKey" value="{{sessionKey}}">
        <div class="row">
          <div class="small-12 medium-5 columns">
            <label for="coFirstName" class="req" data-spanish="Nombre de pila*:">First Name*:</label>
            <input name="coFirstName" id="coFirstName" value="" type="text">
          </div>
          <div class="small-12 medium-2 columns">
            <label for="coInitial" style="font-size: 0.6em;" data-spanish="Inicial del segundo nombre">Mid Initial:</label>
            <input name="coInitial" id="coInitial" value="" type="text">
          </div>
          <div class="small-12 medium-5 columns">
            <label for="coLastName" class="req" data-spanish="Apellido*:">Last Name*:</label>
            <input name="coLastName" id="coLastName" value="" type="text">
          </div>
        </div>
        <div class="row pad-m">
          <div class="small-12 medium-6 columns medium-offset-3">
            <label for="coBirthdate" class="req" data-spanish="Fecha de nacimiento (MM/DD/YYYY)*">Birthdate (MM/DD/YYYY)*:</label>
            <input name="coBirthdate" id="coBirthdate" value="" type="text">
          </div>
        </div>

        <div class="row pad-m">
          <div class="small-12 medium-8 columns medium-offset-2">
            <h4 class="text-center">SSN*</h4>
            <input id="coSsn" name="co_ssn" value="" type="text">
          </div>
        </div>
        <br>

        {% include 'dealer.applications._app-nav-buttons' %}

        </div>
      </div>
</form>
</section>
