<section class="step" id="one">
	<div class="row">
		<div class="small-10 small-offset-1 columns">
			<form action="{{ submitFormUrl }}" method="post" class="ajax-form space-saving">
				<input type="hidden" name="step" value="one">
				<input type="hidden" name="sessionKey" value="{{sessionKey}}">
				{% if user and user.company is defined %}<input type="hidden" name="dist_id" value="{{ user.company.id }}">{% endif %}
				<div class="small-12 medium-6 medium-offset-3 small-text-center pad-m">
					<div class="small-text-center"><em class="small-text-center">This will just take a few minutes to fill out. This form is submitted securely, and we will not store sensitive data.</em></div>
				</div>
				<div class="small-12 medium-12 text-center"><h3>Amount</h3></div>
				<div class="small-12 medium-6 medium-offset-3 small-text-center pad-s">
					<p><em>Sales Price should include any taxes and trade&#8209;in value</em></p>
					<label>Sales Price*</label>
					<div class="row collapse input-prefix">
						<div class="small-2 columns"><span class="prefix">$</span></div>
						<div class="small-10 columns"><input class="no-label" value="" name="amount_financed" id="amount_financed" type="text"></div>
					</div>
				</div>
				<div class="small-12 medium-6 medium-offset-3 small-text-center pad-s">
					<label>Down Payment</label>
					<div class="row collapse input-prefix">
						<div class="small-2 columns"><span class="prefix">$</span></div>
						<div class="small-10 columns"><input class="no-label" value="" name="down_payment_amount" id="down_payment_amount" type="text"></div>
					</div>
				</div>
				<div class="small-12 medium-6 medium-offset-3 small-text-center pad-m">
					<h2>Total</h2>
					<h4>$<span id="amount_req_total">0</span></h4>
				</div>
				<!-- <div class="small-12 medium-6  row text-center pad-m">
					<div class="small-12 medium-12 text-center"><h3>Description</h3></div>
					<div class="small-12 columns">
						<textarea placeholder="Enter description of product(s) sold" name="sale_description" id="sale_description"></textarea>
					</div>
				</div> -->
				{% if (dealer and dealer.allow_revolving == 2) or (user.company is defined and user.company.allow_revolving == 2) %}
				<div class="small-12 medium-6 medium-offset-3 small-text-center pad-m">
					<h3>Credit Type:</h3>
					<select name="credit_type" id="credit_type" class="needsclick">
						<option value="Closed-End">Closed-End</option>
						<option value="Revolving">Revolving</option>
					</select>
				</div>

				{% elseif (dealer and dealer.allow_revolving == 0) or (user.company and user.company.allow_revolving == 0) %}
					<input type="hidden" name="credit_type" value="Closed-End">
				{% elseif (dealer and dealer.allow_revolving == 3) or (user and user.company.allow_revolving == 3) %}
					<input type="hidden" name="credit_type" value="HomeImp">
				{% else %}
					<input type="hidden" name="credit_type" value="Revolving">
				{% endif %}

				{# no spanish available for HI and saladmaster yet #}
				{% if (dealer and dealer.company.product_id != 16 and dealer.company.product_id != 28 and dealer.company.id == 469) or (user.company and user.company.product_id != 16 and user.company.product_id != 28 and user.company.id == 469) %}
				<div class="small-12 medium-6 medium-offset-3 small-text-center pad-m">
					<h3>Document Language</h3>
						<select name="language" id="language" class="needsclick">
							<option value="English">English</option>
							<option value="Spanish">Spanish</option>
						</select>
				</div>
				{% endif %}


				<div class="small-12 small-text-center pad-m">
					<a href="#two" class="button outline next">Next</a>
				</div>
			</form>
		</div>
	</div>
</section>
