<section class="step" id="four">
  <form action="{{ submitFormUrl }}" method="post" class="ajax-form space-saving">
    <input type="hidden" name="step" value="four">
    <input type="hidden" name="sessionKey" value="{{sessionKey}}">
<div class="row">
  <div class="small-10 small-offset-1 columns">
  <br>
    <h3>Phone Numbers</h3>
    <div class="row">
      <div class="small-12 columns">
        <label for="tel" class="req">Home Phone*:</label>
        <input name="homePhone" id="tel" value="" type="tel">
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <label for="tel">Cell Phone:</label>
        <input name="cellPhone" id="tel" value="" type="tel">
      </div>
    </div>

    <h3>Other Info</h3>
    <div class="row">
      <div class="small-12 columns">
        <label for="ssn" class="req">SSN (XXX-XX-XXXX)*:</label>
        <input id="ssn" name="ssn" value="" type="text">
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <label for="text-basic" class="req">Driver's License or ID*:</label>
        <input name="driversOrId" id="driversOrId" value="" class="longnumber" type="text">
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <label for="licIssueDate">License / ID Issue Date:</label>
        <input type="date" name="licIssueDate">
      </div>
      <div class="small-6 columns">
        <label for="licIssueDate">License / ID Expiration Date:</label>
        <input type="date" name="licExpDate">
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 columns medium-offset-3">
        <label for="number-pattern" class="req">Number of Dependents*:</label>
        <input name="numDependents" id="number-pattern" value="" type="number">
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-12 columns">
        <label for="text-basic" class="req">Email Address*:</label>
        <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"><input name="email" id="text-basic" value="" type="text"></div>
      </div>
    </div>
    {% include 'dealer.applications._app-nav-buttons' %}
  </div>
</div>

</form>
</section>
