{% extends 'dealer/_focus' %}

{% block pagetitle %}
{% endblock %}

{% block content %}
	<div class="small-12 small-text-center">
		<h3 class="small-text-center">Account Not Completely Set Up</h3>
		<p>Please contact Belmont Finance to enable this functionality.</p>
		<a class="button small" href="/">Go Back</a>
	</div>

{% endblock %}


{% block pagescripts %}

{% endblock %}