{% if not remoteData.coAppRemote %}
<section class="step" id="six">
  <form action="{{ submitFormUrl }}" method="post" class="ajax-form space-saving">
    <input type="hidden" name="step" value="six">
    <input type="hidden" name="sessionKey" value="{{sessionKey}}">
<div class="row">
  <div class="small-10 small-offset-1 columns">
    <h2 class="text-center" data-spanish="Empleador">Employer</h2>
    <hr>

    <div class="row">
        <div class="small-12 medium-6 medium-offset-3 columns text-center pad-m">
            <h4 class="text-center" data-spanish="¿Estás jubilado?">Are you retired?</h4>
            <select name="is_retired" id="is_retired" class="needsclick">
                <option data-spanish="Escoger...">Choose...</option>
                <option value="No">No</option>
                <option value="Yes" data-spanish="Sí">Yes</option>
            </select>
        </div>
    </div>
    <section id="employed-section" style="display: none">
        <div class="row">
            <div class="small-12 columns">
            <label for="employer" class="req" data-spanish="Nombre del empleador*">Employer Name*</label>
            <input name="employer" id="employer" value="" type="text">
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <label for="jobTitle" class="req" data-spanish="Posición*">Position*</label>
                <input name="jobTitle" id="jobTitle" value="" type="text">
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <label for="employerPhone" class="req" data-spanish="Teléfono del empleador*">Employer Phone*</label>
                <input name="employerPhone" id="employerPhone" value="" type="text">
            </div>
        </div>

        <div class="row pad-s">
            <div class="small-12 medium-8 medium-offset-2">
              <h4 class="text-center" data-spanish="Años empleados aquí*">Years Employed Here*</h4>
                <div class="row">
                    <div class="small-12 medium-4 medium-offset-2 columns">
                        <label for="yrsEmployed" data-spanish="Años">Yrs*:</label>
                        <input name="yrsEmployed" id="yrsEmployed" value="" class="month" type="number">
                    </div>
                    <div class="small-12 medium-4 left columns">
                        <label for="monthsEmployed" data-spanish="Meses">Mos:</label>
                        <input name="monthsEmployed" id="monthsEmployed" value="" class="month" type="number">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="small-12 medium-8 medium-offset-2">
        <br>
        <h4 class="text-center" data-spanish="Ingreso mensual*">Monthly Income*</h4>
        <p class="text-center"><em data-spanish="(Se le puede pedir que proporcione pruebas)">(You may be asked to provide proof)</em></p>
         <div class="row">
            <div class="small-12 medium-6 medium-offset-3 columns">
                <input name="monthlyGrossPay" id="monthlyGrossPay" value="" class="thousands" type="text">
            </div>
        </div>
    </div>

    <div class="small-12 medium-8 medium-offset-2">
        <br>
        <h4 class="text-center" data-spanish="Número de dependientes*">Number of Dependents*</h4>
         <div class="row">
            <div class="small-12 medium-6 medium-offset-3 columns">
                <input name="numDependents" id="numDependents" type="text">
            </div>
        </div>
    </div>

    <div class="small-12">
        <br>
        <h4 class="text-center" data-spanish="Otra fuente de ingresos">Other Source of Income</h4>
        <p class="text-center"><em data-spanish="Si desea enumerar una fuente adicional de ingresos para su consideración, hágalo aquí">If you would like to list an additional source of income for consideration, do so here</em></p>
         <div class="row">
            <div class="small-12 medium-6 columns">
                <label data-spanish="Fuente de ingresos">Income Source</label>
                <select name="other_income_source" class="needsclick">
                    <option value="" data-spanish="Ninguna">None</option>
                    <option value="Job" data-spanish="Otro trabajo">Another job</option>
                    <option value="Self Employed" data-spanish="Trabajadores por cuenta propia">Self Employed</option>
                    <option value="Social Security" data-spanish="Seguridad Social">Social Security</option>
                    <option value="Pension" data-spanish="Pensión">Pension</option>
                    <option value="Retirement" data-spanish="Jubilación">Retirement</option>
                    <option value="Military" data-spanish="Militar">Military</option>
                    <option value="Disability" data-spanish="Discapacidad">Disability</option>
                    <option value="Veteran" data-spanish="Veterano">Veteran</option>
                    <option value="Interest Income" data-spanish="Ingresos por intereses">Interest Income</option>
                    <option value="Rental Income" data-spanish="Ingresos de alquiler">Rental Income</option>
                    <option value="Per Capita" data-spanish="Para Capita">Per Capita</option>
                </select>
            </div>
            <div class="small-12 medium-6 columns">
                <label data-spanish="Cantidad mensual">Amount (Monthly)</label>
                <input type="text" name="other_income_amount">
            </div>
        </div>
    </div>

    <br>
    {% include 'dealer.applications._app-nav-buttons' %}
  </div>

</form>
</section>
{% endif %}
