{% if not remoteData.coAppRemote %}
<section class="coapplicant-step" id="eight" style="display: none">
{% else %}
  <section class="step" id="eight">
{% endif %}
    <div class="row">
        <div class="small-10 small-offset-1 columns">
            <form action="{{ submitFormUrl }}" method="post" class="ajax-form space-saving">
                <input type="hidden" name="step" value="eight">
                <input type="hidden" name="sessionKey" value="{{sessionKey}}">
              <h2 class="text-center" data-spanish="Dirección física del solicitante de Co">Coapplicant Physical Address</h2>
              <hr>
              <p class="text-center"><em data-spanish="Por favor ingrese su dirección física, no P.O. Caja">Please enter your physical address, no P.O. Box</em></p>

              <label data-spanish=""><input type="checkbox" id="copy_address" name="copy_address" value="0"><span data-spanish="Mi dirección es la misma es el solicitante principal">My address is different than the primary applicant</span></label>
              <br><br>

              <div id="different_coapp_address" style="display: none">
                <div class="row">
                  <div class="small-12 columns">
                    <label for="address" class="req" data-spanish="Dirección*:">Street Address*:</label>
                    <input name="coAddress" id="coAddress" value="" type="text">
                  </div>
                </div>

                <div class="row">
                  <div class="small-12 columns">
                    <label for="coAddressTwo" data-spanish="Dirección Línea Dos:">Address Line Two:</label>
                    <input name="coAddressTwo" id="coAddressTwo" value="" type="text">
                  </div>
                </div>


                <div class="row">
                  <div class="small-6 columns">
                    <label for="coCity" class="req" data-spanish="Ciudad*:">City*:</label>
                    <input name="coCity" id="coCity" value="" type="text">
                  </div>

                  <div class="small-2 columns">
                    <label for="coState" class="req" data-spanish="Estado*:">State*:</label>
                    <select name="coState" id="coState" class="needsclick">
                        <option value="" selected="selected" data-spanish="Escoger...">Choose...</option>
                        {% for state in states %}
                            <option value="{{ state }}">{{ state }}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="small-4 columns">
                    <label for="coZip" class="req" data-spanish="Código postal">Zip Code*:</label>
                    <input name="coZip" value="" id="coZip" class="zip" type="text">
                  </div>
                </div>
              </div>
        <br>
        <div class="row">
            <div class="small-12 medium-8 medium-offset-2">
              <h4 class="small-text-center" data-spanish="Teléfono de casa">Home Phone</h4>
              <input name="coHomePhone" id="coHomePhone" value="" type="text">
            </div>
        </div>

        <div class="row">
            <div class="small-12 medium-8 medium-offset-2">
              <h4 class="small-text-center" data-spanish="Teléfono móvil">Cell Phone</h4>
              <input name="coCellPhone" id="coCellPhone" value="" type="text">
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-8 medium-offset-2">
              <h4 class="small-text-center" data-spanish="">Email</h4>
              <input name="coEmail" id="coEmail" value="{{ remoteData.email }}" type="text">
            </div>
        </div>

        <br>

        <div class="row" id="coappMortgage">
          <div class="small-12 medium-8 columns medium-offset-2">
            <h4 class="text-center" data-spanish="Monto mensual de alquiler o hipoteca*">Monthly Rent / Mortgage Amount*</h4>
            <input id="coRefLandlordMonthlyPayment" name="coRefLandlordMonthlyPayment" value="" type="text">
          </div>
        </div>
        <br>

        <section id="mailing_address">
            <div class="row">
                <div class="small-10 small-offset-1 columns">
                    <br>
                    <p><input type="checkbox" name="co_mailing_address_different" id="co_mailing_address_different"> <label for="co_mailing_address_different" data-spanish="Marque aquí si su dirección postal es diferente a la de su domicilio">Check here if your mailing address is <em>different</em> than your home address</label></p>
                    <div id="co_show_mailing_address" style="display: none">
                    <h3 data-spanish="Dirección postal si es diferente">Mailing Address (If different)</h3>

                    <div class="row">
                        <div class="small-12 columns">
                          <label for="co_mailing_address" class="req" data-spanish="Dirección*:">Street Address*:</label>
                          <input name="co_mailing_address" id="co_mailing_address" value="" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                          <label for="co_mailing_address_two" data-spanish="Dirección Línea Dos:">Address Line Two:</label>
                          <input name="co_mailing_address_two" id="co_mailing_address_two" value="" type="text">
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-6 columns">
                            <label for="co_mailing_city" class="req" data-spanish="Ciudad*:">City*:</label>
                            <input name="co_mailing_city" id="co_mailing_city" value="" type="text">
                        </div>
                        <div class="small-2 columns">
                            <label for="co_mailing_state" class="req" data-spanish="Estado*:">State*:</label>
                            <select name="co_mailing_state" id="co_mailing_state" class="needsclick">
                                {% for state in states %}
                                    <option value="{{ state }}">{{ state }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="small-4 columns">
                            <label for="co_mailing_zip" class="req" data-spanish="Código postal*:">Zip Code*:</label>
                            <input name="co_mailing_zip" value="" id="co_mailing_zip" class="zip" type="text">
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </section>
        <br>

            {% include 'dealer.applications._app-nav-buttons' %}
            </form>
        </div>
    </div>
</section>
