{% if not remoteData.coAppRemote %}
<section class="step" id="two">
	<div class="row">
		<div class="small-10 small-offset-1 columns">
			<form action="{{ submitFormUrl }}" method="post" class="ajax-form space-saving">
				<input type="hidden" name="step" value="two">
				<input type="hidden" name="sessionKey" value="{{sessionKey}}">
				<br><br>
				{# if remote coapp was filled in by dealer, only show the email #}
				{% if remoteData and remoteData.coEmail %}
					<div class="small-12 medium-8 medium-offset-2 text-center"><h3 data-spanish="Una vez que haya terminado, le enviaremos un correo electrónico al coaplicante a {{remoteData.coEmail}} para completar la aplicación.">After you're finished, we will email the coapplicant at {{ remoteData.coEmail }} to complete the application.</h3></div>
					<div class="small-12 medium-8 medium-offset-2 text-center"><em data-spanish="Si no desea un aplicante o necesita enviarlo a un correo electrónico diferente, llame al representante de su concesionario y pídales que vuelvan a enviar la solicitud.">If you don't want a coapplicant or need to send it to a different email, please call your dealer representative and have them resend the application.</em></div>
					<div style="display: none">
						<select name="coapplicant" id="coapplicant" class="needsclick">
							<option value="Yes" selected="selected" data-spanish="Sí">Yes</option>
						</select>
					</div>

					<div class="small-12 medium-6 medium-offset-3 small-text-center pad-m" id="coapplicant_spouse_question">
						<h3 data-spanish="¿Es el coaplicante tu cónyuge?">Is the coapplicant your spouse?</h3>
						<select name="coRelation" id="coRelation" class="needsclick">
							<option value="spouse" selected="selected" data-spanish="Sí">Yes</option>
							<option value="other" data-spanish="Otro">No (other)</option>
						</select>
					</div>
				{% else %}
					<div class="small-12 medium-12 text-center"><h3 data-spanish="¿Habrá un coaplicante?">Will there be a coapplicant?</h3></div>
					
					<div class="small-12 medium-6 medium-offset-3 small-text-center pad-m">
						<select name="coapplicant" id="coapplicant" class="needsclick">
							<option selected="selected" value="No">No</option>
							<option value="Yes" data-spanish="Sí">Yes</option>
						</select>
					</div>
					<div class="small-12 medium-6 medium-offset-3 small-text-center pad-m" id="coapplicant_spouse_question" style="display: none">
						<h3 data-spanish="¿Es el coaplicante tu cónyuge?">Is the coapplicant your spouse?</h3>
						<select name="coRelation" id="coRelation" class="needsclick">
							<option value="spouse" selected="selected" data-spanish="Sí">Yes</option>
							<option value="other" data-spanish="Otro">No (other)</option>
						</select>
					</div>
				{% endif %}

				<br><br>

				{% include 'dealer.applications._app-nav-buttons' %}
			</form>
		</div>
	</div>
</section>
{% endif %}
