<section class="step" id="seven">
  <form action="{{ submitFormUrl }}" method="post" class="ajax-form space-saving">
    <input type="hidden" name="step" value="seven">
    <input type="hidden" name="sessionKey" value="{{sessionKey}}">
<div class="row">
  <div class="small-10 small-offset-1 columns">
    <br>
    <h1>Primary Applicant References</h1>
    <hr>
      <div role="main" class="ui-content">
        <div class="ui-block-a">
          <div class="ui-body ui-body-d">
            <h3>Landlord or Mortgage Holder</h3>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <label for="refLandlordName">Name:</label>
            <input name="refLandlordName" id="refLandlordName" value="" type="text">
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <label for="refLandlordAddress">Street Address:</label>
            <input name="refLandlordAdress" value="" type="text" class="address">
          </div>
        </div>

        <div class="row">
          <div class="small-5 columns">
            <label for="refLandlordCity">City:</label>
            <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"><input name="refLandlordCity" id="refLandlordCity" value="" type="text"></div>
          </div>
          <div class="small-2 columns">
            <label for="refLandlordState">State:</label>
            <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"><input name="refLandlordState" id="refLandlordState" value="" type="text"></div>
          </div>
          <div class="small-5 columns">
            <label for="refLandlordZip">Zip Code:</label>
            <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"><input name="refLandlordZip" id="refLandlordZip" value="" class="zip" type="text"></div>
          </div>
        </div>
      </div>

      <br>
      <div class="ui-block-a">
        <div class="ui-body ui-body-d">
          <label for="number-pattern">Property Value:</label>
          <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"><input name="refPropertyValue" id="number-pattern" value="" type="text" class="largeamount"></div>
        </div>
      </div>
      <div class="ui-block-b">
        <div class="ui-body ui-body-d">
          <label for="number-pattern">Account Number:</label>
          <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"><input name="refAccountNumber" id="number-pattern" value="" type="text"></div>
        </div>
      </div>
      <div class="ui-block-a">
        <div class="ui-body ui-body-d">
          <label for="tel">Phone Number:</label>
          <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"><input name="refLandlordPhone" id="tel" value="" type="tel"></div>
        </div>
      </div>

      <div class="row">
        <div class="small-6 columns">
          <label for="refLandlordMonthlyPayment" class="req">Monthly Payment*:</label>
          <input name="refLandlordMonthlyPayment" id="refLandlordMonthlyPayment" value="" type="text" class="payment">
        </div>
        <div class="small-6 columns">
          <label for="refLandlordPresBalance">Present Balance:</label>
          <input name="refLandlordPresBalance" id="refLandlordPresBalance" value="" type="text" class="thousands">
        </div>
      </div>

      <!-- <br>
      <h3>First Credit Reference</h3>

          <label for="credrefOneName">Credit Reference Name:</label>
          <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"><input name="credrefOneName" id="credrefOneName" value="" type="text"></div>


          <label for="text-basic">Street Address:</label>
          <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"><input name="credrefOneStreetAdress" id="text-basic" value="" type="text" class="address"></div>
        <div class="row">
          <div class="small-5 columns">
            <label for="text-basic">City:</label>
            <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"><input name="credrefOneCity" id="text-basic" value="" type="text"></div>
          </div>
          <div class="small-2 columns">
            <label for="text-basic">State:</label>
            <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"><input name="credrefOneState" id="text-basic" value="" type="text"></div>
          </div>
          <div class="small-5 columns">
            <label for="number-pattern">Zip Code:</label>
            <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"><input name="credrefOneZip" id="number-pattern" value="" class="zip" type="text"></div>
          </div>
        </div>

          <label for="number-pattern">Account Number:</label>
          <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"><input name="credrefOneAccount" id="number-pattern" value="" type="text"></div>

      <div class="ui-block-a">
        <div class="ui-body ui-body-d">
          <label for="tel">Phone Number:</label>
          <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"><input name="credrefOnePhone" id="tel" value="" type="tel"></div>
        </div>
      </div>

      <div class="row">
        <div class="small-6 columns">
          <label for="number-pattern">Monthly Payment:</label>
          <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"><input name="credrefOneMonthlyPayment" id="number-pattern" value="" type="text" class="payment"></div>
        </div>
        <div class="small-6 columns">
          <label for="number-pattern">Present Balance:</label>
          <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"><input name="credrefOneMonthlyPresBalance" id="number-pattern" value="" type="number"></div>
        </div>
      </div>
      <br>
      <h3>Second Credit Reference</h3>

          <label for="text-basic">Credit Reference Name:</label>
          <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"><input name="credrefTwoName" id="text-basic" value="" class="fullname" type="text"></div>

          <label for="text-basic">Street Address:</label>
          <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"><input name="credrefTwoStreetAdress" id="text-basic" value="" class="address" type="text"></div>
        <div class="row">
          <div class="small-5 columns">
            <label for="text-basic">City:</label>
            <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"><input name="credrefTwoCity" id="text-basic" value="" class="city" type="text"></div>
          </div>
          <div class="small-2 columns">
            <label for="text-basic">State:</label>
            <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"><input name="credrefTwoState" id="text-basic" value="" class="state" type="text"></div>
          </div>
          <div class="small-5 columns">
            <label for="number-pattern">Zip Code:</label>
            <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"><input name="credrefTwoZip" id="number-pattern" value="" class="zip" type="text"></div>
          </div>
        </div>


          <label for="number-pattern">Account Number:</label>
          <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"><input name="credrefTwoAccount" id="number-pattern" value="" class="longnumber" type="number"></div>

          <label for="tel">Phone Number:</label>
          <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"><input name="credrefTwoPhone" id="tel" value="" type="tel"></div>
        <div class="row">
          <div class="small-6 columns">
            <label for="number-pattern">Monthly Payment:</label>
            <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"><input name="credrefTwoMonthlyPayment" id="number-pattern" value="" class="payment" type="text"></div>
          </div>
          <div class="small-6 columns">
            <label for="number-pattern">Present Balance:</label>
            <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"><input name="credrefTwoMonthlyPresBalance" id="number-pattern" value="" class="thousands" type="text"></div>
          </div>
        </div> -->

        <br>
        <h3>Applicant Credit Questions</h3>
        <em>Leave unchecked for 'No', check for 'Yes'</em>
        <br><br>
        <div class="row pad-s">
          <div class="small-12 columns">
            <label>Do you have an open checking account? &nbsp;&nbsp;<input name="buyerCheckingAccount" type="checkbox" value="Y"></label>
          </div>
        </div>
        <div class="row pad-s">
          <div class="small-12 columns">
            <label>Do you have at least two credit cards with available credit &amp; a limit > $1000? &nbsp;&nbsp;<input name="buyerCreditCards" type="checkbox" value="Y"></label>
          </div>
        </div>
        <div class="row pad-s">
          <div class="small-12 columns">
            <label>Do you have an open or paid auto loan within the last two years? &nbsp;&nbsp;<input name="buyerAutoLoan" type="checkbox" value="Y"></label>
          </div>
        </div>
        <div class="row pad-s">
          <div class="small-12 columns">
            <label>Do you have at least two credit references? &nbsp;&nbsp;<input name="buyerCreditReferences" type="checkbox" value="Y"></label>
          </div>
        </div>
        <!-- <input name="buyerCheckingAccountNum" id="buyerCheckingAccountNum" value="" class="longnumber" type="text">
        <div class="row">
          <div class="small-6 columns">
            <label for="buyerCheckingBank">Bank Name</label>
            <input name="buyerCheckingBank" id="buyerCheckingBank" value="organization" type="text">
          </div>
          <div class="small-6 columns">
            <label for="buyerCheckingBankCity">Bank City</label>
            <input name="buyerCheckingBankCity" id="buyerCheckingBankCity" value="" class="city" type="text">
          </div>
        </div> -->
        <!-- <label><strong>Savings Account?</strong> &nbsp;&nbsp;<input name="buyerSavingsAccount" type="checkbox" value="Yes"></label>

        <label for="buyerSavingsAccountNum">Account Number</label>
        <input name="buyerSavingsAccountNum" id="buyerSavingsAccountNum" value="" class="longnumber" type="text">
        <div class="row">
          <div class="small-6 columns">
            <label for="buyerSavingsBank">Bank Name</label>
            <input name="buyerSavingsBank" id="buyerSavingsBank" value="" type="text">
          </div>
          <div class="small-6 columns">
            <label for="buyerSavingsBankCity">Bank Name</label>
            <input name="buyerSavingsBankCity" id="buyerSavingsBankCity" value="" type="text">
          </div>
        </div> -->
        <div class="row pad-s">
          <div class="small-12 columns">
            <label>Have you declared bankruptcy in the past 7 years? &nbsp;&nbsp;<input name="declaredBankruptcy" type="checkbox" value="Yes"></label>
          </div>
        </div>
        <p>If you have declared bankruptcy in the past 7 years, enter the year and city of state of bankruptcy filing</p>

        <div class="row">
          <div class="small-6 columns">
            <label for="yearofBankruptcy">Year</label>
            <input name="yearofBankruptcy" id="yearofBankruptcy" value="" class="year" type="text">
          </div>
          <div class="small-6 columns">
            <label for="cityStateOfBankruptcy">City / State</label>
            <input name="cityStateOfBankruptcy" id="cityStateOfBankruptcy" value="" type="text">
          </div>
        </div>

        <br>
        <!-- <h3>Personal References</h3>
        <div class="row">
          <div class="small-4 columns">
            <label for="personalRefOneName">Name:</label>
            <input name="personalRefOneName" id="personalRefOneName" value="" type="text">
          </div>
          <div class="small-4 columns">
            <label for="personalRefOnePhone">Phone:</label>
            <input name="personalRefOnePhone" id="personalRefOnePhone" value="" type="tel">
          </div>
          <div class="small-4 columns">
            <label for="personalRefOneRelationship">Relationship:</label>
            <input name="personalRefOneRelationship" id="personalRefOneRelationship" value="" class="shorttext" type="text">
          </div>
        </div>
        <div class="row">
          <div class="small-4 columns">
            <label for="personalRefTwoName">Name:</label>
            <input name="personalRefTwoName" id="personalRefTwoName" value="" type="text">
          </div>
          <div class="small-4 columns">
            <label for="personalRefTwoPhone">Phone:</label>
            <input name="personalRefTwoPhone" id="personalRefTwoPhone" value="" type="tel">
          </div>
          <div class="small-4 columns">
            <label for="personalRefTwoRelationship">Relationship:</label>
            <input name="personalRefTwoRelationship" id="personalRefTwoRelationship"  class="shorttext" value="" type="text">
          </div>
        </div> -->
        {% include 'dealer.applications._app-nav-buttons' %}
      </form>
      </section>
