{% if not remoteData.coAppRemote %}
<section class="coapplicant-step" id="nine" style="display: none">
{% else %}
  <section class="step" id="nine">
{% endif %}
  <form action="{{ submitFormUrl }}" method="post" class="ajax-form space-saving">
    <input type="hidden" name="step" value="nine">
    <input type="hidden" name="sessionKey" value="{{sessionKey}}">
<div class="row">
  <div class="small-10 small-offset-1 columns">
    <h2 class="text-center" data-spanish="Empleador del Co-solicitante">Coapplicant's Employer</h2>
    <hr>

    <div class="row">
        <div class="small-12 medium-6 medium-offset-3 columns text-center pad-m">
            <h4 class="text-center" data-spanish="¿Estás jubilado?">Are you retired?</h4>
            <select name="co_is_retired" id="co_is_retired" class="needsclick">
                <option data-spanish="Escoger...">Choose...</option>
                <option value="No" >No</option>
                <option value="Yes" data-spanish="Sí">Yes</option>
            </select>
        </div>
    </div>

    <section id="co_employed-section" style="display: none;">
        <div class="row">
            <div class="small-12 columns">
            <label for="coEmployer" class="req" data-spanish="Nombre del empleador*:">Employer Name*:</label>
            <input name="coEmployer" id="coEmployer" value="" type="text">
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <label for="coJobTitle" class="req" data-spanish="Posición*">Position*:</label>
                <input name="coJobTitle" id="coJobTitle" value="" type="text" class="shorttext">
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <label for="coEmployerPhone" class="req" data-spanish="Teléfono del empleador*">Employer Phone*</label>
                <input name="coEmployerPhone" id="coEmployerPhone" value="" type="text">
            </div>
        </div>

      <div class="row pad-s">
        <div class="small-12 medium-8 medium-offset-2">
          <h4 class="text-center" data-spanish="Años empleados aquí">Years Employed Here*</h4>
            <div class="row">
                <div class="small-12 medium-4 medium-offset-2 columns">
                    <label for="coYrsEmployed" data-spanish="Años*:">Yrs*:</label>
                    <input name="coYrsEmployed" id="coYrsEmployed" value=""  type="number">
                </div>
                <div class="small-12 medium-4 left columns">
                    <label for="coMonthsEmployed" data-spanish="Meses:">Mos:</label>
                    <input name="coMonthsEmployed" id="coMonthsEmployed" value=""  type="number">
                </div>
            </div>
        </div>
    </div>
</section>

    <div class="small-12 medium-8 medium-offset-2">
        <br>
        <h4 class="text-center" data-spanish="Ingreso mensual">Monthly Income*</h4>
        <p class="text-center"><em data-spanish="(Se le puede pedir que proporcione pruebas)">(You may be asked to provide proof)</em></p>
         <div class="row">
            <div class="small-12 medium-6 medium-offset-3 columns">
                <input name="coMonthlyGrossPay" id="coMonthlyGrossPay" value="" class="thousands" type="text">
            </div>
        </div>
    </div>

    <div class="small-12">
        <br>
        <h4 class="text-center" data-spanish="Otra fuente de ingresos">Other Source of Income</h4>
        <p class="text-center"><em data-spanish="Si desea enumerar una fuente adicional de ingresos para su consideración, hágalo aquí">If you would like to list an additional source of income for consideration, do so here</em></p>
         <div class="row">
            <div class="small-12 medium-6 columns">
                <label data-spanish="Fuente de ingresos">Income Source</label>
                <select name="co_other_income_source">
                    <option value="" data-spanish="Ninguna">None</option>
                    <option value="Job" data-spanish="Otro trabajo">Another job</option>
                    <option value="Self Employed" data-spanish="Trabajadores por cuenta propia">Self Employed</option>
                    <option value="Social Security" data-spanish="Seguridad Social">Social Security</option>
                    <option value="Pension" data-spanish="Pensión">Pension</option>
                    <option value="Retirement" data-spanish="Jubilación">Retirement</option>
                    <option value="Military" data-spanish="Militar">Military</option>
                    <option value="Disability" data-spanish="Discapacidad">Disability</option>
                    <option value="Veteran" data-spanish="Veterano">Veteran</option>
                    <option value="Interest Income" data-spanish="Ingresos por intereses">Interest Income</option>
                    <option value="Rental Income" data-spanish="Ingresos de alquiler">Rental Income</option>
                    <option value="Per Capita" data-spanish="Para Capita">Per Capita</option>
                </select>
            </div>
            <div class="small-12 medium-6 columns">
                <label data-spanish="">Amount (Monthly)</label>
                <input type="text" name="co_other_income_amount">
            </div>
        </div>
    </div>

     <br>
    {% include 'dealer.applications._app-nav-buttons' %}
  </div>

 
</form>
</section>
