{% if not remoteData.coAppRemote %}
<section class="step" id="five">
    <div class="row">
        <div class="small-10 small-offset-1 columns">
            <form action="{{ submitFormUrl }}" method="post" class="ajax-form space-saving">
                <input type="hidden" name="step" value="five">
                <input type="hidden" name="sessionKey" value="{{sessionKey}}">
              <h2 class="text-center" data-spanish="Dirección física">Physical Address</h2>
              <hr>
              <p class="text-center"><em data-spanish="Por favor ingrese su dirección física, no P.O. Caja">Please enter your physical address, no P.O. Box</em></p>

              <div class="row">
                <div class="small-12 columns">
                  <label for="address" class="req" data-spanish="Dirección*:">Street Address*:</label>
                  <input name="address" id="address" value="" type="text">
                </div>
              </div>

              <div class="row">
                <div class="small-12 columns">
                  <label for="addressTwo" data-spanish="Dirección Línea Dos:">Address Line Two:</label>
                  <input name="addressTwo" id="addressTwo" value="" type="text">
                </div>
              </div>


              <div class="row">
                <div class="small-6 columns">
                  <label for="city" class="req" data-spanish="Ciudad*:">City*:</label>
                  <input name="city" id="city" value="" type="text">
                </div>
                <div class="small-2 columns">
                  <label for="text-basic" class="req" data-spanish="Estado*:">State*:</label>
                  <select name="state" id="state" class="needsclick">
                      {% for state in states %}
                          <option value="{{ state }}">{{ state }}</option>
                      {% endfor %}
                  </select>
                </div>
                <div class="small-4 columns">
                  <label for="zip" class="req" data-spanish="Código postal*:">Zip Code*:</label>
                  <input name="zip" value="" id="zip" class="zip" type="text">
                </div>
              </div>
        <br>
        <div class="row">
            <div class="small-12 medium-8 medium-offset-2">
              <h4 class="small-text-center" data-spanish="Teléfono de casa">Home Phone</h4>
              <input name="homePhone" id="homePhone" value="" type="text">
            </div>
        </div>

        <div class="row">
            <div class="small-12 medium-8 medium-offset-2">
              <h4 class="small-text-center" data-spanish="Teléfono móvil">Cell Phone</h4>
              <input name="cellPhone" id="cellPhone" value="" type="text">
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-8 medium-offset-2">
              <h4 class="small-text-center">Email</h4>
              <input name="email" id="email" value="{{ remoteData.email }}" type="text">
            </div>
        </div>

        <br>

        <section id="mailing_address_section">
            <div class="row">
                <div class="small-10 small-offset-1 columns">
                    <br>
                    <p><input type="checkbox" name="mailing_address_different" id="mailing_address_different"> <label for="mailing_address_different" data-spanish="Marque aquí si su dirección postal es diferente a la de su domicilio">Check here if your mailing address is <em>different</em> than your home address</label></p>
                  <div id="show_mailing_address" style="display: none">
                    <h3 data-spanish="Dirección postal si es diferente">Mailing Address (If different)</h3>

                    <div class="row">
                        <div class="small-12 columns">
                          <label for="mailing_address" class="req" data-spanish="Dirección*:">Street Address*:</label>
                          <input name="mailing_address" id="mailing_address" value="" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                          <label for="addressTwo" data-spanish="Dirección Línea Dos:">Address Line Two:</label>
                          <input name="mailing_address_two" id="mailing_address_two" value="" type="text">
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-6 columns">
                            <label for="city" class="req" data-spanish="Ciudad*:">City*:</label>
                            <input name="mailing_city" id="mailing_city" value="" type="text">
                        </div>
                        <div class="small-2 columns">
                            <label for="text-basic" class="req" data-spanish="Estado*:">State*:</label>
                            <select name="mailing_state" id="mailing_state" class="needsclick">
                                {% for state in states %}
                                    <option value="{{ state }}">{{ state }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="small-4 columns">
                            <label for="mailing_zip" class="req" data-spanish="Estado*:">Zip Code*:</label>
                            <input name="mailing_zip" value="" id="mailing_zip" class="zip" type="text">
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </section>
        <br>

            {% include 'dealer.applications._app-nav-buttons' %}
            </form>
        </div>
    </div>
</section>
{% endif %}
