{% if not remoteData.coAppRemote %}
<section class="step" id="ten">
  <form action="{{ submitFormUrl }}" method="post" class="ajax-form space-saving">
    <input type="hidden" name="step" value="ten">
    <input type="hidden" name="sessionKey" value="{{sessionKey}}">
<div class="row">
  <div class="small-10 small-offset-1 columns">
    <h2 class="text-center" data-spanish="Referencias del solicitante">Applicant References</h2>
    <hr>
    <p class="text-center"><em data-spanish="Necesitamos una referencia para el solicitante principal">We need one reference for the primary applicant.</em></p>

    <div class="small-12">
        <br>
         <div class="row">
            <div class="small-12 medium-6 medium-offset-3 columns">
                <p class="text-center"><em data-spanish="Elija la relación de referencia con usted">Choose the reference's relation to you</em></p>
                <select name="personalRefOneRelationship" class="needsclick">
                    <option value="" data-spanish="Escoger...">Choose...</option>
                    <option value="Spouse" data-spanish="Esposa">Spouse</option>
                    <option value="Child" data-spanish="Niño">Child</option>
                    <option value="Parent" data-spanish="Padre">Parent</option>
                    <option value="Grandparent" data-spanish="Abuelo">Grandparent</option>
                    <option value="Aunt / Uncle" data-spanish="Tía o tío">Aunt / Uncle</option>
                    <option value="Other Relative" data-spanish="Otro pariente">Other Relative</option>
                    <option value="Coworker" data-spanish="Compañero de trabajo">Coworker</option>
                    <option value="Friend" data-spanish="Amigo">Friend</option>
                    <option value="Other" data-spanish="Otro">Other</option>
                </select>
            </div>
        </div>
    </div>

    <div class="small-12">
        <h4 class="text-center" data-spanish="Nombre de referencia">Reference Name</h4>
        <input type="text" name="personalRefOneName">
    </div>

    <div class="small-12">
        <h4 class="text-center" data-spanish="Número de teléfono de referencia">Reference Phone Number</h4>
        <input type="text" name="personalRefOnePhone" id="personalRefOnePhone">
    </div>

    <br>
      {% include 'dealer.applications._app-nav-buttons' %}

  </div>

  <br>
</form>
</section>
{% endif %}