<section class="step" id="eleven">
  <form action="{{ submitFormUrl }}" method="post" class="ajax-form space-saving">
    <input type="hidden" name="step" value="final">
    <input type="hidden" name="sessionKey" value="{{sessionKey}}">
<div class="row">
  <div class="small-10 small-offset-1 columns text-center">

    {# show a different statement for remote signers #}
    {% if remoteData.coEmail %}
      <h2 class="text-center" data-spanish="¡Su parte de la aplicación está completa!">Your part of the application is complete!</h2>
      <br><br>
      <p class="text-center" data-spanish="¡Genial, has terminado tus secciones de la aplicación!">Great, you've finished your sections of the application!</p>
      <br>
      <p class="text-center" data-spanish="Haga clic en el botón a continuación para enviar esto a su coapplicant para completar su información y comenzar a firmar el acuerdo para recuperar su crédito.">Click the button below to send this to your coapplicant to complete their information and start signing the agreement to run credit.</p>
      <br>
      <a class="button" href="/sign/complete?token={{ remoteApp }}" data-spanish="Guardar y enviar">Save &amp; Send</a>
    {% else %}
    <h2 class="text-center" data-spanish="Aplicación completa">Application Complete!</h2>
    <hr>
    <br><br>
    <div class="text-center">
      <p id="creditAgreementText">
        <span class="customerName"></span><span class="coCustomerName"></span> has / have initiated a credit transaction with our company and has requested that a credit report be obtained for the purposes of that credit transaction.
        I confirm that I have been authorized by {{ user.company.company_name }} and or <span class="customerName"></span><span class="coCustomerName"></span> to enter and submit the customer's information,
        and I acknowledge that I have knowledge of the customer's affirmative request for Belmont Finance, LLC to obtain a credit report.
      </p>
    </div>
    <br>
    <div class="text-center">
      <input type="checkbox" name="agree_credit" id="agree_credit"> <label for="agree_credit">I have read and agree with the above statement</label>
    </div>

    <div class="text-center">
        {% if remoteApp %}
          <a class="button" id="signApplication" href="/sign/complete?token={{ remoteApp }}" data-spanish="Enviar">Submit</a>
        {% else %}
          <a class="button" id="signApplication" href="/apps/submit-app?ses={{ sessionKey }}" data-spanish="Enviar">Submit</a>
        {% endif %}
    </div>
    {% endif %}
  </div>

  <br>
</form>
</section>
