<section class="step" id="nine">

  <form action="{{ submitFormUrl }}" method="post" class="ajax-form space-saving">
    <input type="hidden" name="step" id="step" value="nine">
    <input type="hidden" name="sessionKey" value="{{sessionKey}}">

    <h3 class="small-text-center">AUTHORIZATION AGREEMENT FOR DIRECT PAYMENT (ACH DEBITS)</h3>
    <p>I (we) hereby authorize Belmont Finance LLC, hereinafter called COMPANY, to initiate debit entries to my (our) (select one) &nbsp;&nbsp;  <input type="radio" name="ach_account_type" id="ach_account_type" value="checking" id="ach_checking" checked="checked"> <label for="ach_checking">Checking Account:</label>  <input type="radio" id="ach_savings" name="ach_account_type" id="ach_account_type" value="savings"> <label for="ach_savings">Savings Account:</label>
    indicated below at the depository financial institution named below, herinafter called DEPOSITORY, and to debit the same to such account. I (we) acknowledge that the origination of ACH transactions to my (our) account must comply with the provisions of U.S. law.</p>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <label for="ach_bank_name">
          Bank Name:</label>

          <input name="ach_bank_name" id="ach_bank_name" type="text">
      </div>
      <div class="small-12 medium-6 columns">
        <label for="ach_branch_name">
          Branch:</label>

          <input name="ach_branch_name" id="ach_branch_name" type="text">
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 columns">
        <label for="ach_bank_city">Bank City:</label>
          <input name="ach_bank_city" id="ach_bank_city" type="text">
      </div>
      <div class="small-12 medium-3 columns">
        <label for="ach_bank_state">State:</label>

          <input name="ach_bank_state" id="ach_bank_state" type="text">
      </div>
      <div class="small-12 medium-3 columns">
        <label for="ach_bank_zip">Zip:</label>
          <input name="ach_bank_zip" id="ach_bank_zip" type="text">
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <label for="ach_bank_routing">Routing Number:</label>
          <input name="ach_bank_routing" id="ach_bank_routing" type="text">
      </div>
      <div class="small-12 medium-6 columns">
        <label for="ach_bank_account">Account Number:</label>
        <input name="ach_bank_account" id="ach_bank_account" type="text">
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <label for="ach_day">Monthly Withdrawal Day</label>
        <select name="ach_day" id="ach_day">
          <option value="">Choose...</option>
          {% for i in 1..28 %}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="small-12 medium-6 columns">
        <label for="ach_amount">Amount</label>
        <input name="ach_amount" id="ach_amount" type="number">
      </div>
    </div>

  <div class="row">
    <a href="#seven" class="button outline back">Back</a>
    <button class="button outline right">Submit Application</button>
  </div>

</form>
</section>
