{% if not remoteData.coAppRemote %}
<section class="step" id="four">
  <form action="{{ submitFormUrl }}" method="post" class="ajax-form space-saving">
    <div class="row">
      <div class="small-10 small-offset-1 columns">
        <h2 class="text-center" data-spanish="Información del Aplicante">Applicant Information</h2>
        <hr>

        <h4 class="text-center" data-spanish="Nombre y fecha de nacimiento">Name &amp; Birthdate</h4>
        <input type="hidden" name="step" value="four">
        <input type="hidden" name="sessionKey" value="{{sessionKey}}">
        <div class="row">
          <div class="small-12 medium-5 columns">
            <label for="firstName" class="req" data-spanish="Nombre de pila*:">First Name*:</label>
            <input name="firstName" id="firstName" value="" type="text">
          </div>
          <div class="small-12 medium-2 columns">
            <label for="initial" style="font-size: 0.6em;" data-spanish="Inicial del segundo nombre">Mid Initial:</label>
            <input name="initial" id="initial" value="" type="text">
          </div>
          <div class="small-12 medium-5 columns">
            <label for="lastName" class="req" data-spanish="Apellido*:">Last Name*:</label>
            <input name="lastName" id="lastName" value="" type="text">
          </div>
        </div>
        <div class="row pad-m">
          <div class="small-12 medium-6 columns medium-offset-3">
            <label for="birthDate" class="req" data-spanish="Fecha de nacimiento (MM/DD/YYYY)*:">Birthdate (MM/DD/YYYY)*:</label>
            <input name="birthdate" id="birthDate" value="" type="text">
          </div>
        </div>

        <div class="row pad-m">
          <div class="small-12 medium-8 columns medium-offset-2">
            <h4 class="text-center">SSN*</h4>
            <input id="ssn" name="ssn" value="" type="text">
          </div>
        </div>

        <div>
          <div class="small-12 medium-8 columns medium-offset-2">
            <h4 class="text-center" data-spanish="¿Es dueño o alquila su casa?">Do you own or rent your home?*</h4>
            <select name="residenceType" id="residenceType" class="needsclick">
              <option data-spanish="Elige uno">Choose One</option>
              <option value="Own" data-spanish="Propio">Own</option>
              <option value="Rent" data-spanish="Alquiler">Rent</option>
              <option value="Mobile" data-spanish="Móvil">Mobile</option>
              <option value="Other" data-spanish="Otro">Other</option>
            </select>
          </div>
        </div>

        <div class="row" id="otherHome" style="display: none">
          <div class="small-12 medium-8 columns medium-offset-2">
            <h4 class="text-center" data-spanish="Describe tu situación de vida*">Describe your living situation*</h4>
            <input type="text" name="residenceStatus">
          </div>
        </div>

        <div class="row">
          <div class="small-12 medium-8 columns medium-offset-2">
            <h4 class="text-center" data-spanish="Monto mensual de alquiler o hipoteca:*">Monthly Rent / Mortgage Amount*</h4>
            <input id="refLandlordMonthlyPayment" name="refLandlordMonthlyPayment" value="" type="text">
          </div>
        </div>

        <div class="row pad-m">
          <div class="small-12 medium-8 columns medium-offset-2">
            <h4 class="text-center" data-spanish="¿Cuánto tiempo has vivido en tu hogar actual?*">How long have you lived in your current home?*</h4>
            <div class="row">
              <div class="small-6 medium-4 medium-offset-2 columns">
                <label for="yrsAtAddress" class="req" data-spanish="Años:*">Yrs*:</label>
                <input id="yrsAtAddress" name="yrsAtAddress" value="" type="text">
              </div>
              <div class="small-6 medium-4 columns left">
                <label for="monthsAtAddress" class="req" data-spanish="Meses:">Mos:</label>
                <input id="monthsAtAddress" name="monthsAtAddress" value="" type="text">
              </div>
            </div>
          </div>
        </div>
        {% include 'dealer.applications._app-nav-buttons' %}

        </div>
      </div>
  </form>
</section>
{% endif %}