{% extends 'dealer/_focus' %}
{% set states = [
    "AK","AL","AZ","AR","CA","CO","CT","DE","FL","GA","HI","ID","IL","IN","IA","KS","KY","LA","ME","MD","MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ","NM","NY","NC","ND","OH","OK","OR","PA","RI","SC","SD","TN","TX","UT","VT","VA","WA","WV","WI","WY"
] %}

{% block pagetitle %}

{% endblock %}

{% block content %}
<input type="hidden" name="sessionKey" value="{{sessionKey}}">
	<div class="small-12">
		<!-- progress bar -->
		<div class="row">
			<div class="small-10 small-offset-1 medium-10 medium-offset-1" id="progressSteps">
				<a id="backTop" class="back circle"><i class="fi-arrow-left"></i></a>
				<div class="small progress success round">
				  <span class="meter" id="progressBar" style="width: 12.5%"></span>
				</div>
				<a id="forwardTop" class="next circle"><i class="fi-arrow-right" {% if (step == 'nine') %}type="hidden"{% endif %}></i></a>
			</div>
		</div>
	</div>

	<div id="step-wrapper">
		{% if not remoteApp %}
			{% include 'dealer/applications/application-field-1-amount.twig' %}
		{% endif %}
		{% include 'dealer/applications/application-field-2-coapp.twig' %}
		{% include 'dealer/applications/application-field-3-id.twig' %}
		{% include 'dealer/applications/application-field-4-names.twig' %}
		{% include 'dealer/applications/application-field-5-address.twig' %}
		{% include 'dealer/applications/application-field-6-employer.twig' %}
		{% include 'dealer/applications/application-field-7-coapp-names.twig' %}
		{% include 'dealer/applications/application-field-8-coapp-address.twig' %}
		{% include 'dealer/applications/application-field-9-coapp-employer.twig' %}
		{% include 'dealer/applications/application-field-91-references.twig' %}
		{% include 'dealer/applications/application-field-93-agree.twig' %}
	</div>

{% if (dealer and dealer.allow_revolving == 0) or (dealer and dealer.allow_revolving == 2) or (user.company and user.company.allow_revolving == 0) or (user.company and user.company.allow_revolving == 2) %}
		<div id="successPane" style="display: none" class="small-text-center">
			<div class="row text-center">
				<i class="fi-pencil" id="successCloud"></i>
			</div>
			<h3>Signature Needed</h3>
            <p>We're almost done - we just need you to read through the following credit application, click or tap the button at the end of the document stating that you have read the entire application, and sign where required.</p><br><br>
            {% if remoteApp %}
            	<a class="button small" id="signApplication" href="/sign/complete?token={{ remoteApp }}">View &amp; Sign</a>
			{% else %}
				<a class="button small" id="signApplication" href="/apps/sign?ses={{ sessionKey }}">View &amp; Sign Application</a>
			{% endif %}
		</div>
{% else %}
		<div id="revolvingPane" style="display: none" class="small-text-center">
				<div class="row text-center">
					<i class="fi-pencil" id="successCloud"></i>
				</div>
				<h3>Signature Needed</h3>
            	<p>We're almost done - we just need you to read through the following credit application, click or tap the button at the end of the document stating that you have read the entire application, and sign where required.</p><br><br>
			{% if remoteApp %}
            	<a class="button small" id="signApplication" href="/sign/complete?token={{ remoteApp }}">View &amp; Sign</a>
			{% else %}
				<a class="button small" id="signApplication" href="/apps/sign?ses={{ sessionKey }}">View &amp; Sign Application</a>
			{% endif %}
		</div>
{% endif %}

<div class="small-12 columns">
	<div class="hide-for-large-up row">
		<div class="text-center small-12 columns">
			<br>
			<h5 style="color: #ccc;">SWIPE TO NAVIGATE</h5>
			<img src="/images/Swipe_Right.png" style="opacity: 0.7;">
		</div>
	</div>
</div>

<div id="loading" class="loader">
	<div class="cs-loader">
	  <div class="cs-loader-inner">
	  	<!-- <h3 class="cs-loader-title">Please Wait</h3> -->
	    <label>	●</label>
	    <label>	●</label>
	    <label>	●</label>
	    <label>	●</label>
	    <label>	●</label>
	    <label>	●</label>
	  </div>
	</div>
</div>

{% if errors|length %}
	<div id="hidden-errors" style="display: none">
		{% set messages = errors.bags['default'].messages %}
			{{ dump(messages) }}
		{% for label, value in messages %}
			<small class="error" data-name="{{ label }}">{{ value[0] }}</small>
		{% endfor %}
	</div>
{% endif %}

{% endblock %}


{% block pagescripts %}
<script src="/js/jquery.mask.min.js"></script>
<script src="/bower_components/hammerjs/hammer.min.js"></script>
<script src="/bower_components/hammerjs-jquery/jquery.hammer.js"></script>

	<script>

		var savedData = {{ data | raw }};
	</script>
	<script>

		window.onAjaxComplete = 'successApp';

		            // switch to spanish
        function updateLanguage(element) {
        	if($('#language').val() == 'Spanish') {
            	element.find('[data-spanish]').each(function(){
            		$(this).text($(this).attr('data-spanish'));
            	});
            }
        }

		// on successful validation of each step, submit or complete application
		function successApp(){
			var current = $('.step.current');
			current.hide();
			var next = current.next();
				
			// skip coapplicant steps if
			while(!next.hasClass('step') || !next.length) {
				next = next.next();
			}

			if(next[0].id != 'revolvingPane'){
				next.show();
				current.find('small.error').remove();
				current.removeClass('current');
				next.addClass('current');
				updateLanguage(next);
				// update progress bar with current index
				window.updateProgressBar(next.index('.step'));
			}
			// not currently used
			else {
				next.show();
				current.find('small.error').remove();
				current.removeClass('current');
				next.addClass('current');
				$('#forwardTop').hide();
			}
		}

		function copyAddressToCoapp() {
			$('#coAddress').val($('#address').val());
			$('#coCity').val($('#city').val());
			$('#coState').val($('#state').val());
			$('#coZip').val($('#zip').val());
			$('#coAddressTwo').val($('#addressTwo').val());
			$('#co_mailing_address').val($('#mailing_address').val());
			$('#co_mailing_address_two').val($('#mailing_address_two').val());
			$('#co_mailing_city').val($('#mailing_city').val());
			$('#co_mailing_state').val($('#mailing_state').val());
			$('#co_mailing_zip').val($('#mailing_zip').val());

			console.log('go');

			if($('#mailing_address_same').is(':checked')) {
				$('#co_mailing_address_same').prop("checked", true);
			} else {
				$('#co_mailing_address_same').prop("checked", false);
			}
		}

		$(function(){

			$('.step').hide();

			// navigation right (form submittal)
			$('.wrapper').on('click', '.next', function(){
				var current = $('.current');
				if (current.find('.ajax-form').submit()) {
					current.addClass('current');
				}
			});

			// swipe support for enabled devices
			var hammerleft = $('.content').hammer().on("swipeleft", function(){
				var current = $('.current');
				if ($(current).find('.ajax-form').submit()) {
					$(current).addClass('current');
				}
			});

			var hammerright = $('.content').hammer().on("swiperight", function(){
				navigateBack();
			});

			// back button mark position and update progress bar
			$('.wrapper').on('click', '.back', function(){
				navigateBack();
			});

			var navigateBack = function(){
				var current = $('.current');
				var previous = current.prev();
				var i = 0;

				// skip coapplicant steps if
				while(!previous.hasClass('step') && previous.length == 1) {
					previous = previous.prev();
					console.log(previous);
					i++;
				}

				if(previous.length){
					current.hide();
					current.removeClass('current');
					previous.addClass('current');
					previous.show();
					window.updateProgressBar(previous.index('.step'));
				}
			}

			$('#copy_address').on('change', function(e){
				e.preventDefault();
				if($(this).prop("checked") == false) {
					copyAddressToCoapp();

					$('#coappMortgage').hide();
					$('#different_coapp_address').hide();
				} else {
					$('#different_coapp_address').show();
					$('#coAddress').val('');
					$('#coCity').val('');
					$('#coState').val('');
					$('#coZip').val('');
					$('#coAddressTwo').val('');
					$('#co_mailing_address').val('');
					$('#co_mailing_address_two').val('');
					$('#co_mailing_city').val('');
					$('#co_mailing_state').val('');
					$('#co_mailing_zip').val('');
					$('#co_mailing_address_same').prop("checked", false);
					$('#different_coapp_address').show();
					$('#coappMortgage').show();
				}
			});



			$('#is_retired').on('change', function(){
				if($(this).val() == 'No') {
					$('#employed-section').show();
				} else {
					$('#employed-section').hide();
					$('#employer').val('RETIRED');
					$('#jobTitle').val('RETIRED');
					$('#employerPhone').val('');
					$('#yrsEmployed').val('0');
				}
			});

			$('#co_is_retired').on('change', function(){
				if($(this).val() == 'No') {
					$('#co_employed-section').show();
				} else {
					$('#co_employed-section').hide();
					$('#coEmployer').val('RETIRED');
					$('#coJobTitle').val('RETIRED');
					$('#coEmployerPhone').val('');
					$('#coYrsEmployed').val('0');
				}
			});

			updateAmountFinanced();

			$('#amount_financed, #down_payment_amount').on('change', function(e){
				updateAmountFinanced();
			});

			function updateAmountFinanced() {
				$('#amount_req_total').text($('#amount_financed').val() - $('#down_payment_amount').val());
			}

			// mask fields for input
			$('#ssn').mask("000-00-0000");
			$('#coSsn').mask("000-00-0000");
			$('#homePhone').mask("(000) 000-0000");
			$('#cellPhone').mask("(000) 000-0000");
			$('#employerPhone').mask("(000) 000-0000");
			$('#coEmployerPhone').mask("(000) 000-0000");
			$('#coHomePhone').mask("(000) 000-0000");
			$('#coCellPhone').mask("(000) 000-0000");
			$('#personalRefOnePhone').mask("(000) 000-0000");
			$('#birthDate').mask("00/00/0000");
			$('#coBirthdate').mask("00/00/0000");
			$('#licExpDate').mask("00/00/0000");
			$('#co_licExpDate').mask("00/00/0000");

			if(window.msieversion()){
				$('#date').mask("00/00/0000");
			}

			var errors = $('#hidden-errors').find('.error');
			errors.each(function(){
				$(this).appendTo($('input[name="' + $(this).attr('data-name') + '"]').closest('label'));
			});

			window.updateProgressBar = function(index){
				var totalSteps = $('.step').length;
				var newPercent = ((index + 1) / totalSteps) * 100;
				$('#progressBar').css('width', newPercent+'%');
				$('#background-decor').css('transform', 'translate('+ (-index * 3) +'em, 0em)');

			}

			// load data from a previous application
			if(savedData) {
				// fill in values from saved app entry
				var previousStep = savedData.step;
				delete savedData.step;
				for (var key in savedData) {
				   if (savedData.hasOwnProperty(key)) {
				   		var fillInput = $('#step-wrapper').find('input[name="' + key + '"], input[name="' + key + '[]"], select[name="' + key + '"]');
				   		fillInput.val(savedData[key]);
				   }
				}
				if(savedData.coapplicant == "Yes") {
					showCoapplicant();
				}
				if(savedData.residenceType == "Other") {
					$('#otherHome').show();
				}
				$('#step-wrapper').find('input[name="step"][value="' + previousStep + '"]').closest('.step').show().addClass('current');


			} else {
				$('.step').first().show().addClass('current');
			}	

			$('#yrsEmployed').on('change', function(){
				if( $(this).val() < 1 ) {
					$('[for="prevEmployer"], [for="prevJobTitle"], [for="prevYrsEmployed"]').addClass('reqasterisk');
				} else {
					$('[for="prevEmployer"], [for="prevJobTitle"], [for="prevYrsEmployed"]').removeClass('reqasterisk');
				}
			});

			// ====================================
			// coapplicant changes to application form
			// ======================================
			var remoteCoApp = {% if remoteData and remoteData.coEmail %}true{% else %}false;{% endif %};
			$('#coapplicant').on('change', function(){
				reloadCoapplicant();
			});

			// also reload coapplicant on back button or any other reason
			reloadCoapplicant();

			// show different form questions based on if there is a coapplicant or not
			function reloadCoapplicant() {
				var value = $('#coapplicant').find(":selected").val();
				if(value == "Yes" && !remoteCoApp) {
					showCoapplicant();
				} else if (value == "Yes" && remoteCoApp) {
					$('#coapplicant_spouse_question').show();
				} else {
					$('#coapplicant_spouse_question').hide();

					// remove all coapplicant steps in the future
					$('#step-wrapper').find('.coapplicant-step').removeClass('step');

					// hide some content on other steps
					$('#step-wrapper').find('.show-for-co').hide();
				}
			}

			function showCoapplicant() {
				$('#coapplicant_spouse_question').show();

				// add coapplicant steps to be done later
				$('#step-wrapper').find('.coapplicant-step').addClass('step');

				// show some content on other steps
				$('#step-wrapper').find('.show-for-co').show();
			}


			// show other field if other is select for home situation
			$('#residenceType').on('change', function(){
				if($(this).val() == 'Other') {
					$('#otherHome').show();
				} else {
					$('#otherHome').hide();
				}
			});

			window.updateProgressBar($('.current').index('.step'));

			function updateTotalAmount() {
				var salePrice = ( $('#initial_amount').val() ? parseFloat($('#initial_amount').val()) : 0 );
                var tradeIn = ( $('#tradein').val() ? parseFloat($('#tradein').val()) : 0 );
				var shippingPrice = ( $('#shipping_amount').val() ? parseFloat($('#shipping_amount').val()) : 0);
				var salesTax = ( $('#sales_tax_amount').val() ? parseFloat($('#sales_tax_amount').val()) : 0);
				var downPayment = ( $('#down_payment_amount').val() ? parseFloat($('#down_payment_amount').val()) : 0);
				var totalAmount = parseFloat(salePrice + shippingPrice + salesTax - downPayment - tradeIn);
				$('#amount_financed').val(totalAmount.toFixed(2));
			}
			// toggle state selection and loan terms based on credit type
			$('#credit_type').on('change', function(){
				var type = $(this).val();
				if ($(this).val() == 'Revolving') {
					$('#closed-state').hide().attr('name', ' ').prop('disabled',true);
					$('#rev-state').show().prop('disabled',false).attr('name', 'state');
					$('#loan-terms').hide();
				} else {
					$('#rev-state').hide().attr('name', ' ').prop('disabled',true);
					$('#closed-state').show().prop('disabled',false).attr('name', 'state');
					$('#loan-terms').show();
				}
			});

            $('#signApplication').on('click', function(e){
            	if( $('#agree_credit').prop('checked') ) {
            		$('#loading').fadeIn();
            	} else {
            		e.preventDefault();
            		e.stopPropagation();
            		alert('You must check the box agreeing with the statement in order to continue.');
            	}
            });

            $('#mailing_address_different').on('change', function(){
				if($(this).prop('checked')) {
					$('#show_mailing_address').show();
				} else {
					$('#show_mailing_address').hide();
				}
			});

			$('#co_mailing_address_different').on('change', function(){
				if($(this).prop('checked')) {
					$('#co_show_mailing_address').show();
				} else {
					$('#co_show_mailing_address').hide();
				}
			});

			// copy applicant to coapplicant at some point in the application
			$('#monthlyGrossPay').on('blur', function(){
				copyAddressToCoapp();
			});

            // modify tab behavior to move to the next form section
            $('body').keydown(function(e) {
			    var code = e.keyCode || e.which;
			    if (code == '9') {
			    	var target = $(e.target);
			    	var parentStep = target.closest('.step');
			    	// get last visible input in step
			    	var lastInput = parentStep.find('input:visible, textarea:visible, select:visible').last();

			    	if(target.is(lastInput)) {
			    		e.preventDefault();
			    		var current = $('.current');
						if ($(current).find('.ajax-form').submit()) {
							$(current).addClass('current');
						}
			    	}
			    }
			 });

            // fill in names for the agreement
            $('#firstName, #lastName').on('change', function(){
            	$('#creditAgreementText').find('.customerName').text($('#firstName').val() + ' ' + $('#lastName').val());
            });

            // fill in names for the agreement
            $('#coFirstName, #coLastName').on('change', function(){
            	if($('#coFirstName').val() == '') {
            		$('#creditAgreementText').text('');
            	} else {
            		$('#creditAgreementText').find('.coCustomerName').text(' and ' + $('#coFirstName').val() + ' ' + $('#coLastName').val());
            	}
            });
		});
	</script>
{% endblock %}
