<section class="step" id="three">
	<div class="row">
		<div class="small-10 small-offset-1 columns">
			<form action="{{ submitFormUrl }}" method="post" class="ajax-form space-saving">
				<input type="hidden" name="step" value="three">
				<input type="hidden" name="sessionKey" value="{{sessionKey}}">
				<h2 class="text-center" data-spanish="Identificación">Identification</h2>
        		<hr>
        		<p class="text-center"><em data-spanish="Requerimos que una identificación con foto emitida por el gobierno, no expirada, presentada al momento de esta solicitud sea ingresada por un representante.">We require a government issued, unexpired photo identification presented at the time of this application to be entered by a representative. </em></p>

				{% if remoteData.coAppRemote %}
				<div style="display: none">
        		<select name="coapplicant" id="coapplicant" class="needsclick">
						<option value="Yes" selected="selected">Yes</option>
					</select>
				</div>
				{% endif %}

        		{% if not remoteData.coAppRemote %}
        		<section id="primary-identification">
        			<h5 class="text-center" data-spanish="¿Eres ciudadano de los U.S.A?">Are you a citizen of the U.S.A.?</h5>
        			<div class="row">
						<div class="small-12 medium-6 columns medium-offset-3 small-text-center pad-m">
		        			<select name="us_citizen" class="needsclick">
		        				<option value="Yes" data-spanish="Sí">Yes</option>
		        				<option>No</option>
		        			</select>
		        		</div>
		        	</div>
		        </section>
        		<br><br>

				<section id="primary-identification">
					<div class="row">
						<div class="small-12 medium-6 columns small-text-center pad-m">
							<h5 data-spanish="Elija un tipo de identificación">Choose a type of identification</h5>
							<select name="identification_type" id="identification_type" class="needsclick">
								<option value="" selected disabled hidden data-spanish="Seleccione uno">Select one</option>
								<option value="driver license" data-spanish="Licencia de conducir">Driver's License</option>
								<option value="photo id" data-spanish="Identificación fotográfica">Photo ID</option>
							</select>
						</div>

						<div class="small-12 medium-6 columns small-text-center pad-m">
							<h5 data-spanish="¿Qué estado emitió esta identificación?">Which state issued this ID?</h5>
							<select name="identification_state" id="identification_state" class="needsclick">
								<option value="" selected disabled hidden data-spanish="Seleccionar">Select</option>
					            {% for state in states %}
					                <option value="{{ state }}">{{ state }}</option>
					            {% endfor %}
					        </select>
						</div>
					</div>


					<div class="small-12 medium-12 small-text-center pad-s">
						<h5 data-spanish="Ingrese la fecha de vencimiento de su identificación">Enter the expiration date of your identification</h5>
						<div class="row">
							<div class="small-12 medium-8 medium-offset-2 small-text-center">
								<label for="licExpDate" class="req">(MM/DD/YYYY)</label>
								<input type="text" name="licExpDate" id="licExpDate">
							</div>
						</div>
				    </div>

				    <div class="small-12 medium-12 small-text-center pad-s">
						<h5 data-spanish="Ingrese cuidadosamente el número en su identificación">Carefully enter the number on your identification</h5>
						<div class="row">
							<div class="small-12 medium-8 medium-offset-2 small-text-center">
								<input type="text" name="driversOrId">
							</div>
						</div>
				    </div>
				</section>
				{% endif %}

				<section id="co-identification" class="show-for-co" {% if not remoteData.coAppRemote %}style="display: none"{% endif %}>
					{% if remoteData.coAppRemote %}<input type="hidden" name="coAppRemote" value="1">{% endif %}
					<br><br>
					<h2 class="text-center" data-spanish="Identificación coapplicant">Coapplicant Identification</h2>
					<hr>
					<div class="row">
						<div class="small-12 medium-6 columns small-text-center pad-m">
							<h5 data-spanish="Elija un tipo de identificación">Choose a type of identification</h5>
							<select name="co_identification_type" id="co_identification_type">
								<option value="" selected disabled hidden data-spanish="Seleccione uno">Select one</option>
								<option value="driver license"  data-spanish="Licencia de conducir">Driver's License</option>
								<option value="photo id" data-spanish="Identificación fotográfica">Photo ID</option>
							</select>
						</div>

						<div class="small-12 medium-6 columns small-text-center pad-m">
							<h5 data-spanish="¿Qué estado emitió esta identificación?">Which state issued this ID?</h5>
							<select name="co_identification_state" id="co_identification_state" class="needsclick">
					            {% for state in states %}
					                <option value="{{ state }}">{{ state }}</option>
					            {% endfor %}
					        </select>
						</div>
					</div>


					<div class="small-12 medium-12 small-text-center pad-s">
						<h5 data-spanish="Ingrese la fecha de vencimiento de su identificación">Enter the expiration date of your identification</h5>
						<div class="row">
							<div class="small-12 medium-8 medium-offset-2 small-text-center">
								<label for="co_licExpDate" class="req">(MM/DD/YYYY)</label>
								<input type="text" name="co_licExpDate" id="co_licExpDate">
							</div>
						</div>
				    </div>

				    <div class="small-12 medium-12 small-text-center pad-s">
						<h5 data-spanish="Ingrese cuidadosamente el número en su identificación">Carefully enter the number on your identification</h5>
						<div class="row">
							<div class="small-12 medium-8 medium-offset-2 small-text-center">
								<input type="text" name="coDriversOrId">
							</div>
						</div>
				    </div>
				</section>
				<br>


				{% include 'dealer.applications._app-nav-buttons' %}
			</form>
		</div>
	</div>
</section>
