{% extends 'dealer/_sidebar' %}

{% block pagetitle %}
	<h2 class="text-center">Cancel this Application?</h2>
{% endblock %}

{% block content %}
	
	<div class="row">
		<div class="small-12 medium-8 medium-offset-2">
			<br>

			<div style="padding: 1.5em; border: 1px solid gray;" class="clearfix">
				<div id="email-app">
					<p class="text-center"><em>Are you sure you wish to redo the paperwork for this application? Existing paperwork will be removed.</em></p>

					<div class="row">
						<div class="medium-6 medium-offset-3 small-12 columns">
							<form method="post" action="" class="ajax-form">
								<button class="small button right success">Yes, Redo</button> <a href="/" class="small button left">No</a>
							</form>
						</div>
					</div>
				</div>
				
				<div id="email-app-complete" class="text-center" style="display: none;">
					<h3 class="text-center">Application Reset</h3>
					<p class="text-center">This application has been reset. You may now refill out the paperwork.</p>
					<a href="/">Dashboard</a>
				</div>
			</div>

		</div>
	</div>
{% endblock %}

{% block pagescripts %}
<script>
	window.onAjaxComplete = 'successApp';

	$(function(){

	});

	var successApp = function(){
		console.log('test');
		$('#email-app').hide();
		$('#email-app-complete').show();
	};

</script>
{% endblock %}