{% extends 'dealer/_sidebar' %}

{% block pagetitle %}
	<h2 class="text-center">Email an Application</h2>
{% endblock %}

{% block content %}
	
	<div class="row">
		<div class="small-12 medium-8 medium-offset-2">
			<br>

			<div style="padding: 1.5em; border: 1px solid gray;" class="clearfix">
				<div id="email-app">
					<p class="text-center"><em>Send a credit application to a consumer's email address for him / her to fill out remotely. If you enter a coapplicant email address, the application will be sent to the coapplicant after the applicant completes their section.</em></p>

					<div class="row">
						<div class="medium-6 medium-offset-3 small-12 columns">
							<form method="post" action="" class="ajax-form">
								<p><em>Sales Price should include any taxes and trade&#8209;in value</em></p>
								<label>Sales Price*:
									<input type="text" name="amount_financed">
								</label>

								<label>Down Payment:
									<input type="text" name="down_payment">
								</label>

								<label>Email*:
									<input type="text" name="email">
								</label>

								<label>Coapplicant Email:
									<input type="text" name="coEmail">
								</label>

								{% if (dealer and dealer.allow_revolving == 2) or (user.company is defined and user.company.allow_revolving == 2) %}
								<label>Credit Type:
									<select name="credit_type" id="credit_type">
										<option value="Closed-End">Closed-End</option>
										<option value="Revolving">Revolving</option>
									</select>
								</label>
								{% elseif (dealer and dealer.allow_revolving == 0) or (user.company and user.company.allow_revolving == 0) %}
									<input type="hidden" name="credit_type" value="Closed-End">
								{% elseif (dealer and dealer.allow_revolving == 1) %}
									<input type="hidden" name="credit_type" value="Revolving">
								{% endif %}

								<button class="small button right">Send</button>
							</form>
						</div>
					</div>
				</div>
				<div id="email-app-complete" style="display: none;">
					<h3 class="text-center">Application Sent!</h3>
					<p class="text-center">The application has been sent, and you will receive an email when the consumer has completed it</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block pagescripts %}
<script>
	window.onAjaxComplete = 'successApp';

	$(function(){

	});

	var successApp = function(){
		console.log('test');
		$('#email-app').hide();
		$('#email-app-complete').show();
	}

</script>
{% endblock %}