{% extends 'dealer/_sidebar' %}

{% block pagetitle %}
	<h2 class="text-center">Request Funding</h2>
{% endblock %}

{% block content %}
	
	<div class="row">
		<div class="small-12 medium-8 medium-offset-2">
			<br>
				<div style="padding: 1.5em; border: 1px solid gray;" class="clearfix">
					<div id="email-app">
						<h4>Choose how to collect the signatures on the Certificate of Completio for {{ app.firstName }} {{ app.lastName }}:</h4>

						<div class="small-12 medium-8 medium-offset-2">
							{% set paperwork_controls = user.company.control_paperwork|split(',') %}
							{% if paperwork_controls %}
								{% if 'Print' in paperwork_controls %}<a class="button small expand" href="/apps/paperwork/generate/{{ app.id }}?method=print&doc=lcc">Print</a>{% endif %}
								{% if 'Remote' in paperwork_controls %}<a class="button small expand" href="/apps/paperwork/generate/{{ app.id }}?method=send&doc=lcc">Send via Email</a>{% endif %}
								{% if 'Local' in paperwork_controls %}<a class="button small expand" href="/apps/paperwork/generate/{{ app.id }}?method=sign&doc=lcc">Sign Here</a>{% endif %}
							{% else %}
								<em>Belmont has not approved you to access paperwork - please call and ask to enable paperwork options on your account.</em>
							{% endif %}
						</div>

						<form method="post" action="" class="ajax-form text-center">
							<br>
							<button class="small button">Confirm</button>
						</form>

						<p style="text-align: right">You may also upload these files <a href="/upload-file/{{ app.id }}">here</a></p>
					</div>
					<div id="email-app-complete" style="display: none;" class="text-center">
						<h3>Request Sent!</h3>
						<p>The consumer will have seven days to complete this Certificate of Completion</p>
						<br>
						<div><a href="/" class="small button">Return to Dashboard</a></div>
					</div>
				</div>
		</div>
	</div>
{% endblock %}

{% block pagescripts %}
<script>
	window.onAjaxComplete = 'successApp';

	$(function(){

	});

	var successApp = function(){
		console.log('test');
		$('#email-app').hide();
		$('#email-app-complete').show();
	}

</script>
{% endblock %}