{% extends 'dealer/_sidebar' %}

{% block pagetitle %}
	<h2 class="text-center">Request Funding</h2>
{% endblock %}

{% block content %}
	
	<div class="row">
		<div class="small-12 medium-8 medium-offset-2">
			<br>

			<div style="padding: 1.5em; border: 1px solid gray;" class="clearfix">
				<div id="email-app">
					<h4 class="text-center">Request funding for {{ app.firstName }} {{ app.lastName }}</h4>

					{% set remainingPaperwork = app.remainingPaperwork() %}

					{% if '9' in remainingPaperwork.funding and '2' in remainingPaperwork.funding %}
						<p class="text-center"><em>We need your signature on both the LCC and the {{ app.credit_type == 'Revolving' ? 'Sales Slip' : 'Contract' }} in order to submit for funding.</em></p>
					{% elseif remainingPaperwork | length %}
						<p class="text-center"><em>We need your signature on the
							{% if '2' in remainingPaperwork.funding %}
								{{ app.credit_type == 'Revolving' ? 'Sales Slip' : 'Contract' }}
							{% else %}
								LCC
							{% endif %}
								in order to process this.</em></p>
					{% else %}
						<p>Thanks, we've submitted the request for funding - we will contact you if we need any more information.</p>
					{% endif %}

					{% if remainingPaperwork.funding %}

												{# they must have the unsigned file types to continue, otherwise they could be an uploaded file type #}

						{% if ('9' in remainingPAperwork.funding and not app.hasUnsignedFile(9)) or ('2' in remainingPaperwork.funding and not app.hasUnsignedFile(2))  %}
							<p style="text-align: center">Make sure you sign the required files, then upload them or send them in manually.</p>
							<p style="text-align: center"><a href="/upload-file/{{ app.id }}" class="button small">Upload</a></p>
						{% else %}
								<div class="text-center">
								<a class="small button" href="/apps/sign-request-funding/{{ app.id }}">Sign Online</a>
							</div>

							<p style="text-align: right">You may also upload these files <a href="/upload-file/{{ app.id }}">here</a></p>
						{% endif %}

					{% endif %}

					
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block pagescripts %}
<script>
</script>
{% endblock %}