{% extends 'dealer/_focus' %}

{% block pagetitle %}

{% endblock %}

{% block content %}
    <style>
        .sig{
            background-color: #fbfbfb;
            margin-top: 2rem;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
            box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
            cursor: pointer;
        }
        .content *{
            -webkit-user-select: none;
            user-select: none;
        }
    </style>
    <div class="row">
        <div class="small-12 columns clearfix">
            <h2 class="text-center">Dealer Signature Required</h2>
            <h5 class="medium-offset-2 medium-8 text-center">{{ user.name }}, we need to save your signature to use on your consumer contracts. Please sign below and press 'continue' when complete.</h5>

            <canvas id="signature" class="sig" width="800">
            </canvas>
            <p><em>By signing, I agree that Belmont Finance LLC may use this signature on all my online contracts, and this signature will be legally binding in all purposes for these online contracts.</em><br>
            <div class="text-center"><form id="form-signature"><br><button>Continue</button></form><div id="wait_success"></div></div>
        </div>
    </div>
{% endblock %}


{% block pagescripts %}
    <script src="/bower_components/signature-pad/signature_pad.min.js"></script>
    <script>
        $(function(){
            drawSigBoxLines();


            // draw X_____ in signature box
            function drawSigBoxLines() {
                // Draw X__________ in signature box
                var c = document.getElementById('signature');
                var ctx = c.getContext("2d");
                ctx.font="54px arial";
                ctx.fillStyle = '#aaa';
                ctx.strokeStyle = '#aaa';
                ctx.lineWidth = 2;
                ctx.fillText("X", ctx.canvas.clientWidth * 0.03, ctx.canvas.clientHeight * 0.85);

                // ________
                ctx.moveTo((ctx.canvas.clientWidth * 0.03 + 40),ctx.canvas.clientHeight * 0.85);
                ctx.lineTo(ctx.canvas.clientWidth * 0.95,ctx.canvas.clientHeight * 0.85);
                ctx.stroke();
            }

            function resizeCanvas() {
                // When zoomed out to less than 100%, for some very strange reason,
                // some browsers report devicePixelRatio as less than 1
                // and only part of the canvas is cleared then.
                var elem = document.getElementById('signature');
                var ratio =  Math.max(window.devicePixelRatio || 1, 1);
                elem.width = elem.offsetWidth * ratio;
                elem.height = elem.offsetHeight * ratio;
                elem.getContext("2d").scale(ratio, ratio);
            }

            var signature = new SignaturePad(document.getElementById('signature'), {minWidth: 2, maxWidth: 4, velocityFilterWeight: 0.55, penColor: "#444"})

            $('#form-signature').on('submit', function(e){
                e.preventDefault();
                $(this).find('button').hide();
                $('#wait_success').text('Uploading...');

                $.ajax({
                    type: 'POST',
                    url: '/apps/set-signature',
                    data: {
                        signature: signature.toDataURL()
                    },
                    success: function(){
                    	$('#wait_success').html('<i class="fi-check" style="color: green; font-size: 7em"></i>');
                    	setTimeout(function(){
                    		window.location.replace('/apps/');
                    	}, 1000);
                    }
                })
            });
            // window.onresize = resizeCanvas;
        });

    </script>
{% endblock %}
