{% extends '_signature-layout' %}

{% block pagetitle %}

{% endblock %}

{% block main %}
		<div id="introSignModal" class="reveal-modal large open hide-for-print" data-reveal="" aria-labelledby="modalTitle" aria-hidden="false" role="dialog" tabindex="0" style="display: block; opacity: 1; visibility: visible; top: 100px;">
			{% if language == 'Spanish' %}
				<h4><strong>Instrucciones de firma de documentos</strong></h4>
				<p>Puede arrastrar y acercar el acuerdo en la ventana para leer el documento.</p>
				<p>Después de que haya terminado de leer el documento, haga clic / toque el botón al final del documento que dice 'He leído el acuerdo', y luego se le mostrará las firmas. Estas firmas son legalmente vinculantes.</p>

				<div class="text-center"><button id="begin">Ver y firmar acuerdo</button></div>
			{% else %}
				<h4><strong>Document Signing Instructions</strong></h4>
				<p>You can drag and zoom the agreement around in the window in order to read the document.</p>
				<p>After you have finished reading the document, click / tap the button at the end of the document that says 'I Have Read the Agreement', and you will then be walked through the signatures. These signatures are legally binding.</p>

				<div class="text-center"><button id="begin">View &amp; Sign Agreement</button></div>
			{% endif %}
		</div>

		<div id="goBackModal" class="reveal-modal large open" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" >
			<h4>Go back?</h4>
			<p>If you go back, you will have to re-sign this document.</p>
			<div class="row text-right">
				<button class="button small" id="confirmBack">Go Back</button>
				<button class="button small" id="stayHere">Stay Here</button>
			</div>
		</div>

		<div id="backOverlay">
		</div>

		<div id="contract">
			{% for image in pdfImage %}
				<img src="data:image/png;base64,{{ image }}" />
			{% endfor %}
			<div id="confirm">
				<button id="readConfirmation" class="button needsclick" onclick="">{% if language == 'Spanish' %}He leído el acuerdo{% else %}I Have Read the Agreement{% endif %}</button>
			</div>
		</div>

		<div id="topBar" class="hide-for-print">
			<button id="backToTop" class="button small">{% if language == 'Spanish' %}Volver arriba{% else %}Back to top{% endif %}</button>
			<a id="print" href="javascript:window.print()" class="button small right"><i class="fi-print"></i></a	>
		</div>

		<div id="signatures" class="short hide-for-print">
			{% if language == 'Spanish' %}
			<span id="beginMessage">PARA COMENZAR, POR FAVOR LEA EL ACUERDO<br>COMPLETO Y HAGA CLIC EN EL BOTÓN AL FINAL</span>
			{% else %}
			<span id="beginMessage">TO BEGIN, PLEASE READ THE ENTIRE AGREEMENT<br>
			AND CLICK THE BUTTON AT THE END
			</span>
			{% endif %}
            <p id="signatureLabel"></p>

            {% set canvasCounter = 1 %}
		{% for i in signatureLocations %}
            {% if not signatureLocations[loop.index][5] or (signatureLocations[loop.index][5] and signatureLocations[loop.index][5] == buyerKey)
            	or ((signatureLocations[loop.index][5] == 2 or signatureLocations[loop.index][5] == 3) and buyerKey == 2)  %}
    			<canvas id="sig{{ canvasCounter }}" class="sig" width="800" buyerkey="{{ buyerkey }}">
    			</canvas>
                {% set canvasCounter = canvasCounter + 1 %}
            {% endif %}
		{% endfor %}

			<div class="sign-button-container">
	            {# <a id="back" data-reveal-id="goBackModal">&laquo; Back</a> #}
				<button id="start" style="display: none" class="sign-nav button tiny needsclick">{% if language == 'Spanish' %}Comienzo{% else %}Start{% endif %}</button>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<button id="skip" style="display: none" class="sign-nav button tiny needsclick">{% if language == 'Spanish' %}No aplica{% else %}Not Applicable{% endif %}</button>
			</div>
			<div class = "signature-typing-font">
	        	<select id = "select_signature_font">
	        		<option value = "64px arial" selected>Arial</option>
	        		<option value = "italic 64px Comic Sans MS">Comic</option>
	        		<option value = "italic 64px Lucida Sans Unicode">Lucida</option>        		
	        		<option value = "64px Trebuchet MS">Trebuchet</option>
	        		<option value = "64px Verdana">Verdana</option>
	        	</select>
	        </div>
	        <div class = "signature-clear" style = "display: none;">
	        	<input type = "button" id = "btn_clear" value = "Resign">
	        </div>
	        {# icons on signature #}
			<div id = "signature-tools" style = "display:none;" class = "hide-for-print">
				<div class = "signature-draw-icon">
					<img src = "/images/signing/draw-icon.png">
				</div>
	            <div class = "signature-typing-icon">
	            	<img src = "/images/signing/type-icon.png">            	
	            </div>           
			</div>
		</div>

		
		<div class = "signature-typing-input" style = "display:none;">
        	<input type = "text" id = "input_signature" >
        </div>
       


		<div id="successPane" style="display: none" class="small-text-center">
			{% include includeSuccess ?: 'dealer.contract._revolving-credit-success' %}
		</div>

		<div id="loading" class="loader">
			<div class="cs-loader">
			  <div class="cs-loader-inner">
			  	<!-- <h3 class="cs-loader-title">Please Wait</h3> -->
			    <label>	●</label>
			    <label>	●</label>
			    <label>	●</label>
			    <label>	●</label>
			    <label>	●</label>
			    <label>	●</label>
			  </div>
			</div>
		</div>
{% endblock %}


{% block pagescripts %}
	<script src="/bower_components/panzoom/dist/jquery.panzoom.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
    <script src="/bower_components/mousewheel/jquery.mousewheel.min.js"></script>
	<script>

		 // grab data
		var sigLocations = [
    		{% for i in signatureLocations %}
                {% if not i[5] or (i[5] and i[5] == buyerKey) or ((i[5] == 2 or i[5] == 3) and buyerKey == 2) %}
    			     ["{{ i[0] }}", "{{ i[1] }}", "{{ i[2] }}", "{{ i[3] }}", "{{ i[4] }}", "{{ i[5] }}"],
                {% endif %}
    		{% endfor %}
		];

		var totalPages = '{{ pdfImage|length }}';
        var buyerKey = '{{ buyerKey }}';
        var submitSignUrl = '{{ submitSignUrl }}';
        var sessionKey = '{{ sessionKey }}';
        var firstName = '{{ app.firstName }}';
        var lastName = '{{ app.lastName }}';
        var lastName = '{{ app.lastName }}';
        var appId = '{{ app.id }}';
        var skipAgreement = false;
        var language = 'English';


	</script>
	<script src="/js/sign.js"></script>
{% endblock %}
