{% extends 'dealer/_sidebar' %}

{% block pagetitle %}
	<h2 class="text-center">Upload Paperwork</h2>
{% endblock %}

{% block content %}
	
	<div class="row">
		<div class="small-12 medium-8 medium-offset-2">
			<br>

			<div style="padding: 1.5em; border: 1px solid gray;" class="clearfix">
				<div id="upload-file">
				<p class="text-center"><em>Upload paperwork to Belmont Finance. As a reminder, you are required to send in original contracts.</em></p>

				<form method="post" class="ajax-form">
					<label>Select a file
						<input type="file" name="file">
					</label>
					<label>
						Document Type
						<select>
							<option value="credi       nt-app">Credit Application</option>
							<option value="credit-app">Contract / Sales Slip</option>
							<option value="credit-app">Notice of Cancellation</option>
							<option value="credit-app">Certificate of Completion</option>
							<option value="credit-app">Other</option>
						</select>
					</label>
					<button class="small button right">Upload</button>
				</form>
				</div>
				<div id="upload-file-complete" style="display: none;">
					<h3 class="text-center">Files Uploaded</h3>
					<p class="text-center">Your files have been uploaded. If there are any issues with the documents, a staff member from Belmont will contact you.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block pagescripts %}
<script>
	window.onAjaxComplete = 'successApp';

	$(function(){

	});

	var successApp = function(){
		console.log('test');
		$('#upload-file').hide();
		$('#upload-file-complete').show();
	}
</script>
{% endblock %}