.redactor-editor .block-right{
    float: right;
    max-width: 50%;
    margin-left: 20px;
    margin-bottom: 20px;
    clear: both;
    text-align: center;
}

/* icon style customs */
em[class^="icon-"], em[class*=" icon-"]{
    padding-right: 0.2em;
    font-size: 4em;
    vertical-align: middle;
    font-style: normal !important;
    color: $belmont-green;
    width: 2em;
    height: 2em;
    display: inline-block;
    text-align: center;
}


em[class^="icon-"]:before, em[class*=" icon-"]:before{
    font-size: 0.8em;
}

em.small[class^="icon-"], em.small[class*=" icon-"]{
    font-size: 2em;
}

em.secondary[class^="icon-"]:before, em.secondary[class*=" icon-"]:before{
    color: $secondary-color;
}

em.round[class^="icon-"], em.round[class*=" icon-"]{
    background-color: #f3f3f3;
    border-radius: 50%;
    padding: 0.2em;
    margin-right: 0.2em;
}

@font-face {
  font-family: 'icomoon';
  src:  url('/assets/stylesheets/fonts/fonts/icomoon.eot?lbxwvn');
  src:  url('/assets/stylesheets/fonts/fonts/icomoon.eot?lbxwvn#iefix') format('embedded-opentype'),
    url('/assets/stylesheets/fonts/fonts/icomoon.ttf?lbxwvn') format('truetype'),
    url('/assets/stylesheets/fonts/fonts/icomoon.woff?lbxwvn') format('woff'),
    url('/assets/stylesheets/fonts/fonts/icomoon.svg?lbxwvn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-call:before {
  content: "\e900";
}
.icon-electric-plug:before {
  content: "\e901";
}
.icon-eplug:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-flatware:before {
  content: "\e904";
}
.icon-food:before {
  content: "\e905";
}
.icon-hammer:before {
  content: "\e906";
}
.icon-house:before {
  content: "\e907";
}
.icon-instagram:before {
  content: "\e908";
}
.icon-keyboard:before {
  content: "\e909";
}
.icon-laptop:before {
  content: "\e90a";
}
.icon-leaf:before {
  content: "\e90b";
}
.icon-lightbulb:before {
  content: "\e90c";
}
.icon-linkedin:before {
  content: "\e90d";
}
.icon-loading:before {
  content: "\e90e";
}
.icon-nature:before {
  content: "\e90f";
}
.icon-rounded-plug:before {
  content: "\e910";
}
.icon-shopping-cart:before {
  content: "\e911";
}
.icon-solar-panels:before {
  content: "\e912";
}
.icon-tool:before {
  content: "\e913";
}
.icon-tool-2:before {
  content: "\e914";
}
.icon-tools-cross:before {
  content: "\e915";
}
.icon-water-drop:before {
  content: "\e916";
}