// General classes //
.center{
	text-align: center;
}

@mixin push-shadow(){
	-webkit-box-shadow: 4px 4px 0px 0px rgba(50, 50, 50, 0.1);
	-moz-box-shadow:    4px 4px 0px 0px rgba(50, 50, 50, 0.1);
	box-shadow:         4px 4px 0px 0px rgba(50, 50, 50, 0.1);
	&:hover{
		-webkit-box-shadow: 3px 3px 0px 0px rgba(50, 50, 50, 0.1);
		-moz-box-shadow:    3px 3px 0px 0px rgba(50, 50, 50, 0.1);
		box-shadow:         3px 3px 0px 0px rgba(50, 50, 50, 0.1);
		position: relative;
		left: 1px;
		top: 1px;
	}
	&:active{
		left: 4px;
		top: 4px;
		-webkit-box-shadow: none;
		-moz-box-shadow:    none;
		box-shadow:         none;
	}
}

.sub-nav{
	width: 100%;
	dd{
		margin-left: 0em;
		width: 100%;
		@media #{$medium-up}{
			margin-left: 1em;
			width: auto;
		}
		a{
			display: block;
			color: $jumbo;
			@media #{$small-only}{
				padding: 0.4em;
			}
		}
		&.filter{
			border: 1px solid  $smoke ;
			background-color: $white-smoke;
			padding: 0.2em 0.6em;
			border-radius: 3px;
			font-size: 0.72em;
			margin-top: -0.2em;
			a{
				width: auto;
				min-width: auto;
				display: inline-block;
				margin-right: -0.3em;
				margin-top: -0.05em;
				margin-left: 1em;
				padding: 0.1875rem 0.6rem;
			}
		}
	}
}

body .row.space{
	margin: 1.25em 0em;
}

label input[type="checkbox"]{
	position: relative;
	left: -3px;
	top: 2px;
}
label{
	font-family: 'Droid Sans', sans-serif;
}

.awesomplete{
	width: 100%;
}

//   * Icon classes */
.container .button{
	i.circle{
		margin-left: -1.1em;
		margin-right: 0.8em;
		margin-top: -0.4em;
		margin-bottom: -0.4em;
		float: left;
		display: inline-block;
	}
	text-decoration: none;

	&.tiny{
		i.medium{
			line-height: 1em;
			position: relative;
		}
	}
}

.tiny.alt-button{
	padding: 0.2em 0.5em;
	border-radius: 4px;
	margin-bottom: 0;
}

i{
	text-align: center;
	&.medium{
		font-size: 1.2rem;
		line-height: 2.15rem;
		position: relative;
		top: 0.2rem;
	}
	&.circle{
		background-color: rgba(0,0,0,0.03);
		-webkit-transition: background-color 0.2s linear;
        -moz-transition: background-color 0.2s linear;
        -ms-transition: background-color 0.2s linear;
        -o-transition: background-color 0.2s linear;
        transition: background-color 0.2s linear;


		font-size: 1.3em;
		width: 1.8em;
		height: 1.8em;
		line-height: 1.8em;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		display: inline-block;
		&:hover{
			background-color: rgba(0,0,0,0.15);
		}
	}
	&.small{
		font-size: 1.15em;
		color: #bbb;
		margin: 0 0.14em;
		position: relative;
		top: 0.1em;
	}
}

// Table Classes ============ //
table{
	width: 100%;
 	td > a{
		display: inline-block;
	}
}

//buttons
.button{
	//display: inline-block;
	white-space: nowrap;
}

body{
	&.staff{
		background-color: #ddd;
	}
}

.depad{
	@media #{$medium-up}{
		margin-top: -1em;
		margin-left: -1em;
		padding: 0;
	}
}

.darken-2{
	background-color: rgba(0,0,0,0.02);
}

input,select{
	&.changed{
		background-color: #E0F5FF;
		&:focus,&:active{
			background-color: #E9FFFF;
		}
	}
}

#success{
	padding: 0.4em 0.8em;
	position: fixed;
	right: 0.2em;
	color: $green;
	background-color: white;
	font-size: 1.8em;
	display: none;
}


.container{
	> .row{
		margin-top: 1.5rem;
		@media #{$medium-up} {
			margin-top: 3rem;
		}
	}
	.primary{	
		min-height: 20rem;
		padding: 1rem;
		padding-top: 0rem;
	}
	.sidepanel{
		min-height: 400px;
		padding-top: 11rem;
		border-right: 1px solid rgba(0,0,0,0.08);
		.button{
			@include push-shadow();
		}
	}

	// tabs on the top of the holder area
	.tabs {
		position: relative;
		z-index: 1;
		white-space: nowrap;
		float: left;
		width: 33rem;
		ul{
			list-style-type: none;
		}
		i{
			font-size: 1.5em;
			position: absolute;
			left: 1.1em;
			top: 0.55em;
			color: #ccc;
		}
		a{
			position: relative;
			display: inline-block;
			padding: 1.2em 1.4em 0.6em 1.4em;
			min-width: 8rem;
			text-align: center;
			color: $jumbo;
			font-size: 0.87em;
			text-decoration: none;
			margin: 0 -0.4em;
			float: right;
			&:before{
				content: ''; /* To generate the box */
				position: absolute;
				top: 0; right: 0; bottom: 0px; left: 0;
				z-index: -1;
				border: 1px solid rgba(0,0,0,0.05);
				border-radius: 12px 12px 0 0;
				background: #e9e9e9;
				transform: perspective(7px) rotateX(1.6deg);
				transform-origin: bottom;
			}
			&.current{
				position: relative;
				z-index: 1;
				&:before{
					border-bottom: 0;
					background: #f8f8f8 !important;
					bottom: -1px;
				}
			}
			&:hover{
				&:before{
					background: #f0f0f0;
				}
			}
		}
		// style tabs for mobile devices
		@media #{$small-only} {
			width: 20rem;
			a{
				padding: 1.2em 1.1em 0.6em 1.1em;
				font-size: 0.78em;
				min-width: 0rem;
				i{
					left: 0.85em;
					display: none;
				}
			}
		}
	}
}
#subtab.tabs{
	width: 100%;
	margin-bottom: -1.3rem !important;
	padding-right: 1.3rem;
	min-width: 4rem;
	a{
		font-size: 11px;
		cursor: default;
		padding: 1.2em 0.2em 0.6em 0.2em;
		color: #aaa;
		&:before{
			background-color: #ddd;
		}
		

		// active / available tab
		&.avail{
			&:before{
				background-color: #ccc;
			}
			cursor: pointer;
			color: #444;
			&:hover{
				&:before{
					background-color: #bbb;
				}
			}
		}
		
		
	}
}


.pad-m{
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.pad-xl{
	padding-top: 4rem;
	padding-bottom: 4rem;
	@media #{$medium-up} {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}
	@media #{$large-up} {
		padding-top: 12rem;
		padding-bottom: 12rem;
	}
	
}

.small-font{
	font-size: 0.94em;
	line-height: 1.2em;
	color: $jumbo;
}

.panel{
	text-align: left;
	-webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.04);
	-moz-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.04);
	box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.04);
	button{
		margin-bottom: 0;
	}
	a{
		text-decoration: underline;
	}
}

.sub-nav .active{
	&.secondary a{
		cursor: pointer;
		background-color: $secondary-color;

		&:hover{
			background-color: darken($secondary-color, 15%);
		}
	}
}


body button{
	&.small{
		padding-top: 0.7rem;
		padding-bottom: 0.7rem;
	}
}

// top menu stuff
.mini-logo{
	height: 28px;
	position: relative;
	top: -2px;
	left: -2px;
}

// css loader
.loader {
	width: 100%;
	padding: 2em;
	text-align: center;
	h3{
		color: rgba(0,0,0,0.15)
	}
}

.spinner {
  margin: auto;
  width: 80px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: rgba(0,0,0,0.15);
  height: 100%;
  width: 6px;
  margin-left: 2px; margin-right: 2px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


/* ============= layout */
.overTitle{
  position: relative;
  left: -1.1em;
  top: -1.1em;
  padding: 0.4em 0.8em;
  background-color: #eee;
  width: 98%;
}

.staff{
	.sub-nav{
		margin-bottom: 0;
	}
	dt{
		margin-left: 0;
	}
	.holder{
		h1,h2{
			// text-align: center;
			margin-top: 0.3em;
			@media #{$medium-up}{
				// text-align: left;
			}
		}
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		background-color: #f8f8f8;
		margin-top: 0;
		position: relative;
		.sidebar{
			position: absolute;
			top: 0;
			height: 110%;
			a:hover{
				color: white;
			}
			a.active{
				background-color: rgba(0,0,0,0.2);
				color: white;
			}
			@media #{$small-only}{
				position: static;
			}
		}
		@media #{$medium-up}{
			padding: 1em;
		}
	}

	.options-button{
		padding: 0.3em 0.8em;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		position: absolute;
		right: 0.2em;
		top: 0em;
		background-color: #e9e9e9;
		i{
			font-size: 1.6em;
		}
	}
}

#options{
	a{
		color: white;
		padding-top: 0.4em;
		text-decoration: none;
	}
	i{
		margin-right: 10px;
		margin-top: 3px;
	}
	li:hover a{
		color: $jumbo;
	}
}

table tr:nth-of-type(odd) .acctNum.PENDING{
	background-color: #FEFFF0;
}

.acctNum{
	.small{
		font-style: italic;
		font-size:0.7em;
		display: block;
		margin-top: -0.2em;
	}
	.spanNum{
		position: relative;
		top: 0.3em;
		display: inline-block;
		font-size: 1.13em;
	}
	&.PENDING{
		background-color: #FEFFE3;
	}
	&.APPROVED{
		background-color: #E7FAE3;
	}
	&.CANCELLED{
		background-color: #f2f2f2;
	}
	form{
		display: inline-block;
		position: relative;
		top: -2px;
	}
	.circle{
		margin-right: 0.2em;
	}
}

.approve{
	width: 1.3em;
	height: 1.3em;
	display: inline-block;
	border: 2px solid rgba(0,0,0,0.2);
	border-radius: 4px;
	margin-right: 0.2em;
	cursor: pointer;
	background-color: rgba(200,200,200,0.1);
	&:hover{
		background-color: rgba(200,200,200,0.2);
		i{
			color: rgba(180,180,180,1);
		}
	}
	i{
		font-size: 1.7em;
		position: relative;
		top: -0.2em;
		color: rgba(180,180,180,0);
	}
	&.active{
		i{
			color: $primary-color;
		}
	}
}

// rating circles
.rating-circle{
	padding-top: 1.3em;
	width: 6em;
	height: 6em;
	text-align: center;
	background-color: $smoke;
	display: block;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	color: $oil;
	line-height: 1em;
	.letter{
		font-size: 1.8em;
		display: block;
		font-weight: bold;
		margin-top: 0.2em;
		line-height: 0.8em;
		margin-bottom: 0.2em;
	}
	.sub{
		font-size: 0.82em;
		line-height: 0.94em;
		display: block;
	}
	&.small{
		font-size: 0.52em;
		.letter{
			font-size: 2.3em;
		}
	}
	&.large{
		font-size: 1.25em;
		width: 8em;
		height: 8em;
		padding-top: 2.6em;
		.letter{
			font-size: 2em;
		}
		.sub{
			font-size: 0.7em;
			padding-left: 0.3em;
			padding-right: 0.3em;
		}
	}
}

.row .app-info.row{
	margin-top: -0.6em;
	margin-left: -0.625rem;
	margin-right: -0.625rem;
	background-color: #F1F1F1;
	border-bottom: 1px solid #d5d5d5;

	input, button, .postfix{
		margin-bottom: 0;
	    font-size: 1em;
	    padding: 0.2em 0.4em;
	    height: 2em;
	    line-height: 1.2em;
	}

	button{
		position: relative;
		top: 0.2em;
		left: -1em;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}

	label{
		margin-bottom: 0;
	}

	a{
		margin-top: 1em;
		display: inline-block;
	}
}

.center .rating-circle{
	margin: auto;
}

.view-contract{
	table{
		border: 0;
		td{
			text-align: center;
		}
		tr{
			background-color: white;
		}
	}
}
	#disposition{
		margin-top: -0.8em;
		font-size: 0.9em;
		margin-left: 1%;
	}

#modalTitle{
	.button{
		padding: 0.6em 0.9em;
		margin: -0.6em 0.5em 0 0.5em;
		display: inline-block;
		position: relative;
		top: -0.3em;
		i{
			margin-left: 0.3em;
			font-size: 1.2em;
		}
	}
}

#contracts_table{
	.date{
		font-size: 0.74em;
		position: relative;
	}
	.acctNum{
		min-width: 9em;
	}
	.spanNum{
		font-size: 0.85em;
	}
	.fundingstatus{
		font-size: 0.68rem;
		position: absolute;
		bottom: 0.2em;
		left: 0.8em;
		width: 800px;
		color: $jumbo;
	}
	@media #{$large-up}{
		.date{
			font-size: 1em;
		}
		.spanNum{
			font-size: 1em;
		}
	}
	@media #{$small-only}{
		td{
			display: inline-block;
		}
		.acctNum{
			display: block;
			width: 100%;
		}
		tr{
			position: relative;
			display: block;
		}
		.name{
			position: absolute;
			text-align: right;
			right: 0;
			top: 0.2em;
		}
		.date{
			position: absolute;
			text-align: right;
			right: 0;
			top: 1.5em;
		}
	}
}

#dist_table_all{
	.deleted .spanNum{
		text-decoration: line-through;
	}
}

#otherFilters{
	padding: 1em 3em;
	margin-top: 1em;
}

.back-arrow{
	font-size: 0.4em;
	position: relative;
	top: -0.43em;
	margin-right: 1em;
}

.primary-users{
	button.dropdown{
		background-color: transparent;
		color: #333;
		margin-bottom: 0;
		&:after{
			color: #333;
			border-top-color: #333 !important;
		}
	}
	.f-dropdown li a{
		color: white;
		&:hover{
			color: #333;
		}
	}
}

.ach-result{
	border-bottom: 2px dotted gray;
	padding: 0.3em;
	ul{
		display: inline-block;
		margin-left: 0.5em;
		li a{
			padding: 0.2em;
			line-height: 0.5em;
			margin-bottom: 0;
		}
	}
	.transaction-details{
		display: none;
		padding: 0.3em;
		background-color: white;
		margin-top: 0.5em;
		p{
			margin-bottom: 0;
		}
	}
}

.logo{
	width: 200px;
	margin-bottom: 2.5em;
}

.back-arrow{
	text-decoration: none;
}

.user-legend{
	p, li{
		font-size: 0.8em;
	}
	p{
		margin-bottom: 0.4em;
		font-weight: bold;
	}
	i{
		font-size: 1.4em;
	}
	ul{
		margin-bottom: 0.4em;
		margin-left: 2em;
	}
}

.file-link{
	font-size: 0.78em;
	padding-left: 0.7em;
	padding-right: 0.4em;
	background-color: rgba(0,0,0,0.08);
	border-radius: 2px;
	border: 1px solid rgba(0,0,0,0.1);
	color: $black;
	margin-right: 0.5em;
	display: inline-block;
	text-decoration: none;
}