// General classes //
@import 'scss/misc/simple-loader';

.center{
	text-align: center;
}

body,html{
	height:100%;
}

body.empty{
	background-color: white;
}

@mixin push-shadow(){
	-webkit-box-shadow: 4px 4px 0px 0px rgba(50, 50, 50, 0.1);
	-moz-box-shadow:    4px 4px 0px 0px rgba(50, 50, 50, 0.1);
	box-shadow:         4px 4px 0px 0px rgba(50, 50, 50, 0.1);
	&:hover{
		-webkit-box-shadow: 3px 3px 0px 0px rgba(50, 50, 50, 0.1);
		-moz-box-shadow:    3px 3px 0px 0px rgba(50, 50, 50, 0.1);
		box-shadow:         3px 3px 0px 0px rgba(50, 50, 50, 0.1);
		position: relative;
		left: 1px;
		top: 1px;
	}
	&:active{
		left: 4px;
		top: 4px;
		-webkit-box-shadow: none;
		-moz-box-shadow:    none;
		box-shadow:         none;
	}
}

label input[type="checkbox"]{
	position: relative;
	left: -3px;
	top: 2px;
}

h1,h2,h3,h4{
	font-weight: normal;
}

//   * Icon classes */

.button{
	background-color: rgba(0, 0, 0, 0.3);
    border: 3px solid white;
	&.small{
		padding: 0.8em 1.6em;
	}
	i.circle{
		margin-left: -1.1em;
		margin-right: 0.8em;
		margin-top: -0.8em;
		margin-bottom: -0.4em;
		float: left;
		display: inline-block;
	}
	&.expand{
		border: 0;
	}

	&.outline{
		background-color: rgba(0,0,0,0.3);
		border: 3px solid white;
		-webkit-border-radius: 0.4em;
		border-radius: 0.4em;
		&:hover,&:active{
			i{
				color: #333 !important;
			}
			background-color: rgba(255,255,255,0.9);
			color: #333 !important;
			border: 3px solid rgba(0,0,0,0.3);
			box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
		}
	}
}

#background-decor{
	position: fixed;
	width: 180%;
	height: 100%;
	background-image: url(/images/app-background.jpg);
	background-size: cover;
	-webkit-transition: 0.8s ease-out;
    -moz-transition: 0.8s ease-out;
    -o-transition: 0.8s ease-out;
    transition: 0.8s ease-out;
}

i{
	text-align: center;
	&.medium{
		font-size: 1.2rem;
		line-height: 2.15rem;
		position: relative;
		top: 0.2rem;
	}
	&.circle{
		background-color: rgba(0,0,0,0.03);
		font-size: 1.3em;
		width: 1.8em;
		height: 1.8em;
		line-height: 1.8em;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		display: inline-block;
		position: relative;
		top: 0.5em;
		margin-right: 0.3em;
		padding-bottom: 0.3em;
		-webkit-transition: background-color 0.2s linear;
        -moz-transition: background-color 0.2s linear;
        -ms-transition: background-color 0.2s linear;
        -o-transition: background-color 0.2s linear;
        transition: background-color 0.2s linear;
		&:hover{
			background-color: rgba(0,0,0,0.2);
		}
	}
	&.small{
		font-size: 1.15em;
		color: #bbb;
		margin: 0 0.14em;
		position: relative;
		top: 0.1em;
	}
}

// Table Classes ============ //
table{
	width: 100%;
 	td > a{
		display: inline-block;
	}
}

//buttons
.button{
	//display: inline-block;
	white-space: nowrap;
}

body{
	background-color: #ebebeb;
}


.container{
	.primary{
		min-height: 20rem;
		padding: 1rem;
	}
	.sidepanel{
		min-height: 400px;
		padding-top: 11rem;
		border-right: 1px solid rgba(0,0,0,0.08);
		.button{
			@include push-shadow();
		}
	}
}

.pad-m{
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.pad-s{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.pad-xl{
	padding-top: 4rem;
	padding-bottom: 4rem;
	@media #{$medium-up} {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}
	@media #{$large-up} {
		padding-top: 12rem;
		padding-bottom: 12rem;
	}

}

.small-font{
	font-size: 0.88em;
	line-height: 1.2em;
	display: inline-block;
	color: $jumbo;
}

.panel{
	text-align: left;
	-webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.08);
	-moz-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.08);
	box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.08);
	button{
		margin-bottom: 0;
	}
	a{
		text-decoration: underline;
		color: $iron;
	}
	label{
		color: white;
	}
	input{
		background-color: $iron;
	}
	.button, button{
		background-color: #333;
	}

	.small{
		font-size: 0.68em;
	}

	.required{
		&:after{
			content:'*';
			color: red !important;
		}
	}

	&.form{
		background: #f2f2f2;
		border: 2px solid #aaaaaa;
		padding: 1.25rem;
		h1,h2,h3,h4,h5,h6,label,p{
			color: #333;
		}
		.label-header{
			font-size: 1em;
		}
		.checkbox-group{
			margin-bottom: 1.5rem;
		}
		input, textarea, select{
			background-color: white;
		}
	}

	&.extra-labels{
		label{
			font-size: 0.68em;
			margin-top: -0.7em;
			input, textarea{
				margin-top: 0.4em;
				margin-bottom: 1.5em;
			}
			input[type="checkbox"]{
				margin-bottom: 0.6em;
				margin-left: 0.3em;
			}
		}
	}
}

input[type="text"], input[type="email"] {
	border: 1px solid #545454;
    background-color: #fafafa;
}



body button{
	&.small{
		padding-top: 0.7rem;
		padding-bottom: 0.7rem;
	}
}

.no-sidebar{
	.company{
		margin-bottom: -0.6em;
	}
}

.logo{
	width: 120px;
	margin-bottom: 0.5em;
	margin-top: 0.6em;
}

.sub-nav dt a, .sub-nav dd a, .sub-nav li a{
	color: #238018;
	font-weight: bold;
	text-decoration: underline;
}

// css loader
.loader {
	width: 100%;
	padding: 2em;
	text-align: center;
	h3{
		color: rgba(0,0,0,0.15)
	}
}

.spinner {
  margin: auto;
  width: 80px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: rgba(0,0,0,0.15);
  height: 100%;
  width: 6px;
  margin-left: 2px; margin-right: 2px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

#leftnav{
	position: fixed;
	width: 15em;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #e8e8e8;
	border-right: 0px solid $steel;
	text-align: center;
	*{
		color: #333;
	}
	padding: 0.5em;
	.upper{
		margin: -0.5em;
		padding: 0.5em;
		//background-color: #757471;
		form{
			margin-top: 0.75em;
			padding: 0.5em;
			button, input{
				margin: 0;
			}
		}
		em, span{
			color: #333;
		}
	}
	.company{
		margin-bottom: 0;
		font-size: 1.1em;
		font-weight: bold;
		color: #333;
		margin-top: 0.5em;
	}
	.side-nav{
		margin-top: -1em;
		margin-left: -0.5em;
		margin-right: -0.5em;
		a{
			padding: 0.75rem;
			padding-left: 1.5rem;
			font-size: 0.74em;
			text-align: left;
			&:hover{
				background-color: #222;
				color: white;
			}
			.badge{
                font-size: 0.68em;
                border: 1px solid #bbb;
                border-radius: 3px;
                color: #777 !important;
                padding: 0.1em 0.3em;
                position: relative;
                top: -0.3em;
                right: -0.3em;
			}
		}
		li{
			border-bottom: 2px solid rgba(0,0,0,0.05);
			margin-bottom: 0;
		}
	}
}

// section settings
.segment{
	padding: 1em;
	border: 1px solid #ddd;
	background-color: #fbfbfb;
	margin-bottom: 1.5em;

	&__title{
		font-size: 1.2em;
		margin: 0;
		margin-top: -0.9em;
		margin-left: -0.9em;
		margin-right: -0.9em;
		padding: 0.25em 1em;
		background-color: #ddd;
		margin-bottom: 0.5em;
	}

	&__item{
		border-bottom: 1px solid #ddd;
		padding: 0.3em 0em;
		&.last{
			border-bottom: 0px;
		}
	}
}


.mini-logo{
	width: 28px;
	margin-right: 8px;
	margin-top: -8px;
	opacity: 0.3;
}

.wrapper{
	@media #{$small-only} {
		padding-left: 0.35em;
		padding-right: 0.35em;
	}
}

.content{
	position: relative;
	background-color: white;
	min-height:100vh;
	padding: 1em 0.5em;
	@media #{$medium-up} {
		padding: 1em 1.5em;
	}
	@media #{$large-up} {
		padding: 2em 3em;
	}
}

table tr:nth-of-type(odd) .acctNum.PENDING{
	background-color: #FEFFF0;
}

.acctNum{
	position: relative;
	.small{
		margin-left: 4.2em;
		font-style: italic;
		font-size:0.7em;		
		display: block;
		margin-top: -0.3rem;
	}
	&.PENDING{
		background-color: #FEFFE3;
	}
	&.APPROVED{
		background-color: #E7FAE3;
	}
	&.CANCELLED{
		background-color: #f2f2f2;
	}
	.contract-comment{
		color: rgba(0,0,0,0.5);
		font-size: 1.4em;
		border-bottom: none;
		position: relative;
		top: 0.2em;
	}
	.view-link{
		position: relative;
		&:hover{
			.online-badge{
				left: 0.8em;
				top: 0.1em;
				&:after{
					font-size: 1.1em;
				}
			}
			.files-badge{
				right: 0.2em;
				top: 1.15em;
				&:after{
					font-size: 1.1em;
				}
			}
		}
	}
	.online-badge{
		display: block;
		position: absolute;
		top: 0.2em;
		left: 0.4em;
		transition: all 0.7s ease;
		&:after{
			font-family: "foundation-icons";
			src: url("foundation-icons.eot");
			src: url("foundation-icons.eot?#iefix") format("embedded-opentype"),
			   url("foundation-icons.woff") format("woff"),
			   url("foundation-icons.ttf") format("truetype"),
			   url("foundation-icons.svg#fontcustom") format("svg");
			font-weight: normal;
			font-style: normal;
			content: "\f212";
			font-size: 0.8em;
			transition: font-size 0.7s ease;
		}
	}
	.files-badge{
		display: block;
		position: absolute;
		top: 0.2em;
		right: 0.7em;
		transition: all 0.7s ease;
		&:after{
			font-family: "foundation-icons";
			src: url("foundation-icons.eot");
			src: url("foundation-icons.eot?#iefix") format("embedded-opentype"),
			   url("foundation-icons.woff") format("woff"),
			   url("foundation-icons.ttf") format("truetype"),
			   url("foundation-icons.svg#fontcustom") format("svg");
			font-weight: normal;
			font-style: normal;
			content: "\f18e";
			font-size: 0.7em;
			transition: font-size 0.7s ease;
		}
	}
}

// rating circles
.rating-circle{
	padding-top: 1.3em;
	width: 6em;
	height: 6em;
	text-align: center;
	background-color: $smoke;
	display: block;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	color: $oil;
	line-height: 1em;
	.letter{
		font-size: 1.8em;
		display: block;
		font-weight: bold;
		margin-top: 0.2em;
		line-height: 0.8em;
		margin-bottom: 0.2em;
	}
	.sub{
		font-size: 0.82em;
		line-height: 0.94em;
		display: block;
	}
	&.small{
		font-size: 0.52em;
		.letter{
			font-size: 2.3em;
		}
	}
	&.large{
		font-size: 1.25em;
		.letter{
			font-size: 2em;
		}
		.sub{
			font-size: 0.7em;
			padding-left: 0.3em;
			padding-right: 0.3em;
		}
	}
}
	#leftnav{
		visibility: hidden;
	}
	@media #{$large-up} {
		.top-bar{
			visibility: hidden;
			display: none;
		}
		#leftnav{
			visibility: visible;
		}
	}

//$topbar-breakpoint: 9999px;

	.top-bar{
		.title-area{
			padding-left: 20px;
			padding-right: 20px;
			.name{
				h4{
					color: white;
				}
			}
			&.changed{
				width: 100%;
				.name{
					width: 60%;
					float: left;
					
					h4{
						font-size: 0.9em;
					}
				}
				.menu-button{
					padding: 0.3em 1.2em;
					background-color: rgba(0,0,0,1);
					float: right;
					color: white;
					margin-top: 0.3em;
					text-decoration: none;
				}
			}
		}

		ul li > a.button{
			top: 0.32em;
			height: auto;
			background: white;
			border-color: #333;
			color: #333;
			&:hover, &:active{
				color: white !important;
				background: #444;
				background-color: #444;
				-webkit-tap-highlight-color:  #444;
				tap-highlight-color: #444;
				i{
					color: white !important;
				}
			}
		}
	}

	.skeleton-form{
		float: left;
		@media #{$medium-up} {
			padding-top: 0.88em;
			padding-left: 1em;
		}
		input{
			background-color: transparent;
			border: 3px solid rgba(0,0,0,0.09);
			-webkit-border-radius: 8px;
			border-radius: 8px;
		}
		button{
			background-color: transparent;
			border-radius: 8px;
		}
	}

	.no-sidebar .wrapper{
		z-index: 1;
		position: relative;
	}

	.no-sidebar{
		.content{
			margin-top: 3em;
			-webkit-border-radius: 8px;
			border-radius: 8px;
			min-height: auto;
			box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.1);
		}
	}

	#applicationQuit{
		position: fixed;
		cursor: pointer;
		top: 0;
		right: 2.2em;
		background-color: #333;
		z-index: 100;
		a{
			padding: 0.6em 1.5em;
			position: relative;
			display: block;
			z-index: 100;
			color: white;
			width: 5em;
			text-decoration: none;
			&:hover,&:active{
				background-color: #555;
				padding: 0.87em 1.5em 0.6em 1.5em;
			}
		}
	}

	.title{
		padding-left: 1em;
		h2{
			margin-right: 0.5em;
		}
		@media #{$medium-up} {
			padding-top: 0em;
			padding-bottom: 0.5em;
			h2{
				margin-right: auto;
			}
		}
	}

	.sidebar-layout.container{
		@media #{$large-up} {
			padding-left: 15em;
		}
	}

	.reserve{
		position: relative;
		@media #{$medium-up} {
			top: 0.73em;
		}
	}

	#contracts_table{
		@media #{$small-only} {
			border: 0px;
			td{
				display:none;
				&.acctNum{
					display: block;
				}
				&.show-small{
					display: inline-block;

				}
			}
			tr{
				outline: 1px solid #ddd;
				margin-bottom: 0.55em;
				display: block;
				position: relative;
				&.table-header{
					display: none;
				}
			}
		}
	}

	#tag-filters{
		a{
			color: white;
			&:before{
				display: inline-block;
				content: '';
				margin-right: 1em;
			}
			&:hover{
				color: #333;
			}
		}
		.selected{
			&:before{
				content: "\f126";
			    font-family: "foundation-icons";
			    font-style: normal;
			    font-weight: normal;
			    font-variant: normal;
			    text-transform: none;
			    line-height: 1;
			    -webkit-font-smoothing: antialiased;
			    display: inline-block;
			    text-decoration: none;
			    margin-right: 0.5em;
			}
		}
	}

	.scrollable{
		height: 500px;
		overflow-y: scroll;
		border: 3px solid $aluminum;
		padding: 20px;
	}

	.bordered{
		border: 3px solid $steel;
		padding: 30px;
	}

	#search{
		input{
			background-color: $aluminum;
		}
		button{
			padding: 0.52em;	
		}
	}

	/* progress bar stesp */
	#progressSteps{		
		.circle{
			background-color: rgba(0, 0, 0, 0.1);
			border-radius: 50%;
			width: 1.6em;
			height: 1.6em;
			padding-top: 0.06em;
			text-align: center;
			color: white;
			font-size: 2.8em;
			&:hover,&:active{
				background-color: rgba(0, 0, 0, 0.5);
			}
			@media #{$small-only} {
				display: none;
			}
		}
	}
	.progress{
		height: 1.2em;
		padding: 0em;
		&.success .meter{
			background: #70db70;
			-webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    		transition: width 1s;
		}
	}

	#backTop{
		position: absolute;
		left: -1.9em;
		top: 5em;
	}

	#forwardTop{
		position: absolute;
		right: -1.9em;
		top: 5em;
	}

	#successCloud{
		color: $smoke;
		font-size: 9em;
		margin-bottom: -3em;
	}

	form.space-saving{
		.row .columns{
			padding: 0.25em;
		}
		label{
			margin-bottom: -1.75em;
			padding-left: 0.6em;
			position: relative;
			z-index: 1;
			font-size: 0.72em;
			&.req{
				font-weight: bold;
			}
			&.reqasterisk{
				font-weight: bold;
				&:after{
					content: '*';
				}
			}
		}

		.input-prefix{

			.small-2{
				margin-left: -7%;
			}
			.small-10{
				width: 90%;
			}
		}

		.prefix{
			position: relative;
			padding: 0.50em 0.6em 1.85em 0.4em;
			background-color: #e9e9e9;
			font-size: 1.39em;
			right: -0.8em;
			border-bottom: 2px solid #CCCCCC;
			border-top: 1.5px solid #eaeaea;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}
		input[type="text"],input[type="date"],select,input[type="tel"],input[type="number"]{
			padding: 1.1em 0.5em 0.35em 0.5em;
			display: block;
			height: auto;
			border: 0px solid white;
			border-radius: 7px;
			outline: none;
			position: relative;
			z-index: 0;
			background-color: $snow;
			border-bottom: 2px solid $iron;
			margin-bottom: 0.1em;
			font-size: 1.4em;
			&:focus{
				background-color: #e5ffff;
			}
			&.no-label{
				padding: 0.7em 0.5em 0.3em 1em;
			}
		}
	}

.step-link{
	width: 46%;
	max-width: 8rem;
	border-bottom: 3px solid #bbb;
	padding-bottom: 0.5em;
	margin-top: -1rem;
	display: inline-block;
	font-size: 0.75em;
	color: #bbb;
	margin-right: 2%;
	margin-bottom: 1rem;
	cursor: pointer;
	text-transform: uppercase;
	&:hover{
		border-bottom: 3px solid $primary-color;
		color: #333;
	}
	&.active{
		border-bottom: 3px solid $primary-color;
		color: #333;
	}


}

.sign-link{
	font-size: 0.75em;
	padding-left: 0.7em;
	padding-right: 1.7em !important;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	background-color: rgba(0,0,0,0.08);
	border-radius: 2px;
	border: 1px solid rgba(0,0,0,0.1);
	color: $black;
	margin-right: 0.5em;
	display: inline-block;
	text-decoration: none;
	&:after{
		right: 0.4em !important;
	}
}

/* style for dropdown links */
.f-dropdown{
	background-color: #dedede !important;
	border: 1px solid #ccc;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
	&:before{
		border: solid 0px #d2d2d2 !important;
	}

	> li{
		border-bottom: 1px solid #d2d2d2;
	}

	a{
		text-decoration: none;
		font-size: 0.8em;
		padding: 0.3em;
		i{
			margin-right: 0.2em;
			font-size: 1.3em;
		}
	}
}

.dropdown.button::after{
	border-color: #555 transparent transparent transparent;
}