body{
	background-color: #f9f9f9;
}

.row{
	&.space{
		padding: 1em 0;
	}
	&.space-extra{
		padding-top: 1.5em;
		padding-bottom: 1em;
		@media #{$medium-up}{
			padding-top: 3em;
			padding-bottom: 2em;
		}
	}
	&.space-side{
		@media #{$medium-up}{
			padding-left: 2em;
			padding-right: 2em;
		}
	}
}

.center{
	text-align: center;
}

a{
	text-decoration: underline;
}

.button, button{
	&.full{
		width: 100%;
		border: 3px solid rgba(0,0,0,0.04);
	}
	text-decoration: none;
}

.panel{
	border: 0;
	background-color: $primary-color;
	color: white;
	position: relative;
	width: 100%;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	label, small{
		color: white;
	}
	small{
		font-weight: bold;
	}
	form{
		position: static;
	}
	&.gray{
		background-color: #999;
	}
	&.active{
		-webkit-box-shadow: 0px 0px 13px rgba(0,0,0,0.5);
		box-shadow: 0px 0px 13px rgba(0,0,0,0.5);
		-webkit-transition: all 0.4s ease;
		transition: all 0.4s ease;
		width: 108%;
		margin-left: -4%;
		margin-right: -4%;
		@media #{$medium-up}{
			width: 140%;
			margin-left: -20%;
			margin-right: -20%;
		}
	}
	.button,button{
		background: rgba(0,0,0,0.4);
		color: white;
		margin-bottom: 0;
		font-size: 1em;
		width: auto;
		width: 100%;
		box-sizing: border-box;
	}
	.panel-title{
		background-color: rgba(0,0,0,0.05);
		padding: 0.75em 1.25rem;
		margin-left: -1.25rem;
		margin-right: -1.25rem;
		margin-top: -1.25rem;
		text-transform: uppercase;
		font-size: 1.2em;
		color: white;
	}
	small.error{
		margin-top: -1.3em;
	}
}

p.error{
	color: white;
	background-color: red;
	font-weight: bold;
	margin-bottom: 0.1em;
	padding: 0.2em;
	text-align: center;
}

.divider-horizontal{
	border-bottom: 1px solid $iron;
	width: 100%;
	float: left;
	margin: 2em 0em;

	@media #{$medium-up}{
		float: none;
		position: absolute;
		width: 1px;
		top: 0;
		bottom: 0;
		background-color: $iron;
		left: 50%;
	}
}

.primary-container{
	min-height: 600px;
	border: 1px solid #eaeaea;
	margin-top: -1em;
	background-color: white;
}

.title-area{
	position: relative;
	margin-top: 2em;
	margin-bottom: 0.15em;
	.logo{
		width: 200px;
		height: auto;
		display: inline-block;
		margin-right: 2em;
		margin-left: 2em;
		margin-bottom: 1em;
	}
	a{

	}
}
.title{
	display: inline-block;
}
.logout{
	display: inline-block;
	margin-left: 1em;
}


.payment{
	.inner{
		margin-top: -1em;
	}
}

#example-payment, #card-example-payment{
	//border: 1px solid black;
	padding: 0.5em 2em;
	padding-top: 1.4em;
	min-height: 8em;
	background-color: white;
	position: relative;
	background-color: #ffffcc;
	color: black;
	font-style: italic;
	font-size: 0.85em;
	margin-bottom: 2em;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
	&:before{
		content: 'SAMPLE PAYMENT SCHEDULE';
		position: absolute;
		left: 0.5em;
		top: 0.1em;
		color: black;
		font-size: 0.78em;
		font-weight: bold;
		font-style: normal;
	}
}

// forms ===========
form .confirm{
	position: relative;
	left: -0.5em;
	label:last-child{
		margin-top: -1em;
	}
	padding-left: 1em !important;
	&:before{
		position: absolute;
		content: '';
		top: 2.5em;
		left: 0.4em;
		width: 0.6em;
		bottom: 2.5em;
		border: 2px solid $primary-color;
		border-right: 0;
	}
	label small{
		text-transform: none;
	}
}