//sass shared across dealer and staff
@import "misc/spinner";

// code for subusers
	.primary-users{
		margin: 0;
		padding: 0;
		li{
			list-style-type: none;
			position: relative;
			margin-bottom: 0.4em;
			background-color: rgba(0,0,0,0.01);
			padding: 0.2em;
			padding-right: 0em;
			cursor: pointer;
			&.subs{
				&:before{
					content: '+';
					position: absolute;
					padding: 0.4em;
					right: 0.5em;
				}
				&.open:before{
					content: '-';
				}
			}
			.sub{
				margin-top: 0.4em;
				li:last-child{
					margin-bottom: 0;
				}
			}
		}
		.user-count{
			position: absolute;
			right: 1.7em;
			top: 0.58em;
		}
	}

	// errors in forms
	.error-list{
	margin-left: 0;
		li{
			list-style-type: none;
			margin-left: 0;
			font-style: italic;
			width: 100%;
			color: red;
			background-color: white;
			font-size: 12px;
			font-weight: bold;
			padding: 0.8em;
			text-align: center;
			border: 2px solid red;
		}
	}


section.step{
	display: none;
}

a{
	text-decoration: underline;
	&.button{
		text-decoration: none;
	}
}

.small{
	font-size: 0.74em;
}

.side-nav a{
	text-decoration: none;
}

.close-reveal-modal{
	&:hover, &:active{
		color: black;
	}
}

@media #{$medium-up} {
	.css-columns-2, .css-columns-3{
		-webkit-column-count: 2;
		column-count: 2;
		-webkit-column-count: 1em;
		column-gap: 1em;

	}
}
@media #{$large-up} {
	.css-columns-3{
		-webkit-column-count: 3;
		column-count: 3;
		-webkit-column-count: 1em;
		column-gap: 1em;
	}
}