{% extends 'dealer/_focus' %}
{% block pagetitle %}

{% endblock %}

{% block content %}
	<div class="small-12">
		<!-- progress bar -->
		<div class="row">
			<div class="small-10 small-offset-1 medium-10 medium-offset-1" id="progressSteps">
				<a id="backTop" class="back circle"><i class="fi-arrow-left"></i></a>
				<div class="small progress success round">
				  <span class="meter" id="progressBar" style="width: 12.5%"></span>
				</div>
				<a id="forwardTop" class="next circle"><i class="fi-arrow-right" {% if (step == 'nine') %}type="hidden"{% endif %}></i></a>
			</div>
		</div>
	</div>

	<div id="step-wrapper">

		<div class="step" id="step-one">
			<div class="row">
				<div class="small-10 small-offset-1 columns">
					<form action="/apps/paperwork/lcc" method="post" class="space-saving ajax-form">
					<input type="hidden" name="step" value="two">
					<input type="hidden" name="app_id" value="{{ app.id }}">
					<input type="hidden" name="doc" value="lcc">
				
					<h2 class="text-center">Certificate of Completion</h2>
					
					<div class="small-12 medium-8 medium-offset-2">
						<p><em>Please select one of the following regarding the installation.</em></p>
						<input type="radio" name="installation" checked="checked" value="dealer_install" id="dealer_install" required="required">
							<label for="dealer_install">The seller has installed the product</label><br>
						<input type="radio" name="installation" value="no_install" id="no_install">
							<label for="no_install">No installation was necessary</label><br>
						<input type="radio" name="installation" value="consumer_install" id="consumer_install">
							<label for="consumer_install">Consumer has installed the product</label><br><br>
							<input type="hidden" value="{{ token }}" name="token">
					</div>

					<br>
					<br><br>
					</form>
					{% include 'dealer.applications._app-nav-buttons' %}
				</div>
			</div>
		</div>

		<div class="step current" id="step-two">
			<div class="small-12 medium-8 medium-offset-2">
				<h4>How will you collect signatures for the Certificate of Completion?</h4>
				<br>
				{% set paperwork_controls = user.company.control_paperwork|split(',') %}
				{% if paperwork_controls %}
					{% if 'Print' in paperwork_controls %}<a class="button small expand" href="/apps/paperwork/generate/{{ app.id }}?method=print&doc=lcc">Print</a>{% endif %}
					{% if 'Remote' in paperwork_controls %}<a class="button small expand" href="/apps/paperwork/generate/{{ app.id }}?method=send&doc=lcc">Send via Email</a>{% endif %}
					{% if 'Local' in paperwork_controls %}<a class="button small expand" href="/apps/paperwork/generate/{{ app.id }}?method=sign&doc=lcc">Sign Here</a>{% endif %}

					<p style="text-align: right">You may also upload these files <a href="/upload-file/{{ app.id }}">here</a></p>
				{% else %}
					<em>Belmont has not approved you to access paperwork - please call and ask to enable paperwork options on your account.</em>
				{% endif %}
			</div>
		</div>

	</div>

<div class="small-12 columns">
	<div class="hide-for-large-up row">
		<div class="text-center small-12 columns">
			<br>
			<h5 style="color: #ccc;">SWIPE TO NAVIGATE</h5>
			<img src="/images/Swipe_Right.png" style="opacity: 0.7;">
		</div>
	</div>
</div>

<div id="loading" class="loader">
	<div class="cs-loader">
	  <div class="cs-loader-inner">
	  	<!-- <h3 class="cs-loader-title">Please Wait</h3> -->
	    <label>	●</label>
	    <label>	●</label>
	    <label>	●</label>
	    <label>	●</label>
	    <label>	●</label>
	    <label>	●</label>
	  </div>
	</div>
</div>

{% if errors|length %}
	<div id="hidden-errors" style="display: none">
		{% set messages = errors.bags['default'].messages %}
			{{ dump(messages) }}
		{% for label, value in messages %}
			<small class="error" data-name="{{ label }}">{{ value[0] }}</small>
		{% endfor %}
	</div>
{% endif %}

{% endblock %}


{% block pagescripts %}
<script src="/js/jquery.mask.min.js"></script>
<script src="/bower_components/hammerjs/hammer.min.js"></script>
<script src="/bower_components/hammerjs-jquery/jquery.hammer.js"></script>

	<script>

		var savedData = false;

		var rate = '{{ app.buy_rate }}';

		window.onAjaxComplete = 'successApp';

		// on successful validation of each step, submit or complete application
		function successApp(){
			var current = $('.step.current');
			current.hide();
			var next = current.next();
				
			// skip coapplicant steps if
			while(!next.hasClass('step') || !next.length) {
				next = next.next();
				console.log(next);
			}

			if(next[0].id != 'revolvingPane'){
				next.show();
				current.find('small.error').remove();
				current.removeClass('current');
				next.addClass('current');

				// update progress bar with current index
				window.updateProgressBar(next.index('.step'));
			}
			// not currently used
			else {
				next.show();
				current.find('small.error').remove();
				current.removeClass('current');
				next.addClass('current');
				$('#forwardTop').hide();
			}
		}



		$(function(){

			$('.step').hide();

			// navigation right (form submittal)
			$('.wrapper').on('click', '.next', function(){
				var current = $('.current');
				if (current.find('.ajax-form').submit()) {
					current.addClass('current');
				}
			});

			// swipe support for enabled devices
			var hammerleft = $('.content').hammer().on("swipeleft", function(){
				var current = $('.current');
				if ($(current).find('.ajax-form').submit()) {
					$(current).addClass('current');
				}
			});

			var hammerright = $('.content').hammer().on("swiperight", function(){
				navigateBack();
			});

			// back button mark position and update progress bar
			$('.wrapper').on('click', '.back', function(){
				navigateBack();
			});

			var navigateBack = function(){
				var current = $('.current');
				var previous = current.prev();
				var i = 0;

				// skip coapplicant steps if
				while(!previous.hasClass('step') && previous.length == 1) {
					previous = previous.prev();
					console.log(previous);
					i++;
				}

				if(previous.length){
					current.hide();
					current.removeClass('current');
					previous.addClass('current');
					previous.show();
					window.updateProgressBar(previous.index('.step'));
				}
			}

			$('#copyaddress').on('click', function(e){
				e.preventDefault();
				$('#coAddress').val($('#address').val());
				$('#coCity').val($('#city').val());
				$('#coState').val($('#state').val());
				$('#coZip').val($('#zip').val());
			});

			$('#ssn').mask("000-00-0000");

			if(window.msieversion()){
				$('#date').mask("00/00/0000");
			}

			var errors = $('#hidden-errors').find('.error');
			errors.each(function(){
				$(this).appendTo($('input[name="' + $(this).attr('data-name') + '"]').closest('label'));
			});

			window.updateProgressBar = function(index){
				var totalSteps = $('.step').length;
				var newPercent = ((index + 1) / totalSteps) * 100;
				$('#progressBar').css('width', newPercent+'%');
			}

			// load data from a previous application
			if(savedData) {
				// fill in values from saved app entry
				var previousStep = savedData.step;
				delete savedData.step;
				for (var key in savedData) {
				   if (savedData.hasOwnProperty(key)) {
				   		var fillInput = $('#step-wrapper').find('input[name="' + key + '"], input[name="' + key + '[]"], select[name="' + key + '"]');
				   		fillInput.val(savedData[key]);
				   }
				}
				if(savedData.coapplicant == "Yes") {
					showCoapplicant();
				}
				$('#step-wrapper').find('input[name="step"][value="' + previousStep + '"]').closest('.step').show().addClass('current');


			} else {
				$('.step').first().show().addClass('current');
			}

			// update totals on step two
			$('#step-two').on('change', 'input', function(e){
				updateSubtotal();
				updateTotal();

			});

			function updateSubtotal() {
				var final = $('#step-two').find('input[name="qty_one"]').val() * $('#step-two').find('input[name="price_one"]').val();

				if($('#step-two').find('input[name="qty_two"]').val()) {
					final += $('#step-two').find('input[name="qty_two"]').val() * $('#step-two').find('input[name="price_two"]').val();
				}

				if($('#step-two').find('input[name="qty_three"]').val()) {
					final += $('#step-two').find('input[name="qty_three"]').val() * $('#step-two').find('input[name="price_three"]').val();
				}
				
				$('#total-step-two').text(final.toFixed(2));
				$('#total-step-three').text(final.toFixed(2));
				$('#final-total').text(final.toFixed(2));
				$('#subtotal').val(final.toFixed(2));
				$('#final_amount').val(final);
			}

			// update totals on step three
			$('#step-three').on('change', 'input', function(e){
				updateTotal();
			});

			// update totals when app loads
			updateSubtotal();
			updateTotal();

			// when a promo is selected with an interest rate, override the apr field
			$('#promos').on('change', 'input', function(e){
				if($(this).data('rate')) {
					if($(this).is(':checked')) {

						// only use lowest selected apr
						if($(this).data('rate') < $('#apr').val() || $('#apr').val() === '') {
							$('#apr_show').text($(this).data('rate') + '%');
							$('#apr').val($(this).data('rate'))
						}

						$('#apr').hide();
						$('#apr_show').show();
					} else {

						// if no other promos are selected
						var hideApr = true;
						var lowestApr = false;
						$('#promos').find('input:checked').each(function(item){
							
							if($(this).data('rate') !== '' || typeof($(this).data('rate')) === 'undefined') {
								hideApr = false;

								// if there is another apr checked, show that instead
								if(($(this).data('rate') < lowestApr || lowestApr === false)) {
									$('#apr_show').text($(this).data('rate') + '%');
									$('#apr').val($(this).data('rate'))
									lowestApr = $(this).data('rate');
								}
							}
						});

						if(hideApr) {
							$('#apr_show').hide();
							$('#apr').show();
						}
					}
				}

				// hide or show ach required
				updateAchRequired();
			});


			$('#step-wrapper').on('click', '.add-description', function(e){
				var closestRow = $(this).closest('.row');
				$(this).hide();
				closestRow.next('.item-description').show();
			});

			// bypass ach
			$('#bypass_ach').on('click', function(e){
				e.preventDefault();
				$('#is_ach_bypassed').val('Yes');
				$('#ach_account_number').val('');
				$('#ach_routing_number').val('');
				$('#need_ach_sign').hide();
				$('#ach_form').submit();
			});

			function updateTotal(){
				var final = parseFloat($('#step-three').find('#total-step-three').text()) +
					(parseFloat($('#step-three').find('input[name="shipping"]').val()) || 0) +
					(parseFloat($('#step-three').find('input[name="sales_tax"]').val()) || 0) -
					(parseFloat($('#step-three').find('input[name="trade_in"]').val()) || 0) -
					(parseFloat($('#step-three').find('input[name="down_payment"]').val()) || 0);

				$('#final_amount').val(final);
				$('#final-total').text(final.toFixed(2));
			}

			// hide or show ach required based on rate
			function updateAchRequired(){
				var showAch = true;
				var promos = $('#promos').find('input:checked').each(function( index ) {
					if( parseFloat($(this).data('ach-rate')) >= parseFloat(rate)) {
						console.log($(this).data('ach-rate'), rate);
						showAch = false;
					}
				});

				if(showAch) {
					$('#bypass_ach').show();
				} else {
					$('#bypass_ach').hide();
				}
			}


			// toggle state selection and loan terms based on credit type
			$('#credit_type').on('change', function(){
				var type = $(this).val();
				if ($(this).val() == 'Revolving') {
					$('#closed-state').hide().attr('name', ' ').prop('disabled',true);
					$('#rev-state').show().prop('disabled',false).attr('name', 'state');
					$('#loan-terms').hide();
				} else {
					$('#rev-state').hide().attr('name', ' ').prop('disabled',true);
					$('#closed-state').show().prop('disabled',false).attr('name', 'state');
					$('#loan-terms').show();
				}
			});

            $('#signApplication').on('click', function(){
                $(this).html(window.spinner);
            });

            // modify tab behavior to move to the next form section
            $('body').keydown(function(e) {
			    var code = e.keyCode || e.which;
			    if (code == '9') {
			    	var target = $(e.target);
			    	var parentStep = target.closest('.step');
			    	// get last visible input in step
			    	var lastInput = parentStep.find('input:visible, textarea:visible, select:visible').last();
			    	if(target.is(lastInput)) {
			    		e.preventDefault();
			    		var current = $('.current');
						if ($(current).find('.ajax-form').submit()) {
							$(current).addClass('current');
						}
			    	}
			    }
			 });

		});
	</script>
{% endblock %}
