{% extends 'dealer/_sidebar' %}

{% block pagetitle %}
    <h2>Request For Additional Paperwork</h2>
    <div class="row">
        <div class="medium-8 columns">
            <p class="small">Please fill out the form below. We will determine how many packages to send you based on the amount of business we receive from your company. Once we receive your request, you will receive your paperwork order within 7-10 business days.</p>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="columns medium-10 large-8">

    <div class="steps" id="steps">
        <form>
            <div class="panel form extra-labels clearfix">
            <div class="small-text-center" style="margin-top: -0.6rem;">
                <aside class="step-link active" id="step-one-link">Info</aside>
                <aside class="step-link" id="step-two-link">Paperwork</aside>
            </div>
            <section class="step" id="step-one" style="display: block">
                <h3 class="step-title">
                    Your Information
                </h3>
                <p class="small">Provide the information below.<br>
                    <span style="color: red">Required *</span></p>

                <h4 class="label-header required">Phone Number</h4>
                <label>
                    Your business phone number (including area code) where customers can reach you. This will appear on your contract (with the exception of water products). <strong>Please ensure accuracy.</strong>
                    <input type="text" class="step-one" name="phone_number" required>
                </label>

                <h4 class="label-header required">Street Address</h4>
                <label>
                    Your business address. This will appear on your contract (with the exception of water products). <strong>Please ensure accuracy.</strong> <span style="color: red">PO Boxes cannot be used as a business address.</span>
                    <input type="text" class="step-one" name="street_address" required>
                </label>

                <h4 class="label-header required">City</h4>
                <label>
                    <input type="text" class="step-one" name="city" required>
                </label>

                <h4 class="label-header required">State</h4>
                <label>
                    <input type="text" class="step-one" name="state" required>
                </label>

                <h4 class="label-header required">Zip Code</h4>
                <label>
                    <input type="text" class="step-one" name="zip_code" required>
                </label>

                <h4 class="label-header required">Language</h4>
                <div class="checkbox-group language">
                    <label>Please indicate which language you require for your contracts. <br>
                        <input type="checkbox" class="step-one" name="language[]" value="English"> English
                    </label>
                    <label>
                        <input type="checkbox" class="step-one" name="language[]" value="Spanish"> Spanish
                    </label>
                </div>


                <button id="advance" class="right">Next</button>
            </section>

            <section class="step step-two" style="display: block" id="step-two">
                <h3 class="step-title">
                    Loan Documents
                </h3>
                <p class="small">Indicate which documents you need. You will only receive paperwork for the program for which you were approved.
                    If you have not been approved for the revolving program, we will not send you revolving paperwork.</p>

                <h4 class="label-header required">States(s) paperwork is needed for:</h4>
                <label>
                    Please note we do require state license. Separate states by commas.
                    <textarea name="states_required" required rows="2"></textarea>
                </label>

                <h4 class="label-header required">Installment Paperwork</h4>
                <div class="checkbox-group installment_paperwork">
                    <label>
                        <input type="checkbox" name="installment_paperwork[]" value="Installment Credit Applications"> Installment Credit Applications
                    </label>
                    <label>
                        <input type="checkbox" name="installment_paperwork[]" value="Installment Contracts"> Installment Contracts
                    </label>
                    <label>
                        <input type="checkbox" name="installment_paperwork[]" value="Manila Envelopes"> Manila Envelopes (remember, we require all original documents to be mailed to us 1-2 times a month)
                    </label>
                </div>

                <h4 class="label-header required">Revolving Paperwork</h4>
                <div class="checkbox-group revolving_paperwork">
                    <label>
                        <input type="checkbox" name="revolving_paperwork[]" value="Revolving Credit Agreements"> Revolving Credit Agreements
                    </label>
                    <label>
                        <input type="checkbox" name="revolving_paperwork[]" value="Revolving Sales Slips"> Revolving Sales Slips
                    </label>
                    <label>
                        <input type="checkbox" name="revolving_paperwork[]" value="Right to Cancel Forms"> Right to Cancel / Notice of Cancellation Forms
                    </label>
                    <label>
                        <input type="checkbox" name="revolving_paperwork[]" value="Loan Completion Certificates"> Loan Completion Certificates
                    </label>
                    <label>
                        <input type="checkbox" name="revolving_paperwork[]" value="Reg Z Forms"> Reg Z Forms
                    </label>
                    <label>
                        <input type="checkbox" name="revolving_paperwork[]" value="Manila Envelopes"> Manila Envelopes (remember, we require all original documents to be mailed to us 1-2 times a month)
                    </label>
                </div>

                <h4 class="label-header">Other Comments</h4>
                <label>
                Add anything else we should know in the comment box below.
                <textarea name="comments"></textarea>
                </label>

                <h4 class="label-header required">Ship to Address Provided Above?</h4>
                <div class="checkbox-group ship_to_given_address">
                    <label for="ship_to_above">
                        <input id="ship_to_above" type="radio" name="ship_to_given_address" value="1" selected="selected"> Yes
                    </label>
                    <label for="ship_to_below">
                        <input id="ship_to_below" type="radio" name="ship_to_given_address" value="0"> No (Enter new Address)
                    </label>
                </div>

                <div style="display: none" id="alternate-shipping">
                    <h4 class="label-header">Company Name / Recipient Name</h4>
                    <label>
                        <input type="text" name="company_recipient_name">
                    </label>

                    <h4 class="label-header required">Street Address</h4>
                    <label>
                        <input type="text" name="alternate_street_address" required>
                    </label>

                    <h4 class="label-header required">City</h4>
                    <label>
                        <input type="text" name="alternate_city" required>
                    </label>

                    <h4 class="label-header required">State</h4>
                    <label>
                        <input type="text" name="alternate_state" required>
                    </label>

                    <h4 class="label-header required">Zip Code</h4>
                    <label>
                        <input type="text" name="alternate_zip_code" required>
                    </label>

                    <br>

                </div>
                <h5 class="label-header"><strong>Please review all information for accuracy before submitting.</strong></h5>

                <button id="submit" class="right">Submit</button>
            </section>
        </div>
        </form>
    </div>
    </div>
    <div id="success" class="small-text-center" style='display: none'>
        <p>Thank you for submitting your request for additional paperwork. All requests are reviewed by a staff member before the order is placed. If we have any questions about your request, we will contact you by phone. You will receive a confirmation email once we place your order.</p>
        <p>Please contact us at 877-547-2926 Option 3 if you have any questions.</p>
    </div>
</div>

{% endblock %}

{% block pagescripts %}
<style>
    #steps .error{
        margin-top: -2em;
    }
</style>
<script src="/js/jquery.mask.min.js"></script>
<script>
    $(function(){

        // modal to update name
        if($('#username').text() == ""){
            $('#updateDistrib').foundation('reveal', 'open');
        }

        $('#steps').find('[name="phone_number"]').mask('(000) 000-0000');
        $('#steps').find('[name="alternate_phone_number"]').mask('(000) 000-0000');

        $('.step').hide();
        $('.step').first().show();
        $('#advance').on('click', function(e){
            e.preventDefault();
            var currentStep = $('#step-one');
            currentStep.hide();
            currentStep.next('.step').show();
            $('#step-one-link').removeClass('active')
            $('#step-two-link').addClass('active')
        })

        $('#ship_to_below').on('click', function(){
            $('#alternate-shipping').slideDown();
        })

        $('#ship_to_above').on('click', function(){
            $('#alternate-shipping').slideUp();
        })

        $('#step-one-link').on('click', function(){
            $('#step-two').hide();
            $('#step-one').show();
            $('#step-two-link').removeClass('active');
            $('#step-one-link').addClass('active');
        });

        $('#step-two-link').on('click', function(){
            $('#step-one').hide();
            $('#step-two').show();
            $('#step-one-link').removeClass('active')
            $('#step-two-link').addClass('active')
        });

        $('#submit').on('click', function(e){
            e.preventDefault();
            $('#submit').text('Waiting...').attr('disabled', 'disabled');
            $.ajax({
                data: $('#steps').find('input, textarea, select').serialize(),
                type: 'POST',
                url: '/request-paperwork/submit',
                success: function(data) {
                    $('#steps').hide();
                    $('#success').show();
                },
                error: function(data, next) {
                    $('#steps').find('.error').remove();
                    for (var property in data.responseJSON) {
                        if (data.responseJSON.hasOwnProperty(property)) {
                            var input = $('#steps').find('[name="' + property + '"], .checkbox-group.' + property);

                            if( input.hasClass("step-one") ) {
                                $('#step-two').hide();
                                $('#step-one').show();
                                $('#step-two-link').removeClass('active');
                                $('#step-one-link').addClass('active');
                            }

                            input.after('<span class="error">' + data.responseJSON[property][0] + '</span>');
                        }
                    }
                    $('#submit').text('Submit').attr('disabled', false);
                }
            });
        })


    });
</script>
{% endblock %}