{% extends "staff/_standard" %}

{% block title %}Files{% endblock %}

{% block options %}
	{# <button href="#" data-dropdown="options" data-options="align:left" aria-controls="drop1" aria-expanded="false" class="button tiny secondary dropdown right options-button"><i class="fi-wrench"></i></button>
	<ul id="options" data-dropdown-content class="f-dropdown" aria-hidden="true">
	  <li><a href="#" data-reveal-id="newDistribModal"><i class="fi-plus circle"></i>Add Distributor</a></li>
	</ul> #}
{% endblock %}


{% block pageheader %}
	<div class="small-12 columns"><h2>Review File</h2>
		<p style="margin-top: -0.5em;"><em>Assign each page of the file upload.</em></p>
	</div>
{% endblock %}


{% block content %}
	<style>
		#expandImage img{
			width: 100%;
		}
	</style>
	<form method="post" action="/files/{{ file.id }}/review">
		<input type="hidden" name="_token" value="{{ csrf_token() }}">

	{# loop over pages and output for staff to view #}
	<div class="row" id="all-pages">
		<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
		{% for page in pages %}
			<li>
				<div class="page">
					<div class="zoom-img">
						<img src="{{ page }}" data-id="{{ loop.index }}">
					</div>
					<a class="expand-image"><p class="small-text-center">+ Page {{ loop.index }}</p></a>
					<label>Assign: 
						<select name="pages[]" class="select-page" required>
							<option>-- Choose --</option>
							<option value="1">Credit Agreement</option>
							<option value="2">Contract</option>
							<option value="5">Notice Cancellation</option>
							<option value="13">ACH</option>
							<option value="11">LCC</option>
							<option value="51">Other</option>
						</select>
					</label>
					<label class="other" style="display: none;">
						Other: <input type="text" name="other_{{ loop.index }}">
					</label>
				</div>
			</li>
		{% endfor %}
		</ul>
	</div>

	<div class="small-text-center">
		<button class="button small">Submit</button>
	</div>
	</form>


{# modal to open image fullscreen #}
<div id="expandImageModal" class="reveal-modal xlarge" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	<div id="expandImage">
	</div>
</div>

{% endblock %}

{% block pagescripts %}
<script src="/js/jquery.zoom.min.js"></script>
<script>
	$(function(){

		$('#all-pages .zoom-img').zoom({magnify: 1.5});

		$('#all-pages').on('change', '.select-page', function(){
			if($(this).val() == '51') {
				$(this).closest('.page').find('.other').show();
			}
		});

		// the associate FCA id button
		$('#all-pages').on('click', '.expand-image', function(e){
			e.preventDefault();
			var imageSrc = $(this).closest('.page').find('.zoom-img img').attr('src');
			$('#expandImage').html('<img src="' + imageSrc + '">');

			// url with custom callbacks
			$('#expandImageModal').foundation('reveal', 'open', {
			});
		});
	});
</script>
{% endblock %}
