{% extends "_layout" %}

{% block content %}
<div class="separator">
	<div class="row space">
		<div class="small-12 columns">
			<h1>{{ entry.title }} ( {{ entry.postDate }} )</h1>
		</div>
	</div>
</div>

	<div class="row m-space">
		<article class="small-12 large-8 columns">
			
			{{ entry.standardContent }}
			
		</article>
		<aside class="medium-4 small-12 columns">
			{% include 'includes/_sidebar' %}
		</aside>
	</div>
{% endblock %}
