{% if url %}
Your account with Belmont Finance LLC has been set up.
Here's a link you can use to create a password for your account: <a href="{{ url }}/password/reset/{{ token }}?email={{ user.getEmailForPasswordReset()|url_encode }}&new=true"> {{ url }}/password/reset/{{ token }}?email={{ user.getEmailForPasswordReset()|url_encode }}&new=true </a>
{% else %}
Someone has requested a password reset for your account. If this was not you, please ignore this email.
Click here to reset your password: <a href="{{ url('password/reset', token) }}?email={{ user.getEmailForPasswordReset()|url_encode }}"> {{ url('password/reset', token) }}?email={{ user.getEmailForPasswordReset()|url_encode }} </a>
{% endif %}

This link is time sensitive and will expire.
