<h3>{{ product.name }}</h3>
<hr>
<h5>Payment Factors</h5>
{% if product.pmtFactors | length %}
	<table>
		<td>Factor</td><td>Min Rate</td><td>Ach Required</td>
	{% for factor in product.pmtFactors %}
		<tr>
			<td>{{ factor.pmt_factor }}</td>
			<td>{{ factor.min_buy_rate ?: 'No' }}</td>
			<td>{{ factor.ach_required ? 'Yes' : 'No' }}</td>
		</tr>
	{% endfor %}
	</table>
{% else %}
	<em>No payment factors assigned for this product</em>
{% endif %}

<form class="ajax-form" method="post" action="/settings/distributor/product/{{ product.id }}/pmtFactor">
	<br>
	<em>Add a new payment factor. Minimum buy rate is optional.</em>
	<div class="row">
		<div class="medium-4 columns">
			<label>Payment Factor<input type="text" name="payment_factor" placeholder="1.5"></label>
		</div>
		<div class="medium-4 columns left">
			<label>Min Buy Rate<input type="text" name="buy_rate" placeholder="80"></label>
		</div>
	</div>
	<div class="row">
		<div class="medium-12 columns">
			<button class="button small">Create</button>
		</div>
	</div>
</form>