<ul class="side-nav">
	<!-- <li><a href="/settings/promos">Promotionals</a></li> -->
	<li><a href="/settings/general" {% if current == "general" %}class="active"{% endif %}>Miscellaneous</a></li>
	<li><a href="/settings/payments" {% if current == "payments" %}class="active"{% endif %} >Payments</a></li>
	<li><a href="/settings/recurring-payments" {% if current == "rec-payments" %}class="active"{% endif %} >Recurring Payments</a>
	<li><a href="/settings/recurring-card" {% if current == "rec-card" %}class="active"{% endif %} >Recurring Card</a>
	<li><a href="/settings/distributors" {% if current == "distributors" %}class="active"{% endif %} >Distributors</a></li>
    <li><a href="/settings/states" {% if current == "states" %}class="active"{% endif %} >States</a></li>
    <li><a href="/settings/apps" {% if current == "apps" %}class="active"{% endif %} >Apps</a></li>
</ul>
