{% extends 'staff/_sidebar' %}

{% block pageheader %}
	<h4>App Settings</h4>
{% endblock %}

{% block sidebar %}
	{% include "staff/settings/_sidebar.twig" %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="small-12 columns" id="dealer-info">  
            <h4>Clear Consumers</h4>
            <p>Leave fields blank to clear all online apps with the last name of Consumer. Or, enter ALL values to erase another online application.</p>
            <form method="post" action="/apps/clear-consumer" enctype="multipart/form-data" class="ajax-form">
                <input type="hidden" name="_token" value="{{ csrf_token() }}">
                <div class="row">
                    <div class="small-12 medium-4 columns">
                        <label>First Name <input name="firstName"></label>
                    </div>
                    <div class="small-12 medium-4 columns">
                        <label>Last Name <input name="lastName"></label>
                    </div>
                    <div class="small-12 medium-4 columns">
                        <label>FCA or App ID <input name="identifier"></label>
                    </div>
                </div>
                <button class="tiny button">Clear</button>
            </form>
        </div>
    </div>
   
{% endblock %}

{% block pagescripts %}
{% endblock %}
