{% extends 'staff/_sidebar' %}

{% block pageheader %}
    <h3><a href="/settings/distributors" class="back-arrow"><i class="circle fi-arrow-left"></i> </a>DEALER PAPERWORK REQUESTS</h3>
{% endblock %}

{% block sidebar %}
    {% include "staff/settings/_sidebar.twig" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="small-12 columns">
        <h5>Pending Paperwork Requests</h5>
        </div>
        <div class="small-12 columns" id="products">
            <div id="product-inner" class="ajax-update">
                <ul>
                {% for request in pending %}
                    <li><a href="/settings/dealers/paperwork-requests/{{ request.id }}">{{ request.dealer.company.company_name }} - requesting {{ request.getItemsRequestedWords() }}</a><br></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
        <h5>Recently Sent Paperwork Requests</h5>
        </div>
        <div class="small-12 columns" id="products">
            <div id="product-inner" class="ajax-update">
                <ul>
                {% for request in sent %}
                    <li><a href="/settings/dealers/paperwork-requests/{{ request.id }}">{{ request.dealer.company.company_name }} - sent out on {{ request.sent_at | date('n/j/Y') }}</a><br></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block pagescripts %}
    <script>

        $('#products').on('click', '.delete-product', function(e){
            e.preventDefault();
            deleteItem(this);
            console.log('delete');
        });

        function deleteProduct(){

        }
    </script>
{% endblock %}