{% extends 'staff/_sidebar' %}

{% block pageheader %}
    <h3><a href="/settings/dealers/paperwork-requests" class="back-arrow"><i class="circle fi-arrow-left"></i> </a> REQUEST BY {{ pRequest.dealer.company.company_name | upper }} ({{ pRequest.dealer.company.account_number }})</h3>
{% endblock %}

{% block sidebar %}
    {% include "staff/settings/_sidebar.twig" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="small-12 columns">
            <h5><em>Requesting in {{ pRequest.language }} for {{ pRequest.states_required }}</li>:</em></h5>
            <ul>
                {% for item in pRequest.getItemsRequested() %}
                    <li>{{ item }}</li>
                {% endfor %}
                
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <h5><em>Ship to:</em></h5>
            {% if pRequest.alternate_street_address %}
                {{ pRequest.company_recipient_name ?: pRequest.dealer.company.company_name }}<br>
                {{ pRequest.alternate_street_address }}<br>
                {{ pRequest.alternate_city }}, {{ pRequest.alternate_state }} {{ pRequest.alternate_zip_code }}
            {% else %}
                {{ pRequest.dealer.company.company_name }}<br>
                {{ pRequest.street_address }}<br>
                {{ pRequest.city }}, {{ pRequest.state }} {{ pRequest.zip_code }}
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <br>
            <h5><em>Phone: </em></h5>
            {{ pRequest.phone_number }}  {{ pRequest.alternate_phone_number }}
            <br><br>
            <h5><em>Comments:</em></h5>
            {{ pRequest.comments }}<br>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <br><br>
            <form action="/settings/dealers/paperwork-sent/{{ pRequest.id }}" method="POST">
                <input type="hidden" value="{{ csrf_token() }}" name="_token">
                <button class="button small right" {% if pRequest.sent_at %}disabled="disabled"{% endif %}>Mark Sent</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            {% if pRequest.sent_at %}
                <p class="small right"><em>Sent at {{ pRequest.sent_at | date('n/j/y') }}</em></p>
            {% else %}
                <p class="small right"><em>The dealer will receive an email that their order is on the way, and this request will be removed from the queue</em></p>
            {% endif %}
        </div>
    </div>
    
{% endblock %}

{% block pagescripts %}
    <script>
    </script>
{% endblock %}