{% extends 'staff/_sidebar' %}

{% block pageheader %}
	<h4>DISTRIBUTOR SETTINGS</h4>
{% endblock %}

{% block sidebar %}
	{% include "staff/settings/_sidebar.twig" %}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="small-12 columns">
			<h5><a href="/settings/dealers/paperwork-requests">{{ pendingPaperworkRequests }} Dealer Paperwork Requests</a></h5>
		</div>
	</div>
	<br>

	<div class="row">
		<div class="small-12 columns">
		<h5>Products / Service List</h5>
		<p><em>Add or remove from the list of products or services to assign distributors.</em></p>
		</div>
		<div class="small-12 columns" id="products">
			<div id="product-inner" class="ajax-update">
				<div>
				{% for product in products %}

						<a class="edit button tiny secondary edit-product" href="/settings/distributor/product/{{ product.id }}" data-reveal-id="viewProductModal" data-reveal-ajax="true" >
							<i class="fi-pencil circle"></i>
							{{ product.name }}
						</a>
				{% endfor %}
				</div>
			</div>
		</div>
		<form action="/settings/add-product" method="post" class="ajax-form">
			<div class="small-12 medium-4 columns">
				<input name="name" type="text" value="" placeholder="New Product Name">
			</div>
			<div class="small-12 medium-4 columns left">
			<label>&nbsp;
				<button class="button tiny">Add</button>
			</label>
		</form>
		</div>
	</div>
	
	{# modal for viewing a product #}
	<div id="viewProductModal" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

	</div>
{% endblock %}

{% block pagescripts %}
	<script>

		$('#products').on('click', '.edit-product', function(e){
		});

		function deleteProduct(){

		}
	</script>
{% endblock %}