{% if item %}
  <h3 id="modalTitle">Edit Promotional</h3>
		<form class="ajax-form" method="POST" action="{{ url('/settings/edit-promo') }}">
		<div class="row">
			<input type="hidden" name="_token" value="{{ csrf_token() }}">
			<input type="hidden" name="id" value="{{ item.id }}">
			<label>Promotional Name:<input type="text" name="title" value="{{ item.title }}"></label>
			<div class="row">
				<div class="small-12 medium-6 columns">
					<label>SAC Months:
						<select name="SAC">
							<option> - </option>
							{% for i in 1..12 %}
							<option value="{{ i }}" {% if i == item.SACMonths %}selected{% endif %}>{{ i }} Month(s)</option>
							{% endfor %}
						</select>
					</label>
				</div>
				<div class="small-12 medium-6 columns">
					<label>Defer Days
						<input type="number" name="deferDays" value="{{ item.deferDays }}">
					</label>
				</div>
			</div>
			<label>Promotional APR (x.xx)
				<input type="text" name="promoAPR" value="{{ item.promoApr }}">
			</label>
			<div class="row">
				<a class="button tiny warning" data-title="{{ promo.company_name }}" data-id="{{ promo.id }}">
					<i class="circle fi-trash"></i> Delete
				</a>
				<button class="right small">Create / Update</button></div>
		</div>
		</form>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>

{% else %}
	<em>No promotional found</em>
{% endif %}