{% extends 'staff/_sidebar' %}

{% block pageheader %}
	<h4>Imports</h4>
{% endblock %}

{% block sidebar %}
	{% include "staff/settings/_sidebar.twig" %}
{% endblock %}

{% block content %}
    <div><p><em>ONLY USE THE CORRECT EXPORTED FILES FROM BFC HERE</em></p></div>

    <div class="row">
        <div class="small-12 columns" id="dealer-info">  
            <h4>Dealer Information Import</h4>
            <p>Does not  new create dealers, only updates existing dealers matching by account number</p>
            <form method="post" action="/settings/import/dealer-info" enctype="multipart/form-data">
                <input type="hidden" name="_token" value="{{ csrf_token() }}">
                <label> Dealer Info Import
                    <input type="file" name="dealer_info">
                </label>

                <button class="tiny button">Import</button>
            </form>
        </div>
    </div>
    <hr>
	<div class="row">
		<div class="small-12 columns" id="states">
            <h4>Dealer State Import</h4>
            <p>Updates all dealer state settings</p>
			<form method="post" action="/settings/import/states" enctype="multipart/form-data">
                <input type="hidden" name="_token" value="{{ csrf_token() }}">
                <label> Dealer State Import
                    <input type="file" name="dealer_states">
                </label>

                <button class="tiny button">Import</button>
            </form>
		</div>
	</div>
{% endblock %}

{% block pagescripts %}
    <script src="/js/jquery.mask.min.js"></script>
    <script>
        $(function(){
            $('.max-apr').mask("09.00");

            $('#states').on('input', '.max-apr', function(e){
                $.ajax({
                    type: 'post',
                    url: '/settings/update-state',
                    data: {
                        state: $(this).data('state'),
                        max_apr: $(this).val()
                    }
                })
            });
        });

    </script>
{% endblock %}
