{% extends 'staff/_sidebar' %}

{% block pageheader %}
	<h4>NOTIFICATION SETTINGS</h4>
{% endblock %}

{% block sidebar %}
	{% include "staff/settings/_sidebar.twig" %}
{% endblock %}

{% block content %}
	<form method="post" action="/settings/save" class="ajax-form">
	<div class="row">
		<div class="small-12">
		<h5>Application Notification Email</h5>
		<em>Enter a comma separated list of email addresses to use when application statuses change</em>
		</div>
		<div class="small-12 medium-6">
			<input name="applicationEmails" type="text" value="{{ settings.applicationEmails.value }}">
		</div>

		<h5>ACH Notification Email</h5>
		<em>Enter a comma separated list of email addresses to use when a recurring ACH payment is ready.</em>
		<div class="small-12 medium-6">
			<input name="paymentEmails" type="text" value="{{ settings.paymentEmails.value }}">
		</div>
	</div>
	<div class="row">
		<button class="right button tiny">Save</button>
	</div>

	</form>
	<form method="post" action="/settings/save" class="ajax-form">

	<div class="row">
		<h4>ACH SETTINGS</h4>
		<hr>

		<div class="small-12 columns"><em>These values are used to create the downloaded NACHA files - this data must be correct</em></div>
		<br><br>
			<div class="small-12 medium-4 columns ">

				<label>
					Bank Routing Number
					<input name="routing_number" type="text" value="{{ settings.routing_number.value }}" >
				</label>

				<label>
					Company ID (issued by bank)
					<input name="company_id" type="text" value="{{ settings.company_id.value }}" >
				</label>

				<label>
					Company Name
					<input name="company_name" type="text" value="{{ settings.company_name.value }}" >
				</label>

				<label>
					Settlement Account Number
					<input name="settlement_account" type="text" value="{{ settings.settlement_account.value }}" >
				</label>

				<label>
					File ID (issued by bank)
					<input name="file_id" type="text" value="{{ settings.file_id.value }}" >
				</label>

			</div>
			<div class="small-12 medium-4 columns left">

				<label>
					Immediate Destination Name
					<input name="destination_name" type="text" value="{{ settings.destination_name.value }}" >
				</label>

				<label>
					Immediate Origin Name
					<input name="originating_bank" type="text" value="{{ settings.originating_bank.value }}" >
				</label>

				<label>
					Immediate Origin Routing Number
					<input name="originating_routing" type="text" value="{{ settings.originating_routing.value }}" >
				</label>

				<label>
					Batch Descriptions
					<input name="batch_name" type="text" value="{{ settings.batch_name.value }}" >
				</label>

				<label>
					Statement Description
					<input name="statement_description" type="text" value="{{ settings.statement_description.value }}" >
				</label>

				<label>Account Type: <select name="account_type">
					<option selected value="CHECKING">Checking</option>
					<option value="SAVINGS">Savings</option>
				</select>
				</label>
			</div>
	</div>
	<div class="row">
		<button class="right button tiny">Save</button>
	</div>
	</form>

{% endblock %}
