{% extends 'staff/_sidebar' %}

{% block pageheader %}
	<h4>PAYMENT FILES</h4>
{% endblock %}

{% block sidebar %}
	{% include "staff/settings/_sidebar.twig" %}
{% endblock %}

{% block content %}
	<form method="post" action="/settings/save" class="ajax-form">
	<div id="ccdownloads">
		<div class="row ajax-update" id="ccinner">
			<div class="small-12">
				<h4>Credit Card Downloads</h4>
				<p><em>Download a daily list of authorized payment transactions made through the website.</em></p>
				{% for x in downloadDays %}
				<p>{{ x.date|date('m/d/Y') }} - {% if x.downloaded %} Already Downloaded (<a href="/settings/payments/{{ x.date|date('Y-m-d') }}">Download Again</a>){% else %}<a href="/settings/payments/{{ x.date|date('Y-m-d') }}">Download Now</a>{% endif %}</p>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="row" id="achdownloads">

		<div class="small-12 ajax-update" id="ach-list">
		<br>
			<h4>ACH Downloads</h4>
			<hr>
			{% if verifyAchSettings %}
			<p><em>These are ACH requests that have been submitted in the customer area. First download the bank NACHA file, then you will also need that day's lockbox file. Stored account numbers older than 7 days will be removed from the database. </em></p>
			{% for x in achDownloadDays %}
				<p>{{ x.date|date('m/d/Y') }} -
				{% if x.downloaded %} NACHA file downloaded (<a href="/settings/ach-payment-nacha/{{ x.date|date('Y-m-d') }}">Download Again</a>) |
					{% if x.lockbox %}
						Lockbox file downloaded (<a href="/settings/ach-payment-lockbox/{{ x.date|date('Y-m-d') }}">Download again</a>)
					{% else %}
						<a href="/settings/ach-payment-lockbox/{{ x.date|date('Y-m-d') }}">Download lockbox file</a>
					{% endif %}
				{% else %}<a href="/settings/ach-payment-nacha/{{ x.date|date('Y-m-d') }}">Download Now</a>
				{% endif %}
				</p>
			{% endfor %}
			{% else %}
				ACH settings are incorrect - please fix them <a href="/settings/general">here</a>
			{% endif %}
		</div>

	</div>
	</form>

	<div class="row">
	<div class="small-12">
	<br>
	<h4>ACH Payments Report</h4>
	<hr>
	<form method="post" action="/settings/payments-report">
	<div class="row">
		<input type="hidden" value="{{ csrf_token() }}" name="_token">
		<div class="small-12 medium-4 columns left">
			<label>Month: <select name="month">
				{% for i in 1..12  %}
				<option {{ i == 1 ? 'selected' }} value="{{i}}">{{ i |date('2012-' ~ i ~ '-01') |date('M') }}</option>
				{% endfor %}
				</select>
			</label>
		</div>
		<div class="small-12 medium-4 columns left">
			<label>Year: <select name="year">
				{% for i in 0..2  %}
				<option {{ i == 0 ? 'selected' }} value="{{ 2016 - i }}">{{ 2016 - i }}</option>
				{% endfor %}
				</select>
			</label>
		</div>
		<div class="small-12 medium-4 columns left">
			<button class="right">Download</button>
		</div>
	</div>
	</form>
	</div>
	</div>
{% endblock %}

{% block pagescripts %}
<script>
	$(function(){
		var container = $('#ach-list');
		var viewLinks = container.find('.ach-details');

		// toggle display of details
		container.on('click', '.ach-details', function(e){
			e.preventDefault();
			if($(this).hasClass('open')){
				container.find('.transaction-details').hide();
				viewLinks.removeClass('open');
			}else{
				viewLinks.removeClass('open');
				$(this).addClass('open');
				container.find('.transaction-details').hide();
				$(this).closest('.ach-result').find('.transaction-details').show();
			}
		});

		container.on('click', '.done, .failed', function(e){
			e.preventDefault();
			var _this = $(this);
			_this.attr('disabled', true);
			_this.closest('li').siblings('li').find('.failed, .done').attr('disabled', true);
			$.ajax({
				url: '/settings/mark-ach/' + $(this).data('id'),
				type: 'post',
				data: {
					'result': _this.hasClass('done') ? 'done' : 'failed'
				},
				success: function(){
					_this.closest('.ach-result').remove();
				},
				error: function(){
					alert('Could not mark this - try again and contact developer if you still see this error');
					_this.attr('disabled', false);
					_this.closest('li').siblings('li').find('.failed, .done').attr('disabled', false);
				}
			})
		});

		$('#ccdownloads').on('click', 'a', function(e){
			setTimeout(function(){ updatePageAjax(); }, 500);
		});

		$('#achdownloads').on('click', 'a', function(e){
			setTimeout(function(){ updatePageAjax(); }, 500);
		});


	});
</script>
{% endblock %}
