{% extends 'staff/_sidebar' %}

{% block pageheader %}
	<h4>EDIT PROMOTIONALS</h4>
{% endblock %}

{% block sidebar %}
	{% include "staff/settings/_sidebar.twig" %}
{% endblock %}

{% block content %}
	<section class="ajax-update" id="promos">
		{% if promos|length %}
			<div class="row css-columns-2">
				{% for promo in promos %}
					<div style="margin-bottom: 1em">
						<a class="edit" href="/settings/edit-promo/{{ promo.id }}" data-title="{{ promo.company_name }}" data-id="{{ promo.id }}" data-reveal-id="editPromoModal" data-reveal-ajax="true">
							<i class="circle fi-pencil"></i>
						</a>
						&nbsp;<span>{{ promo.title }}</span>
					</div>
				{% endfor %}
			</div>
			<hr>
			<div class="row">
				{{ paginate.input(promos) }}
			</div>
		{% else %}
			<em>No promotionals found</em>
		{% endif %}
	</section>

	<a class="button tiny right" href="#" data-reveal-id="newPromoModal"><i class="fi-plus circle"></i>Add Promotional</a>
		  
	{# modal for editing promotional #}
<div id="editPromoModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
</div>

	{# modal for creating a new promotional #}
	<div id="newPromoModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	  <h2 id="modalTitle">Create / Edit Promotional</h2>
			<form class="ajax-form" method="POST" action="{{ url('/settings/create-promo') }}">
			<div class="row">
				<input type="hidden" name="_token" value="{{ csrf_token() }}">
				<label>Promotional Name:<input type="text" name="title" value="{{ input.old('title') }}"></label>
				<div class="row">
					<div class="small-12 medium-6 columns">
						<label>SAC Months:
							<select name="SAC">
								<option value=""> - </option>
								{% for i in 1..12 %}
								<option value="{{ i }}">{{ i }} Month(s)</option>
								{% endfor %}
							</select>
						</label>
					</div>
					<div class="small-12 medium-6 columns">
						<label>Defer Days
							<input type="number" name="deferDays">
						</label>
					</div>
				</div>
				<label>Promotional APR (x.xx)
					<input type="text" name="promoAPR">
				</label>
				<div class="row"><button class="right small">Create / Update</button></div>
			</div>
			</form>
	  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>
{% endblock %}

{% block pagescripts %}

{% endblock %}