{% extends 'staff/_sidebar' %}

{% block pageheader %}
	<h4>EDIT RATINGS</h4>
{% endblock %}

{% block sidebar %}
<ul class="side-nav">
	<li><a href="/settings/promos" class="active">Promotionals</a></li>
</ul>
{% endblock %}

{% block content %}
	<section class="ajax-update" id="ratings">
		{% if ratings|length %}
			<ul class="small-block-grid-2 medium-block-grid-4">
				{% for rating in ratings %}
					<li>
						<a class="edit rating-circle" href="/settings/edit-rating/{{ rating.id }}" data-title="{{ rating.company_name }}" data-id="{{ rating.id }}" data-reveal-id="editRatingModal" data-reveal-ajax="true">
							{% set firstWord = rating.name|split(' ')[0] %}
							{% if firstWord|length < 3 %}<span class="letter">{{ firstWord }}</span><span class="sub">{{ rating.name|split(' ')[1:]|join(' ') }}</span>{% else %}{{ rating.name }}{% endif %}
							
							
						</a>
						&nbsp;<span></span>
					</li>
				{% endfor %}
			</ul>
			<hr>
			<div class="row">
				{{ paginate.input(ratings) }}
			</div>
		{% else %}
			<em>No ratings found</em>
		{% endif %}
	</section>

	<a class="button tiny right" href="#" data-reveal-id="newPromoModal"><i class="fi-plus circle"></i>Add Promotional</a>
		  
	{# modal for editing ratingtional #}
<div id="editRatingModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
</div>

	{# modal for creating a new ratingtional #}
	<div id="newRatingModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	  <h2 id="modalTitle">Create / Edit Promotional</h2>
			<form class="ajax-form" method="POST" action="{{ url('/settings/create-rating') }}">
			<div class="row">
				<input type="hidden" name="_token" value="{{ csrf_token() }}">
				<label>Promotional Name:<input type="text" name="title" value="{{ input.old('title') }}"></label>
				<div class="row">
					<div class="small-12 medium-6 columns">
						<label>SAC Months:
							<select name="SAC">
								<option value=""> - </option>
								{% for i in 1..12 %}
								<option value="{{ i }}">{{ i }} Month(s)</option>
								{% endfor %}
							</select>
						</label>
					</div>
					<div class="small-12 medium-6 columns">
						<label>Defer Days
							<input type="number" name="deferDays">
						</label>
					</div>
				</div>
				<label>Promotional APR (x.xx)
					<input type="text" name="ratingAPR">
				</label>
				<div class="row"><button class="right small">Create / Update</button></div>
			</div>
			</form>
	  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>
{% endblock %}

{% block pagescripts %}

{% endblock %}