{% extends 'staff/_sidebar' %}

{% block pageheader %}
	<h4>UNPROCESSED RECURRING PAYMENTS</h4>
{% endblock %}

{% block sidebar %}
	{% include "staff/settings/_sidebar.twig" %}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="small-12 columns">
			{% if payments is empty %}
				No unprocessed recurring payments on file.
			{% else %}
				{% for payment in payments %}
					<p><a href="/payments/recurring/{{ payment.id }}">{{ payment.electronic_signature ?: 'NO SIGNATURE' }}</a></p>
				{% endfor %}
			{% endif %}
		</div>
	</div>

    <br><br>
    <div class="row">
        <h4>REQUESTED CANCELLATION</h4>
        <hr>
        <div class="small-12 columns">

        {% if remove is empty %}
            No cancellation requests at this time.
        {% else %}
            {% for removeItem in remove %}
                <p><a href="/payments/recurring/{{ removeItem.id }}">{{ removeItem.electronic_signature ?: 'NO SIGNATURE' }}</a></p>
            {% endfor %}
        {% endif %}
        </div>
    </div>

{% endblock %}
