{% extends 'staff/_sidebar' %}

{% block pageheader %}
	<h4>EDIT PROMOTIONALS</h4>
{% endblock %}

{% block sidebar %}
<ul class="side-nav">
	<li><a href="/settings/promos" class="active">Promotionals</a></li>
	<li><a href="/settings/ratings">Ratings</a></li>
</ul>
{% endblock %}

{% block content %}
	
{% endblock %}