{% extends 'staff/_sidebar' %}

{% block pageheader %}
	<h4>State APR Settings</h4>
{% endblock %}

{% block sidebar %}
	{% include "staff/settings/_sidebar.twig" %}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="small-12 columns" id="states">
            <p><em class="small">Enter each state's maximum apr. These will save as you enter them</em></p>
			{% for state in states %}
            <form>
            <div class="row collapse">
                <div class="small-3 medium-1 columns">
                    <label class=" center inline">{{ state.state }}</label>
                </div>
                <div class="small-4 medium-2 columns">
                    <span class="prefix">Max APR (%)</span>
                </div>
                <div class="small-4 medium-2 columns left">
                    <input type="number" class="max-apr" name="max_apr" data-state="{{ state.state }}" value="{{ state.max_apr }}">
                </div>
            </div>
            </form>
            {% endfor %}
		</div>
	</div>
{% endblock %}

{% block pagescripts %}
    <script src="/js/jquery.mask.min.js"></script>
    <script>
        $(function(){
            $('.max-apr').mask("09.00");

            $('#states').on('input', '.max-apr', function(e){
                $.ajax({
                    type: 'post',
                    url: '/settings/update-state',
                    data: {
                        state: $(this).data('state'),
                        max_apr: $(this).val()
                    }
                })
            });
        });

    </script>
{% endblock %}
