{% extends context ~ '/_no-sidebar' %}


{% block content %}
<div class="row space-extra">
	<h1 class="title">
		Request to Cancel Payment
	</h1>
	<a href="/" class="logout">Back</a>
	<a href="/logout" class="logout">Logout</a>
</div>

<section class="full">
	<div class="row primary-container space-side space-extra payment">
		<div class="medium-8 medium-offset-2 small-12 columns small-text-center">
			<h2 class="text-center">Are you sure you wish to cancel this payment?</h2>
			<p>Remember, if you don't make timely payments, you may incur late fees</p>
		
			<form method="post" action="/payments/confirm-cancel-payment">
				<input type="hidden" name="_token" value="{{ csrf_token() }}">
				<input type="hidden" value="{{ payment.id }}" name="pid">
				<button class="button">Yes, Cancel Payment</button>
			</form>
			<a href="/" class="">No, go back</a>
		</div>
	</div>
</section>
{% endblock %}