{% extends context ~ '/_no-sidebar' %}

{% block title %}One Time Payment - Belmont Finance{% endblock %}

{% block titlearea %}
	<h1 class="title">
		Schedule a one time payment
	</h1>
	<a href="/" class="logout">Back</a>
	<a href="/logout" class="logout">Logout</a>
{% endblock %}

{% block content %}



<section class="full">
	<div class="row primary-container space-side space-extra payment">
		<div class="medium-6 small-12 columns">
			<h4>Choose your payment method:</h4>
			<div id="debit">
				<button class="large full">Debit Card</button>
				<div class="inner panel gray" style="display: none">
				<h4 class="panel-title"><small>Your payment is safely encrypted via SSL/TLS</small></h4>
					<form method="POST" action="/payments/process-card">
						<input type="hidden" value="{{ csrf_token() }}" name="_token">
						<div class="row">
							<div class="small-6 columns">
								<label>Card Type:</label>
									<select name="card_type">
										<option value="VISA">Visa</option>
										<option value="DISC">Discover</option>
										<option value="MC">MasterCard</option>
										<option value="AMEX">Amex</option>
									</select>

							</div>
							<div class="small-6 columns">
								<div class="row collapse">
									<div class="small-5 columns">
										<label>Month
											<select name="exp_month">
												{% for month in 1..12 %}
													<option {% if month == input_old('exp_month') %}selected{% endif %} value="{{  '%02d'|format(month) }}">{{  '%02d'|format(month) }}</option>
												{% endfor %}
											</select>
										</label>
									</div>
									<div class="small-7 columns">
										<label> Year
											<select name="exp_year">
												{% for year in "now"|date("Y").."now"|date_modify("+7 years")|date("Y") %}
													<option {% if month == input_old('exp_year') %}selected{% endif %}>{{  year }}</option>
												{% endfor %}
											</select>
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="small-8 columns">
								<label>Debit Card Number:
									<input type="text" name="cc">
								</label>
							</div>
							<div class="small-4 columns">
								<label>CVV / CVC:
									<input type="text" name="cvv">
								</label>
							</div>
						</div>
						<div class="row">
							<div class="small-12 columns">
								<label>Cardholder Name
									<input type="text" name="card_name" value="{{ card_name }}">
								</label>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="small-6 columns small-offset-3">
								<label class="text-center">Amount in USD:
									<div class="row collapse prefix-radius">
                                        <div class="small-2 columns">
                                          <span class="prefix">$</span>
                                        </div>
                                        <div class="small-10 columns">
                                          <input type="text" name="amount" placeholder="0.00" value="{{ input_old('amount') }}">
                                        </div>
                                    </div>
								</label>
							</div>
							<div class="small-12 columns">
								<em>By submitting this payment, you authorize this transaction from Belmont Finance LLC for the amount requested.</em>
								<br><br>
								<button>Submit Payment</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div id="ach">
				<button class="large full">ACH / Direct Bank Withdrawal</button>
				<div class="inner panel gray" style="display: none">
					<h4 class="panel-title"><small>Your payment is safely encrypted via SSL/TLS</small></h4>
					<form method="post" action="/payments/process-ach">
						<input type="hidden" value="{{ csrf_token() }}" name="_token">
						<div class="row">
							<div class="small-12 large-8 columns large-offset-2">
								<div class="row">
									<div class="small-12 medium-12 columns confirm">
										<label>Bank Routing Number:
											<input type="text" name="routing_number" value="{{ input_old('routing_number') }}">
										</label>
										<label>Please confirm your Routing Number:
											<input type="text" name="routing_number_confirmation" value="{{ input_old('routing_number') }}">
										</label>
									</div>
									<div class="small-12 medium-12 columns confirm">
										<label>Bank Account Number:
											<input type="password" name="account_number">
										</label>
										<label>Please confirm your Account Number:
											<input type="password" name="account_number_confirmation">
										</label>
									</div>
								</div>
								<label>Account Type:
									<select name="account_type">
										<option {{ input_old('account_type') != "1" ? 'selected' : '' }} value="0">Checking</option>
										<option {{ input_old('account_type') == "1" ? 'selected' : '' }} value="1">Savings</option>
									</select>
								</label>
							</div>
				
						</div>
						<div class="row">
							<div class="small-6 medium-6 columns">
								<label>Amount:
                                    <div class="row collapse prefix-radius">
                                        <div class="small-2 columns">
                                          <span class="prefix">$</span>
                                        </div>
                                        <div class="small-10 columns">
                                          <input type="text" name="amount_ach" placeholder="0.00" value="{{ input_old('amount_ach') }}">
                                        </div>
                                    </div>
								</label>
							</div>

							{% set start_date = now|date('U') %}
							{% set end_date = now|date_modify("+1 month")|date("U") %}


							<div class="small-6 medium-6 columns left">
							<label>Payment Date: 
							<select name="payment_date">
								{% for x in range(start_date, end_date, 86400 ) %}
								   <option {% if loop.first and not input_old('payment_date') %}selected{% elseif input_old('payment_date')|date('Y-m-d') == x|date('Y-m-d') %}selected{% endif %} value="{{ x|date('Y-m-d') }}">{{ x|date('M jS') }}</option>
								{% endfor %}
							</select>
							</label>
							</div>
						</div>
						<p><em>Please note that it will take approximately 2 business days for your transaction to be processed.</em></p>
						<p><strong>I authorize Belmont Finance LLC to initiate the ACH withdrawal for the above amount.</strong></p>
						<label> TYPE YOUR NAME IF YOU AGREE
							<input type="text" name="electronic_signature">
						</label>
						<button>SUBMIT PAYMENT</button>
					</form>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 columns">
			<div id="payment-warning" style="border: 2px solid red; padding: 0.5em 1.5em; margin-top: 1em;">
				<h4 id="payment-warning-header" class="text-center" style="color: red"><strong>IMPORTANT</strong></h4>
				<p style="font-size: 0.8em; margin-bottom: 0.5em;"><strong>Payments made on weekends or holidays will not be processed until the next business day, and may incur a late fee.</strong></p>
				<p style="font-size: 0.8em; margin-bottom: 0.5em;"><strong>Payments set up after 1PM CST will be processed the next business day, and may incur a late fee.</strong></p>
				<p style="font-size: 0.8em; margin-bottom: 0.5em;"><strong>Please note: one-time ACH payments made through our online portal will not change your regular ACH schedule (if you have already set up recurring ACH payments).</strong></p>
			</div>
			<!-- {{ content.paymentNotices|raw }} -->
			<style>
				@keyframes flickerAnimation {
				  0%   { opacity:1; }
				  50%  { opacity:0; }
				  100% { opacity:1; }
				}
				@-o-keyframes flickerAnimation{
				  0%   { opacity:1; }
				  50%  { opacity:0; }
				  100% { opacity:1; }
				}
				@-moz-keyframes flickerAnimation{
				  0%   { opacity:1; }
				  50%  { opacity:0; }
				  100% { opacity:1; }
				}
				@-webkit-keyframes flickerAnimation{
				  0%   { opacity:1; }
				  50%  { opacity:0; }
				  100% { opacity:1; }
				}
				#payment-warning-header {
				   -webkit-animation: flickerAnimation 1s 3;
				   -moz-animation: flickerAnimation 1s 3;
				   -o-animation: flickerAnimation 1s 3;
				    animation: flickerAnimation 1s 3;
				}
			</style>
		</div>
	</div>
</section>

{% if errors|length %}
	<div id="hidden-errors" style="display: none">
		{% set messages = errors.bags['default'].messages %}
		{% for label, value in messages %}
			<small class="error" data-name="{{ label }}">{{ value[0] }}</small>
		{% endfor %}
	</div>
{% endif %}

{% endblock %}

{% block pagescripts %}
	<script>
		$('#ach, #debit').on('click', 'button', function(e){
			$('.inner').hide();
			$(this).parents('#ach, #debit').find('.inner').show();
		});

		var amount = parseFloat( $('#amount').val() );
		$('#amount').val( amount.toFixed(2) );

		var errors = $('#hidden-errors').find('.error');
		errors.each(function(){
			var input = $('input[name="' + $(this).attr('data-name') + '"], select[name="' + $(this).attr('data-name') + '"]').first();
			console.log(input);
			$(this).appendTo(input.closest('label'));
			input.closest('.panel').show();
		});
	</script>
{% endblock %}
