{% extends context ~ '/_no-sidebar' %}

{% block title %}Recurring Payments - Belmont Finance{% endblock %}

{% block titlearea %}
	<h1 class="title">
		Recurring payments
	</h1>
	<a href="/" class="logout">Back</a>
	<a href="/logout" class="logout">Logout</a>
{% endblock %}

{% block content %}



<section class="full">
	<div class="row primary-container space-side space-extra payment">
		<div class="medium-6 small-12 columns">

			{% if recurring %}
				{% if recurring.processed %}
					{% if recurring.requested_removal %}
						<h4>Your recurring payment is awaiting removal</h4><br>
					{% else %}
						<h4>You have a recurring payment currently set up.</h4><br>
					{% endif %}
				{% else %}
				<h4>Your recurring payment is pending.</h4><br>
				{% endif %}

				{% if not recurring.requested_removal %}
				    <form method="post" action="/payments/cancel-recurring"><input type="hidden" name="_token" value="{{ csrf_token() }}">{% if recurring.routing_number %}<input type="hidden" name="tac" value="1">{% endif %}<button class="large full">Request Cancellation</button></form>
				{% endif %}
			{% else %}
			<h4>You have no recurring payments.<br>Would you like to set one up?</h4><br>


			<div id="ach">
				<button class="large full opener">Set up a recurring ACH payment.</button>
				<div class="inner panel gray" style="display: none">
					<h4 class="panel-title"><small>Your information is safely encrypted via SSL/TLS</small></h4>
					<form method="post" action="/payments/process-recurring-ach">
						<input type="hidden" value="{{ csrf_token() }}" name="_token">
						<div class="row">
							<div class="small-12 medium-6 columns">
							<label> Bank Routing Number:
								<input type="text" name="routing_number" value="{{ input_old('routing_number') }}">
							</label>
							</div>
							<div class="small-12 medium-6 columns">
							<label> Bank Account Number:
								<input type="text" name="account_number">
							</label>
							</div>
							<div class="small-12 medium-6 columns left">
							<label>Account Type: <select name="account_type">
								<option selected value="0">Checking</option>
								<option value="1">Savings</option>
							</select>
							</label>
							</div>

						</div>

						<hr>
						<div class="row">
							<div class="small-6 medium-6 columns left">
								<label>Withdrawal Day
								<select name="withdrawal_day" id="withdrawal_day" required>
									<option value="">Choose...</option>
									{% for i in 1..31 %}
									<option value="{{ i }}">{{ i }}</option>
									{% endfor %}
								</select>
								</label>
							</div>
							<div class="small-6 medium-6 columns left">
								<label>Start Date
									<input type="date" name="start_date" id="start_date" value="{{ now|date("Y-m-d") }}" min="{{ now|date("Y-m-d") }}" max="{{ now|date_modify("+1 year")|date("Y-m-d") }}">
								</label>
							</div>
						</div>
						<div class="row">
							<div class="small-6 medium-6 columns">
								<label>Amount (per period):
									<input type="text" name="amount" id="amount" value="{{ input_old('amount')|number_format }}">
								</label>
							</div>
							<div class="small-6 medium-6 columns">
								<label>Period
									<select name="frequency" id="frequency">
										<option value="Monthly" {{ input_old('frequency') == "Monthly" ? "selected" : "" }}>Monthly (default)</option>
										<option value="Biweekly" {{ input_old('frequency') == "Biweekly" ? "selected" : "" }}>Biweekly</option>
										<option value="Weekly" {{ input_old('frequency') == "Weekly" ? "selected" : "" }}>Weekly</option>
									</select>
								</label>
							</div>
						</div>
							<div class="small-12 columns" id="example-payment">
								<h5 class="small-text-center" style="color: red">Fill in the amount field and the withdrawal day to view the example schedule</h5>
							</div>
						<p style="margin-bottom: 0">I authorize Belmont Finance LLC to initiate the ACH withdrawal for the above amount.</p>
						<label> TYPE YOUR FULL NAME IF YOU AGREE
							<input type="text" name="electronic_signature">
						</label>
						<button>SUBMIT PAYMENT</button>
					</form>
				</div>
			</div>

			<div id="card">
				<button class="large full opener">Set up a recurring card payment.</button>
				<div class="inner panel gray" style="display: none">
					<h4 class="panel-title"><small>Your information is safely encrypted via SSL/TLS</small></h4>
					<form method="post" action="/payments/process-recurring-card">
						<input type="hidden" value="{{ csrf_token() }}" name="_token">
						<div class="row">
							<div class="small-6 columns">
								<label>Card Type</label>
									<select name="card_type">
										<option value="VISA">Visa</option>
										<option value="DISC">Discover</option>
										<option value="MC">MasterCard</option>
										<option value="AMEX">Amex</option>
									</select>

							</div>
							<div class="small-6 columns">
								<div class="row collapse">
									<div class="small-5 columns">
										<label>Month</label>
											<select name="exp_month" id="exp_month">
												{% for month in 1..12 %}
													<option {% if month == input_old('exp_month') %}selected{% endif %}>{{  '%02d'|format(month) }}</option>
												{% endfor %}
											</select>
									</div>
									<div class="small-7 columns">
										<label>Year</label>
											<select name="exp_year" id="exp_year">
												{% for year in "now"|date("Y").."now"|date_modify("+7 years")|date("Y") %}
													<option {% if month == input_old('exp_year') %}selected{% endif %}>{{  year }}</option>
												{% endfor %}
											</select>
											<label><input type="hidden" name="exp_date" id="exp_date"></label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="small-12 columns">
								<label>Debit Card Number
									<input type="text" name="cc">
								</label>
							</div>
						</div>
						<div class="row">
							<div class="small-12 columns">
								<label>Cardholder Name
									<input type="text" name="card_name" value="{{ input_old('card_name') }}">
								</label>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="small-6 medium-6 columns left">
								<label>Withdrawal Day
								<select name="withdrawal_day" id="card_withdrawal_day" required>
									<option value="">Choose...</option>
									{% for i in 1..31 %}
									<option value="{{ i }}">{{ i }}</option>
									{% endfor %}
								</select>
								</label>
							</div>
							<div class="small-6 medium-6 columns left">
								<label>Start Date
									<input type="date" name="payment_start_date" id="card_start_date" value="{{ now|date("Y-m-d") }}" min="{{ now|date("Y-m-d") }}" max="{{ now|date_modify("+1 year")|date("Y-m-d") }}">
								</label>
							</div>
						</div>
						<div class="row">
							<div class="small-6 medium-6 columns">
								<label>Amount (per period)
									<input type="text" name="card_amount" id="card_amount" value="{{ input_old('card_amount')|number_format }}">
								</label>
							</div>
							<div class="small-6 medium-6 columns">
								<label>Period
									<select name="card_frequency" id="card_frequency">
										<option value="Monthly" {{ input_old('card_frequency') == "Monthly" ? "selected" : "" }}>Monthly (default)</option>
										<option value="Biweekly" {{ input_old('card_frequency') == "Biweekly" ? "selected" : "" }}>Biweekly</option>
										<option value="Weekly" {{ input_old('card_frequency') == "Weekly" ? "selected" : "" }}>Weekly</option>
									</select>
								</label>
							</div>
						</div>
							<div class="small-12 columns" id="card-example-payment">
								<h5 class="small-text-center" style="color: red">Fill in the amount field and the withdrawal day to view the example schedule</h5>
							</div>
							<div class="small-12 medium-6 medium-offset-3 columns text-center">
								<label>Final amount per period:
									<input type="number" name="final_amount" readonly id="final_amount">
								</label>
							</div>
							<div class="row">
								<div class="small-12 columns">
									<em>By submitting this payment, you authorize this transaction from Belmont Finance LLC for the amount requested.</em>
									<br><br>
								</div>
							</div>
						<button>SUBMIT PAYMENT</button>
					</form>
				</div>
			</div>
			{% endif %}
		</div>
		<div class="small-12 medium-6 columns">
			<h3>Notices</h3>
			{{ content.paymentNotices|raw }}
		</div>
	</div>
</section>

{% if errors|length %}
	<div id="hidden-errors" style="display: none">
		{% set messages = errors.bags['default'].messages %}
		{% for label, value in messages %}
			<small class="error" data-name="{{ label }}">{{ value[0] }}</small>
		{% endfor %}
	</div>
{% endif %}

{% endblock %}

{% block pagescripts %}
	<script>
		$('#ach, #card').on('click', '.opener', function(){
			$('.inner').hide();
			$(this).closest('#ach, #card').find('.inner').show();
		});

		var cardAmount = parseFloat( $('#card_amount').val() );
		$('#amount').val( cardAmount.toFixed(2) );
		$('#card_amount').val( cardAmount.toFixed(2) );

		$('#final_amount').val( parseFloat(cardAmount).toFixed(2) );

		$('#card_amount').on('change', function(){
			var amount = parseFloat( $(this).val() );
			$('#final_amount').val( parseFloat(amount).toFixed(2) );
		});

		$('#withdrawal_day').on('change', function(){
			var date = $(this).val();
			var day = date.replace(/-[0-9]{2}$/, '-' + day);

			var start_date = $('#start_date').val();
			day = day.length == 2 ? day : '0' + day;
			start_date = start_date.replace(/-[0-9]{2}$/, '-' + day);
			$('#start_date').val(start_date);
		});

		$('#start_date').on('change', function(){
			var day = $(this).val();
			var re = /-([0-9]{2})$/i;
			var found = re.exec(day);
			var day = parseInt(found[1]);

			$("#withdrawal_day").val(day);
		});

		$('#card_withdrawal_day').on('change', function(){
			var date = $(this).val();
			var day = date.replace(/-[0-9]{2}$/, '-' + day);

			var card_start_date = $('#card_start_date').val();
			day = day.length == 2 ? day : '0' + day;
			start_date = card_start_date.replace(/-[0-9]{2}$/, '-' + day);
			$('#card_start_date').val(start_date);
		});

		$('#card_start_date').on('change', function(){
			var day = $(this).val();
			var re = /-([0-9]{2})$/i;
			var found = re.exec(day);
			var day = parseInt(found[1]);

			$("#card_withdrawal_day").val(day);
		});

		var errors = $('#hidden-errors').find('.error');
		errors.each(function(){
			var input = $('input[name="' + $(this).attr('data-name') + '"]').first();
			$(this).appendTo(input.closest('label'));
			input.closest('.panel').show();
		});

		var $frequency = $('#frequency');
		var $amount = $('#amount');
		var $day = $('#withdrawal_day');

		$('#frequency, #withdrawal_day, #amount').on('change', function(){
			var amount = $amount.val().replace('$','');
			if($frequency.val() && amount > 0 && $day.val()){
				$.ajax({
					url: '/payments/recurring-example',
					type: 'GET',
					data: {
						frequency: $frequency.val(),
						amount: amount,
						day: $day.val()
					}
				}).done(function(data){
					$('#example-payment').html(data);
				})
			}
		});

		var $exp_date = new Date( $('#exp_year').val(), $('#exp_month').val() - 1 ).toDateString();
		$('#exp_date').val($exp_date);

		$('#exp_month, #exp_year').on('change', function(){
			var exp_date = new Date( $('#exp_year').val(), $('#exp_month').val() - 1 ).toDateString();
			$('#exp_date').val(exp_date);
		});

		var $cardFrequency = $('#card_frequency');
		var $cardAmount = $('#card_amount');
		var $cardDay = $('#card_withdrawal_day');

		$('#card_frequency, #card_withdrawal_day, #card_amount').on('change', function(){
			var amount = $cardAmount.val().replace('$','');
			if($cardFrequency.val() && amount > 0 && $cardDay.val()){
				$.ajax({
					url: '/payments/recurring-example',
					type: 'GET',
					data: {
						frequency: $cardFrequency.val(),
						amount: amount,
						day: $cardDay.val()
					}
				}).done(function(data){
					$('#card-example-payment').html(data);
				})
			}
		});


	</script>
{% endblock %}
