{% extends context ~ '/_no-sidebar' %}


{% block content %}
<div class="row space-extra">
	<h1 class="title">
		Payment Details
	</h1>
	<a href="/" class="logout">Back</a>
	<a href="/logout" class="logout">Logout</a>
</div>

<section class="full">
	<div class="row primary-container space-side space-extra payment">
		<div class="medium-8 small-12 columns">
			<h2>{{ summary }}</h2>
			<p>{{ details }}</p>
			{% if back %}
				<a href="/" class="button">Back to Dashboard</a>
			{% else %}
				<a href="/" class="button">Back to Home</a>
			{% endif %}
		</div>
	</div>
</section>


{% if errors|length %}
	<div id="hidden-errors" style="display: none">
		{% set messages = errors.bags['default'].messages %}
		{% for label, value in messages %}
			<small class="error" data-name="{{ label }}">{{ value[0] }}</small>
		{% endfor %}
	</div>
{% endif %}

{% endblock %}

{% block pagescripts %}
	<script>
		$('#ach, #debit').on('click', function(){
			$('.inner').hide();
			$(this).find('.inner').show();
		});

		$('#amount').on('change', function(){
			var amount = parseFloat( $(this).val() );
			$(this).val( amount.toFixed(2) );
			$('#amount_final').val( parseFloat(amount + (amount * 0.03) ).toFixed(2) );
		});

		var errors = $('#hidden-errors').find('.error');
		errors.each(function(){
			var input = $('input[name="' + $(this).attr('data-name') + '"]');
			$(this).appendTo(input.closest('label'));
			input.closest('.panel').show();
		});
	</script>
{% endblock %}