{# this template is pulled in with an iframe, very basic and will use the dealer's stylesheet #}
{% import "includes/macros/_content-blocks" as blocks %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="https://dealer.belmontfinancellc.com/css/app.css">
</head>

<body>

<div class="container">
{% block content %}
{% endblock %}
</div>

	<script src="/assets/js/iframeResizer.contentWindow.min.js"></script>
</body>

</html>