{% extends "/dealer-support/_dealer-support-layout" %}

{% block content %}
	    <ul class="breadcrumbs">
	    	<li><a href="/dealer-support/">Support Home</a></li>
	        {% for crumb in entry.getAncestors() %}
	            <li>{{ crumb.getLink() }}</li>
	        {% endfor %}
	    </ul>
	    <h3>{{ entry.title }}</h3>
	{{ blocks.contentArea( entry ) }}
{% endblock %}