{% extends "/dealer-support/_dealer-support-layout" %}

{% block content %}
<ul>
	{% for page in craft.entries.section('dealerSupport').depth(1).get() %}
	<li><a href="{{ page.url }}">{{ page.title }}</a></li>
	{% endfor %}
</ul>
{% endblock %}