<em><b>Please do not reply to this email.</b></em>

<br><br><br>

<b>Belmont Finance LLC</b><br>
PO Box 152<br>
Waupaca, WI 54981<br>
Loan Department 877-547-2926, Opt 4
<br>
<img src="https://belmontfinancellc.com/assets/images/small-logo.png"><br>
<p style="font-size: 0.9em"><em>CONFIDENTIALITY NOTICE: This electronic transmission (including files attached hereto) may contain information that is
attorney-client privileged, confidential, and exempt from disclosure. The information is intended only for the use of the
individual or entity named above. If the reader of this message is not the intended recipient, you are hereby notified that
any disclosure, dissemination, copying, distribution or taking of any action in reliance on the contents of this confidential
information is strictly prohibited. If you have received this communication in error, please destroy it and immediately notify
us by return email. Thank you</em></p>