The application for {{ app.firstName }} {{ app.lastName }} has been approved by Belmont Finance LLC and is issued an APPROVED status.<br><br>
You may continue with the Loan Process and complete filling out your contract and have the consumer(s) sign all remaining documentation.<br><br>
<br><br>

{% if stipulations | length %}
Additional information or requirements:
	<ul>
	{% for stipulation in stipulations %}
		<li>{{ stipulation }}</li>
	{% endfor %}
	</ul>
		<br><br>
{% endif %}

Contact Belmont Finance LLC Loan Department at 877-547-2926, Opt. 4 for any questions/concerns<br>
{% include 'emails.dealer._signature' %}

