The application submitted for {{ app.firstName }} {{ app.lastName }} has been submitted and received by Belmont Finance LLC and is issued a PENDING status.
<br><br>

{% if stipulations | length %}
	Additional information or requirements:<br>
	<ul>
	{% for stipulation in stipulations %}
		<li>{{ stipulation }}</li>
	{% endfor %}
	</ul>
		<br><br>
{% endif %}


Belmont Finance LLC will continue to process this application normally. For fastest decision results, contact Belmont Finance LLC's Loan Department at 877-547-2926 ext 4.</p>
{% include 'emails.dealer._signature' %}