{{ app.firstName }} {{ app.lastName }} has completed reviewing and signing the notice of completion for application #{{ app.fca_id }}.<br>
You will need to log in and sign the Certificate of Completion prior to submitting for funding.<br><br>
Contact Belmont Finance LLC Loan Department at 877-547-2926, Opt. 4 for any questions/concerns<br>
{% include 'emails.dealer._signature' %}