$dark-gray: #545454;
$orange: #efc02f;
$green: #7e803c;
$belmont-green: #043E05;
$belmont-darker-green: #043e05;
$med-gray: #545454;

$medium-large-breakpoint: em-calc(1024) !default;
$medium-large-range:   ($medium-large-breakpoint + em-calc(1), $large-breakpoint)  !default;
$medium-large-up: "#{$screen} and (min-width:#{lower-bound($medium-large-range)})" !default;
$medium-large-only: "#{$screen} and (min-width:#{lower-bound($medium-large-range)}) and (max-width:#{upper-bound($large-range)})" !default;

@mixin default-text-shadow {
  text-shadow: 0px 2px 4px rgba(0,0,0,0.4);
}

.show-for-medium-large-up{
    display: none !important;
    @media #{$medium-large-up} {
        display: block !important;
    }
}

h1,h2,h3,h4,h5,h6{
  color: #333;
}

p{
    margin-bottom: 0.8rem;
}

section a, .row a{
  color: #0B990E;
  text-decoration: underline;
  &:hover{
    color: #232323;
  }
}

footer {
  position: relative;
  &:before{
    background-image: url(../../assets/images/green-header.png);
    height: 8px;
    display: block;
    position: absolute;
    top: 0;
    content: '';
    width: 100%;
    background-size: cover;
  }
  background-color: #333;
  padding-bottom: 20px;
  color: #FFFFFF;
  padding-top: 35px;
  a {
    color: #FFFFFF;
    text-decoration: underline;
  }
  h5 {
    color: #FFFFFF;
  }
  label {
    color: #FFFFFF;
  }
  

  .small{
    font-size: 0.85em;
    a{
      font-size: 1rem;
    }
  }

  .footer-contact{
    padding: 1em;
    background-color: rgba(0,0,0,0.2);
    p, li{
      color: #bbb;
      font-size: 0.8em;
    }
  }
}

.label-floatlabel{
  color: $belmont-darker-green !important;
}

.floatlabel-wrapper{
  input{
    padding-bottom: 2px;
    height: 38px;
  }
}


::-webkit-input-placeholder{
    color: #999;
}

::-moz-placeholder{
    color: #999;
}

:-ms-input-placeholder{
    color: #999;
}


footer .copyright{
  p{
    font-size: 0.8em;
  }
}

h2{
  font-size: 1.8em;
}

h3{
  font-size: 1.5em;
  font-weight: lighter;
  margin-bottom: 0.15em;
}

h4{
  font-size: 1.5em;
  margin-bottom: 0.15em;
}

hr{
  margin-top: 0.4em;
}

.smaller{
  font-size: 0.85em;
}

.panel{
    border: 2px solid #aaaaaa;
}

.top-bar-section {
  ul.left {

    li {
      z-index: 1;
      position: relative;
      background-color: #FFFFFF;

      @media #{$large-up} {
        &.customer-button{
          padding-right: 200px;
          }
      }
      &.phone-number {
       background-color: #FFFFFF;
        padding-top: 19px;
        font-size: 17px;
        padding-right: 30px;
      }
      &.has-dropdown{
        /*.toggle-topbar.menu-icon a span::after {
            content: "";
            position: absolute;
            display: block;
            height: 0;
            top: 50%;
            margin-top: -8px;
            right: 0.9375rem;
            box-shadow: 0 0 0 1px #8C8C8C,0 7px 0 1px #8C8C8C,0 14px 0 1px #8C8C8C;
            width: 16px;
        }*/
      }
    }
    overflow: hidden;
    @media #{$medium-large-up} {
        overflow: visible;
    }
  }
    @media #{$medium-only} {
        position: relative;
        top: 20px;
    }
}

.top-bar .top-bar-section .left .mobile-logins {
    a{
      width: 46%;
      display: block;
      float: left;
      font-size: 0.7em;
      margin: 2%;
      padding-top: 0.75em;
      padding-bottom: 0.75em;
      &.customer{
        background-color: #0B990E;
      }
    }

    @media #{$medium-large-up} {
        display: none !important;
    }
}

nav {
  &.top-bar {
    a{
        text-decoration: none;
    }

    .top-bar-logo {
      position: relative;
      z-index: 1;
      padding-left: 10px;

      img{
        width: 140px;
        margin-top: -6px;
      }
      @media #{$small-only} {
        margin-left: -20px;
        float: left;
      }
      @media #{$large-up} {
        padding-left: 200px;
      }
    }
    .top-bar-section .left li > a{
        font-size: 0.8em;
        padding-left: 1em !important;
        padding-right: 1em !important;
        color: #232323;
    }
  }
   @media #{$medium-large-up} {
    .top-bar-section .left li:not(.has-form) a:not(.button){
      line-height: 3em;
      padding-bottom: 0.15em;
      padding-top: 2.17em;
      &:hover{
        position: relative;
        background-color: $belmont-green;
        color: white;
      }
    }
    /*.top-bar-section .has-dropdown > a{
        position: relative;
    }
    .top-bar-section .left li.has-dropdown > a{
        padding-right: 4em !important;
    }
    .top-bar-section .has-dropdown > a:after{
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #999;
        position: absolute;
        top: 2.74em;
        right: 0.5em;
     }

    .top-bar-section .has-dropdown .dropdown a{
      padding-top: 0.35em !important;
      line-height: 3em !important;
    }*/
    .top-bar-section .has-dropdown > a:after{
        display: none !important;
    }

    .top-bar-section .left a:not(.button).active {
        @media #{$large-up} {
            &:before{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                background-color: $belmont-green;
                display: block !important;
                height: 5px;
                bottom: 5px;
            }
        }
    }
  }
}
.single-item {
  img {
    width: 100%;
    height: auto;
    image-rendering: optimizeQuality;
  }
  .slide-head {
    //text-align: center;
  }
}

.slick-list{
  width: 100%;
}


body .button{
  background: $dark-gray;
  background-color: $dark-gray;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  color: white;
  text-decoration: none;
  &:hover{
    background-color: white;
    color: $dark-gray;
    outline: 1px solid rgba(0,0,0,0.2);
  }
}

.top-bar-section ul.left li > a.button{
  background-color: $dark-gray;
  padding-top: 0.384em;
  &:hover{
    background-color: white;
    box-shadow: none;
    outline: 1px solid rgba(0,0,0,0.2);
  }
}

.light{
  font-weight: lighter;
}


.frontSlider {
  .slide{
    text-align: center;
    padding-top: 6em;
    padding-bottom: 6em;
    background-size: cover;
    background-position: center top;

    h1,h2,h3,h4,h5,p{
      color: white;
    }

    .button{
        margin-top: 2em;
        margin-bottom: 2em;
      }
    @media #{$medium-up} {
      .button{
        margin-top: 2em;
        margin-bottom: 2em;
      }

      h2{
        font-size: 2.4em;
      }

      h4{
        font-size: 1.2em;
      }

      padding-top: 15em;
      padding-bottom: 15em;
    }
    @media #{$large-up} {
        padding-top: 20em;
        padding-bottom: 20em;
    }
    @media #{$xlarge-up} {
        padding-top: 23em;
        padding-bottom: 23em;
    }
    @media #{$xlarge-up} {
        padding-top: 26em;
        padding-bottom: 26em;
    }
  }
}

.slick-slider{
  margin-bottom: 0;
}

.news-strip{
  background-image: url(../../assets/images/green-header.png);
  background-color: $belmont-green;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
  position: relative;
  z-index: 1;
  opacity: 0.8;
  overflow-x: hidden;
  overflow-y: visible;
  li{
    padding-bottom: 0;
    text-align: center;
    a{
      color: white;
      font-family: 'Oswald', sans-serif;
      font-weight: lighter;
      font-size: 1.3em;
      display: inline-block;
      padding: 0.2em 0.8em;
      &:hover{
        background-color: rgba(0,0,0,0.06);
      }
    }
    .date{
      margin-right: 0.6em;
    }
  }

  .thumbtack{
    width: 0.9em;
    display: inline-block;
    height: 0.9em;
    margin-right: 0.25em;
    background-image: url(../images/thumbtack.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.top-bar.expanded{
  overflow: visible;
  .top-bar-section{
    background: transparent;
    position: absolute;
    width: 100%;
    @media #{$medium-only} {
      right: 0px;
      left: auto !important;
      width: 16em;
      top: 4.2em;
      box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    }
    z-index: 5;
    li{
      background: rgba(255,255,255,0.8);
      a{
        color: black;
      }
    }
    .button{
      margin-left: 0.5em;
      margin-right: 0.5em;
      width: auto;
      color: white;
      &:hover{
        color: $dark-gray;
      }
    }
    .customer-button{
      padding-bottom: 0.7em;
    }
  }
  .menu-icon{
    background-color: rgba(0,0,0,0.06);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  }
}

@media #{$medium-only} {
  .top-bar .toggle-topbar {
    display: block !important;
  }
}
@media #{$medium-up} {
  .top-bar .toggle-topbar {
    display: none;
  }
  .social{
    a{
        background-color: transparent !important;
        padding-left: 0.3em !important;
        padding-right: 0.3em !important;
        position: relative;
        left: -1.3rem;
        top: 1.1rem;
        &:hover{
            i{
                color: $dark-gray;
            }
            img{
                -webkit-filter: grayscale(100%);
            }
        }
        i{
            font-size: 2em;
            color: $belmont-green;
        }

          img{
              width: 2em;
              height: auto;
              position: relative;
              top: -0.6em;
          }
    }
  }
  .top-bar .top-bar-section ul li.customer-button{
    position: relative;
    margin: 0 0;
    .login{
      position: absolute;
      right: 0.93em;
      top: 3.70em;
      padding: 20px;
      width: 280px;
      z-index: 2;
      background-color: $tuatara;
      border-top-left-radius: 0.3em;
      border-bottom-left-radius: 0.3em;
      border-bottom-right-radius: 0.3em;
      display: none;
      iframe{
        position: relative;
        z-index: 3;
      }
      &.customer{
        right: -6.17em;
        width: 280px;
        background-color: #0B990E;
      }
    }
    a{
      position: relative;
      top: 2.2em;
      right: 1.2em;
      background-color: $oil;
      padding: 0.8em 1.2em;
      line-height: 1em;
      border-top-left-radius: 0.3em;
      border-bottom-left-radius: 0.3em;
      color: white;
      &.last{
        border-top-left-radius: 0em;
        border-bottom-left-radius: 0em;
        border-top-right-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
        border-left: 1px solid rgba(255,255,255,0.2);
      }
      &:after{
        content: '';
        width: 10px;
        height: 9px;
        display: inline-block;
        margin-left: 0.3em;
        background-image: url('/assets/images/down-caret.png');
        background-size: scale;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        top: 0.2em;
      }
    }
    &.current{
      a{
        background-color: $tuatara;
      }
      .login{
        display: block;
      }
    }
    &.customer{
      &.current{
        a{
          background-color: #0B990E;
        }
      }
    }
  }
}

section{
    &.light{
        background-color: #f1f1f1;
    }
}

.row{
  &.space{
        padding-top: 1em;
        padding-bottom: 1em;
    }
    &.m-space{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    &.l-space{
        padding-top: 4em;
        padding-bottom: 4em;
    }
    &.wider{
        max-width: 84em;
    }
}

.larger{
  font-size: 1.3em;
}

.testimonials{
  .medium-8{
    &:last-child{
      float: none;
      @media #{$large-up} {
        float: right;
      }
    }
  }
  p{
    margin-bottom: 0.4em;
    font-size: 1em;
  }
}

.more-form{
  button{
    width: 100%;
    background-color: $med-gray;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
  }
  a{
    color: $med-gray;
  }
}

.content{
  h2,h3,h4,h5{
    font-weight: bold;
  }
  a{
      text-decoration: underline;
  }
  input[type="text"], input[type="email"]{
    border: 1px solid $med-gray;
    background-color: #fafafa;
    &:active,&:focus{
      background-color: white;
    }
  }
}

.separator{
    width: 100%;
    background-image: url(/assets/images/green-header.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    position: relative;
    border-bottom: 10px solid #444444;
    height: 4.6em;

  h1{
    margin-bottom:-0.2em;
    font-size: 2.2em;
  }
  h3{
    font-size: 1.3em;
  }
  *{
    color: white;
    -webkit-text-shadow: 0px 4px 4px rgba(0,0,0,0.5);
    text-shadow: 0px 2px 4px rgba(0,0,0,0.5);
  }
  &.img{
    margin-bottom: 18em;
  }
  .row{
    position: relative;

    *{
      z-index: 1;
    }
  }
}

.contentarea{
    .block-right{
        img{
            clear:both;
            float: none;
            display: block;
        }
        @media #{$medium-up} {
            float: right;
            margin-right: -110%;
            clear: both;
            text-align: center;
            max-width: 80%;
            margin-left: 20px;
        }
        @media #{$large-up} {
            float: right;
            margin-right: -514px;
            max-width: 600px;
            width: 100%;
            margin-left: 30px;
        }
    }

    &.alternate{
        width: 100%;
    }
}

.c-figure{
    &--right{
        float: right;
        max-width: 50%;
    }
    &--left{
        float: left;
    }
}

#featuredImage{
  //margin-top: -1.25em;
  position: relative;
   > .row {
      position: relative;
      z-index: 2;
   }

  &.marker{
    .columns{
      padding: 2em 0em;
      position: absolute;
    }

    .marker__title{
        position: absolute;
        top: 2em;
        left:0em;
        right:0em;
    }

    h1,h2,h3,h4,h5{
      color: white;
      @include default-text-shadow;
    }
  }

  .featured-image-content{
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }

    &:before{
        position: absolute;
        left: 0; top: 0; right: 0; bottom: 3em;
        background-color: #102b00;
        opacity: 0.78;
        display: block;
        content: "";
        z-index: 1;
    }

    &:after{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0em;
        height: 3em;
        background-color: rgba(0, 0, 0, 0.72);
        border-top: 3px solid rgba(0, 0, 0, 0.2);
        display: block;
        content: "";
    }
}

.accordion-navigation{
    position: relative;
    >a{
        border-bottom: 1px solid #ddd;
    }
    &:after{
        content: '+';
        position: absolute;
        right: 1em;
        top: 1em;
        opacity: 0.4;
    }
    &.active{
        &:after{
            content: '-';
        }
    }
     @media #{$medium-up} {
        .column-count-2{
            -webkit-column-count: 2;
            column-count: 2;
        }
        .column-count-3{
            -webkit-column-count: 3;
            column-count: 3;
        }
    }
}

/* icon style customs */
em[class^="icon-"], em[class*=" icon-"]{
    padding-right: 0.2em;
    font-size: 4em;
    vertical-align: middle;
    text-decoration: none;
    color: $belmont-green;
    width: 2em;
    height: 2em;
    display: inline-block;
    text-align: center;
}

em[class^="icon-"]:before, em[class*=" icon-"]:before{
    font-size: 0.8em;
}

em.small[class^="icon-"], em.small[class*=" icon-"]{
    font-size: 2em;
}

em.secondary[class^="icon-"]:before, em.secondary[class*=" icon-"]:before{
    color: $secondary-color;
}

em.round[class^="icon-"], em.round[class*=" icon-"]{
    background-color: #f3f3f3;
    border-radius: 50%;
    padding: 0.2em;
    margin-right: 0.2em;
}

.headline{
    text-align: center;
    padding: 2em 0em;
    &--solid{
        background: $belmont-green;
        h1,h2,h3,h4,h5,h6{
            color: white;
            @include default-text-shadow;
        }
    }

    &--white{
         background: white;
         padding: 1.5em 0em;
         h1,h2,h3,h4,h5,h6{
        }
    }
}

/* side tab styles */
.sectiontabs{
    &__links{
        a{
            color: white;
            background: #aaaaaa;
            padding: 0.5em 1em;
            display: block;
            font-size: 1.2em;
            text-decoration: none;

            &.active{
                background-color: #076109;
                position: relative;
                &:after{
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 21px 0 21px 21px;
                    border-color: transparent transparent transparent #076109;
                    position: absolute;
                    right: -21px;
                    top: 0;
                }
            }
            &:hover:not(.active){
                background-color: #737373;
            }
        }

        ul{
            list-style-type: none;
        }
    }
}




.large-grid{
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;

    &__item{
        width: 50%;
        padding: 2em;
        min-height: 9em;
        margin-bottom: 2em;
        ul{
            list-style-type: none;
        }
    }

    &__title{
        padding-bottom: 0.75em;
        border-bottom: 1px solid #aaaaaa;
        margin-bottom: 0.4em;
    }

    .svg{
        height: 4em;
        width: auto;
        margin-bottom: 0.75em;
    }
}



.contact-block{
    padding: 4em 2em !important;

    ul{
        list-style-type: none;
    }

    &__image{
        height: 5rem;
        margin-bottom: 2em;
    }

    &__title{
        margin-bottom: 1em;
    }

    &__subtitle{
        margin-bottom: 2em;
        @media #{$medium-up} {
            max-width: 80%;
            margin-left: 10%;
        }
    }

    &__subject{
        width: 10em;
        display: inline-block;
    }

    &__item{
        margin-bottom: 0.5em;
    }
}

// flexbox styles
.flex{
    display: flex;
    align-items: center;
    flex-flow: row wrap;

    .svg-icon{
        max-height: 5.5em;
    }
}

[class^="icon-"].large, [class*=" icon-"].large {
  font-size: 6.5em;
  padding: 0.25em;
  color: $belmont-green;
  padding-bottom: 1rem;
  display: inline-block;
}

[class^="icon-"].med, [class*=" icon-"].med {
  font-size: 3em;
  padding: 0.5em;
  padding-top: 0.15em;
  color: $belmont-green;
  padding-bottom: 1rem;
  display: inline-block;
  &.left{
    width: 2.5em;
    text-align: center;
  }
}

.full-image{
    .headline{
        opacity:0.8;
    }
    &__form{
        padding: 5em 0em;
    }
}

.social-larger{
    margin: 0;
    list-style-type: none;
    li{
        display: inline-block;
        margin: 0.3em;
    }
    a{
        text-decoration: none;
    }
    i{
        font-size: 3em;
        color: $belmont-green;
    }
    img {
        width: 3em;
        height: auto;
        position: relative;
        top: -1em;
    }
}

/* ========= flexslider overrides ========== */
.flex-direction-nav li a{
    height: 4em;
}

.flexslider{
    margin: 0em;
}