{% extends 'dealer/_sidebar' %}

{% block pagetitle %}
	<h2 class="small-text-center">Paperwork for {{ app.firstName }} {{ app.lastName }}</h2>
{% endblock %}

{% block content %}
	<br>
	<div class="row">
		<div class="small-12 medium-8 medium-offset-2">
			<h3>Setup Issue:</h3>
			<p>We're sorry, but you aren't setup properly to submit paperwork for this application.</p>
			<p>Please contact Belmont Finance Distributor Support team if you think this is in error.</p>
			<p>Error: {{ error }}</p>
			<br><br>
			<a href="/" class="button small">Back to Dashboard</a>
		</div>
	</div>
{% endblock %}