{% extends 'dealer/_focus' %}

{% block content %}

<div class="row text-center">
		<i class="fi-check" id="successCloud" style="color: green;"></i>
	</div>

{% if method == 'print' %}
<div>
	<div class="small-12 medium-8 medium-offset-2 text-center">
	    <h3>Your documents are ready to print. Remember to print three copies!</h3>
	    <br>
	    <a href="/apps/paperwork/print/{{ app.id }}" target="_blank" class="button small">View &amp; Print</a>
	</div>
</div>
{% elseif method == 'send' %}
<div>
	<div id="sendEmails" class="small-12 medium-8 medium-offset-2 text-center">
	    <h3>The documents will be sent to the following email addresses. Please confirm these are the correct email addresses for the applicant(s).</h3>
	    <br><br>
	    <form class="ajax-form" method="post" action="/apps/paperwork/send/{{ app.id }}">
		    <label>Primary Applicant Email*
		    	<input type="text" name="email" value="{{ app.email }}">
		    </label>

		    {% if app.coLastName %}
		    <label>Coapplicant Email*
		    	<input type="text" name="coEmail" value="{{ app.coEmail }}">
		    </label>
		    {% endif %}

	    <br>
	    <button class="" class="button small" id="sendButton">Send</a>
	   </form>

	</div>
</div>
{% elseif method == 'sign' %}
<div>
	<div class="small-12 medium-8 medium-offset-2 text-center">
	    <h3>Sign the documents here on your device.</h3>
	    <br>
	    <a href="/apps/paperwork/sign/{{ app.id }}" class="button small">Go</a>
	</div>
</div>
{% endif %}

<div id="loading" class="loader">
	<div class="cs-loader">
	  <div class="cs-loader-inner">
	  	<h3 class="cs-loader-title">Generating paperwork, please wait...</h3>
	  	<br><br><br><br>
	    <label>	●</label>
	    <label>	●</label>
	    <label>	●</label>
	    <label>	●</label>
	    <label>	●</label>
	    <label>	●</label>
	  </div>
	</div>
</div>

<div id="sendSuccess" style="display: none;">
	<div class="text-center">
		<h2>Request sent!</h2>
		<p>Your document signing request has been sent. The consumer will have 7 days to complete this.</p>
		<br>
		<a href="/" class="button small">Dashboard</a>
	</div>
</div>

{% endblock %}

{% block pagescripts %}
<script>
	$('#loading').show();

	window.onAjaxComplete = 'sendEmail';

	function sendEmail(){
		$('#sendSuccess').show();
		$('#sendEmails').hide();
	}

	$.ajax({
		url: '/apps/paperwork/generate',
		type: 'POST',
		data: {
			'_token': '{{ csrf_token() }}',
			'id': '{{ app.id }}'
		},
		success: function(){
			$('#loading').hide();
			$('.cs-loader-title').text('Please Wait...');
		}
	});
</script>
{% endblock %}