{% extends 'dealer/_sidebar' %}

{% block pagetitle %}
	<h2 class="small-text-center">Paperwork for {{ app.firstName }} {{ app.lastName }}</h2>
{% endblock %}

{% block content %}
	<br>
	<div class="row">
		<div class="small-12 medium-8 medium-offset-2">
			<form action="/apps/paperwork/start/{{  app.id }}">
				<p>Choose from pre-filled forms to take to the consumer, send via email for the consumer to sign, or collect the signatures right here on your device.</p>
				<br>
				<div class="row">
					<div class="small-12 medium-offset-3 medium-6 columns">
						<p>Do you need English or Spanish documents?</p>
						<select name="language" id="language" class="needsclick">
							<option value="English" selected>English</option>
							<option value="Spanish">Spanish</option>
						</select>
					</div>
				</div>



				{% if user.company is defined and user.company.allow_revolving == 2 %}
				<div class="row">
					<div class="small-12 medium-6 medium-offset-3 columns">
						<p>Confirm the type of credit:</p>
						<select name="credit_type" id="credit_type" class="needsclick">
							<option value="Closed-End">Closed-End</option>
							<option value="Revolving" {% if app.credit_type=="Revolving" %}selected="selected"{% endif %}>Revolving</option>
						</select>
					</div>
				</div>
				{% endif %}

				{% if user.company.product_id == 28 or user.company.product_id == 26 %}
				<div class="row" id="completion" {% if app.credit_type == 'Closed-End' %}style="display: none;"{% endif %}>
					<div class="small-12 medium-offset-3 medium-6 pad-m columns">
						<p>Do you need the Certificate of Completion now?</p>
						<select name="completion" id="completion" class="needsclick">
							<option value="Yes">Yes</option>
							<option value="No" selected="selected">No</option>
						</select>
					</div>
				</div>
				{% endif %}

				<div class="row">
					<div class="small-12 medium-6 medium-offset-3 columns">
						<button class="button right small">Continue</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block pagescripts %}
<script>
	$(function(){

		// modal to update name
		if($('#username').text() == ""){
			$('#updateDistrib').foundation('reveal', 'open');
		}

		$('#credit_type').on('change', function(){
			if($(this).find('option:selected').val() == 'Revolving') {
				$('#completion').show();
			} else {
				$('#completion').hide();
				$("#completion").val('No');
			}
		});

	});
</script>
{% endblock %}