
{% set featured = {
    mode: 'crop',
    width: 1920,
    height: 720,
    quality: 75,
    position: 'center-center'
} %}

<div class="separator">
    <div class="row space">
        <div class="small-12 columns">
        </div>
    </div>
</div>

<section class="light">
    <div class="l-space row">
        <div class="small-12 columns">
            <div class="content row marker">
                <div class="small-12 columns">
                    <h2>{{ entry.subtitle ?: entry.title }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-8 medium-offset-2 columns">
                     {{ entry.standardContent }}
                </div>
            </div>
        </div>
    </div>
</section>

{% if entry.featuredImage|length %}
<section>
    <div id="featuredImage" class="marker marker--center">
        <div class="row">
            <div class="marker__title">
                <h2>{{ entry.featuredImage|first.title }}</h2>

                <div class="row">
                    <div class="small-12 medium-8 medium-offset-2 columns">
                        <h3 class="text-center featured-image-content">{{ entry.featuredImage|first.text }}</h3>
                    </div>
                </div>
            </div>
        </div>
       <img src="{{ entry.featuredImage|first.getUrl(featured) }}" alt="{{ entry.featuredImage|first.title }}">

    </div>
</section>
{% endif %}

{% include 'pages/_matrix-content' %}
