
{% set featured = {
    mode: 'crop',
    width: 1920,
    height: 720,
    quality: 75,
    position: 'center-center'
} %}

{% if not entry.header | length %}
    <div class="separator">
        <div class="row space">
            <div class="small-12 columns">
            </div>
        </div>
    </div>
{% endif %}

{% if entry.header | length %}
{% include 'includes/modules/slider' with {'slider': entry.header} %}
{% endif %}

<section>
    <div class="l-space row">
        <div class="small-12 columns">
            <div class="content row marker marker--center">
                <div class="small-12 columns">
                    <h2>{{ entry.subtitle ?: entry.title | upper }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-8 medium-offset-2 columns">
                     {% include 'pages/_matrix-content' %}
                </div>
            </div>
        </div>
    </div>
</section>


