
{% set featured = {
    mode: 'crop',
    width: 1920,
    height: 720,
    quality: 75,
    position: 'center-center'
} %}

{% if entry.featuredImage is empty %}
<div class="separator">
    <div class="row space">
        <div class="small-12 columns">
        </div>
    </div>
</div>
{% endif %}

{% if entry.featuredImage|length %}
<section>
    <div id="featuredImage" class="marker marker--center">

        <div class="row">
            {% if entry.featuredImage|first.subtitle or entry.featuredImage|first.text %}
            <div class="marker__title">
                <h2>{{ entry.featuredImage|first.subtitle }}</h2>

                <div class="row">
                    <div class="small-12 medium-8 medium-offset-2 columns">
                        <h3 class="text-center featured-image-content">{{ entry.featuredImage|first.text }}</h3>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
       <img src="{{ entry.featuredImage|first.getUrl(featured) }}" alt="{{ entry.featuredImage|first.title }}">

    </div>
</section>
{% endif %}

<div class="content l-space row marker">
    <div class="small-12 columns">
        <h2>{{ entry.subtitle ?: entry.title }}</h2>

        <div class="row space">
            <div class="small-12 columns">
            {% include 'includes/modules/tabs' with { 'tabs' : entry.tabs } %}
            </div>
        </div>
    </div>
</div>

{% include 'pages/_matrix-content' %}
