<section>
    <div class="content m-space row marker">
        <div class="small-12 columns">
            <h2>DISTRIBUTOR INCENTIVES</h2>
            <div class="row">
                <div class="columns small-12 medium-3">
                    <i class="icon-vip-pass large"></i>
                </div>
                <div class="columns small-12 medium-9"><br><br>
                    <p>Your loyalty and dedication to Belmont Finance matters, and we love to recognize and reward distributors for their hard work. 
Our top performing distributors are treated to luxury VIP incentive trips that create incredible experiences and memories to last a lifetime.  
Call 877-547-2926 Option 3 to find out how to qualify for our VIP trips!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="text-center">
        <h4>Watch for our new recognition program in 2018</h4>
        <img src="/assets/images/medals.jpg">
    </div>
</section>

<section>
    <div class="row text-center">
        <br>
        <h1>VIP Trips</h1>
        <p>These are just some of the breathtaking destinations we have visited with our top performing distributors. We would love for you to join us on our next adventure!</p>
    </div>
</section>

{% include 'includes/modules/carousel' %}

<section>
	<div class="marker marker--center">
        <div class="row l-space">
            <div class="columns small-12">
                <div class="marker__title">
                    <h2>Referral Program</h2>

                    <div class="row">
                        <div class="small-12 medium-6 medium-offset-3 columns text-center">
                            <i class="icon-success large"></i>
                            <p>When you refer a new distributor and we purchase their first contract, you will earn a $50 Visa gift card! There is no limit to the number of referrals you can make but please fill out one form per referral.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{# section for referral form #}
<section>
	<div class="row">
		<div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 columns panel">
			{% macro errorList(errors) %}
			    {% if errors %}
			        <ul class="errors">
			            {% for error in errors %}
			                <li>{{ error }}</li>
			            {% endfor %}
			        </ul>
			    {% endif %}
			{% endmacro %}

			{% from _self import errorList %}

			<form method="post" action="" accept-charset="UTF-8">
			    {{ getCsrfInput() }}
			    <input type="hidden" name="action" value="contactForm/sendMessage">
			    <input type="hidden" name="redirect" value="contact/thanks">
			    <input type="hidden" name="toEmail" value="{{ 'marketing@belmontfinancellc.com'|hash }}">

			    <input id="fromName" type="text" name="fromName" placeholder="Distributor Name" required value="{% if message is defined %}{{ message.fromName }}{% endif %}">
			    {{ message is defined and message ? errorList(message.getErrors('fromName')) }}

                <input id="distributorNumber" type="text" name="message['Distributor Number']" placeholder="Distributor Number with Belmont" value="{% if message is defined %}{{ message.distributorNumber }}{% endif %}">
                {{ message is defined and message ? errorList(message.getErrors('distributorNumber')) }}

                <input id="referralName" type="text" name="message['Referral Name']" placeholder="Referral Name" required value="{% if message is defined %}{{ message.referralName }}{% endif %}">
                {{ message is defined and message ? errorList(message.getErrors('referralName')) }}

                <input id="referralCompanyName" type="text" name="message['Referral Company Name']" required placeholder="Referral Company Name" value="{% if message is defined %}{{ message.referralCompanyName }}{% endif %}">
                {{ message is defined and message ? errorList(message.getErrors('referralCompanyName')) }}

                <input id="referralPhoneNumber" type="text" name="message['Referral Phone Number']" required placeholder="Referral Phone Number" value="{% if message is defined %}{{ message.referralPhoneNumber }}{% endif %}">
                {{ message is defined and message ? errorList(message.getErrors('referralPhoneNumber')) }}

			    <input id="fromEmail" type="hidden" name="fromEmail" value="noreply@belmontcreditllc.com">

                <input id="fromName" type="hidden" name="fromName" value="Web">

			    <input id="subject" type="hidden" name="subject" placeholder="Subject" value="Referral Submission">

			    <div class="text-center"><button class="button small">Submit</button></div>
			</form>
		</div>
	</div>
    <br><br><br>
</section>

{# section for get started form #}
<section class="full-image clearfix">
	<div class="headline headline--solid">
        <h2>Ready To Get Started?</h2>
    </div>
    <div class="headline headline--white">
        <h6>Fill out the form below and one of our staff members will contact you shortly.</h6>
    </div>

    <div class="row full-image__form">
    	<div class="medium-8 medium-offset-2 columns">
    	{% include 'includes/modules/request-info' %}
    	</div>
    </div>
</section>