{% extends 'dealer/_focus' %}
{% block pagetitle %}

{% endblock %}

{% block content %}
	<div class="small-12">
		<!-- progress bar -->
		<div class="row">
			<div class="small-10 small-offset-1 medium-10 medium-offset-1" id="progressSteps">
				<a id="backTop" class="back circle"><i class="fi-arrow-left"></i></a>
				<div class="small progress success round">
				  <span class="meter" id="progressBar" style="width: 12.5%"></span>
				</div>
				<a id="forwardTop" class="next circle"><i class="fi-arrow-right" {% if (step == 'nine') %}type="hidden"{% endif %}></i></a>
			</div>
		</div>
	</div>

	<div id="step-wrapper">
		<div class="step current">
			<div class="row">
				<div class="small-10 small-offset-1 columns">
					<form action="/apps/submit-sales-slip" method="post" class="ajax-form space-saving">
						<input type="hidden" name="step" value="one">
						<input type="hidden" name="app_id" value="{{ app.id }}">
						<h2 class="text-center">Sale Information</h2>
						<hr>

						<div class="row">
				          <div class="small-12 medium-8 columns medium-offset-2">
				            <h4 class="text-center">Email*</h4>
				            <p class="text-center"><em>We will need a valid email address for the consumer to send them their copies of the contracts</em></p>
				            <label>Buyer Email*<input name="email" id="email" value="{{ app.email }}" type="text"></label>
				          </div>
				        </div>

				        {% if app.coLastName %}
				        <div class="row pad-m">
				          <div class="small-12 medium-8 columns medium-offset-2">
				            <label>Co-buyer Email*<input name="coEmail" id="email" value="{{ app.coEmail }}" type="text"></label>
				          </div>
				        </div>
				        {% endif %}
				        <br><br>


						<h4 class="text-center">State of sale</h4>
						<div class="row">
							<div class="small-12 medium-4 medium-offset-4">
									<select name="state">
										{% for state in states %}
										<option value="{{ state }}">{{ state }}</option>
										{% endfor %}
									</select>
							</div>
						</div>
						<br>

					{% if app.credit_type == 'Revolving' %}
						<h4 class="text-center">Is this an addon sale?</h4>
						<div class="row">
							<div class="small-12 medium-4 medium-offset-4">
									<select name="is_addon">
										<option selected="selected" value="0">No</option>
										<option value="1">Yes</option>
									</select>
							</div>
						</div>
					{% else %}
						<input type="hidden" name="closed_required" value="yes">
						<h4 class="text-center">Term &amp; APR</h4>
						<div class="row">
							<div class="small-12 medium-4 medium-offset-2 columns">
								<label>Term (in Months)<input type="text" name="term"></label>
							</div>
							<div class="small-12 medium-4 left columns">
								<label>APR<input type="text" name="apr" id="apr">
									<h3 style="display: none" id="apr_show"></h3></label>
							</div>
						</div>
					{% endif %}

						<br>

						<h4 class="text-center">Promos</h4>
						<div class="row">
							<div class="small-12 medium-6 medium-offset-3" id="promos">
								{% if promos|length %}
									{% for promo in promos %}
									<input value="{{ promo.id }}" type="checkbox" name="promos[]" id="promo{{ promo.id }}" data-ach-rate="{{ promo.ach_buy_rate }}" data-rate="{{ promo.interest_rate }}"><label for="promo{{ promo.id }}">{{ promo.description }}</label><br>
									{% endfor %}
								{% else %}
									<p class="text-center"><em>No promos available.</em></p>
								{% endif %}
							</div>
						</div>
					</form>
					<br><br>
					{% include 'dealer.applications._app-nav-buttons' %}
				</div>
			</div>
		</div>


		<div class="step" style="display: none" id="step-two">
			<div class="row">
				<div class="small-10 small-offset-1 columns">
					<form action="/apps/submit-sales-slip" method="post" class="ajax-form space-saving">

					{# show different view for contracts than sales slip #}
					{% if app.credit_type == 'Revolving' %}
						<input type="hidden" name="step" value="two">
						<h2 class="text-center">Products Sold</h2>
						<hr>
						<div class="row">
							<div class="small-6 columns medium-2 columns">
								<label>QTY</label>
								<input name="qty_one" type="text">
							</div>
							<div class="small-6 columns medium-2 columns">
								<label>Price</label>
								<input name="price_one" type="text">
							</div>
							<div class="small-6 medium-8 columns">
								<label>Item Num / SKU</label>
								<input name="sku_one" type="text">
							</div>
							<div class="small-12 columns"><a href="#" class="add-description">Add description</a></div>
						</div>

						<div class="row item-description" style="display: none">
							<div class="small-12 columns">
								<label>Item Description</label>
								<input name="description_one" type="text">
							</div>
						</div>	

						<hr>

						<div class="row">
							<div class="small-6 columns medium-2 columns">
								<label>QTY</label>
								<input name="qty_two" type="text">
							</div>
							<div class="small-6 columns medium-2 columns">
								<label>Price</label>
								<input name="price_two" type="text">
							</div>
							<div class="small-6 medium-8 columns">
								<label>Item Num / SKU</label>
								<input name="sku_two" type="text">
							</div>
							<div class="small-12 columns"><a href="#" class="add-description">Add description</a></div>
						</div>

						<div class="row item-description" style="display: none">
							<div class="small-12 columns">
								<label>Item Description</label>
								<input name="description_two" type="text">
							</div>
						</div>

						<hr>

						<div class="row">
							<div class="small-6 columns medium-2 columns">
								<label>QTY</label>
								<input name="qty_three" type="text">
							</div>
							<div class="small-6 columns medium-2 columns">
								<label>Price</label>
								<input name="price_three" type="text">
							</div>
							<div class="small-6 medium-8 columns">
								<label>Item Num / SKU</label>
								<input name="sku_three" type="text">
							</div>
							<div class="small-12 columns"><a href="#" class="add-description">Add description</a></div>
						</div>

						<div class="row item-description" style="display: none">
							<div class="small-12 columns">
								<label>Item Description</label>
								<input name="description_three" type="text">
							</div>
						</div>

					{% else %}

						<input type="hidden" name="step" value="two">
						<h2 class="text-center">Property Sold</h2>
						<hr>

						<h4 class="text-center">Model*</h4>
						<div class="row item-description">
							<div class="small-12 columns">
								<input name="description_one" type="text">
							</div>
						</div>

						<h4 class="text-center">Serial Number</h4>
						<div class="row item-description">
							<div class="small-12 columns">
								<input name="sku_one" type="text">
							</div>
						</div>

						<h4 class="text-center">Attachments</h4>
						<div class="row item-description"> 
							<div class="small-12 columns">
								<input name="attachments" type="text">
							</div>
						</div>

						<h4 class="text-center">Retail Price</h4>
						<div class="row item-description">
							<div class="small-12 medium-4 medium-offset-4 columns">
								<input name="retail_price" type="text" value="{{ app.amount_financed }}">
							</div>
						</div>

						<h4 class="text-center">Sale Price*</h4>
						<div class="row item-description">
							<div class="small-12 medium-4 medium-offset-4 columns">
								<input name="price_one" type="text">
								<input type="hidden" name="qty_one" value="1">
							</div>
						</div>


					{% endif %}

					<br>
						<h2 class="text-center">Subtotal</h2>
						<h2 class="text-center">$<span id="total-step-two">0</span></h2>
						<p class="text-center"><em>Down payment and sales tax will be entered on the next screen</em>
						<input type="hidden" name="subtotal" value="" id="subtotal">

					</form>

					{% include 'dealer.applications._app-nav-buttons' %}
				</div>
			</div>
		</div>

		<div class="step" style="display: none" id="step-three">
			<div class="row">
				<div class="small-10 small-offset-1 columns">
					<form action="/apps/submit-sales-slip" method="post" class="ajax-form space-saving">
					<input type="hidden" name="step" value="three">
					<h2 class="text-center">Final Price</h2>
					<hr>
					<h3 class="text-center">Subtotal: $<span id="total-step-three">0</span></h3>
					<br>

					{% if app.credit_type == 'Revolving' %}
						<h4 class="text-center">Shipping &amp; Handling</h4>
						<div class="row">
							<div class="small-6 columns medium-4 medium-offset-4 columns">
								<input type="text" name="shipping">
							</div>
						</div>
					{% else %}
						<h4 class="text-center">Trade In Value</h4>
						<div class="row">
							<div class="small-6 columns medium-4 medium-offset-4 columns">
								<input type="text" name="trade_in" id="trade_in">
							</div>
						</div>
						<h4 class="text-center">Trade In Description</h4>
						<div class="row">
							<div class="small-6 columns medium-8 medium-offset-2 columns">
								<input type="text" name="trade_in_description">
							</div>
						</div>
					{% endif %}

					<h4 class="text-center">Sales Tax Amount</h4>
					<div class="row">
						<div class="small-6 columns medium-4 medium-offset-4 columns">
							<input type="text" name="sales_tax">
						</div>
					</div>

					<h4 class="text-center">Down Payment</h4>
					<div class="row">
						<div class="small-6 columns medium-4 medium-offset-4 columns">
							<input type="text" name="down_payment" value="{{ app.down_payment_amount }}">
						</div>
					</div>
					<div class="row">
						<div class="small-6 columns medium-6 medium-offset-3 columns">
							<label class="text-center">Down Payment Method
							<select name="down_payment_method">
								<option>N/A</option>
								<option value="cash">Cash</option>
								<option value="credit">Credit</option>
								<option value="check">Check</option>
							</select>
						</label>
						</div>
					</div>


					<div class="row">
						<div class="small-6 columns medium-4 medium-offset-4 columns">
							<br>
							<input type="hidden" name="final_amount" id="final_amount">
							<h2 class="text-center">Total</h2>
							<h2 class="text-center">$<span id="final-total">0</span></h2>
						</div>
					</div>

					</form>
					{% include 'dealer.applications._app-nav-buttons' %}
				</div>
			</div>
		</div>

		<div class="step" style="display: none" id="step-four">
			<div class="row">
				<div class="small-10 small-offset-1 columns">
					<form action="/apps/submit-sales-slip" method="post" id="ach_form" class="ajax-form space-saving">
					<input type="hidden" name="step" value="four">
				
					<h2 class="text-center">Bank Account Information</h2>
					<p class="text-center"><em>Please double check information for accuracy.</em></p>
					<div class="row pad-s">
						<div class="small-12 medium-10 medium-offset-1 columns">
							<label>Account Number*
								<input type="text" name="ach_account_number" id="ach_account_number">
							</label>
						</div>
					</div>
					<div class="row pad-s">
						<div class="small-12 medium-10 medium-offset-1 columns">
							<label>Routing Number*
								<input type="text" name="ach_routing_number" id="ach_routing_number">
							</label>
						</div>
					</div>
					<div class="row pad-s">
						<div class="small-12 medium-10 medium-offset-1 columns">
							<label>Checking or Savings?*
								<select name="ach_is_savings">
									<option value="0">Checking</option>
									<option value="1">Savings</option>
								</select>
							</label>
						</div>
					</div>
					<div class="row pad-s">
						<div class="small-12 medium-10 medium-offset-1 columns">
							<label>Preferred withdrawal day (0-30):
								<input type="text" name="ach_day_of_month">
							</label>
						</div>
					</div>
					<div class="small-12 text-center">
						<br>
						<input type="hidden" id="is_ach_bypassed" value="" name="is_ach_bypassed">
						<a style="font-size: 0.85em; color: #aaa" href="" id="bypass_ach">Skip</a>
					</div>
					<br>
					<br><br>
					</form>
					{% include 'dealer.applications._app-nav-buttons' %}
				</div>
			</div>
		</div>

		{% if completion == "Yes" %}
		<div class="step" style="display: none" id="step-five">
			<div class="row">
				<div class="small-10 small-offset-1 columns">
					<form action="/apps/submit-sales-slip" method="post" id="ach_form" class="ajax-form space-saving">
					<input type="hidden" name="step" value="five">
				
					<h2 class="text-center">Certificate of Completion</h2>
					
					<div class="small-12 medium-8 medium-offset-2">
						<p><em>Please select one of the following regarding the installation.</em></p>
						<input type="radio" name="installation" value="dealer_install" id="dealer_install" required="required">
							<label for="dealer_install">The seller has installed the product</label><br>
						<input type="radio" name="installation" value="no_install" id="no_install">
							<label for="no_install">No installation was necessary</label><br>
						<input type="radio" name="installation" value="consumer_install" id="consumer_install">
							<label for="consumer_install">Consumer has installed the product</label><br><br>
							<input type="hidden" value="{{ token }}" name="token">
					</div>

					<br>
					<br><br>
					</form>
					{% include 'dealer.applications._app-nav-buttons' %}
				</div>
			</div>
		</div>
		{% endif %}


		<div class="step" style="display: none" id="step-three">
			<div class="row">
				<div class="small-10 small-offset-1 columns text-center">
					<h3 class="text-center">Paperwork Options</h3>
					<hr>
					<p class="text-center">We're done entering information. Now, choose how you would like to collect signatures for the documents.</p><br>
						<div class="small-12 medium-8 medium-offset-2">
							{% set paperwork_controls = user.company.control_paperwork|split(',') %}
							{% if paperwork_controls %}
								{% if 'Print' in paperwork_controls %}<a class="button small expand" href="/apps/paperwork/generate/{{ app.id }}?method=print">Print Completed Forms</a>{% endif %}
								{% if 'Remote' in paperwork_controls %}<a class="button small expand" href="/apps/paperwork/generate/{{ app.id }}?method=send">Send via Email</a>{% endif %}
								{% if 'Local' in paperwork_controls %}<a class="button small expand" href="/apps/paperwork/generate/{{ app.id }}?method=sign">Sign Here</a>{% endif %}
							{% else %}
								<em>Belmont has not approved you to access paperwork - please call and ask to enable paperwork options on your account.</em>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<div class="small-12 columns">
	<div class="hide-for-large-up row">
		<div class="text-center small-12 columns">
			<br>
			<h5 style="color: #ccc;">SWIPE TO NAVIGATE</h5>
			<img src="/images/Swipe_Right.png" style="opacity: 0.7;">
		</div>
	</div>
</div>

<div id="loading" class="loader">
	<div class="cs-loader">
	  <div class="cs-loader-inner">
	  	<!-- <h3 class="cs-loader-title">Please Wait</h3> -->
	    <label>	●</label>
	    <label>	●</label>
	    <label>	●</label>
	    <label>	●</label>
	    <label>	●</label>
	    <label>	●</label>
	  </div>
	</div>
</div>

{% if errors|length %}
	<div id="hidden-errors" style="display: none">
		{% set messages = errors.bags['default'].messages %}
			{{ dump(messages) }}
		{% for label, value in messages %}
			<small class="error" data-name="{{ label }}">{{ value[0] }}</small>
		{% endfor %}
	</div>
{% endif %}

{% endblock %}


{% block pagescripts %}
<script src="/js/jquery.mask.min.js"></script>
<script src="/bower_components/hammerjs/hammer.min.js"></script>
<script src="/bower_components/hammerjs-jquery/jquery.hammer.js"></script>

	<script>

		var savedData = false;

		var rate = '{{ app.buy_rate }}';

		window.onAjaxComplete = 'successApp';

		// on successful validation of each step, submit or complete application
		function successApp(){
			var current = $('.step.current');
			current.hide();
			var next = current.next();
				
			// skip coapplicant steps if
			while(!next.hasClass('step') || !next.length) {
				next = next.next();
				console.log(next);
			}

			if(next[0].id != 'revolvingPane'){
				next.show();
				current.find('small.error').remove();
				current.removeClass('current');
				next.addClass('current');

				// update progress bar with current index
				window.updateProgressBar(next.index('.step'));
			}
			// not currently used
			else {
				next.show();
				current.find('small.error').remove();
				current.removeClass('current');
				next.addClass('current');
				$('#forwardTop').hide();
			}
		}



		$(function(){

			$('.step').hide();

			// navigation right (form submittal)
			$('.wrapper').on('click', '.next', function(){
				var current = $('.current');
				if (current.find('.ajax-form').submit()) {
					current.addClass('current');
				}
			});

			// swipe support for enabled devices
			var hammerleft = $('.content').hammer().on("swipeleft", function(){
				var current = $('.current');
				if ($(current).find('.ajax-form').submit()) {
					$(current).addClass('current');
				}
			});

			var hammerright = $('.content').hammer().on("swiperight", function(){
				navigateBack();
			});

			// back button mark position and update progress bar
			$('.wrapper').on('click', '.back', function(){
				navigateBack();
			});

			var navigateBack = function(){
				var current = $('.current');
				var previous = current.prev();
				var i = 0;

				// skip coapplicant steps if
				while(!previous.hasClass('step') && previous.length == 1) {
					previous = previous.prev();
					console.log(previous);
					i++;
				}

				if(previous.length){
					current.hide();
					current.removeClass('current');
					previous.addClass('current');
					previous.show();
					window.updateProgressBar(previous.index('.step'));
				}
			}

			$('#copyaddress').on('click', function(e){
				e.preventDefault();
				$('#coAddress').val($('#address').val());
				$('#coCity').val($('#city').val());
				$('#coState').val($('#state').val());
				$('#coZip').val($('#zip').val());
			});

			$('#ssn').mask("000-00-0000");

			if(window.msieversion()){
				$('#date').mask("00/00/0000");
			}

			var errors = $('#hidden-errors').find('.error');
			errors.each(function(){
				$(this).appendTo($('input[name="' + $(this).attr('data-name') + '"]').closest('label'));
			});

			window.updateProgressBar = function(index){
				var totalSteps = $('.step').length;
				var newPercent = ((index + 1) / totalSteps) * 100;
				$('#progressBar').css('width', newPercent+'%');
			}

			// load data from a previous application
			if(savedData) {
				// fill in values from saved app entry
				var previousStep = savedData.step;
				delete savedData.step;
				for (var key in savedData) {
				   if (savedData.hasOwnProperty(key)) {
				   		var fillInput = $('#step-wrapper').find('input[name="' + key + '"], input[name="' + key + '[]"], select[name="' + key + '"]');
				   		fillInput.val(savedData[key]);
				   }
				}
				if(savedData.coapplicant == "Yes") {
					showCoapplicant();
				}
				$('#step-wrapper').find('input[name="step"][value="' + previousStep + '"]').closest('.step').show().addClass('current');


			} else {
				$('.step').first().show().addClass('current');
			}

			// update totals on step two
			$('#step-two').on('change', 'input', function(e){
				updateSubtotal();
				updateTotal();

			});

			function updateSubtotal() {
				var final = $('#step-two').find('input[name="qty_one"]').val() * $('#step-two').find('input[name="price_one"]').val();

				if($('#step-two').find('input[name="qty_two"]').val()) {
					final += $('#step-two').find('input[name="qty_two"]').val() * $('#step-two').find('input[name="price_two"]').val();
				}

				if($('#step-two').find('input[name="qty_three"]').val()) {
					final += $('#step-two').find('input[name="qty_three"]').val() * $('#step-two').find('input[name="price_three"]').val();
				}
				
				$('#total-step-two').text(final.toFixed(2));
				$('#total-step-three').text(final.toFixed(2));
				$('#final-total').text(final.toFixed(2));
				$('#subtotal').val(final.toFixed(2));
				$('#final_amount').val(final);
			}

			// update totals on step three
			$('#step-three').on('change', 'input', function(e){
				updateTotal();
			});

			// update totals when app loads
			updateSubtotal();
			updateTotal();

			// when a promo is selected with an interest rate, override the apr field
			$('#promos').on('change', 'input', function(e){
				if($(this).data('rate')) {
					if($(this).is(':checked')) {

						// only use lowest selected apr
						if($(this).data('rate') < $('#apr').val() || $('#apr').val() === '') {
							$('#apr_show').text($(this).data('rate') + '%');
							$('#apr').val($(this).data('rate'))
						}

						$('#apr').hide();
						$('#apr_show').show();
					} else {

						// if no other promos are selected
						var hideApr = true;
						var lowestApr = false;
						$('#promos').find('input:checked').each(function(item){
							
							if($(this).data('rate') !== '' || typeof($(this).data('rate')) === 'undefined') {
								hideApr = false;

								// if there is another apr checked, show that instead
								if(($(this).data('rate') < lowestApr || lowestApr === false)) {
									$('#apr_show').text($(this).data('rate') + '%');
									$('#apr').val($(this).data('rate'))
									lowestApr = $(this).data('rate');
								}
							}
						});

						if(hideApr) {
							$('#apr_show').hide();
							$('#apr').show();
						}
					}
				}

				// hide or show ach required
				updateAchRequired();
			});


			$('#step-wrapper').on('click', '.add-description', function(e){
				var closestRow = $(this).closest('.row');
				$(this).hide();
				closestRow.next('.item-description').show();
			});

			// bypass ach
			$('#bypass_ach').on('click', function(e){
				e.preventDefault();
				$('#is_ach_bypassed').val('Yes');
				$('#ach_account_number').val('');
				$('#ach_routing_number').val('');
				$('#need_ach_sign').hide();
				$('#ach_form').submit();
			});

			function updateTotal(){
				var final = parseFloat($('#step-three').find('#total-step-three').text()) +
					(parseFloat($('#step-three').find('input[name="shipping"]').val()) || 0) +
					(parseFloat($('#step-three').find('input[name="sales_tax"]').val()) || 0) -
					(parseFloat($('#step-three').find('input[name="trade_in"]').val()) || 0) -
					(parseFloat($('#step-three').find('input[name="down_payment"]').val()) || 0);

				$('#final_amount').val(final);
				$('#final-total').text(final.toFixed(2));
			}

			// hide or show ach required based on rate
			function updateAchRequired(){
				var showAch = true;
				var promos = $('#promos').find('input:checked').each(function( index ) {
					if( parseFloat($(this).data('ach-rate')) >= parseFloat(rate)) {
						console.log($(this).data('ach-rate'), rate);
						showAch = false;
					}
				});

				if(showAch) {
					$('#bypass_ach').show();
				} else {
					$('#bypass_ach').hide();
				}
			}


			// toggle state selection and loan terms based on credit type
			$('#credit_type').on('change', function(){
				var type = $(this).val();
				if ($(this).val() == 'Revolving') {
					$('#closed-state').hide().attr('name', ' ').prop('disabled',true);
					$('#rev-state').show().prop('disabled',false).attr('name', 'state');
					$('#loan-terms').hide();
				} else {
					$('#rev-state').hide().attr('name', ' ').prop('disabled',true);
					$('#closed-state').show().prop('disabled',false).attr('name', 'state');
					$('#loan-terms').show();
				}
			});

            $('#signApplication').on('click', function(){
                $(this).html(window.spinner);
            });

            // modify tab behavior to move to the next form section
            $('body').keydown(function(e) {
			    var code = e.keyCode || e.which;
			    if (code == '9') {
			    	var target = $(e.target);
			    	var parentStep = target.closest('.step');
			    	// get last visible input in step
			    	var lastInput = parentStep.find('input:visible, textarea:visible, select:visible').last();
			    	if(target.is(lastInput)) {
			    		e.preventDefault();
			    		var current = $('.current');
						if ($(current).find('.ajax-form').submit()) {
							$(current).addClass('current');
						}
			    	}
			    }
			 });

		});
	</script>
{% endblock %}
