{% macro contentArea(entry) %}
    {% for block in entry.contentAreas %}
		{% if block.blockTitle %}<br><h4>{{ block.blockTitle }}</h4>{% endif %}
		<hr>

		{% switch block.type %}
			{% case "contentArea" %}
				{{ block.contentField }}

			{% case "imageGallery" %}
				<div class="gallery__container">
			    {% set columns = block.showPerRow ~ '' %}
			    {% set imageTransform = block.cropThumbnail ? 'medThumb' : false %}

			        {% if block.horizontal_text %}
			            {% for image in block.uploads %}
			                <div class="row">
			                    <div class="medium-6 columns">
			                        <img src="{{ image.getUrl(imageTransform) }}" alt="{{ image.title }}">
			                    </div>
			                    <div class="medium-6 column">
			                        {% if block.showTitles %}<h4>{{ image.title }}</h4>{% endif %}
			                        <p>{{ image.text }}</p>
			                    </div>
			                </div>
			            {% endfor %}
			        {% else %}
			            <ul class="small-block-grid-1 medium-block-grid-{{ columns }} large-block-grid-{{ columns }}">
			                {% for image in block.uploads %}
			                    <li class="gallery__item">
			                        <img src="{{ image.getUrl(imageTransform) }}" alt="{{ image.title }}">
			                        {% if block.showTitles %}<h4 class="gallery__title">{{ image.title }}</h4>{% endif %}
			                        {% if image.subtitle %}<h5 class="gallery__subtitle">{{ image.subtitle }}</h4>{% endif %}
			                        <p>{{ image.text }}</p>
			                    </li>
			                {% endfor %}
			            </ul>
			        {% endif %}
			    </div>

			{% case "documents" %}
	            <div class="small-12 columns">
					<ul class="small-block-grid-2 medium-block-grid-3">
						{% for doc in block.documentUploads %}
						<li class="small-text-center">
							<a href="{{ doc.getUrl() }}" style="text-decoration: underline; display: block; padding: 1em; background-color: rgba(0,0,0,0.1)">
								<i class="fi-page"></i>
								<h6>{{ doc.title }}</h6>
							</a>
						</li>
						{% endfor %}
					</ul>
	            </div>

			{% case "childLinks" %}
				{% for child in entry.children %}
					<div class="row">
						<h4>{{ child.title }}</h4>
					</div>
				{% endfor %}

		{% endswitch %}

	{% endfor %}
{% endmacro %}