{% macro generateLink(slug, pagetitle='') %}
	{% set entry = craft.entries.section('pages').slug(slug).first() %}
	{% if entry and entry.children|length %}
		<li>
			<a href="{{ entry.getUrl() }}" class="{% if craft.request.firstSegment == slug %}active{% endif %}">{{ pagetitle ?: entry.title }}</a>
		 	{# <ul class="dropdown">
		 		{% for child in entry.children %}
		 			<li><a href="{{ child.getUrl() }}">{{ child.title }}</a></li>
		 		{% endfor %}
		 	</ul> #}
		 </li>
	{% elseif entry %}
	<li><a href="{{ entry.getUrl() }}" class="{% if craft.request.firstSegment == slug %}active{% endif %}">{{ pagetitle ?: entry.title }}</a></li>
	{% endif %}
{% endmacro %}