{% extends 'pages/_custom-content-8' %}
{% set largePage = true %}
{% block contentB %}
<br>
<hr>
    <div class="row">
        <div class="small-12 medium-12 medium-text-center columns">
            {% macro errorList(errors) %}
                {% if errors %}
                    <ul class="errors">
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endmacro %}

            {% from _self import errorList %}
            <div class="row space">
                <div class="small-12 medium-6 medium-offset-3 columns">

                    {% if craft.request.getQuery('subject') %}
                        <h3 class="light" id="submitted">Thank you for your interest! Our marketing team will be in touch with you shortly.</h3><br>
                    {% else %}
                    <h3 class="light">Request Program Information</h3><br>
                    <form method="post" action="" accept-charset="UTF-8" id="submitForm">
                        {{ getCsrfInput() }}
                        <input type="hidden" name="action" value="contactForm/sendMessage">
                        <input type="hidden" name="redirect" value="/about/why-finance-with-belmont?subject=submitted#submitted">
                        <input type="hidden" name="toEmail" value="{{ 'marketing@belmontfinancellc.com'|hash }}">

                        <input type="text" id="name" placeholder="Name / Company Name*" name="fromName" required>
                        <input type="email" id="email" placeholder="Email*" name="fromEmail" required>
                        <input type="hidden" name="message[Source]" value="Why Finance with Belmont">
                        <input type="hidden" name="message[Name]" id="hiddenName">
                        <input type="hidden" name="message[Email]" id="hiddenEmail">
                        <div id="morefields" style="display: none;">
                            <input type="text" placeholder="Owner Name" name="message[Owner Name]">
                            <input type="text" placeholder="Primary Contact Person" name="message[Primary Contact Person]">
                            <input type="text" placeholder="Business Address" name="message[Business Address]">
                            <input type="text" placeholder="Phone Number" name="message[Phone]">
                            <input type="text" placeholder="Products Sold" name="message[Products Sold]">
                            <input type="text" placeholder="State(s) doing business in" name="message[States doing business in]">
                            <input type="text" placeholder="Currently offering financing?" name="message[Currently offering financing?]">
                        </div>
                        <label><input type="checkbox" name="message[Include enrollment package]" value="yes"> Check here to include enrollment packet.</label>
                        <button class="tiny button float-right">Send!</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('#email').on('focus', function(){
            $('#morefields').slideDown();
        });

        $hiddenEmail = $('#hiddenEmail');
        $hiddenName = $('#hiddenName');
        $('#email').on('change', function(){
            $hiddenEmail.val($(this).val());
        });

        $('#name').on('change', function(){
            $hiddenName.val($(this).val());
        })
    </script>
{% endblock %}