<head>
	<title>{% if title %}{{ title }}{% endif %}</title>
	<meta name="_token" content="{{ csrf_token() }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/css/app-three.css" rel="stylesheet">
	<meta name="robots" content="noindex">
	<link href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic|Oswald:300' rel='stylesheet' type='text/css'>
</head>