<head>
	<title>Dashboard</title>
	<meta name="_token" content="{{ csrf_token() }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/css/app-two.css" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,700,300' rel='stylesheet' type='text/css'>
	<script src="/bower_components/modernizr/modernizr.js"></script>
</head>