	{# modal for general purpose #}
	<div id="genModal" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<h5 class="overTitle"></h5>
		<div class="row"><div class="small-12 columns"><h3 class="modalTitle"></h3></div></div>
	  <div class="content">
	  	
	  </div>
	  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>

	{# modal for confirmation - note i have a jquery function to call it easily #}
	<div id="confirmModal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	  <h4 class="overTitle">Confirm</h4>
	  <p id="modalTitle">Confirm</p>
	  	<div class="row">
		  	<div class="medium-6 columns text-center">
		  		<form id="confirm-form" method="get" action=""><button class="yes small" id="yesconfirm">Yes</button></form>
		  	</div>
		  	<div class="medium-6 columns text-center">
		  		<button class="no small secondary" id="noconfirm">No</button>
		  	</div>
		</div>
	  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>