<head>
	<title>{% if title %}{{ title }}{% endif %}</title>
	<meta name="_token" content="{{ csrf_token() }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/js/awesomplete.css" rel="stylesheet">
	<link href="/css/app.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
	<script src="/bower_components/modernizr/modernizr.js"></script>
</head>