<p align="center">
    <strong>IMPORTANT INFORMATION ABOUT YOUR ACCOUNT KEEP THIS INFORMATION FOR YOUR RECORD</strong>
</p>
<p align="center">
    <strong></strong>
</p>
<p align="center">
    <strong>REVOLVING CREDIT AGREEMENT AND DISCLOSURE STATEMENT</strong>
</p>
<p align="center">
    <strong></strong>
</p>
<p>
    Distributor may assign all rights under this Agreement and any credit sale made pursuant to it (as evidenced by a revolving credit sales slip) to Belmont
    Finance LLC (“BF”) and to BF’s further assigns.
</p>
<table border="1" cellspacing="0" cellpadding="0" width="968">
    <tbody>
        <tr>
            <td width="968" colspan="2" valign="top">
                <p>
                    Interest Rates and Interest Charges<strong></strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="177" valign="top">
                <p>
                    <strong>Annual Percentage Rate</strong>
                    <strong> (APR) for Purchases </strong>
                    <strong></strong>
                </p>
            </td>
            <td width="790" valign="top">
                <p>
                    <strong>17% - 21% </strong>
                    <strong></strong>
                </p>
                <p>
                    (Maximum APR Varies By State. See table below for applicable rate in your state *)
                </p>
            </td>
        </tr>
        <tr>
            <td width="177" valign="top">
                <p>
                    <strong>Penalty APR </strong>
                </p>
                <p>
                    <strong>and </strong>
                </p>
                <p>
                    <strong>When it Applies**</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="790" valign="top">
                <p>
                    <strong>24% - 28% </strong>
                    (see table below for applicability in your state**)<strong></strong>
                </p>
                <p>
                    This APR may be applied to your account if you make a late payment.
                </p>
                <p>
                    <strong>How Long Will the Penalty Rate Apply?: </strong>
                    The<strong> </strong>Penalty APR may remain in effect indefinitely.
                </p>
            </td>
        </tr>
        <tr>
            <td width="177" valign="top">
                <p>
                    <strong>Paying Interest </strong>
                    <strong></strong>
                </p>
            </td>
            <td width="790" valign="top">
                <p>
                    Interest Charges begin on the date a purchase is posted to your account, except in states requiring a grace period, in which case your due
                    date is at least 25 days after the close of each billing cycle and we will not charge you interest if you pay your entire balance by the
                    due date.
                </p>
            </td>
        </tr>
        <tr>
            <td width="177" valign="top">
                <p>
                    <strong>Minimum Interest Charge</strong>
                </p>
            </td>
            <td width="790" valign="top">
                <p>
                    If you are charged interest, the charge will be no less than $0.50.
                </p>
            </td>
        </tr>
        <tr>
            <td width="177" valign="top">
                <p>
                    <strong>For Credit Card Tips from the Consumer Financial Protection Bureau</strong>
                </p>
            </td>
            <td width="790" valign="top">
                <p>
                    To learn more about factors to consider when applying for or using a credit card, visit the Consumer Financial Protection Bureau’s website
                    at<u> </u><u>http://www.consumerfinance.gov/learnmore</u>.
                </p>
            </td>
        </tr>
        <tr>
            <td width="968" colspan="2" valign="top">
                <p>
                    Fees
                </p>
            </td>
        </tr>
        <tr>
            <td width="177" valign="top">
                <p>
                    <strong>Penalty Fees</strong>
                </p>
                <p>
                    •Late Payment
                </p>
                <p>
                    •Returned Payment
                </p>
            </td>
            <td width="790" valign="top">
                <p>
                    Fees Vary By State
                </p>
                <p>
                    <strong>Up to $35 </strong>
                    See Paragraph 11 of Agreement
                </p>
                <p>
                    <strong>Up to $30 </strong>
                    See Paragraph 12 of Agreement
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p>
    <strong>How We Will Calculate Your Balance: </strong>
    We use a method called the “Average Daily Balance (including new purchases).” See your Revolving Credit Agreement for more details.
</p>
<p>
    <strong>Billing Rights:</strong>
    Information on your rights to dispute transactions and how to exercise those rights is provided in your account agreement.<strong></strong>
</p>
<p>
    <strong>
        This information is accurate on the date of your application and initial purchase. If any of this information changes you will be notified at least 45
        days prior to any change and how to contact us regarding any change.
    </strong>
    All terms are subject to change.
</p>
<table border="1" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td width="968" colspan="2" valign="top">
                <p align="center">
                    *Maximum State APR Rates
                </p>
            </td>
        </tr>
        <tr>
            <td width="99" valign="top">
                <p>
                    <strong>17%</strong>
                </p>
            </td>
            <td width="868" valign="top">
                <p>
                    Arkansas<strong></strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="99" valign="top">
                <p>
                    <strong>18%</strong>
                </p>
            </td>
            <td width="868" valign="top">
                <p>
                    Alabama, Connecticut, Florida, Louisiana Maine, Massachusetts, Minnesota, Nebraska, North Carolina, South Carolina, Texas
                </p>
            </td>
        </tr>
        <tr>
            <td width="99" valign="top">
                <p>
                    <strong>21%</strong>
                </p>
            </td>
            <td width="868" valign="top">
                <p>
                    All Other States
                </p>
            </td>
        </tr>
    </tbody>
</table>
<table border="1" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td width="968" colspan="2" valign="top">
                <p align="center">
                    ** State Penalty APR Rates
                </p>
            </td>
        </tr>
        <tr>
            <td width="99" valign="top">
                <p>
                    <strong>24%</strong>
                </p>
            </td>
            <td width="868" valign="top">
                <p>
                    District of Columbia, Hawaii, Maryland, Missouri
                </p>
            </td>
        </tr>
        <tr>
            <td width="99" valign="top">
                <p>
                    <strong>25%</strong>
                </p>
            </td>
            <td width="868" valign="top">
                <p>
                    New York, Ohio
                </p>
            </td>
        </tr>
        <tr>
            <td width="99" valign="top">
                <p>
                    <strong>28% </strong>
                </p>
            </td>
            <td width="868" valign="top">
                <p>
                    All Other States**
                </p>
            </td>
        </tr>
        <tr>
            <td width="968" colspan="2" valign="top">
                <p>
                    ** The penalty APR rate does not apply in the following states: Alabama Arkansas, Colorado, Connecticut, , Delaware, Florida, Georgia,
                    Illinois, Indiana, Kansas, Louisiana, Maine, Maryland, Massachusetts, Michigan, Minnesota, Mississippi, Nebraska, North Carolina, Oklahoma,
                    Pennsylvania, South Carolina, Rhode Island, Tennessee Texas, Vermont, West Virginia and Wyoming.
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p>
    1. <strong>GENERAL</strong>: If your credit application is approved and we open a revolving credit account for you, you may purchase household goods and
    services on credit from the Distributor where you opened your account. Purchases are pursuant to a revolving credit sales slip and you agree that all sales
    are subject to the terms of this Agreement.
</p>
<p>
    2. <strong>PROMISE TO PAY</strong>: You agree to pay for all purchases made on your account, <strong>INTEREST CHARGES</strong>, and other applicable
    charges or fees under this Agreement incurred by you or anyone you authorize or permit to use your account. If this account is a joint account, each joint
    account holder agrees to pay, and all account holders are jointly and severally responsible for all amounts owed on the account. If your account is
    referred for collections to an attorney who is not our salaried employee, you agree to pay reasonable attorney fees and reasonable collection costs to the
    extent allowed by law in your state. If your state does not allow attorney fees (IA, ME, OH, and WI), you agree to pay any statutory attorney fees and
    costs that may be awarded to us by a court of law.
</p>
<p>
    3. <strong>CREDIT LIMIT</strong>: We set a credit limit on your account which we may modify at any time for any reason not prohibited by law. You may not
    charge purchases if it causes you to exceed your credit limit unless we allow such purchases. You agree to pay all amounts over your credit limit.
</p>
<p>
    4. <strong>BILLING STATEMENT</strong>: We will mail you a statement each month you have an account balance greater than $1.00 at the address we have in our
records. This statement will show credit purchases, late charges, NSF fees, previous balance, new balance, payments received, credits,    <strong> INTEREST CHARGES</strong>, total minimum payment due, and payment due date.
</p>
<p>
    5. <strong>MINIMUM MONTHLY PAYMENT</strong>: All payments, except disputed payments, must be mailed or delivered to the Payment Processing Center address
    shown on your monthly billing statement. All payments must be made by electronic fund transfer, check or money order. Do not send cash. Cash or other
    nonconforming methods of payment may be rejected. We may accept partial or late payments or checks marked “payment in full” or other restrictive
    endorsement without losing our right to receive the full amount owed. Your billing statement will include requirements for you to follow in making
    payments. Disputed payments, including those which indicate that the payment constitutes “payment in full” of the amount owed, must be mailed or delivered
    to the Customer Service address listed below. You agree to pay us at least the Total Minimum Monthly Payment reflected on your statement. You may pay more
    than the Total Minimum Monthly Payment and you may pay the entire amount due at any time. The Total Minimum Monthly Payment Due shown on your billing
    statement will be the sum of the Minimum Monthly Payment plus all past due amounts, late fees, and other charges. The Minimum Monthly Payment is calculated
    at the end of the first month in which you make a purchase, and will be calculated each month in which you make an additional purchase. Your Minimum
    Monthly Payments will be between 2% and 5% of the “Highest Monthly Charge” balance since your Monthly Charge Balance was zero, less any Special Payment
    Plans as shown on your billing statement rounded to the next higher dollar, or $25, whichever is greater, unless your account balance is less than $25 in
    which case the Minimum Monthly Payment will be equal to the account balance. You agree that any payment may be returned if your check is (i) not drawn in
    U.S. dollars on funds on deposit in the U.S.; (ii) missing a signature; (iii) drawn with different numeric and written amounts; (iv) contains a restrictive
    endorsement; (v) postdated; or (vi) not paid on presentment. If you do not make a Total Minimum Monthly Payment within 60 days of its due date, we may
    apply the Penalty APR to your account, if allowed by the state of your residence. We will give you advanced notice of the date the Penalty APR is
    effective. The Penalty APR may remain in effect indefinitely, unless you make the first six consecutive Total Minimum Monthly Payments when due following
    the effective date of the application of the Penalty APR to your account.
</p>
<p>
    6.<strong> ELECTRONIC FUND TRANSFER</strong>: When you provide a check, you authorize us either to use information from your check to make a one-time
    electronic fund transfer from your account or to process the transaction as a check. When we use your check to make an electronic fund transfer, funds may
    be withdrawn from your account as soon as the same day we receive your payment, and you may not receive your check back from your financial institution. If
    there are insufficient funds in your account you authorize us to charge an NSF Fee as indicated below and collect that amount through an electronic fund
    transfer from your account.
</p>
<p>
    7. <strong>PREPAYMENT</strong>: You may pay your entire account balance at any time without penalty. If you do not pay the entire balance in full, you must
    make a minimum payment each month by the payment due date that appears on your billing statement. Under federal law, we are not required to refund any
    amounts less than $1.00.
</p>
<p>
    8. <strong>INTEREST CHARGE</strong>: <strong>INTEREST CHARGES</strong> begin the date a purchase is posted to your account and accrue as long as your
    account has a balance, except in states with a mandatory grace period. The <strong>INTEREST CHARGE</strong> is computed by applying a daily periodic rate
    of .04658% (corresponding to an annual percentage rate of 17%), a periodic rate of .04932% (corresponding to an annual percentage rate of 18%) or a
    periodic rate of .05753% (corresponding to an annual percentage rate of 21%) to the daily balance. The daily balance is calculated by taking the beginning
balance in the account each day, adding any new purchases, and subtracting any unpaid interest or other finance charges and any payments and credits. The    <strong>INTEREST CHARGE</strong> is calculated by (i) taking each daily balance, (ii) multiplying that daily balance by the applicable daily periodic rate,
    (iii) adding together the resulting amounts for each day in the billing cycle. The total periodic <strong>INTEREST CHARGES</strong> for the billing cycle
    is the sum of the periodic <strong>INTEREST CHARGES</strong> for each purchase type rounded to the next highest cent. Any Daily Balance less than zero will
    be treated as zero. A minimum <strong>INTEREST CHARGE</strong> of no less than $0.50 is added to your account in any billing cycle your account is subject
    to an <strong>INTEREST CHARGE</strong>, except in states where prohibited by law. The grace period is 25 days in Louisiana, Maine, Maryland, Massachusetts,
    Mississippi, North Carolina, and Virginia and 30 days in Nebraska &amp; Vermont on new purchases where your account balance is $0 or you have paid your
    previous balance due in full by the end of the billing cycle.
</p>
<p>
    9. <strong>DEFAULT</strong>: You are in default if: (a) you fail to make a required payment when due on two occasions in any 12 month period; (b) you fail
    to observe or perform any of the other covenants or duties contained in this Agreement if the failure materially impairs the condition, value or protection
    of our right in any Collateral, or materially impairs your ability to pay any amounts on your billing statement when due. You will receive a Notice of
    Right to Cure in the following states: Colorado, Iowa, Kansas, Maine, Massachusetts, Missouri, Nebraska, Pennsylvania, West Virginia, and Wisconsin. If you
    fail to cure within the time allowed in your notice or within 30 days if you live in a state with no notice requirement, we may accelerate your balance.
</p>
<p>
    10. <strong>SPECIAL CREDIT PROMOTION PLANS</strong>: We may occasionally offer special credit promotion plans for you to participate in at your option.
</p>
<p>
    11. <strong>LATE FEE</strong>: If your payment is more than 10 days late (15 days in Maine or Massachusetts, and 30 days in North Carolina), you may be
    charged a late fee up to the amount indicated below for your state of residence. The late fee will be added to your account balance.
</p>
<table border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td width="638" colspan="2" valign="top">
                <p>
                    KS &amp; MO if payment due is less than $25
                </p>
            </td>
            <td width="257" valign="top">
                <p>
                    $5
                </p>
            </td>
        </tr>
        <tr>
            <td width="638" colspan="2" valign="top">
                <p>
                    AK, AR, CA, FL, KS, MO, MT, NC, NJ, OH, RI, SD, TN
                </p>
            </td>
            <td width="257" valign="top">
                <p>
                    $10
                </p>
            </td>
        </tr>
        <tr>
            <td width="638" colspan="2" valign="top">
                <p>
                    CO, IA, MS, NV, NH, NY, ND, OR, VT, WA, WI
                </p>
            </td>
            <td width="257" valign="top">
                <p>
                    $15
                </p>
            </td>
        </tr>
        <tr>
            <td width="638" colspan="2" valign="top">
                <p>
                    IN
                </p>
            </td>
            <td width="257" valign="top">
                <p>
                    $18.50
                </p>
            </td>
        </tr>
        <tr>
            <td width="638" colspan="2" valign="top">
                <p>
                    GA
                </p>
            </td>
            <td width="257" valign="top">
                <p>
                    $25
                </p>
            </td>
        </tr>
        <tr>
            <td width="638" colspan="2" valign="top">
                <p>
                    MN -$7.80 maximum
                </p>
            </td>
            <td width="257" valign="top">
                <p>
                    5% of payment due
                </p>
            </td>
        </tr>
        <tr>
            <td width="493" valign="top">
                <p>
                    KY &amp; WY -$10 minimum; AL, ID &amp; MI -$15 minimum; HI, NE &amp; VA
                </p>
            </td>
            <td width="145" valign="top">
                <p align="right">
                    5% of payment due;
                </p>
            </td>
            <td width="257" valign="top">
                <p>
                    $35 maximum*
                </p>
            </td>
        </tr>
        <tr>
            <td width="493" valign="top">
                <p>
                    UT
                </p>
            </td>
            <td width="145" valign="top">
                <p align="right">
                    5% of payment due;
                </p>
            </td>
            <td width="257" valign="top">
                <p>
                    $30 maximum*
                </p>
            </td>
        </tr>
        <tr>
            <td width="493" valign="top">
                <p>
                    OK ($5 minimum)
                </p>
            </td>
            <td width="145" valign="top">
                <p align="right">
                    5% of payment due;
                </p>
            </td>
            <td width="257" valign="top">
                <p>
                    $24.50 maximum
                </p>
            </td>
        </tr>
        <tr>
            <td width="493" valign="top">
                <p>
                    SC
                </p>
            </td>
            <td width="145" valign="top">
                <p align="right">
                    5% of payment due;
                </p>
            </td>
            <td width="257" valign="top">
                <p>
                    $18 maximum
                </p>
            </td>
        </tr>
        <tr>
            <td width="493" valign="top">
                <p>
                    TX, D.C., WV
                </p>
            </td>
            <td width="145" valign="top">
                <p align="right">
                    5% of payment due;
                </p>
            </td>
            <td width="257" valign="top">
                <p>
                    $15 maximum
                </p>
            </td>
        </tr>
        <tr>
            <td width="493" valign="top">
                <p>
                    AZ, CT, IL, LA, MD, ME, PA
                </p>
            </td>
            <td width="145" valign="top">
                <p align="right">
                    5% of payment due;
                </p>
            </td>
            <td width="257" valign="top">
                <p>
                    $10 maximum
                </p>
            </td>
        </tr>
        <tr>
            <td width="493" valign="top">
                <p>
                    NM
                </p>
            </td>
            <td width="145" valign="top">
                <p align="right">
                    5% of payment due;
                </p>
            </td>
            <td width="257" valign="top">
                <p>
                    $5 maximum
                </p>
            </td>
        </tr>
        <tr>
            <td width="493" valign="top">
                <p>
                    MA
                </p>
            </td>
            <td width="145" valign="top">
                <p align="right">
                    10% of payment due;
                </p>
            </td>
            <td width="257" valign="top">
                <p>
                    $10 maximum
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p>
    *($25 maximum-first occurrence in more than 6 months.)
</p>
<p>
    12. <strong>RETURNED PAYMENT</strong> / <strong>NSF FEE</strong>: If any payment instrument or method is dishonored by your bank or the drawee, you agree
    to pay an NSF fee up to the amount indicated below for your state of residence. No NSF fee will be charged if your state of residence is Delaware,
    Maryland, Nebraska, or Wyoming. If required by your state, you will receive a notice with instructions about the NSF service or collection fees, and if you
    fail to pay the fee we will add it to your account balance. We are not required to present payment instruments more than once to the drawee for payment.
    This fee will be added to your account balance.
</p>
<div align="center">
    <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td width="559" valign="top">
                    <p>
                        MA, ME, AZ (greater of $10 or bank fee)
                    </p>
                </td>
                <td width="351" valign="top">
                    <p>
                        $10
                    </p>
                </td>
            </tr>
            <tr>
                <td width="559" valign="top">
                    <p>
                        CA, MS, MO
                    </p>
                </td>
                <td width="351" valign="top">
                    <p>
                        $15
                    </p>
                </td>
            </tr>
            <tr>
                <td width="559" valign="top">
                    <p>
                        CT, D.C., ID, IA, NJ, NY, OH, PA, UT, VT
                    </p>
                </td>
                <td width="351" valign="top">
                    <p>
                        $20
                    </p>
                </td>
            </tr>
            <tr>
                <td width="559" valign="top">
                    <p>
                        CO, FL, IL, IN, KY, LA, MI, MN, NV, NH, NM, NC, OK, OR, RI, TX, WV, WI
                    </p>
                </td>
                <td width="351" valign="top">
                    <p>
                        $25
                    </p>
                </td>
            </tr>
            <tr>
                <td width="559" valign="top">
                    <p>
                        AL, AK, AR, GA, HI, KS, MT, ND, SC, SD, TN
                    </p>
                </td>
                <td width="351" valign="top">
                    <p>
                        $30*
                    </p>
                </td>
            </tr>
            <tr>
                <td width="559" valign="top">
                    <p>
                        ND, OR, VA, WA
                    </p>
                </td>
                <td width="351" valign="top">
                    <p>
                        $35*
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p>
    *($25 maximum-first occurrence in more than 6 months.)
</p>
<p>
    13. <strong>ACCOUNT INFORMATION</strong>: You authorize us to furnish information about your account to credit reporting agencies and anyone else who may
    lawfully receive such information. On request, you agree to promptly provide us with accurate and updated financial and employment information. You agree
    to give us prompt notice of any change in your name, address, and telephone numbers. Where allowed by law, you authorize the Department of Motor Vehicles
    to release your address if it becomes necessary to locate you.
</p>
<p>
    14. <strong>CHANGE IN TERMS</strong>: We may change the terms of this Agreement, as permitted by law, at any time. You will be notified of changes in
    accordance with applicable state and federal law, but in the event your state does not specify a time period, you will be notified at least 45 days in
    advance of any such changes, and such notice will be sent to your current address as shown on our records for your account. We count the days from the date
    we mail the notification.
</p>
<p>
    15. <strong>CREDIT INVESTIGATION</strong>: You agree we may investigate your credit, employment, and financial status. You authorize us to obtain a credit
    report and any other information about your creditworthiness in connection with processing your application for credit, and subsequently in connection with
    any extension of credit, request to increase credit limits, or any renewal or update of your account, or to take collection action on the account, or to
    investigate disputes regarding the account. At your request, we will inform you if such reports were ordered, and the names of the credit bureaus that
    provided reports. You authorize the Department of Defense and its various departments and commands to verify your social security number or other
    identifier and disclose your home address to the authorized holder of this Agreement for purposes of performing or enforcing the terms of this Agreement.
    You authorize any past or present employer to confirm employment or communicate with us regarding your indebtedness to us if you fail to meet the terms and
    conditions of this Agreement. We use information furnished solely in connection with performing or enforcing the terms of this Agreement.
</p>
<p>
    16.<strong> ACCOUNT CANCELLATION</strong>: We may cancel your account at any time for any reason subject to the requirements of applicable law. Outstanding
    balances continue to accrue <strong>INTEREST CHARGES</strong> until paid in full, and remain subject to all terms and conditions of this Agreement. You may
    cancel your account by writing to our account service provider Belmont Finance LLC, P.O. Box 152, Waupaca, WI 54981. Your notice is effective on receipt.
    If you cancel your Account, you are still responsible for all amounts owed pursuant to the terms of this Agreement.
</p>
<p>
    17. <strong>ASSIGNMENT</strong>: This Agreement is not effective until your application has been approved by BF. We have the right to assign any or all of
    our rights under this Agreement to any assignee of our choosing. You may not assign this Agreement or any rights under it and any attempt to make such an
    assignment will be null and void. You understand that Distributor and BF are independent entities and not employees or agents of one another. This
    Agreement legally binds the parties and their respective heirs, representatives, executors, administrators, successors and assigns.
</p>
<p>
    18.<strong> SEVERABILITY</strong>: If any provision of this Agreement is deemed void or unenforceable under any law, rule, or regulation, all other
    provisions remain in effect and enforceable.
</p>
<p>
    19.<strong> NON-WAIVER</strong>: We do not lose any of our rights under this Agreement if we delay taking action for any reasons.
</p>
<p>
    20. <strong>REPRESENTATION</strong>:<strong> </strong>You swear that all the information you supplied on your credit application and all the information on
    each revolving credit sales slip is and will be true, correct, and accurate. Any false, incorrect, or misleading information you knowingly supply is a
    deliberate misrepresentation.
</p>
<p>
    21<strong>. STATE LAW RESIDENT NOTICES:</strong>
</p>
<p>
    <strong>CALIFORNIA</strong>
    <strong> STATE NOTICE:</strong>
    Applicants may 1) use the credit account up to its credit limit after credit approval; 2) be liable for amounts extended under the plan to any joint
    applicant. A negative credit report reflecting on your credit record may be submitted to a credit reporting agency if you fail to fulfill the terms of your
    credit obligations.
</p>
<p>
    <strong>COLORADO</strong>
    <strong> RESIDENTS:</strong>
    Warning: The terms of this revolving charge account may be changed, whether or not authorized by agreement, in accordance with the Colorado UCCC and other
    applicable law.
</p>
<p>
    <strong>DELAWARE</strong>
    <strong>:</strong>
    Service charges not in excess of those permitted by law will be charged on the outstanding balances from month to month.
</p>
<p>
    <strong>DISTRICT OF COLUMBIA: </strong>
    Seller certifies that the information contained in the contract complies with the District of Columbia Municipal Regulations, Title 16, Chapter 1.
</p>
<p>
    <strong>ILLINOIS:</strong>
    No applicant may be denied a credit card on account of race, color, religion, national origin, ancestry, age (between 40 and 70), sex, marital status,
    physical or mental handicap unrelated to the ability to pay or unfavorable discharge from military service. The applicant may request the reason for
    rejection of his or her application for a credit card. No person need reapply for a credit card solely because of a change in marital status unless the
    change in marital status has caused deterioration in the person’s financial position. A person may hold a credit card in any name permitted by law that he
    or she regularly uses and is generally known by, so long as no fraud is intended thereby.
</p>
<p>
    <strong>MAINE</strong>
    <strong>:</strong>
    We may request a consumer report in connection with your application for credit. You may ask whether a consumer report was obtained by us and we will tell
    you the name and address of the consumer reporting agency, if a report was obtained. Charges incurred by use of your card are due and payable on receipt of
    your monthly statement.
</p>
<p>
    <strong>MARYLAND</strong>
    : Finance charges will be made in amounts or at rates not in excess of those permitted by law. You may pay the entire balance at any time without incurring
    additional charges for prepayment.
</p>
<p>
    <strong>NEW HAMPSHIRE</strong>
    : Consumer or Consumer’s attorney may file a complaint with the New Hampshire Commissioner of Banking.
</p>
<p>
    <strong>VERMONT</strong>
    <strong>:</strong>
    We may obtain your credit reports at any time, for any legitimate purpose associated with the account or the application or request for an account,
    including but not limited to reviewing, modifying, renewing and collecting on your account. On your request we will inform you if such a report was
    ordered. If so, we will give you the name and address of the consumer reporting agency furnishing the report.
</p>
<p>
    <strong>OHIO</strong>
    <strong>:</strong>
    Ohio anti-discrimination laws require creditors to make credit equally available to all creditworthy customers and that credit reporting agencies maintain
    separate credit histories on individuals upon request. The Ohio Civil Rights Commission administers these laws.
</p>
<p>
    <strong>TEXAS:</strong>
    To contact Belmont Finance LLC about this account call 877-547-2926. This contract is subject in whole or in part to Texas law which is enforced by the
    Consumer Credit Commissioner,
    <address>
        2601 N. Lamar Blvd., Austin, Texas 78705
    </address>
    . Phone 512-936-7600. Contact the commissioner relative to any inquiries or complaints.
</p>
<p>
    22. <strong>SECURITY AGREEMENT</strong>: You grant us a purchase money security interest under the Uniform Commercial Code in each household good purchased
    on account to the full extent permitted by law. To the extent allowed by law, you will pay all official fees and taxes, and on request, take any reasonable
    action requested by us to preserve the collateral or to establish, determine priority of, perfect, continue perfected, terminate or enforce our interest in
    it or rights under this agreement. If you do not make payments as agreed, this security interest allows us to take actions in accordance with state laws
    governing the enforcement of security interests in collateral. You further agree to keep the goods installed at the address on the credit application and
    to not remove or materially alter them without our written consent. You may lose the goods you purchased if you do not meet your obligations under this
    agreement.
</p>
<p>
    23<strong>. NOTICE:</strong>
</p>
<table border="0" cellspacing="0" cellpadding="0" width="959">
    <tbody>
        <tr>
            <td width="959" valign="top">
                <p>
                    <strong>
                        ANY HOLDER OF THIS CONSUMER CREDIT CONTRACT IS SUBJECT TO ALL CLAIMS AND DEFENSES WHICH THE DEBTOR COULD ASSERT AGAINST THE SELLER OF
                        GOODS OR SERVICES OBTAINED PURSUANT TO THIS AGREEMENT OR WITH THE PROCEEDS FROM IT. DEBTOR’S RECOVERY UNDER THIS AGREEMENT MAY NOT
                        EXCEED THE AMOUNT OF CREDIT OUTSTANDING.
                    </strong>
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p>
    <strong>Arizona residents</strong>
    - You must give us notice of your claim or defense in writing by certified mail within 90 days of receiving any goods or you may waive the right to
    set-offs or defense against assignee if assignee provides you a notice of your rights and you fail to exercise those rights pursuant to the terms of the
    notice<strong>. </strong><strong>Iowa</strong><strong> residents</strong> - You must give assignee notice within 30 days of assignment to assert claims and
    defenses against assignee. <strong>Oklahoma &amp; South Dakota residents</strong> - You waive the right to bring a claim or defense against assignee if
assignee provides you a notice of your rights and you fail to exercise those rights pursuant to the terms of the notice.    <strong>Wisconsin residents</strong> -<strong> </strong>You waive the right to bring a claim or defense against assignee after 12 months if assignee
    provides you a notice of your rights to do so and you fail to exercise those rights pursuant to the terms of the notice of assignment. This waiver is in
    accordance with section 422.407 (4) of the Wisconsin Consumer Act. <strong>Wyoming</strong><strong> residents</strong> - You waive the right to bring a
    claim or defense against assignee for 45 days after assignment if assignee provides you a notice of your rights and you fail to exercise those rights
    pursuant to the terms of the notice<strong>.</strong>
</p>
<p>
    24<strong>. CUSTOMER SERVICE:</strong> Direct all inquiries concerning your account to:
</p>
<p>
    <strong>Belmont Finance LLC</strong>
</p>
<p>
    <strong>9640 County Road D</strong>
</p>
<p>
    <strong>Almond, WI 54909</strong>
</p>
<p>
    or call Customer Service at telephone number 877-547-2926.
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>25: BILLING RIGHTS NOTICE: <u> </u></strong>
</p>
<p>
    <strong><u></u></strong>
</p>
<p>
    <strong><u>Your Billing Rights: Keep this Document for Future Use</u></strong>
    <u></u>
</p>
<p>
    <strong>This notice tells you about your rights and our responsibilities under the Fair Credit Billing Act.</strong>
</p>
<p>
    <strong><u>What To Do If You Find A Mistake On Your Statement</u></strong>
    <strong> </strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    If you think there is an error on your statement write us at:
</p>
<p>
    Belmont Finance LLC
</p>
<p>
    ATTN: Customer Billing
</p>
<p>
    P.O. Box 152
</p>
<p>
    Waupaca, WI 54981
</p>
<p>
    In your letter, give us the following information:
</p>
<ul>
    <li>
        <em><u>Account Information</u></em>
        <em>: </em>
        Your name and account number.
    </li>
    <li>
        <em><u>Dollar Amount</u></em>
        <em>: </em>
        The dollar amount of the suspected error.
    </li>
    <li>
        <em><u>Description of Problem</u></em>
        <em>: </em>
        If you think there is an error on your bill, describe what you believe is wrong and why you believe it is a mistake.
    </li>
</ul>
<p>
    You must contact us:
</p>
<p>
    · within 60 days after the error appeared on your statement.
</p>
<p>
    · At least 3 business days before an automated payment is scheduled if you want to stop payment on the amount you think is wrong.
</p>
<p>
    You must notify us of any potential errors <em><u>in writing</u>. </em>You may call us, but if you do we are not required to investigate any potential
    errors and you may have to pay the amount in question.
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong><u>What Will Happen After We Receive Your Letter</u></strong>
</p>
<p>
    <strong>When we receive your letter, we must do two things: </strong>
</p>
<p>
    1. Within 30 days of receiving your letter, we must tell you that we received your letter. We will also tell you if we have already corrected the error.
</p>
<p>
    2. Within 90 days of receiving your letter, we must either correct the error or explain to you why we believe the bill is correct.
</p>
<p>
    <strong>While we investigate whether or not there has been an error:</strong>
</p>
<p>
    · We cannot try to collect the amount in question, or report you as delinquent on that amount.
</p>
<p>
    · The charge in question may remain on your statement, and we may continue to charge you interest on that amount.
</p>
<p>
    · While you do not have to pay the amount in question, you are responsible for the remainder of your balance.
</p>
<p>
    · We can apply any unpaid amount against your credit limit.
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>After we finish our investigation, one of two things will happen:</strong>
</p>
<ul>
    <li>
        <em><u>If we made a mistake</u></em>
        : You will not have to pay the amount in question or any interest or other fees related to that amount.
    </li>
    <li>
        <em><u>If we did not believe there was a mistake</u></em>
        : You will have to pay the amount in question along with applicable interest and fees. We will send you a statement of the amount you owe and the date
        payment is due. We may then report you as delinquent if you do not pay the amount we think you owe.
    </li>
</ul>
<p>
    If you receive our explanation but still believe your bill is wrong, you may write to us within <em><u>10 days</u></em> telling us that you still refuse to
    pay. If you do so, we cannot report you as delinquent without also reporting that you are questioning your bill. We must tell you the name of anyone to
    whom we reported you as delinquent, and we must let those organizations know when the matter has been settled between us.
</p>
<p>
    If we do not follow the rules above, we cannot collect the first $50 of the amount you questioned amount, even if your bill was correct.
</p>
<p>
    <strong><u>Your Rights If You Are Dissatisfied With Your Credit Card Purchases</u></strong>
</p>
<p>
    If you are dissatisfied with the goods or services that you have purchased with your credit card, and you have tried in good faith to correct the problem
    with the merchant, you may have the right not to pay the remaining amount due on the purchase. To use this right, all of the following must be true:
</p>
<ol start="1" type="1">
    <li>
        The purchase must have been in your home state or within 100 miles of your current mailing address, and the purchase price must have been more than
        $50. (Note: Neither of these are necessary if your purchase was based on an advertisement we mailed to you, or if we own the company that sold you the
        goods or services).
    </li>
    <li>
        You must have used your credit card for the purchase. Purchases made with cash advances from an ATM or with a check that accesses your credit card
        account do not qualify.
    </li>
    <li>
        You must not yet have fully paid for the purchase.
    </li>
</ol>
<p>
    If all of the criteria above are met and you are still dissatisfied with the purchase, contact us <em><u>in writing</u></em> at:
</p>
<p>
    Belmont Finance LLC
</p>
<p>
    ATTN: Customer Billing
</p>
<p>
    P.O. Box 152
</p>
<p>
    Waupaca, WI 54981
</p>
<p>
    While we investigate, the same rules apply to the disputed amount as discussed above. After we finish our investigation, we will tell you our decision. At
    that point, if we think you owe an amount and you do not pay, we may report you as delinquent.
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Note to all Buyers: Finance Charges will be made in amounts or at rates not in excess of those permitted by law.</strong>
    <strong>You have the right to pay in advance the full amount due.</strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>
        NOTICE TO BUYER: 1) DO NOT SIGN ANY PART OF YOUR REVOLVING CREDIT AGREEMENT BEFORE YOU READ IT OR IF IT CONTAINS ANY BLANK SPACES. 2) YOU ARE ENTITLED
        TO A COMPLETELY FILLED IN COPY OF ANY AGREEMENT WHEN YOU SIGN IT. 3) A FINANCE CHARGE WILL BE COMPUTED ON THE OUTSTANDING BALANCE EACH BILLING PERIOD
        IN ACCORDANCE WITH THE RATES ABOVE. 4) YOU MAY PAY YOUR TOTAL UNPAID BALANCE AT ANY TIME.
    </strong>
    <strong></strong>
</p>