<head>
	<title>Dashboard</title>
	<meta name="_token" content="{{ csrf_token() }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/css/app-two.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,700,300' rel='stylesheet' type='text/css'>
	<script src="/bower_components/modernizr/modernizr.js"></script>
    <script src='/bower_components/fastclick/lib/fastclick.js'></script>
		<style>

		html, body {
	    max-width: 100%;
	    overflow-x: hidden;
	    overflow-y: hidden;
		}

        /* disable select text */
        #contract, button, #signatures{
            -webkit-user-select: none;
            user-select: none;
            cursor: pointer;
        }

        body button, body .button{
        	background-color: #348426;
        	-webkit-border-radius: 4px;
        	border-radius: : 4px;
        	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.71);
        	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.71);
        	border: 0;
        }
        body button:hover, button:active{
        	background-color: #173d11;
        }

		#backOverlay{
			background-color: rgba(0,0,0,0.7);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		#contract img{
			width: 100%;
		}
		#agreement img{
			width: 100%;
		}
		#confirm {
			width: 100%;
            position: absolute;
            bottom: -7em;
			text-align: center;
		}
		#topBar {
			width: 100%;
			position: fixed;
			text-align: center;
			top: 0px;
		}
		#navBar {
			width: 100%;
			position: fixed;
			bottom: 222px;
			background-color: gray;
			text-align: left;
			margin-bottom: 0px;
			display: none;
		}
		#backToTop{
			background-color: rgba(0,0,0,0.7);
			position: relative;
			top: 0.3em;
		}
		#print{
			background-color: rgba(0,0,0,0.7);
		    border-radius: 50%;
		    width: 3em;
		    height: 3em;
		    padding: 0em;
		    padding-top: 0.5em;
		    position: relative;
		    top: 0.3em;
		    right: 0.4em;
		}
		#print i{
			font-size: 1.6em;
		}

		#signatures{
			width: 90%;
			left: 5%;
			position: fixed;
    		height: 172px;
    		bottom: 13px;
			background-color: white;
			text-align: center;
			padding-top: 0.1em;
			max-width: 1200px;
		}

		@media only screen and (min-width: 1334px) {
			#signatures{
				width: 1200px;
				left: calc(50% - 600px);
			}
		}

		#signature-tools {
			width: auto;
			position: absolute;
			height: 40px;
			top: 4px;
			left: 0px;
			/*background-color: #d6d6d6;*/
			text-align: left;
			padding-top: 0.1em;
			padding-left:0.3em;
			/*display:none;*/
			/*display: inline-block;*/
		}
		#signature-tools div {
			display: inline-block;
		}

		#signatures.short{
			height: 100px;
		}
		#beginMessage{
			position: absolute;
			opacity: 0.5;
			font-size: 1.6em;
			top: 0.225em;
			text-align: center;
			left: 0;
			right: 0;
		}

		#back {
			margin: 0.3em;
			color: #348426;
            font-size: 11px;
            position: absolute;
            left: 0.7em;
            bottom: 0.7em;
		}

		#signatureLabel{
			position: absolute;
            width: 100%;
            margin-bottom: 6px;
            top: 0.6em;
            left: 0.3em;
            font-weight: bold;
            color: black;
            text-align: center;
            font-size: 3em;
            z-index: 0;
		}

		.sig{
			display: none;
			width: 100%;
			height: 170px;
			border: 2px solid black;
			background-color: white;
			max-width: 1200px;
			opacity: 0.88;
			-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
			box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
			position: relative;
		}
		.sign-button-container{
			position: absolute;
			bottom: 8px;
			right: 7px;
			text-align: right;
		}
		.sign-nav{
			margin: 0px;
            border: none;
            border-radius: 0px !important;
            -webkit-border-radius: 0px !important;
            float: right;
            padding: 0.2rem 1rem 0.2rem 1rem;
		}

		.sig-loc{
			height: 42px;
			position: absolute;
			background-color: rgba(52, 137, 38, 0.2);
			border-bottom: 1.5px dashed black;
		}

		.sig-loc:before{
			content: '▶';
			position: absolute;
			font-size: 2em;
			left: -1em;
			top: -0.4em;
			
		}

		.sig-loc.current:before{
			animation: pulse 2s infinite;
			opacity: 1;
		}

		.sig-loc.current{
			background-color: rgba(173, 19, 19, 0.3);
		}
		.signature-draw-icon {
			cursor:pointer;
			width: 40px;
			height: 40px;
		}
		.signature-draw-icon img:hover {
		 	-webkit-filter: invert(20%); /* Safari 6.0 - 9.0 */
    		filter: invert(20%);
    		/*cursor:none;*/
		}
		.signature-typing-icon img:hover{
			-webkit-filter: invert(20%); /* Safari 6.0 - 9.0 */
    		filter: invert(20%);
    		/*cursor:none;*/
		}
		.img-selected {
			-webkit-filter: invert(20%); /* Safari 6.0 - 9.0 */
    		filter: invert(20%);
    		/*cursor:none;*/	
		}
		.signature-typing-icon {
			cursor: pointer;
			width: 40px;
			height: 40px;
		}
		#input_signature {
			/*outline: none;*/
			/*border:0px;*/
			/*-webkit-backface-visibility: hidden;*/
			border: 1px solid transparent;
			outline-color: transparent;
  			outline-style: none;
  			-webkit-appearance: none;
  			-webkit-tap-highlight-color: rgba(0,0,0,0);
		}
		.signature-typing-input {
			width: 50%;
			position: fixed;
			height: 50px;
			bottom: 70px;
			/*background-color: #d6d6d6;*/
			text-align: left;
			padding-top: 0.3em;
			padding-right:2.2em;
			padding-left:4.1em;
			opacity: 0 !important;
		}

		.signature-typing-font {
			width: 250px;
			position: fixed;
			height: 50px;
			bottom: 134px;
			right: 7px !important;
			top: 7px;
			text-align: left;
			padding-left:4.1em;	
			position: absolute;
		}
		.signature-clear {
			
			position: fixed;
			height: 50px;
			bottom: 30px;
			right: calc(5% + 7px);
			/*background-color: #d6d6d6;*/
			text-align: left;
			cursor: pointer;
			
		}
		#btn_clear {
			cursor:pointer;
		}
		@media screen and (max-width: 992px) {
		   
		}
		@media only screen and (max-width: 660px) {
			#beginMessage{
				font-size: 1em;
			}
		}


		@keyframes pulse {
		  0% {
		    opacity: 0.3;
		  }
		  50% {
		  	opacity: 0.6;
		  }
		  100% {
		    opacity: 0.3;
		  }
		}

		@media print {
			body{
				overflow-x: visible;
				overflow-y: visible;
			}

			#contract{
				transform: matrix(1, 0, 0, 1, 0, 0) !important;
			}
		}

	</style>
</head>
