{% if user %}
<div id="success"><i class="fi-check"></i></div>

<header class="sticky">
<nav class="top-bar" data-topbar="" role="navigation">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
  </ul>

  
<section class="top-bar-section" id="top-bar">
    <ul class="left">
      <li class="has-dropdown not-click"><a href="/"><img src="/images/white-logo.png" class="mini-logo">
 Welcome, {{ user.name }}</a>

        <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
          <li><a href="/my-profile">Account / Password</a></li>
          <li class="divider"></li>
          <li><label>ADMIN FUNCTIONS</label></li>
          <li><a href="/settings/">Settings</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="has-form">
        {% if tab == "distributors" %}<form class="row collapse" action="/distributors/search" id="search" method="post">{% elseif tab == "staff" %}<form class="row collapse" action="/users/search" id="search" method="post">{% else %}<form class="row collapse" action="/contracts/search" id="search" method="post">{% endif %}
          <div class="large-10 small-10 columns">
          
            <input type="hidden" name="_token" value="{{ csrf_token() }}">
            {% if tab == "distributors" %}
            <input type="text" name="search" placeholder="Search Distributor">
            {% elseif tab == "staff" %}
            <input type="text" name="search" placeholder="Search Belmont Staff">
            {% else %}
            <input type="text" name="search" placeholder="Search Acct # or Name">
            {% endif %}
          </div>
          <div class="large-2 small-2 columns">
          <button href="#" class="button expand"><i class="fi-magnifying-glass"></i></button>
          </div>
          </form>
      </li>
    </ul>
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li><a href="/logout" title="Log Out"><i class="fi-power medium"></i></a></li>
    </ul>
  </section>
  </nav>
</header>
{% endif %}