Hi {{ name }},
Thank you!  Your recurring {% if card is defined %}Credit / Debit{% else %}ACH{% endif %} payment authorization has been received.  Please be advised that it may take up to 2 business days to be implemented into your account.  You will receive a confirmation of set up once this is complete.

{% include 'emails._customer-service-signature' %}