Hi {{ name }},
Thank you for your recent online payment.  Please be advised that it may take up to 2 business days for this payment to be posted to your Belmont Finance LLC account.  If you have any questions, please contact us at 877-547-2926 Option 2.

{% include 'emails._customer-service-signature' %}