Hi {{ name }},
Thank you for setting your account with Belmont Finance LLC on a recurring {% if card is defined %}Credit / Debit{% else %}ACH{% endif %} payment. This has been implemented into your account. Please contact us with any questions at 877-547-2926 Option 2.

{% include 'emails._customer-service-signature' %}