{{ url }}<br>
An error occurred on line {{ exception.getLine() }} of {{ exception.getFile() }}:<br>
"{{ exception.getMessage() }}"<br>
Trace: <br>
{% for trace in exception.getTrace() %}
	<p>{{ loop.index }}. {{ trace['function'] }} on line {{ trace['line'] }} of {{ trace['file'] }}</p>
{% endfor %}
