Attention: {{ user.first_name }} {{ user.last_name }} ({{ contract.accountNumber }}) has changed their address.

The new address is {{ user.address }} {{ user.address_two }} {{ user.city }}, {{ user.state }} {{ user.zip }}
