Contract for {{ name }} could not be assigned to a dealer because no dealer with the account number {{ dealerNumber }} exists.

By default these are assigned to the  Belmont Finance dealer account and will have to manually be changed to the dealer's account.