{# module for carousel slider #}
{% if entry.imageVideoSlideshow %}
<section class="content-area carousel">
    {# {% if block.blockTitle %}
        <div class="headline headline--solid">
            <h2>{{ block.blockTitle }}</h2>
        </div>
    {% endif %}
    #}

    {# main carousel #}
    <div class="carousel__container flexslider" id="slider">
        <ul class="slides">
        {% for item in entry.imageVideoSlideshow %}
            {% switch item.type %}
                {% case 'image' %}
                    {% for image in item.image %}
                    <li class="carousel__slide">
                        <img src="{{ image.getUrl('big') }}">
                        {% if image.subtitle or image.text %}
                        <aside class="carousel__caption">
                            {% if image.subtitle %}<h4>{{ image.subtitle }}</h4>{% endif %}
                            {% if image.text %}<p>{{ image.text }}</p>{% endif %}
                        </aside>
                        {% endif %}
                    </li>
                    {% endfor %}
            {% endswitch %}
        {% endfor %}
        </ul>
    </div>

    {# filmstrip carousel #}
    <div id="carousel" class="flexslider">
        <ul class="slides">
        {% for item in entry.imageVideoSlideshow %}
            {% switch item.type %}
                {% case 'image' %}
                    {% for image in item.image %}
                    <li class="carousel__slide carousel--thumbnail">
                        <img src="{{ image.getUrl('medthumb') }}">
                    </li>
                    {% endfor %}
            {% endswitch %}
        {% endfor %}
        </ul>
    </div>

</div>
{% endif %}
   
</section>