<style>
    .dropdown{position:relative;display:inline-block;vertical-align:bottom;line-height:1.5}.dropdown a{text-decoration:none}.dropdown-toggle{background:#fff;display:inline-block;text-decoration:none;position:relative;font-size:15px;padding:8.75px 20px;margin:0;box-shadow:0 1px 2px rgba(0,0,0,.2)}.dropdown-toggle .dropdown-icon{height:2px;width:8px;opacity:.6;position:relative;display:inline-block;vertical-align:middle;margin-left:20px}.dropdown-toggle .dropdown-icon:after{content:'';position:absolute;top:0;left:0;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid}.dropdown-toggle .dropdown-text{display:inline-block;vertical-align:middle}.dropdown-toggle img{vertical-align:middle}.dropdown-menu-wrapper{background:#fff;overflow:hidden;box-shadow:0 1px 2px rgba(0,0,0,.2)}.dropdown-menu-container{position:relative;width:300px;max-width:100%}.dropdown-menu{display:none;position:absolute;top:0;left:0;width:inherit}.dropdown-menu-main,.dropdown-menu-open{display:block}.dropdown-menu-open{position:relative}.dropdown-menu-wrapper{position:absolute;z-index:999;display:none;opacity:0}.dropdown-below .dropdown-menu-wrapper{top:100%;bottom:auto;margin:3px 0 0}.dropdown-above .dropdown-menu-wrapper{bottom:100%;top:auto;margin:0 0 3px}.dropdown-mask{position:absolute;top:0;left:0;width:100%;height:100%;z-index:100;display:none}.dropdown-animating .dropdown-mask{display:block}.dropdown-overlay{background:rgba(0,0,0,.5);position:fixed;opacity:0}.dropdown-header{position:relative;min-height:25px;padding:12.5px 50px;margin:0;border-bottom:1px solid #ccc}.dropdown-menu-main .dropdown-header{display:none}.dropdown-title{font-size:15px;text-align:center;line-height:25px;padding:0;margin:0}.dropdown-back,.dropdown-close{position:absolute;text-decoration:none;top:0;font-weight:700;color:#aaa;font-size:16px;width:50px;height:50px;line-height:50px;text-align:center}.dropdown-back .dropdown-text,.dropdown-close .dropdown-text{display:none}.dropdown-back{left:0}.dropdown-back .dropdown-icon:after{content:'';display:inline-block;width:0;height:0;border-top:4px solid transparent;border-bottom:4px solid transparent;border-right:4px solid}.dropdown-menu-main .dropdown-back{display:none}.dropdown-close{display:none;right:0}.dropdown-close .dropdown-icon:after{font-family:sans-serif;content:'\00d7'}.dropdown-item,.dropdown-list{list-style-type:none;font-size:inherit}.dropdown-list{overflow:hidden;text-align:left;overflow-y:auto;-webkit-overflow-scrolling:touch;margin:0;padding:10px 0}.dropdown-item{padding:0;margin:0 0 1px}.dropdown-item:last-child{margin-bottom:0}.dropdown-label{text-transform:uppercase;font-weight:700;font-size:12px;color:rgba(0,0,0,.4);padding:10px 20px;margin:20px 0 0}.dropdown-label:first-child{margin-top:0}.dropdown-divider{border-bottom:1px solid #e0e0e0;margin:10px 0}.dropdown-divider:first-child,.dropdown-divider:last-child{display:none}.dropdown-divider+.dropdown-label{margin-top:10px}.dropdown-divider:first-child+.dropdown-label{margin-top:0}.dropdown-link{display:block;position:relative;font-size:15px;text-decoration:none;padding:10px 20px}.dropdown-parent .dropdown-link:after{content:'';opacity:.6;position:absolute;right:20px;top:50%;margin-top:-4px;display:inline-block;vertical-align:middle;border-left:4px solid;border-bottom:4px solid transparent;border-top:4px solid transparent}.dropdown-focused .dropdown-link,.dropdown-link:hover{background:rgba(0,0,0,.03);color:#0d659b}.dropdown-selected .dropdown-link{background:#1d81c0;color:#fff}@media screen and (max-width:600px){.dropdown-overlay{z-index:-1;transition:opacity .2s linear}.dropdown-open .dropdown-overlay,.dropdown-opening .dropdown-overlay{z-index:101;opacity:1;top:0;left:0;right:0;bottom:0}.dropdown-menu-wrapper{width:auto!important;height:auto!important;position:fixed!important;top:10px;bottom:10px;left:10px;right:10px;margin:0;border:0}.dropdown-above .dropdown-menu-wrapper,.dropdown-below .dropdown-menu-wrapper{top:10px;bottom:10px;margin:0}.dropdown-menu-container{width:100%}.dropdown-close,.dropdown-menu-main .dropdown-header{display:block}}@media all and (min-width:601px){.dropdown-overlay{display:none!important}}
    .dropdown{
        width: 100%;
    }
    .dropdown-toggle{
        width: 100%;
        border: 1px solid #545454;
    }

    .dropdown-toggle .dropdown-text, .dropdown-toggle .dropdown-icon, .dropdown-item .dropdown-text, .dropdown-item .dropdown-icon{
        color: rgba(0, 0, 0, 0.75);
    }

    .dropdown-toggle .dropdown-icon{
        position: absolute;
        right: 20px;
        top: 18px;
    }
</style>
<div class="request-info-form panel" id="contact">
    {% if craft.request.getQuery('cf') %}
        <h1 class="light">Thanks for contacting us</h1><br>
        <div class="small-12 medium-8 large-6 medium-offset-2 large-offset-3">
            <p>A representative will be in touch shortly</p>
        </div>
    {% else %}
    <h4 class="text-center"><strong>Request Program Information</strong></h4><br>
        <form method="post" action="" accept-charset="UTF-8" class="content" id="requestInfoForm">
            {{ getCsrfInput() }}
            <input type="hidden" name="action" value="contactForm/sendMessage">
            <input type="hidden" name="redirect" value="contact/thanks?subject=Homepage+Request">

            <input type="text" id="name" placeholder="Name / Company Name*" name="fromName" required>
            <input type="email" id="email" placeholder="Email*" name="fromEmail" required>
            <input type="hidden" name="message[Name]" id="hiddenName">
            <input type="hidden" name="message[Email]" id="hiddenEmail">
            <div id="morefields" style="display: none;">
                <input type="text" placeholder="Phone*" name="message[Phone]" required>
                
                <label>Industries:</label>
                <select id="industrySelect" name="message[Industry]">
                    <option value="">Choose one...</option>
                    <optgroup label="Vacuums &amp; Air Purifiers">
                        <option>Kirby</option>
                        <option>Filterqueen</option>
                        <option>Rainbow</option>
                        <option>Hyla</option>
                        <option>Other (please specify)</option>
                    </optgroup>
                    <option>Water Treatment</option>
                    <option>Home Improvement</option>
                    <optgroup label="Home Safety">
                        <option>Global</option>
                        <option>Other (please specify)</option>
                    </optgroup>
                    <optgroup label="Cookware">
                        <option>Salad Master</option>
                        <option>Other (please specify)</option>
                    </optgroup>
                    <optgroup label="Tools">
                        <option>Mac Tools</option>
                        <option>Other (please specify)</option>
                    </optgroup>
                    <option>Retail</option>
                    <option>Other (please specify)</option>
                </select>
                <div id="industryOther" style="margin-top: 0.2em; display: none">
                    <input type="text" placeholder="Industry - Other" name="message[IndustryOther]">
                </div>
            </div>
            <div class="more-form">
                <br>
                <div class="text-center"><label><input type="checkbox" name="message[IncludePacket]"> Check here to include enrollment packet</label></div>
                <div class="text-center"><button>Send!</button></div>
            </div>
        </form>
    </div>
    {% endif %}
</div>