<div class="single-item frontSlider">
{% for slide in slider %}
    <div class="clearfix slide" style="background-image: url({{ slide.sliderImage.first().getUrl()}});">
        <div class="small-12 columns">
            <h2>{{ slide.header }}</h2>
            <h4 class="light medium-6 columns medium-offset-3">{{ slide.subheader }}</h4>
            {% if slide.buttonText %}<a href="{{ slider.buttonUrl }}" class="button">{{ slide.buttonText }}</a>{% endif %}
        </div>
    </div>
{% endfor %}
</div>