<section>
    <div class="row sectiontabs">
        <div class="small-12 medium-4 columns sectiontabs__links">
            <ul>
                {% for tab in tabs %} 
                    <li>
                        <a href="#" data-id="tabs{{ loop.index }}">{{ tab.tabTitle }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="small-12 medium-8 columns sectiontabs__links__content">
            {% for tab in tabs %}
                <div class="" id="tabs{{ loop.index }}">
                    {{ tab.tabContent }}
                </div>
            {% endfor %}
        </div>
    </div>
</section>