<p>You've been sent an application to apply for credit!<br>
	This will take a few minutes, and you'll need some basic information like</p>
	<div class="text-center">
		<div style="width: 360px; text-align: left; float: none; margin: auto">
			<ul>
				<li>Driver's License or Photo ID</li>
				<li>SSN</li>
				<li>Employer information</li>
			</ul>
		</div>
	</div>

<p>When you're ready to get started, click 'Review and Sign' below.</p>