{% extends 'dealer/_focus' %}

{% block pagetitle %}
{% endblock %}

{% block content %}
	<div class="text-center">
		<h3>Paperwork Complete</h3>
		<br>
		<p>You've signed all the paperwork we need right now.</p>
		<p>You may close your browser window at this time.</p>
		<br>
		<br>
	</div>
{% endblock %}

{% block pagescripts %}
{% endblock %}