{% extends 'dealer/_focus' %}

{% block pagetitle %}
{% endblock %}

{% block content %}
	<div class="text-center">
		<h3>Finish Signing</h3>
		<p>The coapplicant has completed their information and signed, now it's your turn to finish signing the credit application</p>
		<br>
		<a href="/sign/complete?token={{ token }}" class="button small">Finish Signing</a>
	</div>
{% endblock %}

{% block pagescripts %}
{% endblock %}