{% extends 'dealer/_focus' %}

{% block pagetitle %}
{% endblock %}

{% block content %}
	<div class="text-center">
		<h3>ACH Agreement</h3>
		<br>
		<p>We need your signature on this form so we can electronically transfer your payments from your account.</p>
		<br>
		<div class="small-12 medium-8 medium-offset-2">
			<form action="/sign/complete" method="get">
				<input type="hidden" value="{{ token }}" name="token">
				<button class="button small">Review and Sign</button>
			</form>
		</div>
	</div>
{% endblock %}

{% block pagescripts %}
{% endblock %}