{% extends 'dealer/_focus' %}

{% block pagetitle %}
{% endblock %}

{% block content %}
	<div class="text-center">
		<h3>Ready to get started?</h3>
		<br>
		<p>The seller has requested that you sign the Certificate of Completion form, stating that the work has been finished.</p>
		<br>
		<div class="small-12 medium-8 medium-offset-2">
			<form action="/sign/complete?token={{ token }}">
				<p><em>Please select one of the following regarding the installation of your purchase. If there is an issue with your purchase or installation, please contact your dealer and inform them before filling out this form.</em></p>
				<input type="radio" name="installation" value="dealer_install" id="dealer_install" required="required">
					<label for="dealer_install">The seller has installed the product</label><br>
				<input type="radio" name="installation" value="no_install" id="no_install">
					<label for="no_install">No installation was necessary</label><br>
				<input type="radio" name="installation" value="consumer_install" id="consumer_install">
					<label for="consumer_install">I have installed the product myself</label><br><br>
					<input type="hidden" value="{{ token }}" name="token">
				<button class="button small">Review and Sign</button>
			</form>
		</div>
	</div>
{% endblock %}

{% block pagescripts %}
{% endblock %}