{% extends 'dealer/_focus' %}

{% block pagetitle %}
{% endblock %}

{% block content %}
	<div class="text-center">
		<h3>Ready to get started?</h3>
		<br>
		<p>The seller has filled in the contract and sent it over for your signature.</p>
		<p>You will have a couple documents to sign - be sure to continue and sign each one.</p>
		<br>
		<div class="small-12 medium-8 medium-offset-2">
			<form action="/sign/complete" method="get">
				<input type="hidden" value="{{ token }}" name="token">
				<button class="button small">Review and Sign</button>
			</form>
		</div>
	</div>
{% endblock %}

{% block pagescripts %}
{% endblock %}