{% extends 'dealer/_focus' %}

{% block pagetitle %}
{% endblock %}

{% block content %}
	<div class="text-center">
		<h3>Ready to get started?</h3>
		<br>
		{% include includeView %}
		<a href="/sign/start?token={{ token }}" class="button small">Review and Sign</a>
	</div>
{% endblock %}

{% block pagescripts %}
{% endblock %}