{% extends 'dealer/_focus' %}

{% block pagetitle %}
{% endblock %}

{% block content %}
	<div class="text-center">

		{% if continue %}
		<h3>More Documents Required</h3>
		<p>Continue on to the rest of the paperwork. Be sure to sign all of them.</p>
		{% else %}
		<h3>Ready to get started?</h3>
		<br>
		<p>The seller has filled in the paperwork for you to sign.</p>
		<p>Please continue and sign each one.</p>
		<br>
		{% endif %}
		<div class="small-12 medium-8 medium-offset-2">
			<form action="/sign/go" method="get">
				<input type="hidden" value="{{ token }}" name="token">
				<button class="button small">Review and Sign</button>
			</form>
		</div>
	</div>
{% endblock %}

{% block pagescripts %}
{% endblock %}