{% extends 'dealer/_no-sidebar' %}

{% block content %}
	<div class="row">
		<div class="small-12 columns large-6 large-offset-3 medium-8 medium-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading small-text-center"><h4>Reset your Password</h4></div>
				<div class="panel-body">
					<p class="small-text-center">If you are not receiving the password reset email, be sure to add 'noreply@belmontfinancellc.com' to your safe sender list or talk to your email provider.</p>
					{% if session_get('status') %}
						<div class="alert alert-success">
							{{ session_get('status') }}
						</div>
					{% endif %}

					{% if errors|length > 0 %}
						<div class="alert alert-danger">
							<strong>Whoops!</strong> There were some problems with your input.<br><br>
							<ul>
								{% for error in errors.all() %}
									<li>{{ error }}</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}
					{% if not session_get('status') %}
					<form class="form-horizontal" role="form" method="POST" action="{{ url('/password/email') }}">
						<input type="hidden" name="_token" value="{{ csrf_token() }}">

						<div class="form-group">
							<label class="col-md-4 control-label">E-Mail Address</label>
							<div class="col-md-6">
								<input type="email" class="form-control" name="email" value="{{ input_old('email') }}">
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-6 col-md-offset-4">
								<button type="submit" class="btn btn-primary">
									Send Password Reset Link
								</button>
							</div>
						</div>
					</form>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
