{% extends context ~ '/_no-sidebar' %}

{% block title %}Login{% endblock %}

{% block content %}
	{% if context == "accounts" %}
		{% include "accounts/_login.twig" %}
	{% else %}
	<div class="row pad-s">
			<div class="small-12 medium-6 medium-offset-3 columns center">
						{% if context == "staff" %}
							<img src="/images/logo-belmont-finance.png" class="logo">
						{% else %}
							<img src="/images/logo-belmont-finance.png" class="logo">
							<h3>Distributor Login</h3>
						{% endif %}
			<div class="panel clearfix">
				{% if errors|length %}
					<div class="alert alert-danger">
						<strong> There were some problems logging you in.</strong> -
							{% for error in errors.all() %}
								<em>{{ error }}</em>
							{% endfor %}
					</div>
				{% endif %}

				<form class="form-horizontal" role="form" method="POST" action="{{ url('/login') }}">
					<div>
						{% if cookieUser %}
						<div class="center">
							<h4>Welcome back {{ cookieUser.name }}</h4>
							<input type="hidden" name="email" value="{{ cookieUser.email }}">
							<em>We just need your password. <a href="/login?clear=1">Not {{ cookieUser.name }}?</a><br>
							</em>
						</div>
						{% else %}
						<label>User Email
							<input type="email" name="email" value="{{ input.old('email') }}">
						</label>
						{% endif %}
						<input type="hidden" name="_token" value="{{ csrf_token() }}">
						<label>Password
						<input type="password" name="password">
						</label>
						<!-- <input type="checkbox" name="remember"> Remember Me -->
				
						<button type="submit" class="btn btn-primary right small">Login</button>

						<a class="small-font" href="{{ url('/password/reset') }}">Forgot Your Password?</a><br>
					</div>
				</form>
			</div>
			{% if context == "dealer" %}<a href="https://belmontfinancellc.com">Go back to belmontfinancellc.com</a>{% endif %}
		</div>
	</div>
	{% endif %}
{% endblock %}

{% if context == "accounts" %}
	{% block pagescripts %}
		<script>
			$(function(){
				$('input').on('focus', function(){
					$('.panel').removeClass('active');
					$(this).closest('.panel').addClass('active');
				});

				var errors = $('#hidden-errors').find('.error');
				errors.each(function(){
					$(this).appendTo($('input[name="' + $(this).attr('data-name') + '"]').closest('label'));
				});

			});
		</script>
	{% endblock %}
{% endif %}
