{% extends context ~ '/_no-sidebar' %}

{% block content %}
	<div class="row pad-s">
			<div class="small-12 medium-6 medium-offset-3 columns center">
						{% if context == "staff" %}
							<img src="/images/logo.png">
						{% else %}
							<img src="/images/logo.png">
							<br><br>
							<h3>Match Found: {{ company.DIS_NAME }}</h3>
							<em>The email address you enter below will be the new administrator login for your account. You will receive an email with instructions to set your password.</em>
							<br><br>
						{% endif %}
			<div class="panel clearfix">
				{% if errors|length %}
					<div class="alert alert-danger">
						<strong>Whoops!</strong> There were some problems with your input.<br><br>
						<ul>
							{% for error in errors.all() %}
								<li>{{ error }}</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}

				<form class="form-horizontal" role="form" method="POST" action="{{ url('/register/finalize') }}">
					<div>
						<label>Primary Admin Email
							<input type="email" name="email" value="{{ input.old('email') }}">
						</label>
						<label>
							Your Name:
							<input type="text" name="name">
						</label>
						<label><input type="checkbox" value="yes" name="auth" style="margin-right: 1em">I am authorized to be an admin for {{ company.DIS_NAME }}</label>
						<input type="hidden" name="_token" value="{{ csrf_token() }}">
						<!-- <input type="checkbox" name="remember"> Remember Me -->
				
						<button type="submit" class="btn btn-primary right small">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
