{% if not context %}{% set context = 'staff' %}{% endif %}
{% extends context ~ '/_no-sidebar' %}

{% block content %}
	<div class="row pad-s">
			<div class="small-12 medium-6 medium-offset-3 columns center">
						{% if context == "staff" %}
							<img src="/images/logo.png">
						{% else %}
							<img src="/images/logo.png">
							<br><br>
							<h3>Update Account</h3>
							<em>As part of our migration to our new system, we've imported all your data into our new account - we need you to sign in with your old username and password, then you'll be asked to enter an email address to use for your administrator account.</em>
							<br><br>
						{% endif %}
			<div class="panel clearfix">
				{% if errors|length or other_errors|length %}
					<div class="alert alert-danger">
						<ul class="error-list">
							{% for error in errors.all() %}
								<li>{{ error }}</li>
							{% endfor %}
							{% for error in other_errors %}
								<li>*** {{ error }} ***</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}

				<form class="form-horizontal" role="form" method="POST" action="{{ url('/register') }}">
					<div>
						<label>Old Username
							<input type="text" name="username" value="{{ input.old('email') }}">
						</label>
						<input type="hidden" name="_token" value="{{ csrf_token() }}">
						<label>Old Password
						<input type="password" name="password">
						</label>
						<!-- <input type="checkbox" name="remember"> Remember Me -->
				
						<button type="submit" class="btn btn-primary right small">Start</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
