{% extends context ~ '/_no-sidebar' %}

{% block content %}
	<div class="row pad-xl">
			<div class="panel clearfix">
				<em>Submission complete. Watch for an email with instructions to set your password.</em>					
			</div>
		</div>
	</div>
{% endblock %}
