{% extends "_layout" %}

{% block content %}
<div class="separator">
	<div class="row space">
		<div class="small-12 columns">
			<h1>{{ entry.title }}</h1>
			{% if entry.subtitle %}<h3>{{ entry.subtitle }}</h3>{% endif %}
			<em class="smaller">Last updated {{ entry.dateUpdated.format('F d, Y') }}</em>
		</div>
	</div>
</div>
	<div class="row m-space">
		<article class="small-12 medium-8 columns">

			{% block contentA %}
			{% endblock %}
			
				{% include 'pages/_matrix-content' %}

        {% if largePage is defined %}
        </article>
        <article class="small-12 medium-10 medium-offset-1 left columns">
        {% endif %}
			{% block contentB %}
			{% endblock %}	

		</article>
        {% if largePage is not defined %}
		<aside class="medium-6 small-12 columns">
		</aside>
        {% endif %}
	</div>
{% endblock %}
