{% for block in entry.contentAreas %}
    {# column width for content area blocks {% set lastBlock = entry.contentAreas[loop.index - 1] %} #}
    {% set lastBlock = entry.contentAreas[loop.index - 2] %}
    {% if not loop.last %}
        {% set nextBlock = entry.contentAreas[loop.index] %}
    {% else %}
        {% set nextBlock = null %}
    {% endif %}


    {% if (block.type != "contentArea" and block.type != "accordion") or (block.type == "accordion" and lastBlock and lastBlock.type != "accordion") or
        (block.type == "accordion" and loop.first) or
        (block.type == "contentArea" and loop.first) or 
        (block.type == "contentArea" and block.columns == "100%") or 
        (block.type == "contentArea" and lastBlock and lastBlock.type != "contentArea") or
        (block.type == "contentArea" and block.columns != "100%" and lastBlock and lastBlock.type == "contentArea" and lastBlock.columns == "100%")
    %}
        <section class="contentarea {% if block.type== 'contentArea' and block.graySection %}alternate{% endif %}">
        <div class="contentarea {% if block.type == 'contentArea' %}row flex space{% endif %}">
    {% endif %}



		{% switch block.type %}
			{% case 'contentArea' %}
                {% include 'pages/matrix-modules/rich-text' with { 'block' : block } %}

			{% case 'imageGallery' %}
                {% include 'pages/matrix-modules/image-gallery' with { 'block' : block } %}

			{% case 'documents' %}
            <h3>{{ block.blockTitle }}</h3>
            <div class="small-12 columns">
				<ul class="small-block-grid-2 medium-block-grid-3">
					{% for doc in block.documentUploads %}
					<li class="small-text-center">
						<a href="{{ doc.getUrl() }}" style="text-decoration: underline; display: block; padding: 1em; background-color: rgba(0,0,0,0.1)">
							<i class="fi-page"></i>
							<h6>{{ doc.title }}</h6>
						</a>
					</li>
					{% endfor %}
				</ul>
            </div>
			{% case 'childLinks' %}
            <h3>{{ block.blockTitle }}</h3>
            <div class="small-12 columns">
				<ul>
					{% for sub in entry.children.hideThisPage('0') %}
						<div class="row">
							<h4><a href="{{ sub.getUrl() }}">{{ sub.title }}</a></h4>
							<p>{{ sub.subtitle }}&nbsp;&nbsp;<a href="{{ sub.getUrl() }}">Read&nbsp;&rsaquo;</a></p>
						</div>
					{% endfor %}
				</ul>
            </div>
            {% case 'accordion' %}
                {% if lastBlock.type != "accordion" or loop.index == 1 %}
                <div class="small-12 columns">
                    <ul class="accordion" data-accordion>
                {% endif %}

                <li class="accordion-navigation">
                    <a href="#panel{{ loop.index }}">{{ block.blockTitle }}</a>
                    <div id="panel{{ loop.index }}" class="content clearfix column-count-{{ block.columnCount }}">
                      {{ block.accordionContent }}
                    </div>
                </li>
                
                {% if (nextBlock and nextBlock.type != "accordion") or loop.last %}
                    </ul>
                </div>
                {% endif %}


		{% endswitch %}

    {# end main row #}
    {% if (block.type != "contentArea" and block.type != "accordion") or
        (block.type == "accordion" and nextBlock and nextBlock.type != "accordion") or
        (block.type == "contentArea" and nextBlock and nextBlock.type != "contentArea") or
        (block.type == "contentArea" and block.columns == "100%") or 
        (block.type == "contentArea" and block.columns != "100%" and nextBlock and nextBlock.type == "contentArea" and nextBlock.columns == "100%") or
        not nextBlock
    %}
        </div>
    </section>
    {% endif %}
{% endfor %}