{% extends "_layout-new" %}

{% block content %}
{% include 'pages/page-types/' ~ entry.type %}

{% include ['pages/append/'~entry.uri, 'pages/append/empty'] %}
{% endblock %}

{% block scripts %}
    <script src="/assets/js/jquery.flexslider-min.js"></script>
    <script>
        $(window).load(function() {
            // The slider being synced must be initialized first
            $('#carousel').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                itemWidth: 210,
                itemMargin: 5,
                asNavFor: '#slider'
            });

            $('#slider').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                sync: "#carousel"
            });

            // pull down forms
            $('#email').on('focus', function(){
                $('#morefields').slideDown();
            })
            $hiddenEmail = $('#hiddenEmail');
            $hiddenName = $('#hiddenName');
            $('#email').on('change', function(){
                $hiddenEmail.val($(this).val());
            });

            $('#name').on('change', function(){
                $hiddenName.val($(this).val());
            })
        });
    </script>
{% endblock %}
