{% extends "_layout-new" %}

{% block content %}
{% include 'pages/page-types/' ~ entry.type %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block contentB %}
	<div class="headline headline--solid">
        <h2>Career Opportunities</h2>
    </div>
	<div class="row l-space">
		{# retrieve all career categories #}
		{% set cats = craft.categories.group('careerCategories').find() %}

		<ul class="small-block-grid-1 medium-block-grid-2 large-grid">
		{% for cat in cats %}
		    <li class="text-center large-grid__item">
		    	{% if cat.image | length %}<img src="{{ cat.image.first().getUrl() }}" class="svg">{% endif %}
		    	<h4 class="large-grid__title">{{ cat.title | upper }}</h4>
		    	{% set jobOpenings = craft.entries.channel('careers').relatedTo(cat) %}
		    	{% if jobOpenings | length %}
		    		<ul>
		    		{% for job in jobOpenings %}
		    			<li>
		    				<a href="{{ job.getUrl() }}">{{ job.title }}</a>
		    			</li>
		    		{% endfor %}
		    		</ul>
		    	{% else %}
		    		<em>No job openings in this department</em>
		    	{% endif %}
		    </li>
		{% endfor %}
		</ul>
	</div>
	
{% endblock %}