{% extends "_layout-new" %}

{% set featured = {
    mode: 'crop',
    width: 1920,
    height: 720,
    quality: 75,
    position: 'center-center'
} %}


{% block content %}
	{% include 'includes/modules/slider' with {'slider': entry.header} %}

<section>
	{% if entry.subtitle %}
	<div class="headline headline--solid">
        <h2>{{ entry.subtitle }}</h2>
    </div>
    {% endif %}
</section>

<section>
	<div class="row">
		<div class="small-12 columns">
			<ul class="small-block-grid-1 medium-block-grid-2 large-grid">
				{% for block in entry.contactBlocks %}
					<li class="contact-block">
						<div class="text-center">
							<img class="contact-block__image" src="{{ block.image.first.getUrl() }}">
							<h4 class="contact-block__title">{{ block.contactTitle }}</h4>
							<p class="contact-block__subtitle">{{ block.subtitle }}</p>
						</div>
						<hr class="contact-block__line">
						<ul>
						{% for item in block.contactContent %}
							<li class="contact-block__item"><span class="contact-block__subject">{{ item.subject }}</span><span class="contact-block__content">{{ item.content }}</span></li>
						{% endfor %}
						</ul>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>
{% endblock %}



{% block contentB %}
	<div class="row">
		<div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 columns panel">
			{% macro errorList(errors) %}
			    {% if errors %}
			        <ul class="errors">
			            {% for error in errors %}
			                <li>{{ error }}</li>
			            {% endfor %}
			        </ul>
			    {% endif %}
			{% endmacro %}

			{% from _self import errorList %}

			<form method="post" action="" accept-charset="UTF-8">
			    {{ getCsrfInput() }}
			    <input type="hidden" name="action" value="contactForm/sendMessage">
			    <input type="hidden" name="redirect" value="contact/thanks">
			    <input type="hidden" name="toEmail" value="{{ ' customerservice@belmontcreditllc.com'|hash }}">
			    <h3 class="text-center" style="color: #043E05"><strong>All Other Inquiries</strong></h3>
			    <h5 class="text-center">Have a question about something not listed above?</h5>

			    <h4 class="text-center"><strong><br>Contact Us</strong></h3>

			    <input id="fromName" type="text" name="fromName" placeholder="Name / Company Name*" value="{% if message is defined %}{{ message.fromName }}{% endif %}">
			    {{ message is defined and message ? errorList(message.getErrors('fromName')) }}

			    <input id="fromEmail" type="text" name="fromEmail" placeholder="Email" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}">
			    {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}

			    <textarea rows="10" cols="40" id="message" placeholder="Message" name="message">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
			    {{ message is defined and message ? errorList(message.getErrors('message')) }}

			    <button class="button small">Send!</button>
			</form>
		</div>
	</div>

	<section class="alternate alternate--border">
		<div class="contentarea row flex space">
		    <div class="small-12 medium-4 columns left">
			    <div class="contentarea">
			    	<p><img class="svg-icon" src="/assets/images/svg/mail.svg"></p>
					<h4>Mailing Address</h4>
					<p>Belmont Finance LLC<br>
						PO Box 152
						Waupaca, WI  54981</p>
			    </div>
			</div>

			<div class="small-12 medium-4 columns left">
			    <div class="contentarea">
			    	<p><img class="svg-icon" src="/assets/images/svg/phone.svg"></p>
					<h4>Phone</h4>
					<p>Toll Free: 1-877-547-2926<br>
						Fax: 1-877-395-8136</p>
			    </div>
			</div>

			<div class="small-12 medium-4 columns left">
			    <div class="contentarea">
			    	<p><img class="svg-icon" src="/assets/images/svg/crowd-of-users.svg"></p>
					<h4>Get Social</h4>
					<ul class="social-larger">
						<li class="">
							<a href="https://www.facebook.com/belmontfinance/" target="_blank"><i class="icon-icon-facebook" title="facebook"></i></a>
						</li>
						<li class="">
							<a href="https://www.linkedin.com/company/belmont-finance-llc" target="_blank"><i class="icon-icon-linkedin" title="linkedin"></i></a>
						</li>
						<li class="">
							<a href="https://twitter.com/belmont_finance" target="_blank"><img src="/assets/images/svg/twitter-logo.svg" title="twitter"></a>
						</li>
					</ul>
					</p>
			    </div>
			</div>

        </div>
	</section>
{% endblock %}