{% extends 'pages/_custom-content' %}

{% block contentB %}
	<div class="row">
		<div class="small-12 medium-8 columns panel">
			{% macro errorList(errors) %}
			    {% if errors %}
			        <ul class="errors">
			            {% for error in errors %}
			                <li>{{ error }}</li>
			            {% endfor %}
			        </ul>
			    {% endif %}
			{% endmacro %}

			{% from _self import errorList %}

			<form method="post" action="" accept-charset="UTF-8">
			    {{ getCsrfInput() }}
			    <input type="hidden" name="action" value="contactForm/sendMessage">
			    <input type="hidden" name="redirect" value="contact/thanks">
			    <input type="hidden" name="toEmail" value="{{ 'marketing@belmontfinancellc.com'|hash }}">

			    <input id="fromName" type="text" name="fromName" placeholder="Distributor Name" required value="{% if message is defined %}{{ message.fromName }}{% endif %}">
			    {{ message is defined and message ? errorList(message.getErrors('fromName')) }}

                <input id="distributorNumber" type="text" name="message['Distributor Number']" placeholder="Distributor Number" value="{% if message is defined %}{{ message.distributorNumber }}{% endif %}">
                {{ message is defined and message ? errorList(message.getErrors('distributorNumber')) }}

                <input id="referralName" type="text" name="message['Referral Name']" placeholder="Referral Name" required value="{% if message is defined %}{{ message.referralName }}{% endif %}">
                {{ message is defined and message ? errorList(message.getErrors('referralName')) }}

                <input id="referralCompanyName" type="text" name="message['Referral Company Name']" required placeholder="Referral Company Name" value="{% if message is defined %}{{ message.referralCompanyName }}{% endif %}">
                {{ message is defined and message ? errorList(message.getErrors('referralCompanyName')) }}

                <input id="referralPhoneNumber" type="text" name="message['Referral Phone Number']" required placeholder="Referral Phone Number" value="{% if message is defined %}{{ message.referralPhoneNumber }}{% endif %}">
                {{ message is defined and message ? errorList(message.getErrors('referralPhoneNumber')) }}

			    <input id="fromEmail" type="hidden" name="fromEmail" value="noreply@belmontcreditllc.com">

                <input id="fromName" type="hidden" name="fromName" value="Web">

			    <input id="subject" type="hidden" name="subject" placeholder="Subject" value="Referral Submission">

			    <button class="button small">Send</button>
			</form>
		</div>
	</div>
{% endblock %}