
{# modal for creating a new user #}
<div id="newUserModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">New User</h2>
		<form class="ajax-form" method="POST" action="{{ url('/users/store') }}">
			<em class="small-font">Create a new staff user account. If you don't provide a password, an email will be sent to the email address provided giving instructions how to activate the account.</em>
			<br><br>
			<input type="hidden" name="_token" value="{{ csrf_token() }}">
			<label>Employee's Name:<input type="text" name="name" value="{{ input.old('company_name') }}"></label>
			<label>Email:<input type="text" name="email" value="{{ input.old('email') }}"></label>
			<fieldset>
				<legend>Password (Optional)</legend>
				<label>Password<input type="password" name="password"></label>
				<label>Password<input type="password" name="password_confirmation"></label>
			</fieldset>
			<fieldset class="error-target">
				<legend>Roles</legend>
				<label class="small-4 columns"><input type="checkbox" name="role[]" value="admin">Admin</label>
				<label class="small-4 columns"><input type="checkbox" name="role[]" value="loan">Loans</label>
				<label class="small-4 columns"><input type="checkbox" name="role[]" value="distributor">Distributors</label>
				<label class="small-12 columns"><input type="checkbox" name="role[]" value="csr">Customer Service</label>
			</fieldset>
			<div class="row"><button class="right">Create</button></div>
		</form>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
