{% extends "staff/_standard" %}

{% block title %}
	User Administration
{% endblock %}

{% block options %}
	<button href="#" data-dropdown="options" data-options="align: left" aria-controls="drop1" aria-expanded="false" class="button tiny secondary dropdown right options-button"><i class="fi-widget"></i></button>
	<ul id="options" data-dropdown-content class="f-dropdown" aria-hidden="true">
	  <li><a href="#" data-reveal-id="newUserModal"><i class="fi-plus circle"></i>Add User</a></li>
	</ul>
{% endblock %}


{% block pageheader %}
	<h1>{% if showBack %}<a href="{{ showBack }}" class="back-arrow"><i class="circle fi-arrow-left"></i> </a>{% endif %}Belmont Users {% if term %} - "{{ term }}"{% endif %}</h1>
	{% if users.total %}
	<dl class="sub-nav">
	  <dd class="active"><a href="#">All ({{ users.total }})</a></dd>
	</dl>
	{% endif %}
{% endblock %}


{% block content %}
	<section class="ajax-update" id="user_table_all">
		{% if users.total %}<h3>All Staff ({{ users.total }})</h3>{% endif %}
		{% if users|length %}
		<div class="row">{{ paginate.input(users) }}</div>
		<table class="staff_table">
			<tr><td>Name</td><td>Email</td></tr>
			{% for user in users %}
				<tr>
					<td>
						<a class="edit" data-title="{{ user.name }}" data-id="{{ user.id }}"><i class="circle fi-pencil"></i></a><span> {{ user.name }}</span>
						{% if user.hasRole('admin') %}<i class="fi-lock  small" title="Admin"></i>{% endif %}
						{% if user.hasRole('loan') %}<i class="fi-clipboard  small" title="Contracts"></i>{% endif %}
						{% if user.hasRole('distributor') %}<i class="fi-torso-business small" title="Distributors"></i>{% endif %}
						{% if user.hasRole('csr') %}<i class="fi-telephone small" title="CSR"></i>{% endif %}
					</td>
					<td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
				</tr>
			{% endfor %}
		</table>
		<div class="row">{{ paginate.input(users) }}</div>
		{% else %}
			<em>No distributors found</em>
		{% endif %}
	</section>
	{% if user.hasRole('admin') %}
	<div class="user-legend">
		<h4>User Roles</h4>
		<p><i class="fi-clipboard small"></i> <i class="fi-torso-business small"></i> <i class="fi-telephone small"></i> All Users</p>
			<ul>
				<li>Can view basic details about distributors and contracts</li>
			</ul>
		<p><i class="fi-clipboard small"></i> Loan User Role</p>
			<ul>
				<li>Submit an application through the website</li>
				<li>Edit some contract fields</li>
				<li>Create and delete comments on contract</li>
			</ul>
		<p><i class="fi-torso-business small"></i> Distributor User Role</p>
			<ul>
				<li>Login into dealer's account</li>
				<li>Edit distributor info</li>
				<li>Disable a specific dealer account</li>
				<li>Initiate a password reset for a dealer account</li>
				<li>Delete a dealer account</li>
			</ul>
		<p><i class="fi-telephone small"></i> CSR User Role</p>
			<ul>
				<li>Can login into a customer's account</li>
			</ul>
		<p><i class="fi-lock small"></i> Admin</p>
			<ul>
				<li>All the above actions for each user role, (regardless what other user role options are checked for the admin)</li>
				<li>Ability to edit all the contract fields</li>
				<li>Able to delete contracts and distributors</li>
				<li>User Management</li>
			</ul>

		
	</div>
	{% endif %}

	{% include "staff/user/_new-user-modal" %}

{% endblock %}

{% block pagescripts %}
	<script>
		$(function(){
			var _success = $('#success');
			$('#genModal').on('change', '.role-change', function(e){
				_this = $(this);
				_this.attr("disabled", true);
				$.ajax({
					url: '/users/update-role/' + _this.data('user'),
					type: 'post',
					data: {
						role: _this.val(),
						value: ( _this.prop('checked') ? 1 : 0 )
					},
					success: function(){
						_this.attr("disabled", false);
						updatePageAjax();
						_success.css('z-index', '1006');
						_success.fadeIn();
						setTimeout(function(){
							_success.fadeOut();
						},1000);
					},
					error: function(){
						if(_this.prop('checked')){
							_this.prop('checked', false);
						}else{
							_this.prop('checked', true);
						}
						_this.attr("disabled", false);
					}
				})
			});
		});
	</script>
{% endblock %}