{% extends "staff/_standard" %}

{% block sidepanel %}
{% endblock %}


{% block pageheader %}
	
{% endblock %}


{% block content %}
	<p>
		Email: {{ item.email }}<br>
		{% set disabled = item.id == user.id ? 'disabled' : '' %}
		{% if disabled %}<em>You can't edit your own permissions</em>{% endif %}
		<ul class="large-block-grid-4 small-block-grid-2">
			<li><label><input {{ disabled }} type="checkbox" data-user="{{ item.id }}" class="role-change" name="role[]" value="admin" {% if item.hasRole('admin') %}checked{% endif %}>Admin</label></li>
			<li><label><input {{ disabled }} type="checkbox" data-user="{{ item.id }}" class="role-change" name="role[]" value="loan" {% if item.hasRole('loan') %}checked{% endif %}>Loans</label></li>
			<li><label><input {{ disabled }} type="checkbox" data-user="{{ item.id }}" class="role-change" name="role[]" value="distributor" {% if item.hasRole('distributor') %}checked{% endif %}>Distributors</label></li>
			<li><label><input {{ disabled }} type="checkbox" data-user="{{ item.id }}" class="role-change" name="role[]" value="csr" {% if item.hasRole('csr') %}checked{% endif %}>Customer Service</label></li>
		</ul>
	<div class="row">
		<button id="delete" data-id="{{ item.id}}" data-href="/users/" class="button tiny warning" {% if user.id == item.id %}disabled{% endif %}>Delete User</button>
		{% if user.id != item.id %}<a href="/users/simulate/{{ item.id }}" class="button tiny">Login as User</a>{% endif %}
	</div>
{% endblock %}