{{ distributor.company_name }} has submitted a new application for {{ app.firstName}} {{ app.lastName }}.<br>
<p>Dealer's email: {{ dealer.email }}</p>
{% if distributor.phone %}<p>{{ distributor.company_name }} phone: {{ distributor.phone }}</p>{% endif %}

<p>View the document <a href="https://staff.belmontfinancellc.com/apps/">here</a></p>