Additional documents have been signed by {{ app.firstName }} {{ app.lastName }} for application #{{ app.fca_id }}<br><br>
Dealer’s email: {{ app.dealerUser.email }} (from Website Setup)><br>
Dealer’s phone: {{ app.distributor.phone }} (from Website Setup)<br>
View the documents <a href="{{ url }}">here.</a>