	<style>
		.app-filter {
			font-size: 0.8em;
		}

		.app-filter select, .app-filter input{
			font-size: 1em;
			margin: 0;
		}

		#apps_whole .associate-fca{
			font-size: 0.78em;
		    padding-left: 0.4em;
		    padding-right: 0.4em;
		    padding-top: 0.2em;
		    padding-bottom: 0.2em;
		    background-color: rgba(0, 0, 0, 0.2);
		    border-radius: 2px;
		    border: 1px solid rgba(0, 0, 0, 0.25);
		    color: #000000;
		    margin-right: 0.5em;
		    display: inline-block;
		    text-decoration: none;
		}
	</style>
	{% if apps|length %}
	<div id="apps_whole">
		<table class="ajax-update" id="apps_table">
			<tr><td></td><td></td><td><td></td><td></td><td></td><td></td><td></td></tr>
			{% for app in apps %}
				<tr>
					<td class="acctNum {{ status }}">
						<div style="position: relative; top: -0.3em;" class="spanNum">{{ (app.firstName ~ ' ' ~ app.lastName)|title }} {% if app.flags | length %}
						<span class="tip parse" data-tippy-animation="shift-toward" data-tippy-interactive="true" title="{{ app.flags[0].note }}">
							<i class="fi-alert"></i>
						</span>
						{% endif %}</div><br>
						<span class="small" style="font-size: 0.85em">{{ app.fca_id ? '#'~app.fca_id : '*'~app.id }}</span>
					</td>
					<td>
						<div style="position: relative; top: -0.3em;" class="spanNum">{{ app.distributor.company_name }}</div>
						<span class="small" style="font-size: 0.85em">{{ app.distributor.account_number }}</span>
					</td>
					<td style="font-size: 0.7em;">submitted {{ app.age }} ago</td>
					<td class="text-center">
						<span style="font-size: 0.657em;">{{ app.credit_type == 'Revolving' ? 'REVOLVING' : 'INSTALLMENT' }}</span><br>
						${{ app.amount_financed|number_format(2,'.',',') }}
					</td>
					<td class="text-center">
						<h4>{{ app.buy_rate }}</h4>
					</td>
					<td  style="max-width: 10em">
						<label class="app-filter">Pending Status:
							{% set pendingStatus = app.getFilter(1).filter_name %}
							<select data-group="1" data-app="{{ app.id }}" data-group="1" class="select-app-filter">
								<option>None</option>
								{% for option in filters[1] %}
									<option {% if option.filter_name == pendingStatus %}selected="selected"{% endif %}>{{ option.filter_name }}</option>
								{% endfor %}
							</select>
						</label>
					</td>
					<td  style="max-width: 10em">
						<label class="app-filter">Account Status:
							<select data-group="2" data-app="{{ app.id }}" data-group="2" class="select-app-filter">
								{% set accountStatus = app.getFilter(2).filter_name %}
								<option>None</option>
								{% for option in filters[2] %}
									<option {% if option.filter_name == accountStatus %}selected="selected"{% endif %}>{{ option.filter_name }}</option>
								{% endfor %}
							</select>
						</label>
					</td>

					<td><a href="" class="show-app-info">+ Expand</a>
					</td>
				</tr>


				<tr style="display: none;">
					<td colspan="8">
						<div class="app-info row">
							<div class="medium-3 columns" style="font-size: 0.8em; line-height: 1em; vertical-align: middle;">
								{{ app.homePhone }} &nbsp;&nbsp;{{ app.cellPhone ? '(' ~ app.cellPhone ~ ')' }}<br>
								{{ app.address }}<br>
								{{ app.state }}, {{ app.city }}  {{ app.zip }}<br>
							</div>
							<div class="medium-2 columns">
								<span style="font-size: 0.8em;">
									SSN: {{ app.ssn|length < 5 ? 'xxx-xx-'~app.ssn : app.ssn }}
									{% if app.coFirstName %}<br>
									Co SSN: {{ app.co_ssn|length < 5 ? 'xxx-xx-'~app.co_ssn : app.co_ssn }}
									{% endif %}
								</span>

							</div>
							<div class="medium-7 columns">
								{% for file in app.files %}
									{% if file.file_type == '50' %}
									<a class="file-link" href="/files/{{ file.id }}/review" target="_blank">
										<i class="fi-upload small"></i> {{ file.name }}
									</a>
									{% else %}
									<a class="file-link" href="/apps/file/{{ file.id }}" target="_blank">
										<i class="fi-paperclip small"></i> {{ file.name }}
									</a>
									{% endif %}
								{% endfor %}
								
								{% if not app.fca_id %}
									<a class="associate-fca button tiny right" data-id="{{ app.id }}">FCA ID</a>
								{% endif %}
							</div>
						</div>
					</td>
				</tr>
			{% endfor %}
		</table>
		<div class="row">{{ paginate.input(apps, 'apps_whole') }}</div>
		{% else %}
			<em>No applications found</em>
		{% endif %}

		{# modal to reassociate with fca id #}
		<div id="fcaAssociateModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
			<h2 id="modalTitle">Assign FCA Application ID</h2>
			<p>Use this form only to manually assign a FCA ID to an application when it doesn't match automatically.</p>
			<p>This will remove any other application that already has this FCA ID assigned and assign it to update this one</p>
			<p>You will need to resend the application from FCA after associating this.</p>

			<form method="post" action="/apps/assign-fca" class="ajax-form">
				<input type="hidden" name="app_id" value="" id="onlineAppIDFCA">

				<label>FCA Application ID
					<input type="text" name="fca_id" value="">
					<button class="small right">Associate</button>
				</label>
			</form>
		</div>