
<div class="row">
	<div class="small-12 columns">
		<a href="/apps">Pending</a> ({{ counts['apps'] }}) <i class="fi-arrow-right" style="color: #dfdfdf;"></i>
		<a href="/apps/approved">Approved</a> ({{ counts['approved'] }}) <i class="fi-arrow-right" style="color: #dfdfdf;"></i>
		<a href="/apps/assigned">Assigned</a> ({{ counts['sold'] }}) <i class="fi-arrow-right" style="color: #dfdfdf;"></i>
		<a href="/apps/funding-requested">Funding Requested</a> ({{ counts['fundingRequested'] }})

			<a href="" id="searchFilterToggle" class="right">Search</a>
	</div>
</div>

<div class="row" id="searchFilters" style="display: none">
<form action="/apps/search" method="get">
	<div class="small-3 columns">
		<div class="search">
				<label class="app-filter">Search by App #, Dist #, Name
					<input type="text" name="search" value="" style="margin-bottom: 0" placeholder="Search">
				</label>
		</div>
	</div>
	<div class="small-3 columns">
		<label class="app-filter">Pending Filter
			<select name="filter_1">
				<option></option>
				{% for option in filters[1] %}
					<option {% if option.filter_name == input_get('filter_1') %}selected="selected"{% endif %}>{{ option.filter_name }}</option>
				{% endfor %}
			</select>
		</label>
	</div>
	<div class="small-3 columns">
		<label class="app-filter">Status Filter
			<select name="filter_2">
				<option></option>
				{% for option in filters[2] %}
					<option {% if option.filter_name == input_get('filter_2') %}selected="selected"{% endif %}>{{ option.filter_name }}</option>
				{% endfor %}
			</select>
		</label>
	</div>
	<div class="small-2 columns left">
		<br>
		<button class="tiny button">Go
		</button>
	</div>
</form>
</div>