{% extends "staff/_standard" %}

{% block title %}Applications{% endblock %}

{% block options %}
	{# <button href="#" data-dropdown="options" data-options="align:left" aria-controls="drop1" aria-expanded="false" class="button tiny secondary dropdown right options-button"><i class="fi-wrench"></i></button>
	<ul id="options" data-dropdown-content class="f-dropdown" aria-hidden="true">
	  <li><a href="#" data-reveal-id="newDistribModal"><i class="fi-plus circle"></i>Add Distributor</a></li>
	</ul> #}
{% endblock %}


{% block pageheader %}
	<div class="small-12 columns"><h2>Applications</h2>
		<p style="margin-top: -0.5em;"><em>Online apps waiting for review and buy rate</em></p></div>
		{% include 'staff.apps._submenu' %}


	<!-- <dl class="sub-nav">
	  <dd {% if filter == "all" %}class="active"{% endif %}><a href="/{{ routePath }}" class="ajax-link">All</a></dd>
	  <dd {% if filter == "approved" %}class="active"{% endif %}><a href="/{{ routePath }}/approved" class="ajax-link">Approved</a></dd>
	  <dd {% if filter == "pending" %}class="active"{% endif %}><a href="/{{ routePath }}/pending" class="ajax-link">Pending</a></dd>
	  <dd {% if filter == "cancelled" %}class="active"{% endif %}><a href="/{{ routePath }}/cancelled" class="ajax-link">Cancelled</a></dd>
	  <dd {% if filter == "denied" %}class="active"{% endif %}><a href="/contracts/denied" class="ajax-link">Denied</a></dd>
	  {% for filter in otherFilters|keys %}
        {% set filterValue = otherFilters[filter] %}
        {% if filterValue is iterable %}{% set filterValue = filterValue|join(' - ') %}{% endif %}
		  <dd class="active secondary filter">&nbsp;{{ filter|url_decode }}: <span>{{ filterValue|url_decode|title }}</span><a href="/contracts/clear-filter/{{ filter }}"><i class="fi-x"></i></a></dd>
	  {% endfor %}
	  	<button id="otherFiltersButton" class="tiny secondary alt-button right" title="Other Filters">&#x25BC;</button>
	</dl>

	<dl>
	<div id="otherFilters" style="display: none" class="small-12 panel">
			<div class="row">
			<form action="/contracts/filter" method="post">
				<input type="hidden" name="_token" value="{{ csrf_token() }}">
				<input type="hidden" name="_redirect" value="{{ url }}">
				<div class="row">
					<div class="medium-4 small-12 columns">
						<label>
						Date Range:
							<select name="dateRange" id="dateRange">
								<option value="today">Today</option>
								<option value="yesterday">Yesterday</option>
								<option value="week">This Week</option>
								<option value="last+week">Last Week</option>
								<option value="month">This Month</option>
								<option value="last+month">Last Month</option>
								<option value="quarter">This Quarter</option>
								<option value="last+quarter">Last Quarter</option>
								<option value="year">This Year</option>
								<option value="custom">Custom</option>
							</select>
						</label>
					</div>
					<div class="medium-4 small-12 columns left">
						<label>
						Category:
							<select name="product">
								<option value="">None</option>
								{% for product in products %}
								<option value="{{ product.id }}">{{ product.name }}</option>
								{% endfor %}
							</select>
						</label>
					</div>
				</div>
				<div class="row">
					<div id="customDateFilters" style="display: none">
						<div class="medium-4 small-12 columns"><label>Start: <input type="date" name="start"></label></div>
						<div class="medium-4 small-12 columns left"><label>End: <input type="date" name="end"></label></div>
					</div>
					<div class="medium-4 small-12 columns right"><button class="tiny button right">Filter</button></div>

				</div>
			</div>

			</form>
		</div>
	</dl> -->
{% endblock %}


{% block content %}
	{% include 'staff.apps._apps-table' %}
	<br><br>
	<div id="remote-applications">
		<h4>Remote Application Requests</h4>
		<p><em>Applications sent out remotely for a consumer to sign that have not been completed.</em></p>
		<table>
			{% for appToken in remoteApps %}
				<tr>
					<td>{{ appToken.created_at|date('m/d/Y') }}</td>
					<td>{{ appToken.dealer.name }}</td>
					<td>{{ appToken.email }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>

{% endblock %}

{% block pagescripts %}
	{% include 'staff.apps._apps-js' %}
{% endblock %}
