{% extends "staff/_standard" %}

{% block title %}Applications{% endblock %}

{% block options %}
	{# <button href="#" data-dropdown="options" data-options="align:left" aria-controls="drop1" aria-expanded="false" class="button tiny secondary dropdown right options-button"><i class="fi-wrench"></i></button>
	<ul id="options" data-dropdown-content class="f-dropdown" aria-hidden="true">
	  <li><a href="#" data-reveal-id="newDistribModal"><i class="fi-plus circle"></i>Add Distributor</a></li>
	</ul> #}
{% endblock %}


{% block pageheader %}
	<div class="small-12 columns"><h2>Applications</h2>
		<p style="margin-top: -0.5em;"><em>Search: {{ term }}</em></p></div>
		{% include 'staff.apps._submenu' %}
{% endblock %}


{% block content %}
	{% include 'staff.apps._apps-table' %}

	{# modal for opening a contract #}
	<div id="viewContractModal" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	</div>

{% endblock %}

{% block pagescripts %}
{% include 'staff.apps._apps-js' %}
{% endblock %}
