{% extends '_empty-layout.twig' %}

{% block main %}
<div class="row">
	<div class="small-12 medium-8 medium-offset-2 columns small-text-center">
	<br>
	<br>
	<br>
	<br>
		<h1>Sorry, there's been a problem: {{ exception.getMessage() }}</h1>
		<p>Please contact Belmont Finance's support if you need help</p>
	</div>
</div>
{% endblock %}