{% extends '_layout' %}

{% block main %}
	<section style="margin-top: 10em;">
		<div class="row space-extra text-center">
			<img src="/images/logo-belmont-finance.png" class="logo" style="max-width: 180px;"><br><br>
			<h1>Uhoh, our systems have encountered an error.</h1>
			<div class="small-12 medium-8 medium-offset-2">
				<p>Developers have been notified of the exact issue the webapp is having - if this is a major issue, feel free to contact the developer to inform them of the urgency.</p>
				<a href="/" class="button">Dashboard</a>
			</div>

			<div class="subtitle">Error ID: {{ Sentry.getLastEventID() }}</div>

	        <!-- Sentry JS SDK 2.1.+ required -->
	        <script src="https://cdn.ravenjs.com/3.3.0/raven.min.js"></script>

	        <script>
	            Raven.showReportDialog({
	                eventId: '{{ Sentry.getLastEventID() }}',
	                // use the public DSN (dont include your secret!)
	                dsn: 'https://e9ebbd88548a441288393c457ec90441@sentry.io/3235',
	                user: {
	                    'name': 'Jane Doe',
	                    'email': 'jane.doe@example.com',
	                }
	            });
	        </script>
		</div>
	</section>
{% endblock %}