{% extends '_dealer-layout' %}

{% block main %}
	<section style="margin-top: 10em;">
		<div class="row space-extra text-center">
			<img src="/images/logo-belmont-finance.png" class="logo" style="max-width: 180px;"><br><br>
			<h1>Uhoh, our systems have encountered an error.</h1>
			<h2>{{ error }}</h2>
			<div class="small-12 medium-8 medium-offset-2">
				<p>Our developers have been notified about this issue, thanks for your patience.</p>
				<a href="/" class="button">Dashboard</a>
			</div>
		</div>
	</section>
{% endblock %}