{% extends '_customer-layout' %}

{% block main %}
	<section style="margin-top: 10em;">
		<div class="row space-extra text-center">
			<img src="/images/logo-belmont-finance.png" class="logo" style="max-width: 180px;"><br><br>
			<h1>Account Inaccessible</h1>
			<p>We aren't able to grant you to access your account at this time. If you'd like to know more or you need help, call our customer service line at 877-547-2926 x2.</p>
			</div>
		</div>
	</section>
{% endblock %}