{% extends '_dealer-layout' %}

{% block main %}
	<section style="margin-top: 10em;">
		<div class="row space-extra text-center">
            <div class="medium-10 medium-offset-1">
			<img src="/images/logo-belmont-finance.png" class="logo" style="max-width: 180px;"><br><br>
			<h1>Belmont Finance has not authorized you or your company to submit applications.</h1>
			<div class="small-12 medium-8 medium-offset-2">
				<p>Please contact your dealer liaison.</p>
				<a href="/" class="button">Dashboard</a>
			</div>
        </div>
		</div>
	</section>
{% endblock %}
