{% extends '_empty-layout.twig' %}

{% block main %}
<div class="row">
	<div class="small-12 medium-8 medium-offset-2 columns small-text-center">
	<br>
	<br>
	<br>
	<br>
		<h1>TIMEOUT ERROR</h1>
		<h3>Usually this error occurs when the page you're working on has sat for an hour or more. You may have to re-login if necessary and redo the page you were working on. If you click the back button, be sure to refresh the page also.</h3>
		<p>If you tried the above and are still seeing this error, please contact Belmont Finance support.</p>
	</div>
</div>
{% endblock %}