.new{
    .frontSlider {
        position: relative;

        .slide{
            @media #{$large-up} {
                padding-top: 12em;
                padding-bottom: 12em;
            }
            @media #{$xlarge-up} {
                padding-top: 13em;
                padding-bottom: 13em;
            }
            @media #{$xlarge-up} {
                padding-top: 16em;
                padding-bottom: 16em;
            }

            .columns{
                position: relative;
                z-index: 2;
            }
            &:before{
                position: absolute;
                left: 0; top: 0; right: 0; bottom: 3em;
                background-color: #102b00;
                opacity: 0.78;
                display: block;
                content: "";
                z-index: 1;
            }
        }

        &:after{
            position: absolute;
            left: 0; right: 0; bottom: 0em;
            height: 3em;
            background-color: rgba(0,0,0,0.72);
            border-top: 3px solid rgba(0,0,0,0.2);
            display: block;
            content: "";
        }
        h2,h4{
            
        }
    }

    .marker{
        h2{
            border-bottom: 2px solid #b3b3b3;
            text-align: left;
            padding-bottom: 0.15em;
            position: relative;
            margin-bottom: 0.5em;
            &:before{
                content: '';
                background-color: $belmont-green;
                position: absolute;
                display: block;
                left: 0;
                bottom: -4px;
                height: 7px;
                width: 10.5rem;
            }
        }
        &--center{
            h2{
                text-align: center;
                &:before{
                    left: calc(50% - 5.25rem);
                }
            }
        }
    }
}



.new{
    .contentarea.flex{
        align-items: baseline;
        text-align: center;
    }
    .contentarea{
        .small-12{
            text-align: left;
        }

        .medium-6,.medium-4{
            text-align: center !important;
        }

        h1, h2, h3, h4, h5, h6{
            font-weight: bold;
        }

        figure{
            -webkit-margin-before: 0em;
        }
    }
    section.alternate{
        background-color: #f1f1f1;
        padding: 4em 0em;
        &--border{
            border-top: 1px solid #aaa;
        }
    }
}

.gallery{
    position: relative;
    text-align: center;

    &__item{
        padding: 1em !important;
        @media #{$medium-up} {
            padding: 3em !important;
        }
    }

    &__title{
        font-weight: normal;
        color: $belmont-green;
        margin-top: 1em;
    }

    &__subtitle{
        margin-top: 0.5em;
        font-weight: normal !important;
    }

    &__container{
        ul{
            margin: 0;
        }
    }
}

.distributors{
    .gallery{
        &__item{
            img{
                height: 5em;
            }
        }
    }

    .full-image{
        background-image: url('/assets/images/connect.jpg');
    }
    .contentarea{
        background-color: #f1f1f1;
    }
}

.carousel{
    overflow: hidden;
    &__caption{
        position: absolute;
        left: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 0.5em 1em;
        background-color: rgba(0,0,0,0.5);
        color: white;
        > *{
            color: white;
        }
    }
    &--thumbnail{
        position: relative;
        cursor: pointer;
        &:after{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            display: block;
            background-color: rgba(0,0,0,0.6);
        }
        &:hover, &.flex-active-slide{
            &:after{
                display: none;
            }
        }
    }
    &__slide{
        position: relative;
    }
}