<p>Hi, {{ app.firstName }}, this notice is to inform you that you have applied for credit through {{ app.distributor.company_name }} for {{ app.distributor.product.name }} product(s).</p>
<p>You do not need to do anything currently; your dealer will be in contact with you to continue through the application proess.</p>
<br><br>
<p style="font-size: 0.9em; font-style: italic;">This email was sent on behalf of {{ app.distributor.company_name }} by Belmont Finance LLC, a lending partner.<br>
For questions about your purchase or documentation, please contact your dealer representative.</p>