<p>{{ dealer.name }} ({{ dealer.company.company_name }}) has sent you a document to esign on our secured platform.</p>
<p>Please click the link or copy / paste the link to read and sign the documents.</p>
<a href="{{ url }}">{{ url }}</a>
<br><br>
<p style="font-size: 8px">This email was sent on behalf of {{ dealer.company.company_name }} by Belmont Finance LLC, a lending partner.<br>
For questions about your purchase or documentation, please contact your dealer representative.</p>