{{ name }},

{{ dealer.name }} from {{ distributor.company_name }} has sent you the link below to complete the documentation process to complete
your loan with Belmont Finance LLC for the {{ distributor.product.name }} product(s).<br><br>

The following documents need to be reviewed and signed:<br>
{% if files %}
	<ul>
	{% for file in files %}
		<li>{{ file.name }}</li>
	{% endfor %}
	</ul>
{% endif %}
<br><br>

This link will take you to their secured platform. Please click the link or copy/paste the link to complete review of your
documents and sign with your approval.<br>

<a href="{{ url }}">{{ url }}</a><br><br>
<em>This email was sent on behalf of {{ distributor.company_name }} by Belmont Finance LLC, a lending partner.
For questions about your purchase or documentation, please contact your dealer representative.</em>