@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tknpei');
  src:  url('fonts/icomoon.eot?tknpei#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tknpei') format('truetype'),
    url('fonts/icomoon.woff?tknpei') format('woff'),
    url('fonts/icomoon.svg?tknpei#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-workers-team:before {
  content: "\e900";
}
.icon-vip-pass:before {
  content: "\e901";
}
.icon-arrow:before {
  content: "\e902";
}
.icon-talking-by-phone-auricular-symbol-with-speech-bubble:before {
  content: "\e903";
}
.icon-success:before {
  content: "\e904";
}
.icon-signing-the-contract:before {
  content: "\e905";
}
.icon-ribbon-badge-award:before {
  content: "\e906";
}
.icon-payment-method:before {
  content: "\e907";
}
.icon-office-briefcase:before {
  content: "\e908";
}
.icon-motor-scooter:before {
  content: "\e909";
}
.icon-key-to-success:before {
  content: "\e90a";
}
.icon-increased-revenue:before {
  content: "\e90b";
}
.icon-heart-insurance:before {
  content: "\e90c";
}
.icon-handshake:before {
  content: "\e90d";
}
.icon-glass-and-bottle-of-wine:before {
  content: "\e90e";
}
.icon-give-money:before {
  content: "\e90f";
}
.icon-diamond:before {
  content: "\e910";
}
.icon-crowd-of-users:before {
  content: "\e911";
}
.icon-comments:before {
  content: "\e912";
}
.icon-check:before {
  content: "\e913";
}
.icon-air-transport:before {
  content: "\e914";
}
.icon-call-center-worker-with-headset:before {
  content: "\e915";
}
.icon-check2:before {
  content: "\e916";
}
.icon-electric-plug:before {
  content: "\e917";
}
.icon-european-plug:before {
  content: "\e918";
}
.icon-icon-facebook:before {
  content: "\e919";
}
.icon-flatware-silhouette-of-a-knife-and-a-fork-cross:before {
  content: "\e91a";
}
.icon-food-covered-tray-silhouette:before {
  content: "\e91b";
}
.icon-hammer-silhouette:before {
  content: "\e91c";
}
.icon-house:before {
  content: "\e91d";
}
.icon-incoming-call:before {
  content: "\e91e";
}
.icon-instagram-social-network-logo-of-photo-camera:before {
  content: "\e91f";
}
.icon-keyboard:before {
  content: "\e920";
}
.icon-laptop:before {
  content: "\e921";
}
.icon-leaf:before {
  content: "\e922";
}
.icon-light-bulb-1:before {
  content: "\e923";
}
.icon-icon-linkedin:before {
  content: "\e924";
}
.icon-loading:before {
  content: "\e925";
}
.icon-nature:before {
  content: "\e926";
}
.icon-rounded-plug:before {
  content: "\e927";
}
.icon-shopping-cart-commercial-interface-symbol-outline:before {
  content: "\e928";
}
.icon-solar-panels:before {
  content: "\e929";
}
.icon-tool:before {
  content: "\e92a";
}
.icon-tool-1:before {
  content: "\e92b";
}
.icon-tools-cross-settings-symbol-for-interface:before {
  content: "\e92c";
}
.icon-water-drop:before {
  content: "\e92d";
}
