<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
	<head>
		<style>
			*{
				font-family: arial;
			}
		</style>
	</head>
	<body>
		<div style="width: 100%; text-align: center; margin-top: 180px">
		<div style="width: 70%; background-color: #ddd; padding: 30px; margin: auto">
			<h2>Maintenance on our websites</h2>
			<p>We're working on some changes, it won't take long and thank you for your patience</p>
		</div>
		</div>
	</body>
</html>