<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
{% include 'includes/_head' with {title: block('title')} %}

<body>
{% include 'includes/_topbar' %}

{% block content %}
{% endblock %}

{% include 'includes/_footer' %}
{% block scripts %}
{% endblock %}

</body>

</html>
