<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
{% include 'includes/_head' with {title: block('title')} %}

<body class="new {{ entry.uri }}">
{% include 'includes/_topbar' %}

{% block content %}
{% endblock %}

{# second block often used for custom page templates to insert content afterwards #}
{% block contentB %}
{% endblock %}

{% include 'includes/_footer' %}
{% block scripts %}
{% endblock %}

</body>

</html>
