{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block title %}
	<title>Distributor Financing for Consumer Purchases - Belmont Finance LLC</title>
	<meta name="description" content="A top financer for consumer purchases, Belmont Finance LLC offers great distributor programs and incentives">
{% endblock %}

{% block content %}
<div class="single-item frontSlider">
{% for slider in entry.header %}
	<div class="clearfix slide" style="background-image: url({{ slider.sliderImage.first().getUrl()}});">
		<div class="small-12 columns">
			<h2>{{ slider.header }}</h2>
			<h4 class="light">{{ slider.subheader }}</h4>
			{% if slider.buttonText %}<a href="{{ slider.buttonUrl }}" class="button">{{ slider.buttonText }}</a>{% endif %}
		</div>
	</div>
{% endfor %}
</div>
<div class="news-strip">
	<ul class="medium-block-grid-2">
	{% for news in craft.entries.section('news').limit(2).search('contextOptions:website').find() %}
	<li><a href="{{ news.url }}"><i class="thumbtack"></i><span class="date">{{ news.postDate }}</span> {{ news }}</a></li>
	{% endfor %}
	</ul>
</div>
<div class="row testimonials l-space wider">
	{% for tm in entry.testimonials %}
		{% if loop.index <= 3 %}
		<div class="small-12 medium-8 medium-offset-2 large-4 large-offset-0 columns medium-text-center {% if loop.first %}first{% elseif loop.last %}last{% endif %}">
			<p class="larger"><em>"{{ tm.testimonial }}"</em></p>
			<span class="quote-after">- {{ tm.dealerName }}</span>
		</div>
		{% endif %}
	{% endfor %}
</div>

<div class="content m-space row">
	<div class="small-12 medium-10 medium-offset-1 columns medium-text-center">
			
		

		<h2 class="light">Belmont Finance helps our partner distributors by offering an easy financing process for consumer purchases. We work with a wide range of services and industries.</h2>
		<div class="m-space row">
			<a href="/industries">Industries &amp; Strategic Partners</a>
			<br><br><br>
		</div>

		<div class="row more-form m-space panel" id="contact">
			{% if craft.request.getQuery('cf') %}
				<h1 class="light">Thanks for contacting us</h1><br>
				<div class="small-12 medium-8 large-6 medium-offset-2 large-offset-3">
					<p>A representative will be in touch shortly</p>
				</div>
			{% else %}
			<h1 class="light">Interested in working with us?</h1><br>
			<div class="small-12 medium-8 large-6 medium-offset-2 large-offset-3">
				<form method="post" action="" accept-charset="UTF-8">
			    	{{ getCsrfInput() }}
			    	<input type="hidden" name="action" value="contactForm/sendMessage">
			   		<input type="hidden" name="redirect" value="contact/thanks?subject=Homepage+Request">

					<input type="text" id="name" placeholder="Name / Company Name*" name="fromName" required>
					<input type="email" id="email" placeholder="Email" name="fromEmail">
					<input type="hidden" name="message[Name]" id="hiddenName">
					<input type="hidden" name="message[Email]" id="hiddenEmail">
					<div id="morefields" style="display: none;">
						<input type="text" placeholder="Phone" name="message[Phone]">
						<input type="text" placeholder="Industry" name="message[Industry]">
					</div>
					<textarea name="message[body]" rows="3" placeholder="Type a brief introduction about yourself or your company!"></textarea>
					<button>Send!</button><br>
					<a href="/distributors">Read more about our program</a>
				</form>
			</div>
			{% endif %}
		</div>
	</div>
</div>
<div class="row">
	{{ entry.standardContent }}
</div>
{% endblock %}

{% block scripts %}
	<script>
		$('#email').on('focus', function(){
			$('#morefields').slideDown();
		})
		$hiddenEmail = $('#hiddenEmail');
		$hiddenName = $('#hiddenName');
		$('#email').on('change', function(){
			$hiddenEmail.val($(this).val());
		});

		$('#name').on('change', function(){
			$hiddenName.val($(this).val());
		})
	</script>
{% endblock %}
