{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout-new" %}

{% block title %}
	<title>Distributor Financing for Consumer Purchases - Belmont Finance LLC</title>
	<meta name="description" content="A top financer for consumer purchases, Belmont Finance LLC offers great distributor programs and incentives">
{% endblock %}

{% block content %}
{% include 'includes/modules/slider' with {'slider': entry.header} %}

<div class="content l-space row marker">
	<div class="small-12 columns">
		<h2>WE STRIVE FOR EXCELLENCE</h2>
		<div class="row">
			<div class="columns small-12 medium-2">
				<i class="icon-ribbon-badge-award large"></i>
			</div>
			<div class="columns small-12 medium-10"><br><br>
				<p>We work with distributors all over the country providing consumer financing for in-home and direct sales.  Here at Belmont, distributor appreciation &amp; satisfaction is our number one goal.  We start with the assumption that our distributor's success is our success.  We gain loyalty the old fashioned way: WE EARN IT!</p>
			</div>
		</div>
	</div>
</div>



{% include 'pages/_matrix-content' %}

<div class="row testimonials space marker wider marker--center">
	<div class="small-12 columns">
		<h2>TESTIMONIALS</h2>
	</div>
</div>
<div class="row">
	
	{% for tm in entry.testimonials %}
		{% if loop.index <= 3 %}
		<div class="small-12 medium-4 large-4 large-offset-0 columns medium-text-center {% if loop.first %}first{% elseif loop.last %}last{% endif %}">
			<p><em>{{ tm.testimonial }}</em></p>
			<p>- {{ tm.dealerName }}</p>
		</div>
		{% endif %}
	{% endfor %}
</div>

<div class="row">
	<div class="small-12">
	{{ entry.standardContent }}
	</div>
</div>

<style>
    .dropdown{position:relative;display:inline-block;vertical-align:bottom;line-height:1.5}.dropdown a{text-decoration:none}.dropdown-toggle{background:#fff;display:inline-block;text-decoration:none;position:relative;font-size:15px;padding:8.75px 20px;margin:0;box-shadow:0 1px 2px rgba(0,0,0,.2)}.dropdown-toggle .dropdown-icon{height:2px;width:8px;opacity:.6;position:relative;display:inline-block;vertical-align:middle;margin-left:20px}.dropdown-toggle .dropdown-icon:after{content:'';position:absolute;top:0;left:0;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid}.dropdown-toggle .dropdown-text{display:inline-block;vertical-align:middle}.dropdown-toggle img{vertical-align:middle}.dropdown-menu-wrapper{background:#fff;overflow:hidden;box-shadow:0 1px 2px rgba(0,0,0,.2)}.dropdown-menu-container{position:relative;width:300px;max-width:100%}.dropdown-menu{display:none;position:absolute;top:0;left:0;width:inherit}.dropdown-menu-main,.dropdown-menu-open{display:block}.dropdown-menu-open{position:relative}.dropdown-menu-wrapper{position:absolute;z-index:999;display:none;opacity:0}.dropdown-below .dropdown-menu-wrapper{top:100%;bottom:auto;margin:3px 0 0}.dropdown-above .dropdown-menu-wrapper{bottom:100%;top:auto;margin:0 0 3px}.dropdown-mask{position:absolute;top:0;left:0;width:100%;height:100%;z-index:100;display:none}.dropdown-animating .dropdown-mask{display:block}.dropdown-overlay{background:rgba(0,0,0,.5);position:fixed;opacity:0}.dropdown-header{position:relative;min-height:25px;padding:12.5px 50px;margin:0;border-bottom:1px solid #ccc}.dropdown-menu-main .dropdown-header{display:none}.dropdown-title{font-size:15px;text-align:center;line-height:25px;padding:0;margin:0}.dropdown-back,.dropdown-close{position:absolute;text-decoration:none;top:0;font-weight:700;color:#aaa;font-size:16px;width:50px;height:50px;line-height:50px;text-align:center}.dropdown-back .dropdown-text,.dropdown-close .dropdown-text{display:none}.dropdown-back{left:0}.dropdown-back .dropdown-icon:after{content:'';display:inline-block;width:0;height:0;border-top:4px solid transparent;border-bottom:4px solid transparent;border-right:4px solid}.dropdown-menu-main .dropdown-back{display:none}.dropdown-close{display:none;right:0}.dropdown-close .dropdown-icon:after{font-family:sans-serif;content:'\00d7'}.dropdown-item,.dropdown-list{list-style-type:none;font-size:inherit}.dropdown-list{overflow:hidden;text-align:left;overflow-y:auto;-webkit-overflow-scrolling:touch;margin:0;padding:10px 0}.dropdown-item{padding:0;margin:0 0 1px}.dropdown-item:last-child{margin-bottom:0}.dropdown-label{text-transform:uppercase;font-weight:700;font-size:12px;color:rgba(0,0,0,.4);padding:10px 20px;margin:20px 0 0}.dropdown-label:first-child{margin-top:0}.dropdown-divider{border-bottom:1px solid #e0e0e0;margin:10px 0}.dropdown-divider:first-child,.dropdown-divider:last-child{display:none}.dropdown-divider+.dropdown-label{margin-top:10px}.dropdown-divider:first-child+.dropdown-label{margin-top:0}.dropdown-link{display:block;position:relative;font-size:15px;text-decoration:none;padding:10px 20px}.dropdown-parent .dropdown-link:after{content:'';opacity:.6;position:absolute;right:20px;top:50%;margin-top:-4px;display:inline-block;vertical-align:middle;border-left:4px solid;border-bottom:4px solid transparent;border-top:4px solid transparent}.dropdown-focused .dropdown-link,.dropdown-link:hover{background:rgba(0,0,0,.03);color:#0d659b}.dropdown-selected .dropdown-link{background:#1d81c0;color:#fff}@media screen and (max-width:600px){.dropdown-overlay{z-index:-1;transition:opacity .2s linear}.dropdown-open .dropdown-overlay,.dropdown-opening .dropdown-overlay{z-index:101;opacity:1;top:0;left:0;right:0;bottom:0}.dropdown-menu-wrapper{width:auto!important;height:auto!important;position:fixed!important;top:10px;bottom:10px;left:10px;right:10px;margin:0;border:0}.dropdown-above .dropdown-menu-wrapper,.dropdown-below .dropdown-menu-wrapper{top:10px;bottom:10px;margin:0}.dropdown-menu-container{width:100%}.dropdown-close,.dropdown-menu-main .dropdown-header{display:block}}@media all and (min-width:601px){.dropdown-overlay{display:none!important}}
    .dropdown{
        width: 100%;
    }
    .dropdown-toggle{
        width: 100%;
        border: 1px solid #545454;
    }

    .dropdown-toggle .dropdown-text, .dropdown-toggle .dropdown-icon, .dropdown-item .dropdown-text, .dropdown-item .dropdown-icon{
        color: rgba(0, 0, 0, 0.75);
    }

    .dropdown-toggle .dropdown-icon{
        position: absolute;
        right: 20px;
        top: 18px;
    }
</style>
<div class="content m-space row home">
	<div class="row more-form m-space" id="contact">
		<div class="panel columns medium-8 medium-offset-2 large-6 large-offset-3">
			{% if craft.request.getQuery('cf') %}
				<h3 class="center">Thanks for contacting us</h3><br>
				<p>A representative will be in touch shortly</p>
			{% else %}
				<h3 class="text-center">Request Program Information</h3>
				<br>
				<div class="row">
				<div class="small-12 columns">
					<form method="post" action="" accept-charset="UTF-8" class="content" id="requestInfoForm">
			            {{ getCsrfInput() }}
			            <input type="hidden" name="action" value="contactForm/sendMessage">
			            <input type="hidden" name="redirect" value="contact/thanks?subject=Homepage+Request">

			            <input type="text" id="name" placeholder="Name / Company Name*" name="fromName" required>
			            <input type="email" id="email" placeholder="Email*" name="fromEmail" required>
			            <input type="hidden" name="message[Name]" id="hiddenName">
			            <input type="hidden" name="message[Email]" id="hiddenEmail">
			            <div id="morefields" style="display: none;">
			                <input type="text" placeholder="Phone*" name="message[Phone]" required>
			                
			                <label>Industries:</label>
			                <select id="industrySelect" name="message[Industry]">
			                    <option value="">Choose one...</option>
			                    <optgroup label="Vacuums &amp; Air Purifiers">
			                        <option>Kirby</option>
			                        <option>Filterqueen</option>
			                        <option>Rainbow</option>
			                        <option>Hyla</option>
			                        <option>Other (please specify)</option>
			                    </optgroup>
			                    <option>Water Treatment</option>
			                    <option>Home Improvement</option>
			                    <optgroup label="Home Safety">
			                        <option>Global</option>
			                        <option>Other (please specify)</option>
			                    </optgroup>
			                    <optgroup label="Cookware">
			                        <option>Salad Master</option>
			                        <option>Other (please specify)</option>
			                    </optgroup>
			                    <optgroup label="Tools">
			                        <option>Mac Tools</option>
			                        <option>Other (please specify)</option>
			                    </optgroup>
			                    <option>Retail</option>
			                    <option>Other (please specify)</option>
			                </select>
			                <div id="industryOther" style="margin-top: 0.2em; display: none">
			                    <input type="text" placeholder="Industry - Other" name="message[IndustryOther]">
			                </div>
			            </div>
			            <div class="more-form">
			                <br>
			                <div class="text-center"><label><input type="checkbox" name="message[IncludePacket]"> Check here to include enrollment packet</label></div>
			                <div class="text-center"><button>Send!</button></div>
			            </div>
			        </form>
				</div>
				</div>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
	<script>
		$('#email').on('focus', function(){
			$('#morefields').slideDown();
		})
		$hiddenEmail = $('#hiddenEmail');
		$hiddenName = $('#hiddenName');
		$('#email').on('change', function(){
			$hiddenEmail.val($(this).val());
		});

		$('#name').on('change', function(){
			$hiddenName.val($(this).val());
		})
	</script>
{% endblock %}
