{# module for content areas - image gallery that can do 2 - 4 per row #}
<section class="content-area gallery">
    <div class="headline headline--solid">
        <h2>{{ block.blockTitle }}</h2>
    </div>

    <div class="gallery__container">
    {% set columns = block.showPerRow ~ '' %}
    {% set imageTransform = block.cropThumbnail ? 'medThumb' : false %}

        {% if block.horizontal_text %}
            {% for image in block.uploads %}
                <div class="row">
                    <div class="medium-6 columns">
                        <img src="{{ image.getUrl(imageTransform) }}" alt="{{ image.title }}">
                    </div>
                    <div class="medium-6 column">
                        {% if block.showTitles %}<h4>{{ image.title }}</h4>{% endif %}
                        <p>{{ image.text }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <ul class="small-block-grid-1 medium-block-grid-{{ columns }} large-block-grid-{{ columns }}">
                {% for image in block.uploads %}
                    <li class="gallery__item">
                        <img src="{{ image.getUrl(imageTransform) }}" alt="{{ image.title }}">
                        {% if block.showTitles %}<h4 class="gallery__title">{{ image.title }}</h4>{% endif %}
                        {% if image.subtitle %}<h5 class="gallery__subtitle">{{ image.subtitle }}</h4>{% endif %}
                        <p>{{ image.text }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</section>