   {# module for content areas - image gallery that can do 2 - 4 per row #}
    {% if block.columns == "33%" %}
<div class="small-12 medium-4 columns left">
    {% elseif block.columns == "50%" %}
        <div class="small-12 medium-6 columns left">
    {% else %}
        <div class="small-12 columns">
    {% endif %}
    <h3>{{ block.blockTitle }}</h3>
    <div class="contentarea">
    {{ block.contentField }}
    </div>
</div>