{% extends "staff/_standard" %}

{% block title %}
	Denied Applications
{% endblock %}

{% block options %}
	{# <button href="#" data-dropdown="options" data-options="align:left" aria-controls="drop1" aria-expanded="false" class="button tiny secondary dropdown right options-button"><i class="fi-wrench"></i></button>
	<ul id="options" data-dropdown-content class="f-dropdown" aria-hidden="true">
	  <li><a href="#" data-reveal-id="newDistribModal"><i class="fi-plus circle"></i>Add Distributor</a></li>
	</ul> #}
{% endblock %}


{% block pageheader %}
	<div class="small-12 columns"><h2>Denied Applications</h2></div>

	<dl class="sub-nav">
	  <dd><a href="/contracts/">All</a></dd>
	  <dd><a href="/contracts/all/approved">Approved</a></dd>
	  <dd><a href="/contracts/all/pending">Pending</a></dd>
	  <dd><a href="/contracts/all/cancelled">Cancelled</a></dd>
	  <dd class="active"><a href="/contracts/denied">Denied</a></dd>
	  {# <dd class="show-for-medium-up">|</dd>
	  {% if user.hasRole('loans') or user.hasRole('admin') %}<dd><a href="/contracts/review">Review <span class="label round secondary radius">{{ reviewCount }}</span></a></dd>{% endif %} #}
	  {% for filter in otherFilters|keys %}
	  <dd class="active secondary"><a href="/contracts/clear-filter/{{ filter }}">{{ filter|url_decode }}: {{otherFilters[filter]|url_decode|title}} &nbsp;<i class="fi-x"></i></a></dd>
	  {% endfor %}
	  	<button id="otherFiltersButton" class="tiny secondary alt-button right" title="Other Filters">&#x25BC;</button>
	</dl>
{% endblock %}


{% block content %}
	{% if apps|length %}
		<div class="row">{{ paginate.input(apps) }}</div>
		<table>
		<tr><td>Application Number</td><td>Date</td><td>Name</td><td>Distributor</td><td>Amount</td><td></td></tr>
		{% for app in apps %}
		<tr>
			<td>{{ app.fca_id }}</td>
			<td>{{ app.created_at|date('m/d/Y') }}</td>
			<td>{{ app.firstName }} {{ app.lastName }}</td>
			<td>{{ app.dealer.company_name }}</td>
			<td>${{ app.amount_financed }}</td>

			<td><a href="/contracts/app-data/{{ app.id }}">View Submittal</a></td>
		</tr>
		{% endfor %}
		</table>
		<div class="row">{{ paginate.input(apps) }}</div>
	{% else %}
		<em>No Denied Applications Found</em>
	{% endif %}

{% endblock %}


{% block pagescripts %}
{% endblock %}
