{% extends "staff/_standard" %}

{% block title %}
	{{ item.customerName }} - Edit
{% endblock %}

{% block options %}
	{# <button href="#" data-dropdown="options" data-options="align:left" aria-controls="drop1" aria-expanded="false" class="button tiny secondary dropdown right options-button"><i class="fi-wrench"></i></button>
	<ul id="options" data-dropdown-content class="f-dropdown" aria-hidden="true">
	  <li><a href="#" data-reveal-id="newDistribModal"><i class="fi-plus circle"></i>Add Distributor</a></li>
	</ul> #}
{% endblock %}


{% block pageheader %}
	<h2>{% if showBack %}<a href="{{ showBack }}" class="back-arrow"><i class="circle fi-arrow-left"></i> </a>{% endif %}Editing #{{ item.accountNumber }}</h2>
	<nav id="subtab" class="tabs">
		<ul>
			<li>
				<a href="{% if item.app.appOrders %}/contracts/orders/{{ item.id }}{% endif %}" class="tab {% if item.app.appOrders %}avail{% endif %}">Orders</a>
			</li>
		</ul>
	</nav>
{% endblock %}


{% block content %}
{# modal for opening a contract #}
	<div id="freshStartModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<h2 id="modalTitle">Freshstart Contract</h2>
		<form method="get" action="/contracts/fresh-start/{{ item.id }}">
			<label>New fresh start account number
				<input type="text" name="new_account" required value="{{ item.accountNumber }}">
				<button class="tiny right">Create</button>
			</label>
		</form>
	</div>
	{% if user.hasRole('admin') %}
		{% set adminControlled = "" %}
	{% else %}
		{% set adminControlled = "disabled" %}
	{% endif %}
<form method="post" action="/contracts/update/{{ item.id }}" class="ajax-form" id="editContractForm">
	<div class="panel cf">
		<div class="row">
			<div class="small-12 medium-6 columns">
				<div class="row collapse prefix-radius">
					<div class="small-3 columns">
			          	<span class="prefix">Status</span>
			        </div>
			        <div class="small-9 columns">
						<select name="statusId" adminControlled>
							<option value="0" {% if item.statusId == "0" %}selected{% endif %}>Pending</option>
							<option value="1" {% if item.statusId == "1" %}selected{% endif %}>Approved</option>
							<option value="2" {% if item.statusId == "2" %}selected{% endif %}>Cancelled</option>
						</select>
					</div>
				</div>
			</div>
			<div class="small-12 medium-6 columns">
				<div class="row collapse prefix-radius">
					<div class="small-3 columns">
			          	<span class="prefix">Account #</span>
			        </div>
			        <div class="small-9 columns">
						<input type="text" adminControlled name="accountNumber" value="{{ item.accountNumber }}" />
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="small-12 medium-6 columns">
				<div class="row collapse prefix-radius">
					<div class="small-3 columns">
			          	<span class="prefix">Name</span>
			        </div>
			        <div class="small-9 columns">
						<input type="text" name="customerName" value="{{ item.customerName }}" {{ adminControlled }}>
					</div>
				</div>
				<div class="row collapse prefix-radius">
					<div class="small-3 columns">
			          	<span class="prefix">Dealer</span>
			        </div>
			        <div class="small-9 columns">
						<input type="text" id="company" data-minchars="1" data-autofirst="true" class="awesomplete" list="companies" value="{{ item.dealer.company_name }}" {{ adminControlled }}>
						<input type="hidden" value="{{ item.dealer.dist_id }}" name="distributorId" id="distributorId">
						<datalist id="companies" name="distributorId">
							{% for company in companies %}
								<option value="{{ company.dist_id }}">{{ company.company_name }} (#{{ company.account_number }})</option>
							{% endfor %}
						</datalist>
					</div>
				</div>
				<div class="row collapse">
					<div class="small-3 columns">
			          	<span class="prefix">Promo</span>
			        </div>
			        <div class="small-9 columns">
			        	{% if item.promo_code %}
			        		<input type="text" name="promo_code" value="{{ item.promo_code }}" disabled>
			        	{% else %}
						<select {{ adminControlled }} name="sameAsCashId">
							{% for promo in promos %}
								<option value="{{ promo.id }}" {% if promo.id == item.sameAsCashId %}selected{% endif %} >{{ promo.title }}</option>
							{% endfor %}
						</select>
						{% endif %}
					</div>
			    </div>
			</div>
			<div class="small-12 medium-6 columns">
				<div class="row collapse prefix-radius">
					<div class="small-3 columns">
			          	<span class="prefix">Payable <span class="right" style="padding-right: 0.4em;">$</span></span>
			        </div>
			        <div class="small-9 columns">
						<input type="text" name="distributorPayable" value="{{ item.distributorPayable }}" {{ adminControlled }}>
					</div>
				</div>
				<div class="row collapse prefix-radius">
					<div class="small-3 columns">
			          	<span class="prefix">App Date</span>
			        </div>
			        <div class="small-9 columns">
						<input type="date" name="applicationDate" value="{{ item.applicationDate|date('Y-m-d') }}" {{ adminControlled }}>
					</div>
				</div>
				<div class="row collapse">
					<div class="small-3 columns">
			          	<span class="prefix">Buy Rate</span>
			        </div>
			        <div class="small-2 columns">

					        	<input class="small-text-right" type="text" value="{{ item.buy_rate }}" name="buy_rate" {{ adminControlled }}>

					</div>
					<div class="small-1 columns left">
			          	<span class="postfix">%</span>
			        </div>
			        <div class="small-12 columns medium-6 small-text-center">
			        	<a id="freshstart" class="button warning tiny" data-reveal-id="freshStartModal"><i class="fi-trees medium"></i> &nbsp;Set as Fresh Start</a>
			        </div>
			    </div>
			    {% if item.ratingId %}
			    <div class="row">
			    	<div class="small-12 columns"><em>Legacy Grade: {{ item.rating.name }}</em></div>
			    </div>
			    {% endif %}
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="small-12 medium-6 columns">
			<div class="row collapse prefix-radius">
				<div class="small-4 columns">
				<span class="prefix">Amount <span class="right" style="padding-right: 0.4em;">$</span></span>
		        </div>
		        <div class="small-8 columns">
		          <input type="text" name="amountFinanced" value="{{ item.amountFinanced }}">
		        </div>
		    </div>
		    <div class="row collapse prefix-radius">
				<div class="small-4 columns">
				<span class="prefix">Discount <span class="right" style="padding-right: 0.4em;">$</span></span>
		        </div>
		        <div class="small-8 columns">
		          <input type="text" name="discount" value="{{ item.discount }}">
		        </div>
		    </div>
		     <div class="row collapse prefix-radius">
				<div class="small-4 columns">
				<span class="prefix">Other Discount <span class="right" style="padding-right: 0.4em;">$</span></span>
		        </div>
		        <div class="small-8 columns">
		          <input type="text" name="discount" value="{{ item.discount_other }}" disabled>
		        </div>
		    </div>

		</div>
		<div class="small-12 medium-6 columns">
			 <div class="row collapse prefix-radius">
				<div class="small-4 columns">
					<span class="prefix">SAC Payable <span class="right" style="padding-right: 0.4em;">$</span></span>
		        </div>
		        <div class="small-8 columns">
		          <input type="text" name="sameAsCashPayable" value="{{ item.sameAsCashPayable }}">
		        </div>
		    </div>
		    <div class="row collapse prefix-radius">
				<div class="small-4 columns">
					<span class="prefix">Reserve Fee <span class="right" style="padding-right: 0.4em;">$</span></span>
		        </div>
		        <div class="small-8 columns">
		          <input type="text" name="reserveFee" value="{{ item.reserveFee }}">
		        </div>
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">		 <h4>Fees: </h4></div>
	</div>
	<div class="row">

		 <div class="small-12 medium-6 columns">
		 <table>
			<tr>
				<td><strong>Acq Fee:</strong></td><td><strong>{% if item.acquisitionFee %}${{ item.acquisitionFee|number_format(2,'.',',') }}{% else %}N/A{% endif %}</strong></td>
			</tr>
			<tr>
				<td><strong>Savings Fee:</strong></td><td><strong>{% if item.savingsFee %}${{ item.savingsFee|number_format(2,'.',',') }}{% else %}N/A{% endif %}</h3></td>
			</tr>
			<tr>
				<td><strong>Fl Doc Fee:</strong></td><td><strong>{% if item.fl_doc_fee %}${{ item.fl_doc_fee|number_format(2,'.',',') }}{% else %}N/A{% endif %}</h3></td>
			</tr>
			<tr>
				<td><strong>Reserve Fee:</strong></td><td><strong>{% if item.reserveFee %}${{ item.reserveFee|number_format(2,'.',',') }}{% else %}N/A{% endif %}</h3></td>
			</tr>
		</table>
		</div>
		<div class="small-12 medium-6 columns">
			<table>
				<tr>
					<td><strong>Wire Charge:</strong></td><td><strong>{% if item.wire_charge %}${{ item.wire_charge|number_format(2,'.',',') }}{% else %}N/A{% endif %}</h3></td>
				</tr>
				<tr>
					<td><strong>Loan Charge:</strong></td><td><strong>{% if item.loan_charge %}${{ item.loan_charge|number_format(2,'.',',') }}{% else %}N/A{% endif %}</h3></td>
				</tr>
				<tr>
					<td><strong>Transfer:</strong></td><td><strong>{% if item.transfer_amount %}${{ item.transfer_amount|number_format(2,'.',',') }}{% else %}N/A{% endif %}</h3></td>
				</tr>
				<tr>
					<td>&nbsp;</td><td></td>
				</tr>
			</table>
		</div>
	</div>

		<div class="small-12 columns">
			<button class="right small">Update</button>
		</div>
</form>

<hr>

<div id="showComments" class="ajax-update">
	<div class="small-12 medium-6 columns">
		<h3>Comments</h3>
		{% for comment in item.getComments %}
		<p class="small-font">
			<a class="circle delete" data-id="{{ comment.id}}" data-href="/comments/"><i class="fi-prohibited"></i></a>
			<em>{{ comment.created_at|date("m/d/Y g:ia") }}</em> - '{{ comment.text }}' by {{ comment.getUser.name }} {% if comment.show_dist %}<i class="fi-eye" style="color: black" title="Viewable by dealer accounts"></i>{% endif %}</p>
		{% endfor %}
	</div>
</div>

<div class="small-12 columns">
	<form method="post" action="/comments/create/{{ item.id }}" class="ajax-form">
		<div class="row">
		<div class="small-12 large-6 columns">
				<input name="commentContractId" type="hidden" value="{{ item.id }}">
				<label><em>Add a comment:</em>
					<textarea name="comments"></textarea>
				</label>
		</div>
	</div>
		<div class="row">
		<div class="small-12 large-6 columns">
			<label for="distributor" class="left">Show to distributor&nbsp;&nbsp;<input id="distributor" name="distributor" value="1" type="checkbox"></label> <button class="right small">Add</button>
		</div>
	</div>
	</form>
</div>

{% if user.hasRole('admin') %}

<hr>

<div id="logs">
	<div class="small-12 columns">
		<h3>All Logged Activity</h3>
		{% for log in item.getLogs %}
			<p class="small-font"><em>{{ log.created_at|date("m/d/Y g:ia") }}</em> - '{{ log.getFriendlyField() }}' changed from {{ log.getFriendlyValue(true) }} to {{ log.getFriendlyValue() }} by {{ log.getUser.name }}</p>
		{% endfor %}
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<a class="delete right small alert" data-id="{{ item.id }}" data-href="/contracts/"><i class="fi-trash circle"></i></a>
			{% if item.customer.locked_at %}
				<a class="right small" href="/contracts/unlock-customer/{{ item.id }}"><i class="fi-unlock circle"></i></a>
			{% else %}
				<a class="right small" href="/contracts/lock-customer/{{ item.id }}"><i class="fi-lock circle"></i></a>
			{% endif %}
		{% if item.customer.locked_at %}
		 <br><p class="small right" style="clear: both">Account Locked</p>
		{% endif %}
	</div>
</div>
{% endif %}



{% endblock %}


{% block pagescripts %}
	<script src="/js/awesomplete.min.js"></script>
	<script>
		$(function(){
			// script to mark if values change
			$('#editContractForm').find('input,select').each(function(){
				//store old values in data
				$(this).data('old-val', $(this).val());
			})

			$('#editContractForm').on('change', 'input,select', function(){
				if($(this).data('old-val').length && $(this).data('old-val') != $(this).val()){
					$(this).addClass('changed');
				}else{
					if($(this).data('old-val').length && $(this).data('old-val') == $(this).val()){
						$(this).removeClass('changed');
					}else{
						$(this).addClass('changed');
					}
				}
			});

			var $datalist = $('#companies').find('option');
			var hiddenCompany = $('#distributorId');

			$('#company').on('awesomplete-selectcomplete', function(event){
				var input_value = $(this).val();

				var selected_el = $datalist.filter(function(){
		            return $(this).text() == input_value;
		        });

		        var selected_val = selected_el.length ? selected_el.val() : false;
		        console.log(selected_val);

		        if(selected_val){
		        	$('#distributorId').val(selected_val);
		        }

			});
		});
	</script>
{% endblock %}
