{% extends "staff/_standard" %}

{% block title %}
	Contracts
{% endblock %}

{% block options %}
	{# <button href="#" data-dropdown="options" data-options="align:left" aria-controls="drop1" aria-expanded="false" class="button tiny secondary dropdown right options-button"><i class="fi-wrench"></i></button>
	<ul id="options" data-dropdown-content class="f-dropdown" aria-hidden="true">
	  <li><a href="#" data-reveal-id="newDistribModal"><i class="fi-plus circle"></i>Add Distributor</a></li>
	</ul> #}
{% endblock %}


{% block pageheader %}
	<div class="small-12 columns"><h2>{% if showBack %}<a href="{{ showBack }}" class="back-arrow"><i class="circle fi-arrow-left"></i> </a>{% endif %}{% if pagetitle %}{{ pagetitle }}{% else %}Contracts{% endif %}</h2></div>
	<dl class="sub-nav">
	  <dd {% if filter == "all" %}class="active"{% endif %}><a href="/{{ routePath }}" class="ajax-link">All</a></dd>
	  <dd {% if filter == "approved" %}class="active"{% endif %}><a href="/{{ routePath }}/approved" class="ajax-link">Approved</a></dd>
	  <dd {% if filter == "pending" %}class="active"{% endif %}><a href="/{{ routePath }}/pending" class="ajax-link">Pending</a></dd>
	  <dd {% if filter == "cancelled" %}class="active"{% endif %}><a href="/{{ routePath }}/cancelled" class="ajax-link">Cancelled</a></dd>
	  <dd {% if filter == "denied" %}class="active"{% endif %}><a href="/contracts/denied" class="ajax-link">Denied</a></dd>
	  {% for filter in otherFilters|keys %}
        {% set filterValue = otherFilters[filter] %}
        {% if filterValue is iterable %}{% set filterValue = filterValue|join(' - ') %}{% endif %}
		  <dd class="active secondary filter">&nbsp;{{ filter|url_decode }}: <span>{{ filterValue|url_decode|title }}</span><a href="/contracts/clear-filter/{{ filter }}"><i class="fi-x"></i></a></dd>
	  {% endfor %}
	  	<button id="otherFiltersButton" class="tiny secondary alt-button right" title="Other Filters">&#x25BC;</button>
	</dl>

	<dl>
	<div id="otherFilters" style="display: none" class="small-12 panel">
			<div class="row">
			<form action="/contracts/filter" method="post">
				<input type="hidden" name="_token" value="{{ csrf_token() }}">
				<input type="hidden" name="_redirect" value="{{ url }}">
				<div class="row">
					<div class="medium-4 small-12 columns">
						<label>
						Date Range:
							<select name="dateRange" id="dateRange">
								<option value="today">Today</option>
								<option value="yesterday">Yesterday</option>
								<option value="week">This Week</option>
								<option value="last+week">Last Week</option>
								<option value="month">This Month</option>
								<option value="last+month">Last Month</option>
								<option value="quarter">This Quarter</option>
								<option value="last+quarter">Last Quarter</option>
								<option value="year">This Year</option>
								<option value="custom">Custom</option>
							</select>
						</label>
					</div>
					<div class="medium-4 small-12 columns left">
						<label>
						Category:
							<select name="product">
								<option value="">None</option>
								{% for product in products %}
								<option value="{{ product.id }}">{{ product.name }}</option>
								{% endfor %}
							</select>
						</label>
					</div>
				</div>
				<div class="row">
					<div id="customDateFilters" style="display: none">
						<div class="medium-4 small-12 columns"><label>Start: <input type="date" name="start"></label></div>
						<div class="medium-4 small-12 columns left"><label>End: <input type="date" name="end"></label></div>
					</div>
					<div class="medium-4 small-12 columns right"><button class="tiny button right">Filter</button></div>

				</div>
			</div>

			</form>
		</div>
	</dl>
{% endblock %}


{% block content %}
	{% if contracts|length %}
	<div id="contracts_whole">
		<div class="row">{{ paginate.input(contracts, 'contracts_whole') }}
			<em class="right show-for-medium-up" style="position: absolute; top: 0; right: 0">{{ contracts.total|number_format }} {% if filter != "all" %}{{ filter }}{% endif %} contracts</em>
		</div>
		<table class="ajax-update" id="contracts_table">
			<tr><td></td><td>Date</td><td>Name</td><td>Distributor</td><td>Rating</td><td>Amount</td></tr>
			{% for contract in contracts %}

			{% if contract.statusId == 1 %}
				{% set status = "APPROVED" %}
			{% elseif contract.statusId == 2 %}
				{% set status = "CANCELLED" %}
			{% elseif contract.statusId == 0 %}
				{% set status = "PENDING" %}
			{% endif %}

				<tr>
					<td class="acctNum {{ status }}"><a href="/contracts/view-contract/{{ contract.id }}" data-animation-speed="50" data-reveal-id="viewContractModal" data-reveal-ajax="true"><i class="circle fi-pencil"></i></a> <div class="spanNum">{% if contract.accountNumber %}{{ contract.accountNumber }}{% else %}<span title="No account number has been assigned - showing the application number instead."><em>~{{ contract.applicationId }}</em></span>{% endif %}
						<span class="small">{{ status }}</span></div></td>
					<td class="date">{{ contract.applicationDate|date('m/d/Y') }} {% if contract.disposition_status %}<span class="fundingstatus">{{ contract.disposition_status }}</span>{% endif %}</td>
					<td class="name">{{ contract.customerName|title }}</td>
					<td><a href="/contracts/filter?distributor={{ contract.dealer.account_number }}">{{ contract.dealer.company_name }}</a></td>
					<td class="show-for-medium-up">
					{% spaceless %}
						{% if contract.buy_rate %}
						<span class="rating-circle small"><span class="letter">{{ contract.buy_rate|number_format }}%</span></span>
						{% else %}
						{% set firstWord = contract.rating.name|split(' ')[0] %}
							{% if firstWord|length < 3 and firstWord|length %}
								<span class="rating-circle small">
									<span class="letter">{{ firstWord }}</span>
									{% if "coupon" in contract.rating.name %}<span class="sub">COUPON</span>{% endif %}
								</span>
							{% elseif "full"|upper in contract.rating.name|upper %}
								<span class="rating-circle small">
									<span class="letter">FA</span>
									{% if "coupon" in contract.rating.name %}<span class="sub">COUPON</span>{% endif %}
								</span>
							{% else %}
								{{ contract.rating.name }}
							{% endif %}
						{% endif %}

					{% endspaceless %}
					</td>
					<td>${{ contract.amountFinanced|number_format(2,'.',',') }}</td>
				</tr>
			{% endfor %}
		</table>
		<div class="row">{{ paginate.input(contracts, 'contracts_whole') }}</div>
		{% else %}
			<em>No contracts found</em>
		{% endif %}
	</div>
	{# modal for opening a contract #}
	<div id="viewContractModal" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	</div>

{% endblock %}
