{% extends "staff/_standard" %}

{% block title %}
	{{ item.customerName }} - Order Information
{% endblock %}

{% block options %}
	{# <button href="#" data-dropdown="options" data-options="align:left" aria-controls="drop1" aria-expanded="false" class="button tiny secondary dropdown right options-button"><i class="fi-wrench"></i></button>
	<ul id="options" data-dropdown-content class="f-dropdown" aria-hidden="true">
	  <li><a href="#" data-reveal-id="newDistribModal"><i class="fi-plus circle"></i>Add Distributor</a></li>
	</ul> #}
{% endblock %}


{% block pageheader %}
	<h2>{% if showBack %}<a href="{{ showBack }}" class="back-arrow"><i class="circle fi-arrow-left"></i> </a>{% endif %}{{ item.accountNumber }} - Order Info</h2>
	<nav id="subtab" class="tabs">
		<ul>
			<li>
				<a href="{% if item.app.appOrders %}/contracts/orders/{{ item.id }}{% endif %}" class="tab {% if item.app.appOrders %}avail{% endif %}">Orders</a>
			</li>
		</ul>
	</nav>
{% endblock %}


{% block content %}
	<div class="row">
		<div class="small-12 columns">
			<h4><strong>Store type:</strong> {{ item.app.appOrders.store_type }}</h4>
			<h4><strong>Status:</strong> {% if item.app.appOrders.order_status == "AWAITING_PAYMENT" %}Pending{% else %}Complete{% endif %}</h4>
			{% if item.app.appOrders.order_status == "AWAITING_PAYMENT" %}
				<form method="post" action="/contracts/orders/{{ item.id }}">
					<input type="hidden" name="_token" value="{{ csrf_token() }}">
					<button class="button tiny">Mark Complete</button>
				</form>
				<p class="small medium-6"><em>Marking the order complete will update the store (and usually the consumer) that payment is complete and the order is ready to ship</em>
				</p>
			{% endif %}

		</div>
	</div>
{% endblock %}
