{% extends "staff/_standard" %}

{% block title %}
	Contracts
{% endblock %}

{% block options %}
	{# <button href="#" data-dropdown="options" data-options="align:left" aria-controls="drop1" aria-expanded="false" class="button tiny secondary dropdown right options-button"><i class="fi-wrench"></i></button>
	<ul id="options" data-dropdown-content class="f-dropdown" aria-hidden="true">
	  <li><a href="#" data-reveal-id="newDistribModal"><i class="fi-plus circle"></i>Add Distributor</a></li>
	</ul> #}
{% endblock %}


{% block pageheader %}
	<h2><a href="/contracts" class="back-arrow"><i class="circle fi-arrow-left"></i> </a> Review</h2>
{% endblock %}


{% block content %}

		{% if contracts|length %}
		<table class="ajax-update" id="contracts_table">
		<tr><td></td><td>Date</td><td>Name</td><td>Distributor</td><td>Rating</td><td>Amount</td></tr>
		{% for contract in contracts %}

			{% if contract.statusId == 1 %}
				{% set status = "APPROVED" %}
			{% elseif contract.statusId == 2 %}
				{% set status = "CANCELLED" %}
			{% elseif contract.statusId == 0 %}
				{% set status = "PENDING" %}
			{% endif %}

			<tr>
				<td class="acctNum {{ status }}"> <span class="approve" data-id="{{ contract.id }}"><i class="fi-check"></i></span> <div class="spanNum"><a href="/contracts/edit/{{ contract.id }}">{{ contract.accountNumber }}<span class="small">{{ status }}</span></a></div></td>
				<td>{{ contract.applicationDate|date('m/d/Y') }}</td>
				<td>{{ contract.customerName }}</td>
				<td>{{ contract.dealer.company_name }}</td>
				<td>
				{% spaceless %}
					{% if contract.buy_rate %}
						<span class="rating-circle small"><span class="letter">{{ contract.buy_rate|number_format }}%</span></span>
					{% else %}
						{% set firstWord = contract.rating.name|split(' ')[0] %}
						{% if firstWord|length < 3 and firstWord|length %}
							<span class="rating-circle small">
								<span class="letter">{{ firstWord }}</span>
								{% if "coupon" in contract.rating.name %}<span class="sub">COUPON</span>{% endif %}
							</span>
						{% elseif "full"|upper in contract.rating.name|upper %}
							<span class="rating-circle small">
								<span class="letter">FA</span>
								{% if "coupon" in contract.rating.name %}<span class="sub">COUPON</span>{% endif %}
							</span>
						{% else %}
							{{ contract.rating.name }}
						{% endif %}
					{% endif %}
					
				{% endspaceless %}
				</td>
				<td>${{ contract.amountFinanced|number_format(2,'.',',') }}</td>
			</tr>
		{% endfor %}
	</table>
	<div class="row">{{ paginate.input(contracts) }}</div>
	{% else %}
		<em>No contracts found</em>
	{% endif %}

{% endblock %}


{% block pagescripts %}
	<script>
	$(function(){
		$('#contracts_table').on('click', '.approve', function(){
			$(this).addClass('active');
			var contract = $(this).data('id');

			$(this).closest('tr').fadeOut(500, function(){
				$.ajax({
					url: '/contracts/approve/' + contract,
					type: 'POST'
				})
			});

		});
	});
	</script>
{% endblock %}
