{% if item %}
	{% if item.statusId == 1 %}
			{% set status = "APPROVED" %}
		{% elseif item.statusId == 2 %}
			{% set status = "CANCELLED" %}
		{% elseif item.statusId == 0 %}
			{% set status = "PENDING" %}
	{% endif %}

	{% set app = item.app %}


  <h3 id="modalTitle"><span class="acctNum {{ status }}">{% if item.accountNumber %}ACCT #{{ item.accountNumber }}{% else %}APP #{{ item.applicationId }}{% endif %} {{ status }} 
  	<!-- {% if status != "CANCELLED" and user.hasRole('admin') %}<form method="post" action="/contracts/update/{{ item.id }}" class="ajax-form"><input type="hidden" name="statusId" value="2"><button class="tiny button secondary">Cancel <i class="fi-x"></i></button></form>{% endif %}
	{% if status != "APPROVED" and ( user.hasRole('loans') or user.hasRole('admin') ) %}<form method="post" action="/contracts/update/{{ item.id }}" class="ajax-form"><input type="hidden" name="statusId" value="1"><button class="tiny button">Approve <i class="fi-check"></i></button>{% endif %} -->
  </h3>
  {% if item.disposition_status %}<h6 id="disposition"><strong>** {{ item.disposition_status|upper }} ON {{ item.disposition_date }} **</strong></h6>{% endif %}

  	<div class="row view-contract">
  		<div class="small-12 large-6 columns">
		  	<h5><strong>Name: </strong> {{ item.customerName }}</h5>
		  	<h5><strong>Distributor: </strong> {{ item.dealer.company_name }}</h5>
		  	<h5><strong>App Date: </strong> {{ item.applicationDate|date('m/d/Y') }}</h5>
		  	<h5><strong>Amt Financed: </strong> ${{ item.amountFinanced|number_format(2,'.',',') }}</h5>
		</div>


		<div class="small-12 large-6 columns">


		{% if item.buy_rate %}
			<h5><strong>Buy Rate: </strong>{{ item.buy_rate|number_format(2) }}%</h5>
		{% else %}
			<h5><strong>Legacy Grade: </strong>
			{% set firstWord = item.rating.name|split(' ')[0] %}
			{% if firstWord|length < 3 and firstWord|length %}
				<span class=" large">
					<span class="letter">{{ firstWord }}</span>
					<span class="sub">{{ item.rating.name|split(' ')[1:]|join(' ') }}</span>
				</span>
			{% elseif "full"|upper in item.rating.name|upper %}
				<span class=" large">
					<span>FULL APPROVAL</span>
					{% if "coupon" in item.rating.name %}<span class="sub">W/ COUPON BOOK</span>{% endif %}
				</span>
			{% else %}
				{{ item.rating.name }}
			{% endif %}
			</h5>
		{% endif %}

			<h5><strong>Promo Rate:</strong> {% if item.promo_rate %} <em>{{ item.promo_rate }}%</em>{% else %}N/A {% endif %}</h5>

		</div>
	 </div>
	 <div class="row">
	 	<div class="small-12 columns">
	 		<br>
	 		<h4>Fees:</h4>
	 	</div>
	 </div>
	 <div class="row">
		 <div class="small-12 medium-6 columns">
		 <table>
		 	<tr>
				<td><strong>Buy Rate Discount:</strong></td><td><strong>${{ item.discount|number_format(2,'.',',') }}</td>
			</tr>
			<tr>
				<td><strong>Promo Discount:</strong></td><td><strong>${{ item.discount_promo|number_format(2,'.',',') }}</strong></td>
			</tr>

			<tr>
				<td><strong>Acq Fee:</strong></td><td><strong>{% if item.acquisitionFee %}${{ item.acquisitionFee|number_format(2,'.',',') }}{% else %}N/A{% endif %}</strong></td>
			</tr>
			<tr>
				<td><strong>Fl Doc Fee:</strong></td><td><strong>{% if item.fl_doc_fee %}${{ item.fl_doc_fee|number_format(2,'.',',') }}{% else %}N/A{% endif %}</h3></td>
			</tr>
			<tr>
				<td><strong>Reserve:</strong></td><td><strong>{% if item.reserveFee %}${{ item.reserveFee|number_format(2,'.',',') }}{% else %}N/A{% endif %}</h3></td>
			</tr>
		</table>
		</div>
		<div class="small-12 medium-6 columns">
			<table>
				<tr>
					<td><strong>Wire Charge:</strong></td><td><strong>{% if item.wire_charge %}${{ item.wire_charge|number_format(2,'.',',') }}{% else %}N/A{% endif %}</h3></td>
				</tr>
				<tr>
					<td><strong>Payment Book:</strong></td><td><strong>{% if item.loan_charge %}${{ item.loan_charge|number_format(2,'.',',') }}{% else %}N/A{% endif %}</h3></td>
				</tr>
				<tr>
					<td><strong>Transfer:</strong></td><td><strong>{% if item.transfer_amount %}${{ item.transfer_amount|number_format(2,'.',',') }}{% else %}N/A{% endif %}</h3></td>
				</tr>
				<tr>
					<td><strong>Due Dealer:</strong></td><td><strong>${{ item.distributorPayable|number_format(2,'.',',') }}</h3></td>
				</tr>
				<tr>
					<td>&nbsp;</td><td>&nbsp;</td>
				</tr>
			</table>
		</div>
	</div>
	 <div class="row">
		 <div class="small-12 columns text-right">
		 	{% if item.app %}<a href="/contracts/app-data/{{ item.app.id }}" class="tiny button secondary"><i class="circle fi-clipboard-notes"></i>Application Data</a>{% endif %}
		 	{% if user.hasRole('csr') or user.hasRole('admin') %}<a href="/contracts/access/{{ item.id }}" class="tiny button"><i class="circle fi-telephone"></i> Access Account</a>{% endif %}
		 	{% if user.hasRole('loan') or user.hasRole('admin') %}<a href="/contracts/edit/{{ item.id }}" class="tiny button warning"><i class="circle fi-pencil"></i>Edit Contract</a>{% endif %}
		 </div>
	 </div>

	 <div class="row space-s">
		 <div class="small-12 columns">
		 <h4>Contact Info</h4>
		 	<p style="margin-bottom: 0;">{% if app.homePhone %}App Home Phone: {{ app.homePhone }}<br>{% endif %}
		 	{% if app.homePhone %}App Cell Phone: {{ app.cellPhone }}<br>{% endif %}
		 	{% if app.address %}App Address: {{ app.address }}, {{ app.city }} {{ app.state }} {{ app.zip }}{% endif %}
		 	</p>
		 </div>
	 </div>

	 <div class="row space">
	 	<div class="small-12 columns">
			<h4>Contract Files</h4>
			{% for file in app.files %}
				{% if file.file_type == '50' %}
					<a class="file-link" href="/files/{{ file.id }}/review" target="_blank">
						<i class="fi-upload small"></i> {{ file.name }}
					</a>
					{% else %}
					<a class="file-link" href="/apps/file/{{ file.id }}" target="_blank">
						<i class="fi-paperclip small"></i> {{ file.name }}
					</a>
				{% endif %}
			{% endfor %}
			<br><br>
			<p><a target="_blank" class="right" href="/apps/{{ app.id }}/files">View Archived Files</a></p>
	 	</div>
	 </div>

{% else %}
	<em>No contract found</em>
{% endif %}

 <a class="close-reveal-modal" aria-label="Close">&#215;</a>

