{% extends "staff/_standard" %}

{% block options %}
	{# <button href="#" data-dropdown="options" data-options="align:left" aria-controls="drop1" aria-expanded="false" class="button tiny secondary dropdown right options-button"><i class="fi-wrench"></i></button>
	<ul id="options" data-dropdown-content class="f-dropdown" aria-hidden="true">
	  <li><a href="#" data-reveal-id="newDistribModal"><i class="fi-plus circle"></i>Add Distributor</a></li>
	</ul> #}
{% endblock %}


{% block pageheader %}
	<h2><a href="/contracts/" class="back-arrow"><i class="circle fi-arrow-left"></i> </a> View Application Data</h2>
{% endblock %}


{% block content %}
	<div class="row">
		<button class="button small secondary right" id="print"><i class="circle fi-print"></i>Print</button>
	</div>
	<div class="css-columns-3" id="printApp">
	{% if app|length %}
		{% for key, value in app %}
			{% if key not in ['Ssn', 'Co Ssn', 'Updated At'] %}
				<p><strong>{{ key }}:</strong> {{ value }}</p>
			{% endif %}
		{% endfor %}
	{% else %}
		<em>Application not Found</em>
	{% endif %}
		</div>
	<div style="column-count: 1; -webkit-column-count: 1">
					<h1>Legal Notices</h1>
					<hr>
					<p style="font-size: 0.9em;">The Federal Equal Credit Opportunity Act prohibits creditors from discriminating against credit applicants on the basis of race, color, religion, national origin, sex, marital status, age (provided the applicant has the capacity to enter into a binding contract); because all or part of the applicant's income derives from any public assistance program; or because the applicant has in good faith exercised any right under the Consumer Credit Protection Act. The federal agency that administers compliance with the law concerning this creditor is the Federal Trade Commission, Equal Credit Opportunity, Washington, DC 20580.</p>
					<p style="font-size: 0.9em;">Credit Report Notice: We may request a credit report in association with your application for credit, extending credit, or updating, renewing and collection of your account. On your request, we will inform you if such a report was ordered and will give you the name and address of the credit reporting agency that furnished the report.</p>
					<p style="font-size: 0.9em;">You agree, in order for us to service your account or to collect any amounts you may owe, we may contact you by telephone at any telephone number associated with your account, including wireless telephone numbers, which could result in charges to you. We may also contact you by sending text messages or e-mails, using any e-mail address you provide to us. Methods of contact may include using pre-recorded/artificial voice messages and/or use of an automatic dialing device, as applicable. You are not required to consent to receive autodialed message calls to obtain credit.</p>
					<p style="font-size: 0.9em;">NOTICE TO WISCONSIN RESIDENTS ONLY: For married Wisconsin resident, your references confirms that this loan obligation is being incurred in the interest of your marriage or family. No provision of a marital property agreement, a unilateral statement under Section 766.59 of Wisconsin Statutes or a court decree under Section 766.70 of the Wisconsin Statutes adversely affects the interests of the creditor unless the creditor, prior to the time the credit is granted, is furnished a copy of the agreement, statement or decree or has actual knowledge of the adverse provision when the obligation to the creditor is incurred. If the loan for which you are applying is granted, your spouse will also receive verbal or written notification that credit has been extended to you.</p>
					<p style="font-size: 0.9em;">OHIO: The Ohio laws against discrimination require that all creditors make credit equally available to all creditworthy customers, and that credit reporting agencies maintain separate credit histories on each individual upon request. The Ohio Civil Rights Commission administers compliance with this law.</p>
					<p style="font-size: 0.9em;">North Dakota: YOU MAY CANCEL THIS TRANSACTION AT ANY TIME PRIOR TO MIDNIGHT OF THE THIRD BUSINESS DAY (15TH BUSINESS DAY IF YOU ARE 65 YEARS OR OLDER) AFTER THE DATE OF THIS TRANSACTION.</p>

					{% if app.credit_type == "Revolving" %}
					<div class="scrollable notices" id="notices" {% if (dealer and dealer.allow_revolving == 0) or (dealer and dealer.allow_revolving == 2) or (user.company and user.company.allow_revolving == 0) or (user.company and user.company.allow_revolving == 2) %}style="display: none"{% endif %}>
						{% include '/includes/_revolving-credit-notices' %}
					</div>


					<div class="notices">
						<h4>DO NOT SIGN BELOW UNLESS MERCHANT HAS PROVIDED THE ATTACHED DISCLOSURES AND TERMS. BY YOUR SIGNATURE BELOW YOU ACKNOWLEDGE RECEIPT OF THE ATTACHED REVOLVING CREDIT AGREEMENT.</h4>

						<h4>Revolving Credit Term Agreement</h4>
						<label>Primary Applicant: Please type your full name if you agree to the revolving credit terms
							<input name="revolving_signature" type="text" class="fullname" value="{{ app.revolving_signature }}">
						</label>

						<label>CoApplicant (if applicant): Please type your full name if you agree to the revolving credit terms
							<input name="revolving_signature_cobuyer" type="text" class="fullname" value="{{ app.revolving_signature_cobuyer }}">
						</label>
					</div>
					{% endif %}

					<br>
					<p>Please initial below stating that you have been verbally informed and understand these statements</p>

						<label>Initials
							<input name="initials" id="initials" value="{{  app['Initials'] }}" type="text">
						</label>
						<strong>Agreement:</strong>

						<p>TO THE BEST OF MY KNOWLEDGE, ALL OF THE INFORMATION ON THIS CREDIT APPLICATION IS COMPLETE AND ACCURATE. I AUTHORIZE THE SELLER OR ITS ASSIGNEE TO MAKE WHATEVER INQUIRIES THEY DEEM NECESSARY TO EVALUATE MY CREDIT AND IF THEY EXTEND CREDIT TO COLLECT, SKIP TRACE OR SERVICE MY ACCOUNT, I EXPRESSLY AUTHORIZE ANY THIRD PARTY I.E., CREDIT REPORTING AGENCY, CREDITOR BANK OR FINANCIAL INSTITUTION, EMPLOYER, LANDLORD, ETC., TO RELEASE LIABILITY AND/ OR WHATEVER INFORMATION IS REQUESTED CONCERNING ME THAT THE SELLER OR ITS ASSIGNEE MAY REQUEST.</p>
						<label>Primary Applicant: Please type your full name if you agree to the above
							<input name="buyerSign" type="text" class="fullname" value="{{ app['Buyer Sign'] }}">
						</label>

						<label>CoApplicant (if applicant): Please type your name if you agree to the above
							<input name="coSign" type="text" class="fullname" value="{{ app['Co Sign'] }}">
						</label>

					<div class="bordered">
						<h3 class="small-text-center">AUTHORIZATION AGREEMENT FOR DIRECT PAYMENT (ACH DEBITS)</h3>
						<p>I (we) hereby authorize Belmont Finance LLC, hereinafter called COMPANY, to initiate debit entries to my (our) (select one) &nbsp;&nbsp;  <input type="radio" name="ach_account_type" value="checking" id="ach_checking"> <label for="ach_checking">Checking Account:</label>  <input type="radio" id="ach_savings" name="ach_account_type" value="checking"> <label for="ach_savings">Savings Account:</label>
						indicated below at the depository financial institution named below, herinafter called DEPOSITORY, and to debit the same to such account. I (we) acknowledge that the origination of ACH transactions to my (our) account must comply with the provisions of U.S. law.</p>
					</div>
				</div>

	{% if user.hasRole('admin') %}
	<h2>Logs (Last 30 Days)</h2>
		{% for log in logs %}
		<a href="/contracts/app-log/{{ log }}" target="_blank">{{ log }}</a>&nbsp;&nbsp; 
		{% endfor %}
	{% endif %}
{% endblock %}


{% block pagescripts %}
	<script>
		$(function(){
			$('#print').on('click', function(e){
				e.preventDefault();
				w=window.open();
				w.document.write($('#printApp').html());
				w.document.close();
				w.focus();
				w.print();
				w.close();
			});
		});
	</script>
{% endblock %}
