<div class="row space-extra">
	<h1 class="center">
		Secure account access - Debit card and ACH payments
	</h1>
</div>

<section class="full">
	<div class="row">
		<div class=" medium-offset-1 medium-10 small-12 columns">
			<div class="row space-extra">
				<div class="small-12 medium-5 columns">
					<div class="row space show-for-small-only small-text-center">
						<a href="#register">Don't have an account yet?</a>
					</div>
					<div class="panel clearfix">
						<h4 class="panel-title">Existing customer login</h4>
						<br>
						<form method="post" action="/login">
							<input type="hidden" value="{{ csrf_token() }}" name="_token">
							<label>Email:
								<input type="email" name="email" placeholder="youremail@johndoe.com" value="{{ input_old('email') }}">
							</label>
							<label>Password:
								<input type="password" name="password">
							</label>
							<button class="tiny secondary">Login</button>
						</form>
					</div>
					<div class="small-text-center"><a href="/password/reset">Forget your password?</a></div>
				</div>

				<div class="divider-horizontal"></div>

				<div class="small-12 medium-5 right columns" id="register">
					{% if session_get('regerror') %}<p class="error">Error: {{ session_get('regerror') }}</p>{% endif %}
					<div class="panel clearfix gray">
						<h4 class="panel-title">Register for account</h4>
						<br>
						<form action="/verify-reg" method="post">
							<input type="hidden" value="{{ csrf_token() }}" name="_token">
							<label>Belmont Acct Number
								<input type="text" name="accountNumber">
							</label>
							<label>Primary Account Holder's First &amp; Last Name
								<input type="text" name="fullName">
							</label>
							<button class="tiny secondary">Go</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="row space">
						<div id="payment-warning">
						<h4 id="payment-warning-header" class="text-center" style="font-size: 0.8em"><strong>IMPORTANT NOTICES</strong></h4>
						<p style="font-size: 0.7em; margin-bottom: 0.2em; text-align: center; color: gray;">*Payments made on weekends or holidays will not be processed until the next business day, and may incur a late fee.</p>
						<p style="font-size: 0.7em; margin-bottom: 0.2em; text-align: center; color: gray;">*Payments set up after 1PM CST will be processed the next business day, and may incur a late fee.</p>
						<p style="font-size: 0.7em; margin-bottom: 0.2em; text-align: center; color: gray;">*Please note: one-time ACH payments made through our online portal will not change your regular ACH schedule (if you have already set up recurring ACH payments).</p>
					</div>
	<h3 class="center">
		<br>
		Need help accessing your account? Talk to our support at 877-547-2926 x2
	</h1>
</div>

{% if errors|length %}
	<div id="hidden-errors" style="display: none">
		{% set messages = errors.bags['default'].messages %}
			{{ dump(messages) }}
		{% for label, value in messages %}
			<small class="error" data-name="{{ label }}">{{ value[0] }}</small>
		{% endfor %}
	</div>
{% endif %}