{% extends '_customer-layout' %}

{% block main %}
	<div class="container">

		<div class="row space-medium title-area">
			<div class="small-text-center"><br><a href="https://belmontfinancellc.com"><img src="/images/logo-belmont-finance.png" class="logo"></a></div>
			{% block titlearea %}
			{% endblock %}
		</div>
		
		{% block content %}
		{% endblock %}
		 {% if user %}
			<!--Start of Zopim Live Chat Script-->
			<script type="text/javascript">
				window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
				d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
				_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
				$.src="//v2.zopim.com/?48FbbQrg2iV2N2FjhaOql8zPfNK342Cp";z.t=+new Date;$.
				type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
				<!--End of Zopim Live Chat Script-->

				<!-- set some values for zopim -->
				$zopim(function() {
				    $zopim.livechat.setName('{{ user.first_name }} {{ user.last_name }} ({{ contract.accountNumber }})');
				    $zopim.livechat.setEmail('{{ user.email }}');
				});
			</script>

		{% endif %}
	</div>
{% endblock %}