{% extends context ~ '/_no-sidebar' %}

{% block titlearea %}
	<h1 class="center">
		Success
	</h1>
<h3 class="center">You should now be able to use the email and password to access your account.</h3>

{% endblock %}
{% block content %}

<section class="full">
	<div class="row">
		<div class=" medium-offset-1 medium-10 small-12 columns">
			<div class="row space-extra center">
				<a class="button" href="/login">Return to login</a>
			</div>
		</div>
	</div>
</section>

{% endblock %}