{% extends context ~ '/_no-sidebar' %}

{% block title %}Dashboard - Belmont Finance{% endblock %}

{% block titlearea %}
	<h1 class="title">
		{% if session_has('admin-pseudo-cust') %}
			BELMONT STAFF - {{ contract.customerName }} {% if contract.accountNumber %}({{ contract.accountNumber }}){% endif %}
		{% else %}
			Welcome, {{ user.first_name }}
		{% endif %}

	</h1>

	<a href="/logout" class="logout">Logout</a> <a href="/profile" class="logout">Edit Profile</a>
		{% if session_has('admin-pseudo-cust') %}<em class="">{% if contract.customerId %} (account set up) {% else %} (account not set up) {% endif %}</em>{% endif %}
{% endblock %}

{% block content %}

<section class="full">
	<div class="row primary-container">
		<div class="medium-8 medium-offset-2 small-12 columns pad-m text-center">
			<br><br>
			<h3>We're still working on setting up your account.</h3>
		</div>

		<div class="medium-6 small-12 columns">

			<div class="row space-extra space-side">
				<div class="small-12 columns">
					<h5>PAYMENTS:</h5>
					<br>
					<a class="button large full" href="payments/one-time" disabled="disabled">ONE TIME PAYMENT</a>
				</div>
				<div class="small-12 columns">
					<a class="button large full" href="/payments/recurring" disabled="disabled">MANAGE RECURRING PAYMENTS</a>
				</div>
			</div>
			<div class="row space-side">
				<div class="small-12 columns">
				</div>
			</div>
		</div>
		<div class="medium-6 small-12 columns">
			<div class="row space-extra space-side">
				{% if futurePayments|length %}
					<div class="small-12 columns">
						<h3><strong>Scheduled ACH Payments</strong></h3>
						{% for fpay in futurePayments %}
							<div class="payment-row row">
									<div class="small-3 columns">
										{{ fpay.payment_date|date('m/d/Y') }}
									</div>
									<div class="small-9 columns">
										${{ fpay.amount|number_format(2, '.', ',') }} from account ending in <em>{{ fpay.payment_source }}</em>
										{% if fpay.deletable %}<a href="/payments/confirm-cancel-payment/{{ fpay.id }}">Cancel</a>{% endif %}
									</div>
								</div>	
						{% endfor %}
						<br>
						<em>Payments may only be cancelled before 5PM CST on their scheduled date</em>
						<hr>
					</div>
				{% endif %}
			
				<div class="small-12 columns">
					<h3><strong>Contact Customer Support:</strong></h3>
					<p>{{ content.supportInfo|raw }}</p>
                    <hr>
				</div>
                <div class="small-12 columns">
                    <h3><strong>Other Resources</strong></h3>
                    <p><a href="/privacy-policy">Accountholder Privacy Policy</a></p>
                </div>
                <div class="small-12 columns">
                    <h3><strong>My Application Files</strong></h3>
                    {% if files %}
                    	{% for file in files %}
                    		<a href="/file/view/{{ file.id }}" target="_blank">{{ file.name }}</a><br>
                    	{% endfor %}
                    {% else %}
                    <em>No documents found for your account</em>
                    {% endif %}
                </div>
			</div>
		</div>
	</div>
</section>
{% if session_has('admin-pseudo-cust') and contract.customerId %}
	<div class="row"><div class="small-12 columns"><a href="/reset-account/{{ contract.id }}">Reset Customer Account</a></div></div>{% endif %}
{% endblock %}