{% extends context ~ '/_no-sidebar' %}

{% block content %}

<section class="full">
	<div class="row primary-container space-extra">
		<div class="medium-12 small-12 small-text-center columns">
			<h3>Your session has expired</h3>
			<p>If you'd still like to access your account, please <a href="/login">sign in</a> again
		</div>
	</div>
</section>

{% endblock %}