{% extends context ~ '/_no-sidebar' %}


{% block titlearea %}
	<h1 class="center">
		Continue setting up your account
	</h1>
	<h3 class="center">We need a couple more things in order for you to access your account</h3>
	<div class="center">{% if errors|length %}<h4><em class="error center">**Something was wrong, please correct the errors and continue**</em><h4></div>{% endif %}
{% endblock %}


{% block content %}

<section class="full">
	<div class="row">
		<div class=" medium-offset-1 medium-10 small-12 columns">
			<div class="row space-extra">
				<div class="small-12 medium-6 columns medium-offset-3">
					<div class="panel clearfix">
						<h4 class="panel-title center">Create Login Details</h4>
						<br>
						<form action="/verify-reg-two" method="post">
							<input type="hidden" value="{{ csrf_token() }}" name="_token">
							<label>Your email address:
								<input type="text" name="email" required value="{{ input_old('email') }}" placeholder="youremail@example.com">
							</label>
							<label>Confirm your email address:
								<input type="text" name="email_confirmation" required value="{{ input_old('email_confirmation') }}" placeholder="youremail@example.com">
							</label>
							<label>Password: <em>(min. 8 characters, at least one digit and letter required)</em>
								<input type="password" name="password" required>
							</label>
							<label>Repeat password</em>
								<input type="password" name="password_confirmation" required>
							</label>
							<button class="tiny secondary">Finish</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% if errors|length %}
	<div id="hidden-errors" style="display: none">
		{% set messages = errors.bags['default'].messages %}
			{{ dump(messages) }}
		{% for label, value in messages %}
			<small class="error" data-name="{{ label }}">{{ value[0] }}</small>
		{% endfor %}
	</div>
{% endif %}

{% endblock %}


{% block pagescripts %}
	<script>
		$(function(){
			var errors = $('#hidden-errors').find('.error');
			errors.each(function(){
				$(this).appendTo($('input[name="' + $(this).attr('data-name') + '"]').closest('label'));
			});

		});
	</script>
{% endblock %}