{% extends context ~ '/_no-sidebar' %}
{% import 'includes/macros/state-selects' as form_helpers %}
{% block title %}My Profile - Belmont Finance{% endblock %}


{% block titlearea %}
	<h1 class="title">
		{{ user.first_name }}: Edit Profile
	</h1>
	<a href="/" class="logout">Back</a>
	<a href="/logout" class="logout">Logout</a>
{% endblock %}

{% block content %}



<section class="full">
	<div class="row primary-container space-side space-extra ">
		<div class="medium-8 small-12 large-6 columns">
			<h4>Update your information</h4>
			<form method="post" action="/profile/update-profile" class="ajax-form">
				<label>Address
					<input type="text" value="{{ user.address }}" name="address">
				</label>
				<label>Address Line Two
					<input type="text" value="{{ user.address_two }}" name="address_two">
				</label>
				<label>City
					<input type="text" value="{{ user.city }}" name="city">
				</label>
				<div class="row">
					<div class="small-8 columns">
						<label>State
							<select name="state">
								{{ form_helpers.states(user.state) }}
							</select>
						</label>
					</div>
					<div class="small-4 columns">
						<label>ZIP
							<input type="text" value="{{ user.zip }}" name="zip">
						</label>
					</div>
				</div>
				<button class="small right">Update</button>
			</form>
			<br><br><br>
			<h4>Change your primary email address</h4>
			<form method="post" action="/profile/update-email" class="ajax-form">
				<input type="email" name="email" value="{{ user.email }}">
				<input type="hidden" name="_token" value="{{ csrf_token() }}">
				<button class="small right">Change</button>
			</form>
		</div>
		<div class="small-12 medium-6 columns">
		</div>
	</div>
</section>

{% endblock %}

{% block pagescripts %}

{% endblock %}
