{# requires a laravel paginated object, an optional jaax id for ajax replace content #}
{% macro input(object, ajaxid) %}
{# don't show if no pages #}
{% if object.lastPage %}
   <ul class="pagination">
         {% if object.currentPage == 1 %}<li class="arrow unavailable"><a href="" {% if ajaxid %}class="ajax-link" data-ajc="{{ ajaxid}}"{% endif %}>&laquo;</a></li>
         {% else %}
          <li class="arrow"><a href="?page={{ object.currentPage - 1 }}" {% if ajaxid %}class="ajax-link" data-ajc="{{ ajaxid}}"{% endif %}>&laquo;</a></li>
          {% endif %}
          {% if object.currentPage > 3 %}<li><a href="?page=1" {% if ajaxid %}class="ajax-link" data-ajc="{{ ajaxid}}"{% endif %}>1</a></li> <li> ... </li>{% endif %}
         {% for i in ((object.currentPage - 2) > 0 ? (object.currentPage - 2) : 1)..((object.currentPage + 2) <= object.lastPage ? (object.currentPage + 2) : object.lastPage) %}
            <li class="{% if i == object.currentPage %}current{% endif %}"><a href="?page={{ i }}" {% if ajaxid %}class="ajax-link" data-ajc="{{ ajaxid}}"{% endif %}>{{ i }}</a></li>
         {% endfor %}

         {% if object.lastPage > object.currentPage + 2 %}<li> ... </li><li><a href="?page={{ object.lastPage }}" {% if ajaxid %}class="ajax-link" data-ajc="{{ ajaxid}}"{% endif %}>{{ object.lastPage }}</a></li>{% endif %}

         <li class="arrow"><a href="{{ object.nextPageUrl }}" {% if ajaxid %}class="ajax-link" data-ajc="{{ ajaxid}}"{% endif %} {% if object.currentPage == object.count %}disabled{% endif %}>&raquo;</a></li>
   </ul>
   <!-- <li class="unavailable"><a href="">&hellip;</a></li> -->
{% endif %}
{% endmacro %}