{% macro sub_users(user, staff, distributor) %}
    {% set subusers = user.subUsers %}
    <li {% if subusers|length %}class="subs"{% endif %}>
        <div class="expand-click">
            <span>{% if user.hasRole('admin', distributor) %}*{% endif %}{{ user.name }}</span> - <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                {% if user.getUserStatus(distributor) == "Approved" %}<em>Approved <a href="/distributors/profile/{{ distributor.id }}/disable-dealer/{{ user.id }}">(Set to Hold)</a></em>
                {% else %}<em>{{ user.getUserStatus(distributor) }} <a href="/distributors/profile/{{ distributor.id }}/approve-dealer/{{ user.id }}">(Approve Now)</a></em> {% endif %}
                {% if staff.hasRole('admin') or staff.hasRole('distributor') %}
                <button href="#" data-dropdown="drop{{ user.id }}" aria-controls="drop{{ user.id }}" aria-expanded="false" class="button dropdown tiny">More</button><br>
                <ul id="drop{{ user.id }}" data-dropdown-content class="f-dropdown" aria-hidden="true">
                  <li><a href="/distributors/pseudo/{{ user.id }}" target="_blank">Login as user</a></li>
                  <li><a href="/distributors/send-reset/{{ user.id }}">Send password reset email</a></li>
                  <li><a  href="#" data-href="/distributors/profile/{{ distributor.id }}/delete-dealer" data-id="{{ user.id }}" class="delete">Delete user</a></li>
                </ul>
                {% endif %}
                {% if subusers|length %}<span class="right user-count">({{ subusers|length }})</span>{% endif %}</div>
        {% if subusers|length %}
            <ul class="sub" style="display: none;">
            {% for subuser in subusers %}
               {{ _self.sub_users(subuser, staff) }}
            {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}