{% macro sub_users(user) %}
    {% set subusers = user.subUsers %}
    <li {% if subusers|length %}class="subs"{% endif %}>
        <div class="expand-click"><a href="/users/edit-profile/{{ user.id }}" class="edit" data-reveal-id="editUserModal" data-reveal-ajax="true"><i class="circle fi-pencil"></i></a><span> {{ user.name }}</span> - <a href="mailto:{{ user.email }}">{{ user.email }}</a> <em class="small-font">{{ user.user_status }}</em> {% if subusers|length %}  <span class="right user-count">({{ subusers|length }})</span>{% endif %}</div>
        {% if subusers|length %}
            <ul class="sub" style="display: none;">
            {% for subuser in subusers %}
               {{ _self.sub_users(subuser) }}
            {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}