
/**** spinner code ****/
.button-spinner {
    top: 50%;
    padding: 0 1em;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    position: relative;
    &:after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        text-align: center;
        color: rgba(0,0,0,0.6);
    }
    > div {
        width: 11px;
        height: 11px;
        background-color: rgba(255,255,255,0.7);

        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }
    .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }
    .bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/*** end spinner code */