{% extends context ~ '/_no-sidebar' %}

{% block title %}Dashboard - Belmont Finance{% endblock %}

{% block titlearea %}
	<h1 class="title">
		{% if session_has('admin-pseudo-cust') %}
			BELMONT STAFF - {{ contract.customerName }} {% if contract.accountNumber %}({{ contract.accountNumber }}){% endif %}
		{% else %}
			Welcome, {{ user.first_name }}
		{% endif %}

	</h1>

	<a href="/logout" class="logout">Logout</a> <a href="/profile" class="logout">Edit Profile</a>
		{% if session_has('admin-pseudo-cust') %}<em class="">{% if contract.customerId %} (account set up) {% else %} (account not set up) {% endif %}</em>{% endif %}
{% endblock %}

{% block content %}

<section class="full">
	<div class="row primary-container space-extra">
		<div class="medium-8 medium-offset-2 small-12 columns">
			<h3>RESET THIS CUSTOMER?</h3>
			<p>This will remove the customer (not the contract) out of the system and the customer's account will be eligible to be recreated.</p>
			<form method="post" action="/reset-account/">
				<input type="hidden" name="id" value="{{ id }}">
				<input type="hidden" name="_token" value="{{ csrf_token() }}">
				<button class="small">Yes</button><a href="/" style="margin-left: 2rem;">No, go back</a>
			</form>
		</div>
	</div>
</section>

{% endblock %}